# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class BillingCodeActivityApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_billing_code_activity(self, body, **kwargs):  # noqa: E501
        """Create a billingCodeActivity  # noqa: E501

        Inserts a new billingCodeActivity using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_billing_code_activity(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param BillingCodeActivity body: BillingCodeActivity to be inserted. (required)
        :return: BillingCodeActivity
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_billing_code_activity_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_billing_code_activity_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_billing_code_activity_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a billingCodeActivity  # noqa: E501

        Inserts a new billingCodeActivity using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_billing_code_activity_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param BillingCodeActivity body: BillingCodeActivity to be inserted. (required)
        :return: BillingCodeActivity
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_billing_code_activity" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_billing_code_activity`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/billingCodeActivity', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='BillingCodeActivity',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_billing_code_activity_audit(self, billing_code_activity_id, billing_code_activity_audit, **kwargs):  # noqa: E501
        """Add new audit for a billingCodeActivity  # noqa: E501

        Adds an audit to an existing billingCodeActivity.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_billing_code_activity_audit(billing_code_activity_id, billing_code_activity_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int billing_code_activity_id: Id of the billingCodeActivity to add an audit to (required)
        :param str billing_code_activity_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_billing_code_activity_audit_with_http_info(billing_code_activity_id, billing_code_activity_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_billing_code_activity_audit_with_http_info(billing_code_activity_id, billing_code_activity_audit, **kwargs)  # noqa: E501
            return data

    def add_billing_code_activity_audit_with_http_info(self, billing_code_activity_id, billing_code_activity_audit, **kwargs):  # noqa: E501
        """Add new audit for a billingCodeActivity  # noqa: E501

        Adds an audit to an existing billingCodeActivity.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_billing_code_activity_audit_with_http_info(billing_code_activity_id, billing_code_activity_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int billing_code_activity_id: Id of the billingCodeActivity to add an audit to (required)
        :param str billing_code_activity_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['billing_code_activity_id', 'billing_code_activity_audit']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_billing_code_activity_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'billing_code_activity_id' is set
        if ('billing_code_activity_id' not in params or
                params['billing_code_activity_id'] is None):
            raise ValueError("Missing the required parameter `billing_code_activity_id` when calling `add_billing_code_activity_audit`")  # noqa: E501
        # verify the required parameter 'billing_code_activity_audit' is set
        if ('billing_code_activity_audit' not in params or
                params['billing_code_activity_audit'] is None):
            raise ValueError("Missing the required parameter `billing_code_activity_audit` when calling `add_billing_code_activity_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'billing_code_activity_id' in params:
            path_params['billingCodeActivityId'] = params['billing_code_activity_id']  # noqa: E501
        if 'billing_code_activity_audit' in params:
            path_params['billingCodeActivityAudit'] = params['billing_code_activity_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/billingCodeActivity/{billingCodeActivityId}/audit/{billingCodeActivityAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_billing_code_activity_file(self, billing_code_activity_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a billingCodeActivity  # noqa: E501

        Adds a file to an existing billingCodeActivity.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_billing_code_activity_file(billing_code_activity_id, file_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int billing_code_activity_id: Id of the billingCodeActivity to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_billing_code_activity_file_with_http_info(billing_code_activity_id, file_name, **kwargs)  # noqa: E501
        else:
            (data) = self.add_billing_code_activity_file_with_http_info(billing_code_activity_id, file_name, **kwargs)  # noqa: E501
            return data

    def add_billing_code_activity_file_with_http_info(self, billing_code_activity_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a billingCodeActivity  # noqa: E501

        Adds a file to an existing billingCodeActivity.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_billing_code_activity_file_with_http_info(billing_code_activity_id, file_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int billing_code_activity_id: Id of the billingCodeActivity to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['billing_code_activity_id', 'file_name']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_billing_code_activity_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'billing_code_activity_id' is set
        if ('billing_code_activity_id' not in params or
                params['billing_code_activity_id'] is None):
            raise ValueError("Missing the required parameter `billing_code_activity_id` when calling `add_billing_code_activity_file`")  # noqa: E501
        # verify the required parameter 'file_name' is set
        if ('file_name' not in params or
                params['file_name'] is None):
            raise ValueError("Missing the required parameter `file_name` when calling `add_billing_code_activity_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'billing_code_activity_id' in params:
            path_params['billingCodeActivityId'] = params['billing_code_activity_id']  # noqa: E501
        if 'file_name' in params:
            path_params['fileName'] = params['file_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/billingCodeActivity/{billingCodeActivityId}/file/{fileName}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_billing_code_activity_tag(self, billing_code_activity_id, billing_code_activity_tag, **kwargs):  # noqa: E501
        """Add new tags for a billingCodeActivity.  # noqa: E501

        Adds a tag to an existing billingCodeActivity.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_billing_code_activity_tag(billing_code_activity_id, billing_code_activity_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int billing_code_activity_id: Id of the billingCodeActivity to add a tag to (required)
        :param str billing_code_activity_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_billing_code_activity_tag_with_http_info(billing_code_activity_id, billing_code_activity_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_billing_code_activity_tag_with_http_info(billing_code_activity_id, billing_code_activity_tag, **kwargs)  # noqa: E501
            return data

    def add_billing_code_activity_tag_with_http_info(self, billing_code_activity_id, billing_code_activity_tag, **kwargs):  # noqa: E501
        """Add new tags for a billingCodeActivity.  # noqa: E501

        Adds a tag to an existing billingCodeActivity.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_billing_code_activity_tag_with_http_info(billing_code_activity_id, billing_code_activity_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int billing_code_activity_id: Id of the billingCodeActivity to add a tag to (required)
        :param str billing_code_activity_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['billing_code_activity_id', 'billing_code_activity_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_billing_code_activity_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'billing_code_activity_id' is set
        if ('billing_code_activity_id' not in params or
                params['billing_code_activity_id'] is None):
            raise ValueError("Missing the required parameter `billing_code_activity_id` when calling `add_billing_code_activity_tag`")  # noqa: E501
        # verify the required parameter 'billing_code_activity_tag' is set
        if ('billing_code_activity_tag' not in params or
                params['billing_code_activity_tag'] is None):
            raise ValueError("Missing the required parameter `billing_code_activity_tag` when calling `add_billing_code_activity_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'billing_code_activity_id' in params:
            path_params['billingCodeActivityId'] = params['billing_code_activity_id']  # noqa: E501
        if 'billing_code_activity_tag' in params:
            path_params['billingCodeActivityTag'] = params['billing_code_activity_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/billingCodeActivity/{billingCodeActivityId}/tag/{billingCodeActivityTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_billing_code_activity(self, billing_code_activity_id, **kwargs):  # noqa: E501
        """Delete a billingCodeActivity  # noqa: E501

        Deletes the billingCodeActivity identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_billing_code_activity(billing_code_activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int billing_code_activity_id: Id of the billingCodeActivity to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_billing_code_activity_with_http_info(billing_code_activity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_billing_code_activity_with_http_info(billing_code_activity_id, **kwargs)  # noqa: E501
            return data

    def delete_billing_code_activity_with_http_info(self, billing_code_activity_id, **kwargs):  # noqa: E501
        """Delete a billingCodeActivity  # noqa: E501

        Deletes the billingCodeActivity identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_billing_code_activity_with_http_info(billing_code_activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int billing_code_activity_id: Id of the billingCodeActivity to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['billing_code_activity_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_billing_code_activity" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'billing_code_activity_id' is set
        if ('billing_code_activity_id' not in params or
                params['billing_code_activity_id'] is None):
            raise ValueError("Missing the required parameter `billing_code_activity_id` when calling `delete_billing_code_activity`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'billing_code_activity_id' in params:
            path_params['billingCodeActivityId'] = params['billing_code_activity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/billingCodeActivity/{billingCodeActivityId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_billing_code_activity_tag(self, billing_code_activity_id, billing_code_activity_tag, **kwargs):  # noqa: E501
        """Delete a tag for a billingCodeActivity.  # noqa: E501

        Deletes an existing billingCodeActivity tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_billing_code_activity_tag(billing_code_activity_id, billing_code_activity_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int billing_code_activity_id: Id of the billingCodeActivity to remove tag from (required)
        :param str billing_code_activity_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_billing_code_activity_tag_with_http_info(billing_code_activity_id, billing_code_activity_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_billing_code_activity_tag_with_http_info(billing_code_activity_id, billing_code_activity_tag, **kwargs)  # noqa: E501
            return data

    def delete_billing_code_activity_tag_with_http_info(self, billing_code_activity_id, billing_code_activity_tag, **kwargs):  # noqa: E501
        """Delete a tag for a billingCodeActivity.  # noqa: E501

        Deletes an existing billingCodeActivity tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_billing_code_activity_tag_with_http_info(billing_code_activity_id, billing_code_activity_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int billing_code_activity_id: Id of the billingCodeActivity to remove tag from (required)
        :param str billing_code_activity_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['billing_code_activity_id', 'billing_code_activity_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_billing_code_activity_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'billing_code_activity_id' is set
        if ('billing_code_activity_id' not in params or
                params['billing_code_activity_id'] is None):
            raise ValueError("Missing the required parameter `billing_code_activity_id` when calling `delete_billing_code_activity_tag`")  # noqa: E501
        # verify the required parameter 'billing_code_activity_tag' is set
        if ('billing_code_activity_tag' not in params or
                params['billing_code_activity_tag'] is None):
            raise ValueError("Missing the required parameter `billing_code_activity_tag` when calling `delete_billing_code_activity_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'billing_code_activity_id' in params:
            path_params['billingCodeActivityId'] = params['billing_code_activity_id']  # noqa: E501
        if 'billing_code_activity_tag' in params:
            path_params['billingCodeActivityTag'] = params['billing_code_activity_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/billingCodeActivity/{billingCodeActivityId}/tag/{billingCodeActivityTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_billing_code_activity_by_filter(self, **kwargs):  # noqa: E501
        """Search billingCodeActivitys by filter  # noqa: E501

        Returns the list of billingCodeActivitys that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_billing_code_activity_by_filter(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[BillingCodeActivity]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_billing_code_activity_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_billing_code_activity_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_billing_code_activity_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search billingCodeActivitys by filter  # noqa: E501

        Returns the list of billingCodeActivitys that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_billing_code_activity_by_filter_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[BillingCodeActivity]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_billing_code_activity_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/billingCodeActivity/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[BillingCodeActivity]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_billing_code_activity_by_id(self, billing_code_activity_id, **kwargs):  # noqa: E501
        """Get a billingCodeActivity by id  # noqa: E501

        Returns the billingCodeActivity identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_billing_code_activity_by_id(billing_code_activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int billing_code_activity_id: Id of the billingCodeActivity to be returned. (required)
        :return: BillingCodeActivity
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_billing_code_activity_by_id_with_http_info(billing_code_activity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_billing_code_activity_by_id_with_http_info(billing_code_activity_id, **kwargs)  # noqa: E501
            return data

    def get_billing_code_activity_by_id_with_http_info(self, billing_code_activity_id, **kwargs):  # noqa: E501
        """Get a billingCodeActivity by id  # noqa: E501

        Returns the billingCodeActivity identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_billing_code_activity_by_id_with_http_info(billing_code_activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int billing_code_activity_id: Id of the billingCodeActivity to be returned. (required)
        :return: BillingCodeActivity
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['billing_code_activity_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_billing_code_activity_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'billing_code_activity_id' is set
        if ('billing_code_activity_id' not in params or
                params['billing_code_activity_id'] is None):
            raise ValueError("Missing the required parameter `billing_code_activity_id` when calling `get_billing_code_activity_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'billing_code_activity_id' in params:
            path_params['billingCodeActivityId'] = params['billing_code_activity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/billingCodeActivity/{billingCodeActivityId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='BillingCodeActivity',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_billing_code_activity_tags(self, billing_code_activity_id, **kwargs):  # noqa: E501
        """Get the tags for a billingCodeActivity.  # noqa: E501

        Get all existing billingCodeActivity tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_billing_code_activity_tags(billing_code_activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int billing_code_activity_id: Id of the billingCodeActivity to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_billing_code_activity_tags_with_http_info(billing_code_activity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_billing_code_activity_tags_with_http_info(billing_code_activity_id, **kwargs)  # noqa: E501
            return data

    def get_billing_code_activity_tags_with_http_info(self, billing_code_activity_id, **kwargs):  # noqa: E501
        """Get the tags for a billingCodeActivity.  # noqa: E501

        Get all existing billingCodeActivity tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_billing_code_activity_tags_with_http_info(billing_code_activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int billing_code_activity_id: Id of the billingCodeActivity to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['billing_code_activity_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_billing_code_activity_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'billing_code_activity_id' is set
        if ('billing_code_activity_id' not in params or
                params['billing_code_activity_id'] is None):
            raise ValueError("Missing the required parameter `billing_code_activity_id` when calling `get_billing_code_activity_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'billing_code_activity_id' in params:
            path_params['billingCodeActivityId'] = params['billing_code_activity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/billingCodeActivity/{billingCodeActivityId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_billing_code_activity_by_id(self, billing_code_activity_id, **kwargs):  # noqa: E501
        """Get a duplicated a billingCodeActivity by id  # noqa: E501

        Returns a duplicated billingCodeActivity identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_billing_code_activity_by_id(billing_code_activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int billing_code_activity_id: Id of the billingCodeActivity to be duplicated. (required)
        :return: BillingCodeActivity
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_duplicate_billing_code_activity_by_id_with_http_info(billing_code_activity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_billing_code_activity_by_id_with_http_info(billing_code_activity_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_billing_code_activity_by_id_with_http_info(self, billing_code_activity_id, **kwargs):  # noqa: E501
        """Get a duplicated a billingCodeActivity by id  # noqa: E501

        Returns a duplicated billingCodeActivity identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_billing_code_activity_by_id_with_http_info(billing_code_activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int billing_code_activity_id: Id of the billingCodeActivity to be duplicated. (required)
        :return: BillingCodeActivity
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['billing_code_activity_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_billing_code_activity_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'billing_code_activity_id' is set
        if ('billing_code_activity_id' not in params or
                params['billing_code_activity_id'] is None):
            raise ValueError("Missing the required parameter `billing_code_activity_id` when calling `get_duplicate_billing_code_activity_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'billing_code_activity_id' in params:
            path_params['billingCodeActivityId'] = params['billing_code_activity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/billingCodeActivity/duplicate/{billingCodeActivityId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='BillingCodeActivity',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_billing_code_activity(self, body, **kwargs):  # noqa: E501
        """Update a billingCodeActivity  # noqa: E501

        Updates an existing billingCodeActivity using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_billing_code_activity(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param BillingCodeActivity body: BillingCodeActivity to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_billing_code_activity_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_billing_code_activity_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_billing_code_activity_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a billingCodeActivity  # noqa: E501

        Updates an existing billingCodeActivity using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_billing_code_activity_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param BillingCodeActivity body: BillingCodeActivity to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_billing_code_activity" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_billing_code_activity`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/billingCodeActivity', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
