# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class BusinessTransactionApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_business_transaction(self, body, **kwargs):  # noqa: E501
        """Create a businessTransaction  # noqa: E501

        Inserts a new businessTransaction using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_business_transaction(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param BusinessTransaction body: BusinessTransaction to be inserted. (required)
        :return: BusinessTransaction
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_business_transaction_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_business_transaction_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_business_transaction_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a businessTransaction  # noqa: E501

        Inserts a new businessTransaction using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_business_transaction_with_http_info(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param BusinessTransaction body: BusinessTransaction to be inserted. (required)
        :return: BusinessTransaction
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_business_transaction" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_business_transaction`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/businessTransaction', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='BusinessTransaction',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_business_transaction_audit(self, business_transaction_id, business_transaction_audit, **kwargs):  # noqa: E501
        """Add new audit for a businessTransaction  # noqa: E501

        Adds an audit to an existing businessTransaction.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_business_transaction_audit(business_transaction_id, business_transaction_audit, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to add an audit to (required)
        :param str business_transaction_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_business_transaction_audit_with_http_info(business_transaction_id, business_transaction_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_business_transaction_audit_with_http_info(business_transaction_id, business_transaction_audit, **kwargs)  # noqa: E501
            return data

    def add_business_transaction_audit_with_http_info(self, business_transaction_id, business_transaction_audit, **kwargs):  # noqa: E501
        """Add new audit for a businessTransaction  # noqa: E501

        Adds an audit to an existing businessTransaction.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_business_transaction_audit_with_http_info(business_transaction_id, business_transaction_audit, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to add an audit to (required)
        :param str business_transaction_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['business_transaction_id', 'business_transaction_audit']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_business_transaction_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'business_transaction_id' is set
        if ('business_transaction_id' not in params or
                params['business_transaction_id'] is None):
            raise ValueError("Missing the required parameter `business_transaction_id` when calling `add_business_transaction_audit`")  # noqa: E501
        # verify the required parameter 'business_transaction_audit' is set
        if ('business_transaction_audit' not in params or
                params['business_transaction_audit'] is None):
            raise ValueError("Missing the required parameter `business_transaction_audit` when calling `add_business_transaction_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'business_transaction_id' in params:
            path_params['businessTransactionId'] = params['business_transaction_id']  # noqa: E501
        if 'business_transaction_audit' in params:
            path_params['businessTransactionAudit'] = params['business_transaction_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/businessTransaction/{businessTransactionId}/audit/{businessTransactionAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_business_transaction_file(self, business_transaction_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a businessTransaction  # noqa: E501

        Adds a file to an existing businessTransaction.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_business_transaction_file(business_transaction_id, file_name, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_business_transaction_file_with_http_info(business_transaction_id, file_name, **kwargs)  # noqa: E501
        else:
            (data) = self.add_business_transaction_file_with_http_info(business_transaction_id, file_name, **kwargs)  # noqa: E501
            return data

    def add_business_transaction_file_with_http_info(self, business_transaction_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a businessTransaction  # noqa: E501

        Adds a file to an existing businessTransaction.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_business_transaction_file_with_http_info(business_transaction_id, file_name, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['business_transaction_id', 'file_name']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_business_transaction_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'business_transaction_id' is set
        if ('business_transaction_id' not in params or
                params['business_transaction_id'] is None):
            raise ValueError("Missing the required parameter `business_transaction_id` when calling `add_business_transaction_file`")  # noqa: E501
        # verify the required parameter 'file_name' is set
        if ('file_name' not in params or
                params['file_name'] is None):
            raise ValueError("Missing the required parameter `file_name` when calling `add_business_transaction_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'business_transaction_id' in params:
            path_params['businessTransactionId'] = params['business_transaction_id']  # noqa: E501
        if 'file_name' in params:
            path_params['fileName'] = params['file_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/businessTransaction/{businessTransactionId}/file/{fileName}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_business_transaction_file_by_url(self, body, business_transaction_id, **kwargs):  # noqa: E501
        """Attach a file to a businessTransaction by URL.  # noqa: E501

        Adds a file to an existing businessTransaction by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_business_transaction_file_by_url(body, business_transaction_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int business_transaction_id: Id of the businessTransaction to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_business_transaction_file_by_url_with_http_info(body, business_transaction_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_business_transaction_file_by_url_with_http_info(body, business_transaction_id, **kwargs)  # noqa: E501
            return data

    def add_business_transaction_file_by_url_with_http_info(self, body, business_transaction_id, **kwargs):  # noqa: E501
        """Attach a file to a businessTransaction by URL.  # noqa: E501

        Adds a file to an existing businessTransaction by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_business_transaction_file_by_url_with_http_info(body, business_transaction_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int business_transaction_id: Id of the businessTransaction to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'business_transaction_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_business_transaction_file_by_url" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_business_transaction_file_by_url`")  # noqa: E501
        # verify the required parameter 'business_transaction_id' is set
        if ('business_transaction_id' not in params or
                params['business_transaction_id'] is None):
            raise ValueError("Missing the required parameter `business_transaction_id` when calling `add_business_transaction_file_by_url`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'business_transaction_id' in params:
            path_params['businessTransactionId'] = params['business_transaction_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/businessTransaction/{businessTransactionId}/file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_business_transaction_tag(self, business_transaction_id, business_transaction_tag, **kwargs):  # noqa: E501
        """Add new tags for a businessTransaction.  # noqa: E501

        Adds a tag to an existing businessTransaction.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_business_transaction_tag(business_transaction_id, business_transaction_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to add a tag to (required)
        :param str business_transaction_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_business_transaction_tag_with_http_info(business_transaction_id, business_transaction_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_business_transaction_tag_with_http_info(business_transaction_id, business_transaction_tag, **kwargs)  # noqa: E501
            return data

    def add_business_transaction_tag_with_http_info(self, business_transaction_id, business_transaction_tag, **kwargs):  # noqa: E501
        """Add new tags for a businessTransaction.  # noqa: E501

        Adds a tag to an existing businessTransaction.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_business_transaction_tag_with_http_info(business_transaction_id, business_transaction_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to add a tag to (required)
        :param str business_transaction_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['business_transaction_id', 'business_transaction_tag']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_business_transaction_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'business_transaction_id' is set
        if ('business_transaction_id' not in params or
                params['business_transaction_id'] is None):
            raise ValueError("Missing the required parameter `business_transaction_id` when calling `add_business_transaction_tag`")  # noqa: E501
        # verify the required parameter 'business_transaction_tag' is set
        if ('business_transaction_tag' not in params or
                params['business_transaction_tag'] is None):
            raise ValueError("Missing the required parameter `business_transaction_tag` when calling `add_business_transaction_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'business_transaction_id' in params:
            path_params['businessTransactionId'] = params['business_transaction_id']  # noqa: E501
        if 'business_transaction_tag' in params:
            path_params['businessTransactionTag'] = params['business_transaction_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/businessTransaction/{businessTransactionId}/tag/{businessTransactionTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_business_transaction_file(self, business_transaction_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a businessTransaction.  # noqa: E501

        Deletes an existing businessTransaction file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_business_transaction_file(business_transaction_id, file_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.delete_business_transaction_file_with_http_info(business_transaction_id, file_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_business_transaction_file_with_http_info(business_transaction_id, file_id, **kwargs)  # noqa: E501
            return data

    def delete_business_transaction_file_with_http_info(self, business_transaction_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a businessTransaction.  # noqa: E501

        Deletes an existing businessTransaction file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_business_transaction_file_with_http_info(business_transaction_id, file_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['business_transaction_id', 'file_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_business_transaction_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'business_transaction_id' is set
        if ('business_transaction_id' not in params or
                params['business_transaction_id'] is None):
            raise ValueError("Missing the required parameter `business_transaction_id` when calling `delete_business_transaction_file`")  # noqa: E501
        # verify the required parameter 'file_id' is set
        if ('file_id' not in params or
                params['file_id'] is None):
            raise ValueError("Missing the required parameter `file_id` when calling `delete_business_transaction_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'business_transaction_id' in params:
            path_params['businessTransactionId'] = params['business_transaction_id']  # noqa: E501
        if 'file_id' in params:
            path_params['fileId'] = params['file_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/businessTransaction/{businessTransactionId}/file/{fileId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_business_transaction_tag(self, business_transaction_id, business_transaction_tag, **kwargs):  # noqa: E501
        """Delete a tag for a businessTransaction.  # noqa: E501

        Deletes an existing businessTransaction tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_business_transaction_tag(business_transaction_id, business_transaction_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to remove tag from (required)
        :param str business_transaction_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.delete_business_transaction_tag_with_http_info(business_transaction_id, business_transaction_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_business_transaction_tag_with_http_info(business_transaction_id, business_transaction_tag, **kwargs)  # noqa: E501
            return data

    def delete_business_transaction_tag_with_http_info(self, business_transaction_id, business_transaction_tag, **kwargs):  # noqa: E501
        """Delete a tag for a businessTransaction.  # noqa: E501

        Deletes an existing businessTransaction tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_business_transaction_tag_with_http_info(business_transaction_id, business_transaction_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to remove tag from (required)
        :param str business_transaction_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['business_transaction_id', 'business_transaction_tag']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_business_transaction_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'business_transaction_id' is set
        if ('business_transaction_id' not in params or
                params['business_transaction_id'] is None):
            raise ValueError("Missing the required parameter `business_transaction_id` when calling `delete_business_transaction_tag`")  # noqa: E501
        # verify the required parameter 'business_transaction_tag' is set
        if ('business_transaction_tag' not in params or
                params['business_transaction_tag'] is None):
            raise ValueError("Missing the required parameter `business_transaction_tag` when calling `delete_business_transaction_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'business_transaction_id' in params:
            path_params['businessTransactionId'] = params['business_transaction_id']  # noqa: E501
        if 'business_transaction_tag' in params:
            path_params['businessTransactionTag'] = params['business_transaction_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/businessTransaction/{businessTransactionId}/tag/{businessTransactionTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_business_transaction_by_filter(self, **kwargs):  # noqa: E501
        """Search businessTransactions by filter  # noqa: E501

        Returns the list of businessTransactions that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_business_transaction_by_filter(_async=True)
        >>> result = thread.get()

        :param _async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[BusinessTransaction]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_business_transaction_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_business_transaction_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_business_transaction_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search businessTransactions by filter  # noqa: E501

        Returns the list of businessTransactions that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_business_transaction_by_filter_with_http_info(_async=True)
        >>> result = thread.get()

        :param _async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[BusinessTransaction]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_business_transaction_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/businessTransaction/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[BusinessTransaction]',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_business_transaction_by_id(self, business_transaction_id, **kwargs):  # noqa: E501
        """Get a businessTransaction by id  # noqa: E501

        Returns the businessTransaction identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_business_transaction_by_id(business_transaction_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to be returned. (required)
        :return: BusinessTransaction
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_business_transaction_by_id_with_http_info(business_transaction_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_business_transaction_by_id_with_http_info(business_transaction_id, **kwargs)  # noqa: E501
            return data

    def get_business_transaction_by_id_with_http_info(self, business_transaction_id, **kwargs):  # noqa: E501
        """Get a businessTransaction by id  # noqa: E501

        Returns the businessTransaction identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_business_transaction_by_id_with_http_info(business_transaction_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to be returned. (required)
        :return: BusinessTransaction
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['business_transaction_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_business_transaction_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'business_transaction_id' is set
        if ('business_transaction_id' not in params or
                params['business_transaction_id'] is None):
            raise ValueError("Missing the required parameter `business_transaction_id` when calling `get_business_transaction_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'business_transaction_id' in params:
            path_params['businessTransactionId'] = params['business_transaction_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/businessTransaction/{businessTransactionId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='BusinessTransaction',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_business_transaction_files(self, business_transaction_id, **kwargs):  # noqa: E501
        """Get the files for a businessTransaction.  # noqa: E501

        Get all existing businessTransaction files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_business_transaction_files(business_transaction_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_business_transaction_files_with_http_info(business_transaction_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_business_transaction_files_with_http_info(business_transaction_id, **kwargs)  # noqa: E501
            return data

    def get_business_transaction_files_with_http_info(self, business_transaction_id, **kwargs):  # noqa: E501
        """Get the files for a businessTransaction.  # noqa: E501

        Get all existing businessTransaction files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_business_transaction_files_with_http_info(business_transaction_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['business_transaction_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_business_transaction_files" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'business_transaction_id' is set
        if ('business_transaction_id' not in params or
                params['business_transaction_id'] is None):
            raise ValueError("Missing the required parameter `business_transaction_id` when calling `get_business_transaction_files`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'business_transaction_id' in params:
            path_params['businessTransactionId'] = params['business_transaction_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/businessTransaction/{businessTransactionId}/file', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_business_transaction_tags(self, business_transaction_id, **kwargs):  # noqa: E501
        """Get the tags for a businessTransaction.  # noqa: E501

        Get all existing businessTransaction tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_business_transaction_tags(business_transaction_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_business_transaction_tags_with_http_info(business_transaction_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_business_transaction_tags_with_http_info(business_transaction_id, **kwargs)  # noqa: E501
            return data

    def get_business_transaction_tags_with_http_info(self, business_transaction_id, **kwargs):  # noqa: E501
        """Get the tags for a businessTransaction.  # noqa: E501

        Get all existing businessTransaction tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_business_transaction_tags_with_http_info(business_transaction_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['business_transaction_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_business_transaction_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'business_transaction_id' is set
        if ('business_transaction_id' not in params or
                params['business_transaction_id'] is None):
            raise ValueError("Missing the required parameter `business_transaction_id` when calling `get_business_transaction_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'business_transaction_id' in params:
            path_params['businessTransactionId'] = params['business_transaction_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/businessTransaction/{businessTransactionId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_business_transaction_by_id(self, business_transaction_id, **kwargs):  # noqa: E501
        """Get a duplicated a businessTransaction by id  # noqa: E501

        Returns a duplicated businessTransaction identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_duplicate_business_transaction_by_id(business_transaction_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to be duplicated. (required)
        :return: BusinessTransaction
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_duplicate_business_transaction_by_id_with_http_info(business_transaction_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_business_transaction_by_id_with_http_info(business_transaction_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_business_transaction_by_id_with_http_info(self, business_transaction_id, **kwargs):  # noqa: E501
        """Get a duplicated a businessTransaction by id  # noqa: E501

        Returns a duplicated businessTransaction identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_duplicate_business_transaction_by_id_with_http_info(business_transaction_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int business_transaction_id: Id of the businessTransaction to be duplicated. (required)
        :return: BusinessTransaction
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['business_transaction_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_business_transaction_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'business_transaction_id' is set
        if ('business_transaction_id' not in params or
                params['business_transaction_id'] is None):
            raise ValueError("Missing the required parameter `business_transaction_id` when calling `get_duplicate_business_transaction_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'business_transaction_id' in params:
            path_params['businessTransactionId'] = params['business_transaction_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/businessTransaction/duplicate/{businessTransactionId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='BusinessTransaction',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_business_transaction(self, body, **kwargs):  # noqa: E501
        """Update a businessTransaction  # noqa: E501

        Updates an existing businessTransaction using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.update_business_transaction(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param BusinessTransaction body: BusinessTransaction to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.update_business_transaction_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_business_transaction_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_business_transaction_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a businessTransaction  # noqa: E501

        Updates an existing businessTransaction using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.update_business_transaction_with_http_info(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param BusinessTransaction body: BusinessTransaction to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_business_transaction" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_business_transaction`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/businessTransaction', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_business_transaction_custom_fields(self, body, **kwargs):  # noqa: E501
        """Update a businessTransaction custom fields  # noqa: E501

        Updates an existing businessTransaction custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.update_business_transaction_custom_fields(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param BusinessTransaction body: BusinessTransaction to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.update_business_transaction_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_business_transaction_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_business_transaction_custom_fields_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a businessTransaction custom fields  # noqa: E501

        Updates an existing businessTransaction custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.update_business_transaction_custom_fields_with_http_info(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param BusinessTransaction body: BusinessTransaction to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_business_transaction_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_business_transaction_custom_fields`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/businessTransaction/customFields', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
