# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class InventoryStorageActivityApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_inventory_storage_activity(self, body, **kwargs):  # noqa: E501
        """Create an inventoryStorageActivity  # noqa: E501

        Inserts a new inventoryStorageActivity using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_inventory_storage_activity(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param InventoryStorageActivity body: InventoryStorageActivity to be inserted. (required)
        :return: InventoryStorageActivity
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_inventory_storage_activity_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_inventory_storage_activity_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_inventory_storage_activity_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create an inventoryStorageActivity  # noqa: E501

        Inserts a new inventoryStorageActivity using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_inventory_storage_activity_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param InventoryStorageActivity body: InventoryStorageActivity to be inserted. (required)
        :return: InventoryStorageActivity
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_inventory_storage_activity" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_inventory_storage_activity`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/inventoryStorageActivity', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InventoryStorageActivity',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_inventory_storage_activity_audit(self, inventory_storage_activity_id, inventory_storage_activity_audit, **kwargs):  # noqa: E501
        """Add new audit for an inventoryStorageActivity  # noqa: E501

        Adds an audit to an existing inventoryStorageActivity.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_inventory_storage_activity_audit(inventory_storage_activity_id, inventory_storage_activity_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int inventory_storage_activity_id: Id of the inventoryStorageActivity to add an audit to (required)
        :param str inventory_storage_activity_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_inventory_storage_activity_audit_with_http_info(inventory_storage_activity_id, inventory_storage_activity_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_inventory_storage_activity_audit_with_http_info(inventory_storage_activity_id, inventory_storage_activity_audit, **kwargs)  # noqa: E501
            return data

    def add_inventory_storage_activity_audit_with_http_info(self, inventory_storage_activity_id, inventory_storage_activity_audit, **kwargs):  # noqa: E501
        """Add new audit for an inventoryStorageActivity  # noqa: E501

        Adds an audit to an existing inventoryStorageActivity.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_inventory_storage_activity_audit_with_http_info(inventory_storage_activity_id, inventory_storage_activity_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int inventory_storage_activity_id: Id of the inventoryStorageActivity to add an audit to (required)
        :param str inventory_storage_activity_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inventory_storage_activity_id', 'inventory_storage_activity_audit']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_inventory_storage_activity_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inventory_storage_activity_id' is set
        if ('inventory_storage_activity_id' not in params or
                params['inventory_storage_activity_id'] is None):
            raise ValueError("Missing the required parameter `inventory_storage_activity_id` when calling `add_inventory_storage_activity_audit`")  # noqa: E501
        # verify the required parameter 'inventory_storage_activity_audit' is set
        if ('inventory_storage_activity_audit' not in params or
                params['inventory_storage_activity_audit'] is None):
            raise ValueError("Missing the required parameter `inventory_storage_activity_audit` when calling `add_inventory_storage_activity_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'inventory_storage_activity_id' in params:
            path_params['inventoryStorageActivityId'] = params['inventory_storage_activity_id']  # noqa: E501
        if 'inventory_storage_activity_audit' in params:
            path_params['inventoryStorageActivityAudit'] = params['inventory_storage_activity_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/inventoryStorageActivity/{inventoryStorageActivityId}/audit/{inventoryStorageActivityAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_inventory_storage_activity_tag(self, inventory_storage_activity_id, inventory_storage_activity_tag, **kwargs):  # noqa: E501
        """Add new tags for an inventoryStorageActivity.  # noqa: E501

        Adds a tag to an existing inventoryStorageActivity.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_inventory_storage_activity_tag(inventory_storage_activity_id, inventory_storage_activity_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int inventory_storage_activity_id: Id of the inventoryStorageActivity to add a tag to (required)
        :param str inventory_storage_activity_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_inventory_storage_activity_tag_with_http_info(inventory_storage_activity_id, inventory_storage_activity_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_inventory_storage_activity_tag_with_http_info(inventory_storage_activity_id, inventory_storage_activity_tag, **kwargs)  # noqa: E501
            return data

    def add_inventory_storage_activity_tag_with_http_info(self, inventory_storage_activity_id, inventory_storage_activity_tag, **kwargs):  # noqa: E501
        """Add new tags for an inventoryStorageActivity.  # noqa: E501

        Adds a tag to an existing inventoryStorageActivity.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_inventory_storage_activity_tag_with_http_info(inventory_storage_activity_id, inventory_storage_activity_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int inventory_storage_activity_id: Id of the inventoryStorageActivity to add a tag to (required)
        :param str inventory_storage_activity_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inventory_storage_activity_id', 'inventory_storage_activity_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_inventory_storage_activity_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inventory_storage_activity_id' is set
        if ('inventory_storage_activity_id' not in params or
                params['inventory_storage_activity_id'] is None):
            raise ValueError("Missing the required parameter `inventory_storage_activity_id` when calling `add_inventory_storage_activity_tag`")  # noqa: E501
        # verify the required parameter 'inventory_storage_activity_tag' is set
        if ('inventory_storage_activity_tag' not in params or
                params['inventory_storage_activity_tag'] is None):
            raise ValueError("Missing the required parameter `inventory_storage_activity_tag` when calling `add_inventory_storage_activity_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'inventory_storage_activity_id' in params:
            path_params['inventoryStorageActivityId'] = params['inventory_storage_activity_id']  # noqa: E501
        if 'inventory_storage_activity_tag' in params:
            path_params['inventoryStorageActivityTag'] = params['inventory_storage_activity_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/inventoryStorageActivity/{inventoryStorageActivityId}/tag/{inventoryStorageActivityTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_inventory_storage_activity(self, inventory_storage_activity_id, **kwargs):  # noqa: E501
        """Delete an inventoryStorageActivity  # noqa: E501

        Deletes the inventoryStorageActivity identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_inventory_storage_activity(inventory_storage_activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int inventory_storage_activity_id: Id of the inventoryStorageActivity to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_inventory_storage_activity_with_http_info(inventory_storage_activity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_inventory_storage_activity_with_http_info(inventory_storage_activity_id, **kwargs)  # noqa: E501
            return data

    def delete_inventory_storage_activity_with_http_info(self, inventory_storage_activity_id, **kwargs):  # noqa: E501
        """Delete an inventoryStorageActivity  # noqa: E501

        Deletes the inventoryStorageActivity identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_inventory_storage_activity_with_http_info(inventory_storage_activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int inventory_storage_activity_id: Id of the inventoryStorageActivity to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inventory_storage_activity_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_inventory_storage_activity" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inventory_storage_activity_id' is set
        if ('inventory_storage_activity_id' not in params or
                params['inventory_storage_activity_id'] is None):
            raise ValueError("Missing the required parameter `inventory_storage_activity_id` when calling `delete_inventory_storage_activity`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'inventory_storage_activity_id' in params:
            path_params['inventoryStorageActivityId'] = params['inventory_storage_activity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/inventoryStorageActivity/{inventoryStorageActivityId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_inventory_storage_activity_tag(self, inventory_storage_activity_id, inventory_storage_activity_tag, **kwargs):  # noqa: E501
        """Delete a tag for an inventoryStorageActivity.  # noqa: E501

        Deletes an existing inventoryStorageActivity tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_inventory_storage_activity_tag(inventory_storage_activity_id, inventory_storage_activity_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int inventory_storage_activity_id: Id of the inventoryStorageActivity to remove tag from (required)
        :param str inventory_storage_activity_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_inventory_storage_activity_tag_with_http_info(inventory_storage_activity_id, inventory_storage_activity_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_inventory_storage_activity_tag_with_http_info(inventory_storage_activity_id, inventory_storage_activity_tag, **kwargs)  # noqa: E501
            return data

    def delete_inventory_storage_activity_tag_with_http_info(self, inventory_storage_activity_id, inventory_storage_activity_tag, **kwargs):  # noqa: E501
        """Delete a tag for an inventoryStorageActivity.  # noqa: E501

        Deletes an existing inventoryStorageActivity tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_inventory_storage_activity_tag_with_http_info(inventory_storage_activity_id, inventory_storage_activity_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int inventory_storage_activity_id: Id of the inventoryStorageActivity to remove tag from (required)
        :param str inventory_storage_activity_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inventory_storage_activity_id', 'inventory_storage_activity_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_inventory_storage_activity_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inventory_storage_activity_id' is set
        if ('inventory_storage_activity_id' not in params or
                params['inventory_storage_activity_id'] is None):
            raise ValueError("Missing the required parameter `inventory_storage_activity_id` when calling `delete_inventory_storage_activity_tag`")  # noqa: E501
        # verify the required parameter 'inventory_storage_activity_tag' is set
        if ('inventory_storage_activity_tag' not in params or
                params['inventory_storage_activity_tag'] is None):
            raise ValueError("Missing the required parameter `inventory_storage_activity_tag` when calling `delete_inventory_storage_activity_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'inventory_storage_activity_id' in params:
            path_params['inventoryStorageActivityId'] = params['inventory_storage_activity_id']  # noqa: E501
        if 'inventory_storage_activity_tag' in params:
            path_params['inventoryStorageActivityTag'] = params['inventory_storage_activity_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/inventoryStorageActivity/{inventoryStorageActivityId}/tag/{inventoryStorageActivityTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_inventory_storage_activity_by_id(self, inventory_storage_activity_id, **kwargs):  # noqa: E501
        """Get a duplicated an inventoryStorageActivity by id  # noqa: E501

        Returns a duplicated inventoryStorageActivity identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_inventory_storage_activity_by_id(inventory_storage_activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int inventory_storage_activity_id: Id of the inventoryStorageActivity to be duplicated. (required)
        :return: InventoryStorageActivity
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_duplicate_inventory_storage_activity_by_id_with_http_info(inventory_storage_activity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_inventory_storage_activity_by_id_with_http_info(inventory_storage_activity_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_inventory_storage_activity_by_id_with_http_info(self, inventory_storage_activity_id, **kwargs):  # noqa: E501
        """Get a duplicated an inventoryStorageActivity by id  # noqa: E501

        Returns a duplicated inventoryStorageActivity identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_inventory_storage_activity_by_id_with_http_info(inventory_storage_activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int inventory_storage_activity_id: Id of the inventoryStorageActivity to be duplicated. (required)
        :return: InventoryStorageActivity
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inventory_storage_activity_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_inventory_storage_activity_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inventory_storage_activity_id' is set
        if ('inventory_storage_activity_id' not in params or
                params['inventory_storage_activity_id'] is None):
            raise ValueError("Missing the required parameter `inventory_storage_activity_id` when calling `get_duplicate_inventory_storage_activity_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'inventory_storage_activity_id' in params:
            path_params['inventoryStorageActivityId'] = params['inventory_storage_activity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/inventoryStorageActivity/duplicate/{inventoryStorageActivityId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InventoryStorageActivity',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_inventory_storage_activity_by_filter(self, **kwargs):  # noqa: E501
        """Search inventoryStorageActivitys by filter  # noqa: E501

        Returns the list of inventoryStorageActivitys that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_inventory_storage_activity_by_filter(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[InventoryStorageActivity]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_inventory_storage_activity_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_inventory_storage_activity_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_inventory_storage_activity_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search inventoryStorageActivitys by filter  # noqa: E501

        Returns the list of inventoryStorageActivitys that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_inventory_storage_activity_by_filter_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[InventoryStorageActivity]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_inventory_storage_activity_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/inventoryStorageActivity/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InventoryStorageActivity]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_inventory_storage_activity_by_id(self, inventory_storage_activity_id, **kwargs):  # noqa: E501
        """Get an inventoryStorageActivity by id  # noqa: E501

        Returns the inventoryStorageActivity identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_inventory_storage_activity_by_id(inventory_storage_activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int inventory_storage_activity_id: Id of the inventoryStorageActivity to be returned. (required)
        :return: InventoryStorageActivity
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_inventory_storage_activity_by_id_with_http_info(inventory_storage_activity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_inventory_storage_activity_by_id_with_http_info(inventory_storage_activity_id, **kwargs)  # noqa: E501
            return data

    def get_inventory_storage_activity_by_id_with_http_info(self, inventory_storage_activity_id, **kwargs):  # noqa: E501
        """Get an inventoryStorageActivity by id  # noqa: E501

        Returns the inventoryStorageActivity identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_inventory_storage_activity_by_id_with_http_info(inventory_storage_activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int inventory_storage_activity_id: Id of the inventoryStorageActivity to be returned. (required)
        :return: InventoryStorageActivity
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inventory_storage_activity_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_inventory_storage_activity_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inventory_storage_activity_id' is set
        if ('inventory_storage_activity_id' not in params or
                params['inventory_storage_activity_id'] is None):
            raise ValueError("Missing the required parameter `inventory_storage_activity_id` when calling `get_inventory_storage_activity_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'inventory_storage_activity_id' in params:
            path_params['inventoryStorageActivityId'] = params['inventory_storage_activity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/inventoryStorageActivity/{inventoryStorageActivityId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InventoryStorageActivity',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_inventory_storage_activity_tags(self, inventory_storage_activity_id, **kwargs):  # noqa: E501
        """Get the tags for an inventoryStorageActivity.  # noqa: E501

        Get all existing inventoryStorageActivity tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_inventory_storage_activity_tags(inventory_storage_activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int inventory_storage_activity_id: Id of the inventoryStorageActivity to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_inventory_storage_activity_tags_with_http_info(inventory_storage_activity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_inventory_storage_activity_tags_with_http_info(inventory_storage_activity_id, **kwargs)  # noqa: E501
            return data

    def get_inventory_storage_activity_tags_with_http_info(self, inventory_storage_activity_id, **kwargs):  # noqa: E501
        """Get the tags for an inventoryStorageActivity.  # noqa: E501

        Get all existing inventoryStorageActivity tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_inventory_storage_activity_tags_with_http_info(inventory_storage_activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int inventory_storage_activity_id: Id of the inventoryStorageActivity to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inventory_storage_activity_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_inventory_storage_activity_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inventory_storage_activity_id' is set
        if ('inventory_storage_activity_id' not in params or
                params['inventory_storage_activity_id'] is None):
            raise ValueError("Missing the required parameter `inventory_storage_activity_id` when calling `get_inventory_storage_activity_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'inventory_storage_activity_id' in params:
            path_params['inventoryStorageActivityId'] = params['inventory_storage_activity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/inventoryStorageActivity/{inventoryStorageActivityId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_inventory_storage_activity(self, body, **kwargs):  # noqa: E501
        """Update an inventoryStorageActivity  # noqa: E501

        Updates an existing inventoryStorageActivity using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_inventory_storage_activity(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param InventoryStorageActivity body: InventoryStorageActivity to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_inventory_storage_activity_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_inventory_storage_activity_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_inventory_storage_activity_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update an inventoryStorageActivity  # noqa: E501

        Updates an existing inventoryStorageActivity using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_inventory_storage_activity_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param InventoryStorageActivity body: InventoryStorageActivity to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_inventory_storage_activity" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_inventory_storage_activity`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/inventoryStorageActivity', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
