# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class InvoiceWorksheetLineApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_invoice_worksheet_line(self, body, **kwargs):  # noqa: E501
        """Create an invoiceWorksheetLine  # noqa: E501

        Inserts a new invoiceWorksheetLine using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_invoice_worksheet_line(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param InvoiceWorksheetLine body: InvoiceWorksheetLine to be inserted. (required)
        :return: InvoiceWorksheetLine
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_invoice_worksheet_line_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_invoice_worksheet_line_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_invoice_worksheet_line_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create an invoiceWorksheetLine  # noqa: E501

        Inserts a new invoiceWorksheetLine using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_invoice_worksheet_line_with_http_info(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param InvoiceWorksheetLine body: InvoiceWorksheetLine to be inserted. (required)
        :return: InvoiceWorksheetLine
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_invoice_worksheet_line" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_invoice_worksheet_line`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/invoiceWorksheetLine', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InvoiceWorksheetLine',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_invoice_worksheet_line_audit(self, invoice_worksheet_line_id, invoice_worksheet_line_audit, **kwargs):  # noqa: E501
        """Add new audit for an invoiceWorksheetLine  # noqa: E501

        Adds an audit to an existing invoiceWorksheetLine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_invoice_worksheet_line_audit(invoice_worksheet_line_id, invoice_worksheet_line_audit, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to add an audit to (required)
        :param str invoice_worksheet_line_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_invoice_worksheet_line_audit_with_http_info(invoice_worksheet_line_id, invoice_worksheet_line_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_invoice_worksheet_line_audit_with_http_info(invoice_worksheet_line_id, invoice_worksheet_line_audit, **kwargs)  # noqa: E501
            return data

    def add_invoice_worksheet_line_audit_with_http_info(self, invoice_worksheet_line_id, invoice_worksheet_line_audit, **kwargs):  # noqa: E501
        """Add new audit for an invoiceWorksheetLine  # noqa: E501

        Adds an audit to an existing invoiceWorksheetLine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_invoice_worksheet_line_audit_with_http_info(invoice_worksheet_line_id, invoice_worksheet_line_audit, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to add an audit to (required)
        :param str invoice_worksheet_line_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id', 'invoice_worksheet_line_audit']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_invoice_worksheet_line_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params or
                params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `add_invoice_worksheet_line_audit`")  # noqa: E501
        # verify the required parameter 'invoice_worksheet_line_audit' is set
        if ('invoice_worksheet_line_audit' not in params or
                params['invoice_worksheet_line_audit'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_audit` when calling `add_invoice_worksheet_line_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']  # noqa: E501
        if 'invoice_worksheet_line_audit' in params:
            path_params['invoiceWorksheetLineAudit'] = params['invoice_worksheet_line_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/invoiceWorksheetLine/{invoiceWorksheetLineId}/audit/{invoiceWorksheetLineAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_invoice_worksheet_line_file(self, invoice_worksheet_line_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to an invoiceWorksheetLine  # noqa: E501

        Adds a file to an existing invoiceWorksheetLine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_invoice_worksheet_line_file(invoice_worksheet_line_id, file_name, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_invoice_worksheet_line_file_with_http_info(invoice_worksheet_line_id, file_name, **kwargs)  # noqa: E501
        else:
            (data) = self.add_invoice_worksheet_line_file_with_http_info(invoice_worksheet_line_id, file_name, **kwargs)  # noqa: E501
            return data

    def add_invoice_worksheet_line_file_with_http_info(self, invoice_worksheet_line_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to an invoiceWorksheetLine  # noqa: E501

        Adds a file to an existing invoiceWorksheetLine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_invoice_worksheet_line_file_with_http_info(invoice_worksheet_line_id, file_name, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id', 'file_name']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_invoice_worksheet_line_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params or
                params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `add_invoice_worksheet_line_file`")  # noqa: E501
        # verify the required parameter 'file_name' is set
        if ('file_name' not in params or
                params['file_name'] is None):
            raise ValueError("Missing the required parameter `file_name` when calling `add_invoice_worksheet_line_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']  # noqa: E501
        if 'file_name' in params:
            path_params['fileName'] = params['file_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/invoiceWorksheetLine/{invoiceWorksheetLineId}/file/{fileName}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_invoice_worksheet_line_file_by_url(self, body, invoice_worksheet_line_id, **kwargs):  # noqa: E501
        """Attach a file to an invoiceWorksheetLine by URL.  # noqa: E501

        Adds a file to an existing invoiceWorksheetLine by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_invoice_worksheet_line_file_by_url(body, invoice_worksheet_line_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_invoice_worksheet_line_file_by_url_with_http_info(body, invoice_worksheet_line_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_invoice_worksheet_line_file_by_url_with_http_info(body, invoice_worksheet_line_id, **kwargs)  # noqa: E501
            return data

    def add_invoice_worksheet_line_file_by_url_with_http_info(self, body, invoice_worksheet_line_id, **kwargs):  # noqa: E501
        """Attach a file to an invoiceWorksheetLine by URL.  # noqa: E501

        Adds a file to an existing invoiceWorksheetLine by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_invoice_worksheet_line_file_by_url_with_http_info(body, invoice_worksheet_line_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'invoice_worksheet_line_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_invoice_worksheet_line_file_by_url" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_invoice_worksheet_line_file_by_url`")  # noqa: E501
        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params or
                params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `add_invoice_worksheet_line_file_by_url`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/invoiceWorksheetLine/{invoiceWorksheetLineId}/file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_invoice_worksheet_line_tag(self, invoice_worksheet_line_id, invoice_worksheet_line_tag, **kwargs):  # noqa: E501
        """Add new tags for an invoiceWorksheetLine.  # noqa: E501

        Adds a tag to an existing invoiceWorksheetLine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_invoice_worksheet_line_tag(invoice_worksheet_line_id, invoice_worksheet_line_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to add a tag to (required)
        :param str invoice_worksheet_line_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_invoice_worksheet_line_tag_with_http_info(invoice_worksheet_line_id, invoice_worksheet_line_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_invoice_worksheet_line_tag_with_http_info(invoice_worksheet_line_id, invoice_worksheet_line_tag, **kwargs)  # noqa: E501
            return data

    def add_invoice_worksheet_line_tag_with_http_info(self, invoice_worksheet_line_id, invoice_worksheet_line_tag, **kwargs):  # noqa: E501
        """Add new tags for an invoiceWorksheetLine.  # noqa: E501

        Adds a tag to an existing invoiceWorksheetLine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_invoice_worksheet_line_tag_with_http_info(invoice_worksheet_line_id, invoice_worksheet_line_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to add a tag to (required)
        :param str invoice_worksheet_line_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id', 'invoice_worksheet_line_tag']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_invoice_worksheet_line_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params or
                params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `add_invoice_worksheet_line_tag`")  # noqa: E501
        # verify the required parameter 'invoice_worksheet_line_tag' is set
        if ('invoice_worksheet_line_tag' not in params or
                params['invoice_worksheet_line_tag'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_tag` when calling `add_invoice_worksheet_line_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']  # noqa: E501
        if 'invoice_worksheet_line_tag' in params:
            path_params['invoiceWorksheetLineTag'] = params['invoice_worksheet_line_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/invoiceWorksheetLine/{invoiceWorksheetLineId}/tag/{invoiceWorksheetLineTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_invoice_worksheet_line(self, invoice_worksheet_line_id, **kwargs):  # noqa: E501
        """Delete an invoiceWorksheetLine  # noqa: E501

        Deletes the invoiceWorksheetLine identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_invoice_worksheet_line(invoice_worksheet_line_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.delete_invoice_worksheet_line_with_http_info(invoice_worksheet_line_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_invoice_worksheet_line_with_http_info(invoice_worksheet_line_id, **kwargs)  # noqa: E501
            return data

    def delete_invoice_worksheet_line_with_http_info(self, invoice_worksheet_line_id, **kwargs):  # noqa: E501
        """Delete an invoiceWorksheetLine  # noqa: E501

        Deletes the invoiceWorksheetLine identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_invoice_worksheet_line_with_http_info(invoice_worksheet_line_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_invoice_worksheet_line" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params or
                params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `delete_invoice_worksheet_line`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/invoiceWorksheetLine/{invoiceWorksheetLineId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_invoice_worksheet_line_file(self, invoice_worksheet_line_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for an invoiceWorksheetLine.  # noqa: E501

        Deletes an existing invoiceWorksheetLine file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_invoice_worksheet_line_file(invoice_worksheet_line_id, file_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.delete_invoice_worksheet_line_file_with_http_info(invoice_worksheet_line_id, file_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_invoice_worksheet_line_file_with_http_info(invoice_worksheet_line_id, file_id, **kwargs)  # noqa: E501
            return data

    def delete_invoice_worksheet_line_file_with_http_info(self, invoice_worksheet_line_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for an invoiceWorksheetLine.  # noqa: E501

        Deletes an existing invoiceWorksheetLine file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_invoice_worksheet_line_file_with_http_info(invoice_worksheet_line_id, file_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id', 'file_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_invoice_worksheet_line_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params or
                params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `delete_invoice_worksheet_line_file`")  # noqa: E501
        # verify the required parameter 'file_id' is set
        if ('file_id' not in params or
                params['file_id'] is None):
            raise ValueError("Missing the required parameter `file_id` when calling `delete_invoice_worksheet_line_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']  # noqa: E501
        if 'file_id' in params:
            path_params['fileId'] = params['file_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/invoiceWorksheetLine/{invoiceWorksheetLineId}/file/{fileId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_invoice_worksheet_line_tag(self, invoice_worksheet_line_id, invoice_worksheet_line_tag, **kwargs):  # noqa: E501
        """Delete a tag for an invoiceWorksheetLine.  # noqa: E501

        Deletes an existing invoiceWorksheetLine tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_invoice_worksheet_line_tag(invoice_worksheet_line_id, invoice_worksheet_line_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to remove tag from (required)
        :param str invoice_worksheet_line_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.delete_invoice_worksheet_line_tag_with_http_info(invoice_worksheet_line_id, invoice_worksheet_line_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_invoice_worksheet_line_tag_with_http_info(invoice_worksheet_line_id, invoice_worksheet_line_tag, **kwargs)  # noqa: E501
            return data

    def delete_invoice_worksheet_line_tag_with_http_info(self, invoice_worksheet_line_id, invoice_worksheet_line_tag, **kwargs):  # noqa: E501
        """Delete a tag for an invoiceWorksheetLine.  # noqa: E501

        Deletes an existing invoiceWorksheetLine tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_invoice_worksheet_line_tag_with_http_info(invoice_worksheet_line_id, invoice_worksheet_line_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to remove tag from (required)
        :param str invoice_worksheet_line_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id', 'invoice_worksheet_line_tag']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_invoice_worksheet_line_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params or
                params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `delete_invoice_worksheet_line_tag`")  # noqa: E501
        # verify the required parameter 'invoice_worksheet_line_tag' is set
        if ('invoice_worksheet_line_tag' not in params or
                params['invoice_worksheet_line_tag'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_tag` when calling `delete_invoice_worksheet_line_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']  # noqa: E501
        if 'invoice_worksheet_line_tag' in params:
            path_params['invoiceWorksheetLineTag'] = params['invoice_worksheet_line_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/invoiceWorksheetLine/{invoiceWorksheetLineId}/tag/{invoiceWorksheetLineTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_invoice_worksheet_line_by_id(self, invoice_worksheet_line_id, **kwargs):  # noqa: E501
        """Get a duplicated an invoiceWorksheetLine by id  # noqa: E501

        Returns a duplicated invoiceWorksheetLine identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_duplicate_invoice_worksheet_line_by_id(invoice_worksheet_line_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to be duplicated. (required)
        :return: InvoiceWorksheetLine
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_duplicate_invoice_worksheet_line_by_id_with_http_info(invoice_worksheet_line_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_invoice_worksheet_line_by_id_with_http_info(invoice_worksheet_line_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_invoice_worksheet_line_by_id_with_http_info(self, invoice_worksheet_line_id, **kwargs):  # noqa: E501
        """Get a duplicated an invoiceWorksheetLine by id  # noqa: E501

        Returns a duplicated invoiceWorksheetLine identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_duplicate_invoice_worksheet_line_by_id_with_http_info(invoice_worksheet_line_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to be duplicated. (required)
        :return: InvoiceWorksheetLine
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_invoice_worksheet_line_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params or
                params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `get_duplicate_invoice_worksheet_line_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/invoiceWorksheetLine/duplicate/{invoiceWorksheetLineId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InvoiceWorksheetLine',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_invoice_worksheet_line_by_filter(self, **kwargs):  # noqa: E501
        """Search invoiceWorksheetLines by filter  # noqa: E501

        Returns the list of invoiceWorksheetLines that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_invoice_worksheet_line_by_filter(_async=True)
        >>> result = thread.get()

        :param _async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[InvoiceWorksheetLine]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_invoice_worksheet_line_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_invoice_worksheet_line_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_invoice_worksheet_line_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search invoiceWorksheetLines by filter  # noqa: E501

        Returns the list of invoiceWorksheetLines that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_invoice_worksheet_line_by_filter_with_http_info(_async=True)
        >>> result = thread.get()

        :param _async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[InvoiceWorksheetLine]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_invoice_worksheet_line_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/invoiceWorksheetLine/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InvoiceWorksheetLine]',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_invoice_worksheet_line_by_id(self, invoice_worksheet_line_id, **kwargs):  # noqa: E501
        """Get an invoiceWorksheetLine by id  # noqa: E501

        Returns the invoiceWorksheetLine identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_invoice_worksheet_line_by_id(invoice_worksheet_line_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to be returned. (required)
        :return: InvoiceWorksheetLine
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_invoice_worksheet_line_by_id_with_http_info(invoice_worksheet_line_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_invoice_worksheet_line_by_id_with_http_info(invoice_worksheet_line_id, **kwargs)  # noqa: E501
            return data

    def get_invoice_worksheet_line_by_id_with_http_info(self, invoice_worksheet_line_id, **kwargs):  # noqa: E501
        """Get an invoiceWorksheetLine by id  # noqa: E501

        Returns the invoiceWorksheetLine identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_invoice_worksheet_line_by_id_with_http_info(invoice_worksheet_line_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to be returned. (required)
        :return: InvoiceWorksheetLine
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_invoice_worksheet_line_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params or
                params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `get_invoice_worksheet_line_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/invoiceWorksheetLine/{invoiceWorksheetLineId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InvoiceWorksheetLine',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_invoice_worksheet_line_files(self, invoice_worksheet_line_id, **kwargs):  # noqa: E501
        """Get the files for an invoiceWorksheetLine.  # noqa: E501

        Get all existing invoiceWorksheetLine files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_invoice_worksheet_line_files(invoice_worksheet_line_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_invoice_worksheet_line_files_with_http_info(invoice_worksheet_line_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_invoice_worksheet_line_files_with_http_info(invoice_worksheet_line_id, **kwargs)  # noqa: E501
            return data

    def get_invoice_worksheet_line_files_with_http_info(self, invoice_worksheet_line_id, **kwargs):  # noqa: E501
        """Get the files for an invoiceWorksheetLine.  # noqa: E501

        Get all existing invoiceWorksheetLine files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_invoice_worksheet_line_files_with_http_info(invoice_worksheet_line_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_invoice_worksheet_line_files" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params or
                params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `get_invoice_worksheet_line_files`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/invoiceWorksheetLine/{invoiceWorksheetLineId}/file', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_invoice_worksheet_line_tags(self, invoice_worksheet_line_id, **kwargs):  # noqa: E501
        """Get the tags for an invoiceWorksheetLine.  # noqa: E501

        Get all existing invoiceWorksheetLine tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_invoice_worksheet_line_tags(invoice_worksheet_line_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_invoice_worksheet_line_tags_with_http_info(invoice_worksheet_line_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_invoice_worksheet_line_tags_with_http_info(invoice_worksheet_line_id, **kwargs)  # noqa: E501
            return data

    def get_invoice_worksheet_line_tags_with_http_info(self, invoice_worksheet_line_id, **kwargs):  # noqa: E501
        """Get the tags for an invoiceWorksheetLine.  # noqa: E501

        Get all existing invoiceWorksheetLine tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_invoice_worksheet_line_tags_with_http_info(invoice_worksheet_line_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_invoice_worksheet_line_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params or
                params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `get_invoice_worksheet_line_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/invoiceWorksheetLine/{invoiceWorksheetLineId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_invoice_worksheet_line(self, body, **kwargs):  # noqa: E501
        """Update an invoiceWorksheetLine  # noqa: E501

        Updates an existing invoiceWorksheetLine using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.update_invoice_worksheet_line(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param InvoiceWorksheetLine body: InvoiceWorksheetLine to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.update_invoice_worksheet_line_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_invoice_worksheet_line_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_invoice_worksheet_line_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update an invoiceWorksheetLine  # noqa: E501

        Updates an existing invoiceWorksheetLine using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.update_invoice_worksheet_line_with_http_info(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param InvoiceWorksheetLine body: InvoiceWorksheetLine to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_invoice_worksheet_line" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_invoice_worksheet_line`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/invoiceWorksheetLine', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
