# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class ItemSerialSchemeApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_item_serial_scheme(self, body, **kwargs):  # noqa: E501
        """Create an itemSerialScheme  # noqa: E501

        Inserts a new itemSerialScheme using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_serial_scheme(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ItemSerialScheme body: ItemSerialScheme to be inserted. (required)
        :return: ItemSerialScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_item_serial_scheme_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_item_serial_scheme_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_item_serial_scheme_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create an itemSerialScheme  # noqa: E501

        Inserts a new itemSerialScheme using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_serial_scheme_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ItemSerialScheme body: ItemSerialScheme to be inserted. (required)
        :return: ItemSerialScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_item_serial_scheme" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_item_serial_scheme`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemSerialScheme', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ItemSerialScheme',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_item_serial_scheme_audit(self, item_serial_scheme_id, item_serial_scheme_audit, **kwargs):  # noqa: E501
        """Add new audit for an itemSerialScheme  # noqa: E501

        Adds an audit to an existing itemSerialScheme.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_serial_scheme_audit(item_serial_scheme_id, item_serial_scheme_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_serial_scheme_id: Id of the itemSerialScheme to add an audit to (required)
        :param str item_serial_scheme_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_item_serial_scheme_audit_with_http_info(item_serial_scheme_id, item_serial_scheme_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_item_serial_scheme_audit_with_http_info(item_serial_scheme_id, item_serial_scheme_audit, **kwargs)  # noqa: E501
            return data

    def add_item_serial_scheme_audit_with_http_info(self, item_serial_scheme_id, item_serial_scheme_audit, **kwargs):  # noqa: E501
        """Add new audit for an itemSerialScheme  # noqa: E501

        Adds an audit to an existing itemSerialScheme.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_serial_scheme_audit_with_http_info(item_serial_scheme_id, item_serial_scheme_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_serial_scheme_id: Id of the itemSerialScheme to add an audit to (required)
        :param str item_serial_scheme_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_serial_scheme_id', 'item_serial_scheme_audit']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_item_serial_scheme_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_serial_scheme_id' is set
        if ('item_serial_scheme_id' not in params or
                params['item_serial_scheme_id'] is None):
            raise ValueError("Missing the required parameter `item_serial_scheme_id` when calling `add_item_serial_scheme_audit`")  # noqa: E501
        # verify the required parameter 'item_serial_scheme_audit' is set
        if ('item_serial_scheme_audit' not in params or
                params['item_serial_scheme_audit'] is None):
            raise ValueError("Missing the required parameter `item_serial_scheme_audit` when calling `add_item_serial_scheme_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_serial_scheme_id' in params:
            path_params['itemSerialSchemeId'] = params['item_serial_scheme_id']  # noqa: E501
        if 'item_serial_scheme_audit' in params:
            path_params['itemSerialSchemeAudit'] = params['item_serial_scheme_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemSerialScheme/{itemSerialSchemeId}/audit/{itemSerialSchemeAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_item_serial_scheme_tag(self, item_serial_scheme_id, item_serial_scheme_tag, **kwargs):  # noqa: E501
        """Add new tags for an itemSerialScheme.  # noqa: E501

        Adds a tag to an existing itemSerialScheme.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_serial_scheme_tag(item_serial_scheme_id, item_serial_scheme_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_serial_scheme_id: Id of the itemSerialScheme to add a tag to (required)
        :param str item_serial_scheme_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_item_serial_scheme_tag_with_http_info(item_serial_scheme_id, item_serial_scheme_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_item_serial_scheme_tag_with_http_info(item_serial_scheme_id, item_serial_scheme_tag, **kwargs)  # noqa: E501
            return data

    def add_item_serial_scheme_tag_with_http_info(self, item_serial_scheme_id, item_serial_scheme_tag, **kwargs):  # noqa: E501
        """Add new tags for an itemSerialScheme.  # noqa: E501

        Adds a tag to an existing itemSerialScheme.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_serial_scheme_tag_with_http_info(item_serial_scheme_id, item_serial_scheme_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_serial_scheme_id: Id of the itemSerialScheme to add a tag to (required)
        :param str item_serial_scheme_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_serial_scheme_id', 'item_serial_scheme_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_item_serial_scheme_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_serial_scheme_id' is set
        if ('item_serial_scheme_id' not in params or
                params['item_serial_scheme_id'] is None):
            raise ValueError("Missing the required parameter `item_serial_scheme_id` when calling `add_item_serial_scheme_tag`")  # noqa: E501
        # verify the required parameter 'item_serial_scheme_tag' is set
        if ('item_serial_scheme_tag' not in params or
                params['item_serial_scheme_tag'] is None):
            raise ValueError("Missing the required parameter `item_serial_scheme_tag` when calling `add_item_serial_scheme_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_serial_scheme_id' in params:
            path_params['itemSerialSchemeId'] = params['item_serial_scheme_id']  # noqa: E501
        if 'item_serial_scheme_tag' in params:
            path_params['itemSerialSchemeTag'] = params['item_serial_scheme_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemSerialScheme/{itemSerialSchemeId}/tag/{itemSerialSchemeTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_item_serial_scheme(self, item_serial_scheme_id, **kwargs):  # noqa: E501
        """Delete an itemSerialScheme  # noqa: E501

        Deletes the itemSerialScheme identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_item_serial_scheme(item_serial_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_serial_scheme_id: Id of the itemSerialScheme to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_item_serial_scheme_with_http_info(item_serial_scheme_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_item_serial_scheme_with_http_info(item_serial_scheme_id, **kwargs)  # noqa: E501
            return data

    def delete_item_serial_scheme_with_http_info(self, item_serial_scheme_id, **kwargs):  # noqa: E501
        """Delete an itemSerialScheme  # noqa: E501

        Deletes the itemSerialScheme identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_item_serial_scheme_with_http_info(item_serial_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_serial_scheme_id: Id of the itemSerialScheme to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_serial_scheme_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_item_serial_scheme" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_serial_scheme_id' is set
        if ('item_serial_scheme_id' not in params or
                params['item_serial_scheme_id'] is None):
            raise ValueError("Missing the required parameter `item_serial_scheme_id` when calling `delete_item_serial_scheme`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_serial_scheme_id' in params:
            path_params['itemSerialSchemeId'] = params['item_serial_scheme_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemSerialScheme/{itemSerialSchemeId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_item_serial_scheme_tag(self, item_serial_scheme_id, item_serial_scheme_tag, **kwargs):  # noqa: E501
        """Delete a tag for an itemSerialScheme.  # noqa: E501

        Deletes an existing itemSerialScheme tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_item_serial_scheme_tag(item_serial_scheme_id, item_serial_scheme_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_serial_scheme_id: Id of the itemSerialScheme to remove tag from (required)
        :param str item_serial_scheme_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_item_serial_scheme_tag_with_http_info(item_serial_scheme_id, item_serial_scheme_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_item_serial_scheme_tag_with_http_info(item_serial_scheme_id, item_serial_scheme_tag, **kwargs)  # noqa: E501
            return data

    def delete_item_serial_scheme_tag_with_http_info(self, item_serial_scheme_id, item_serial_scheme_tag, **kwargs):  # noqa: E501
        """Delete a tag for an itemSerialScheme.  # noqa: E501

        Deletes an existing itemSerialScheme tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_item_serial_scheme_tag_with_http_info(item_serial_scheme_id, item_serial_scheme_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_serial_scheme_id: Id of the itemSerialScheme to remove tag from (required)
        :param str item_serial_scheme_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_serial_scheme_id', 'item_serial_scheme_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_item_serial_scheme_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_serial_scheme_id' is set
        if ('item_serial_scheme_id' not in params or
                params['item_serial_scheme_id'] is None):
            raise ValueError("Missing the required parameter `item_serial_scheme_id` when calling `delete_item_serial_scheme_tag`")  # noqa: E501
        # verify the required parameter 'item_serial_scheme_tag' is set
        if ('item_serial_scheme_tag' not in params or
                params['item_serial_scheme_tag'] is None):
            raise ValueError("Missing the required parameter `item_serial_scheme_tag` when calling `delete_item_serial_scheme_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_serial_scheme_id' in params:
            path_params['itemSerialSchemeId'] = params['item_serial_scheme_id']  # noqa: E501
        if 'item_serial_scheme_tag' in params:
            path_params['itemSerialSchemeTag'] = params['item_serial_scheme_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemSerialScheme/{itemSerialSchemeId}/tag/{itemSerialSchemeTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_item_serial_scheme_by_id(self, item_serial_scheme_id, **kwargs):  # noqa: E501
        """Get a duplicated an itemSerialScheme by id  # noqa: E501

        Returns a duplicated itemSerialScheme identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_item_serial_scheme_by_id(item_serial_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_serial_scheme_id: Id of the itemSerialScheme to be duplicated. (required)
        :return: ItemSerialScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_duplicate_item_serial_scheme_by_id_with_http_info(item_serial_scheme_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_item_serial_scheme_by_id_with_http_info(item_serial_scheme_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_item_serial_scheme_by_id_with_http_info(self, item_serial_scheme_id, **kwargs):  # noqa: E501
        """Get a duplicated an itemSerialScheme by id  # noqa: E501

        Returns a duplicated itemSerialScheme identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_item_serial_scheme_by_id_with_http_info(item_serial_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_serial_scheme_id: Id of the itemSerialScheme to be duplicated. (required)
        :return: ItemSerialScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_serial_scheme_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_item_serial_scheme_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_serial_scheme_id' is set
        if ('item_serial_scheme_id' not in params or
                params['item_serial_scheme_id'] is None):
            raise ValueError("Missing the required parameter `item_serial_scheme_id` when calling `get_duplicate_item_serial_scheme_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_serial_scheme_id' in params:
            path_params['itemSerialSchemeId'] = params['item_serial_scheme_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemSerialScheme/duplicate/{itemSerialSchemeId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ItemSerialScheme',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_item_serial_scheme_by_filter(self, **kwargs):  # noqa: E501
        """Search itemSerialSchemes by filter  # noqa: E501

        Returns the list of itemSerialSchemes that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_serial_scheme_by_filter(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ItemSerialScheme]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_item_serial_scheme_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_item_serial_scheme_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_item_serial_scheme_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search itemSerialSchemes by filter  # noqa: E501

        Returns the list of itemSerialSchemes that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_serial_scheme_by_filter_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ItemSerialScheme]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_item_serial_scheme_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemSerialScheme/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ItemSerialScheme]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_item_serial_scheme_by_id(self, item_serial_scheme_id, **kwargs):  # noqa: E501
        """Get an itemSerialScheme by id  # noqa: E501

        Returns the itemSerialScheme identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_serial_scheme_by_id(item_serial_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_serial_scheme_id: Id of the itemSerialScheme to be returned. (required)
        :return: ItemSerialScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_item_serial_scheme_by_id_with_http_info(item_serial_scheme_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_item_serial_scheme_by_id_with_http_info(item_serial_scheme_id, **kwargs)  # noqa: E501
            return data

    def get_item_serial_scheme_by_id_with_http_info(self, item_serial_scheme_id, **kwargs):  # noqa: E501
        """Get an itemSerialScheme by id  # noqa: E501

        Returns the itemSerialScheme identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_serial_scheme_by_id_with_http_info(item_serial_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_serial_scheme_id: Id of the itemSerialScheme to be returned. (required)
        :return: ItemSerialScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_serial_scheme_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_item_serial_scheme_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_serial_scheme_id' is set
        if ('item_serial_scheme_id' not in params or
                params['item_serial_scheme_id'] is None):
            raise ValueError("Missing the required parameter `item_serial_scheme_id` when calling `get_item_serial_scheme_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_serial_scheme_id' in params:
            path_params['itemSerialSchemeId'] = params['item_serial_scheme_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemSerialScheme/{itemSerialSchemeId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ItemSerialScheme',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_item_serial_scheme_tags(self, item_serial_scheme_id, **kwargs):  # noqa: E501
        """Get the tags for an itemSerialScheme.  # noqa: E501

        Get all existing itemSerialScheme tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_serial_scheme_tags(item_serial_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_serial_scheme_id: Id of the itemSerialScheme to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_item_serial_scheme_tags_with_http_info(item_serial_scheme_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_item_serial_scheme_tags_with_http_info(item_serial_scheme_id, **kwargs)  # noqa: E501
            return data

    def get_item_serial_scheme_tags_with_http_info(self, item_serial_scheme_id, **kwargs):  # noqa: E501
        """Get the tags for an itemSerialScheme.  # noqa: E501

        Get all existing itemSerialScheme tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_serial_scheme_tags_with_http_info(item_serial_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_serial_scheme_id: Id of the itemSerialScheme to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_serial_scheme_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_item_serial_scheme_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_serial_scheme_id' is set
        if ('item_serial_scheme_id' not in params or
                params['item_serial_scheme_id'] is None):
            raise ValueError("Missing the required parameter `item_serial_scheme_id` when calling `get_item_serial_scheme_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_serial_scheme_id' in params:
            path_params['itemSerialSchemeId'] = params['item_serial_scheme_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemSerialScheme/{itemSerialSchemeId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_item_serial_scheme(self, body, **kwargs):  # noqa: E501
        """Update an itemSerialScheme  # noqa: E501

        Updates an existing itemSerialScheme using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_item_serial_scheme(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ItemSerialScheme body: ItemSerialScheme to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_item_serial_scheme_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_item_serial_scheme_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_item_serial_scheme_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update an itemSerialScheme  # noqa: E501

        Updates an existing itemSerialScheme using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_item_serial_scheme_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ItemSerialScheme body: ItemSerialScheme to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_item_serial_scheme" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_item_serial_scheme`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemSerialScheme', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
