# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class ItemAccountCodeApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_item_account_code(self, body, **kwargs):  # noqa: E501
        """Create an itemAccountCode  # noqa: E501

        Inserts a new itemAccountCode using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_account_code(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ItemAccountCode body: ItemAccountCode to be inserted. (required)
        :return: ItemAccountCode
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_item_account_code_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_item_account_code_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_item_account_code_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create an itemAccountCode  # noqa: E501

        Inserts a new itemAccountCode using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_account_code_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ItemAccountCode body: ItemAccountCode to be inserted. (required)
        :return: ItemAccountCode
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_item_account_code" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_item_account_code`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemAccountCode', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ItemAccountCode',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_item_account_code_audit(self, item_account_code_id, item_account_code_audit, **kwargs):  # noqa: E501
        """Add new audit for an itemAccountCode  # noqa: E501

        Adds an audit to an existing itemAccountCode.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_account_code_audit(item_account_code_id, item_account_code_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_account_code_id: Id of the itemAccountCode to add an audit to (required)
        :param str item_account_code_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_item_account_code_audit_with_http_info(item_account_code_id, item_account_code_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_item_account_code_audit_with_http_info(item_account_code_id, item_account_code_audit, **kwargs)  # noqa: E501
            return data

    def add_item_account_code_audit_with_http_info(self, item_account_code_id, item_account_code_audit, **kwargs):  # noqa: E501
        """Add new audit for an itemAccountCode  # noqa: E501

        Adds an audit to an existing itemAccountCode.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_account_code_audit_with_http_info(item_account_code_id, item_account_code_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_account_code_id: Id of the itemAccountCode to add an audit to (required)
        :param str item_account_code_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_account_code_id', 'item_account_code_audit']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_item_account_code_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_account_code_id' is set
        if ('item_account_code_id' not in params or
                params['item_account_code_id'] is None):
            raise ValueError("Missing the required parameter `item_account_code_id` when calling `add_item_account_code_audit`")  # noqa: E501
        # verify the required parameter 'item_account_code_audit' is set
        if ('item_account_code_audit' not in params or
                params['item_account_code_audit'] is None):
            raise ValueError("Missing the required parameter `item_account_code_audit` when calling `add_item_account_code_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_account_code_id' in params:
            path_params['itemAccountCodeId'] = params['item_account_code_id']  # noqa: E501
        if 'item_account_code_audit' in params:
            path_params['itemAccountCodeAudit'] = params['item_account_code_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemAccountCode/{itemAccountCodeId}/audit/{itemAccountCodeAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_item_account_code_tag(self, item_account_code_id, item_account_code_tag, **kwargs):  # noqa: E501
        """Add new tags for an itemAccountCode.  # noqa: E501

        Adds a tag to an existing itemAccountCode.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_account_code_tag(item_account_code_id, item_account_code_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_account_code_id: Id of the itemAccountCode to add a tag to (required)
        :param str item_account_code_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_item_account_code_tag_with_http_info(item_account_code_id, item_account_code_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_item_account_code_tag_with_http_info(item_account_code_id, item_account_code_tag, **kwargs)  # noqa: E501
            return data

    def add_item_account_code_tag_with_http_info(self, item_account_code_id, item_account_code_tag, **kwargs):  # noqa: E501
        """Add new tags for an itemAccountCode.  # noqa: E501

        Adds a tag to an existing itemAccountCode.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_account_code_tag_with_http_info(item_account_code_id, item_account_code_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_account_code_id: Id of the itemAccountCode to add a tag to (required)
        :param str item_account_code_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_account_code_id', 'item_account_code_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_item_account_code_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_account_code_id' is set
        if ('item_account_code_id' not in params or
                params['item_account_code_id'] is None):
            raise ValueError("Missing the required parameter `item_account_code_id` when calling `add_item_account_code_tag`")  # noqa: E501
        # verify the required parameter 'item_account_code_tag' is set
        if ('item_account_code_tag' not in params or
                params['item_account_code_tag'] is None):
            raise ValueError("Missing the required parameter `item_account_code_tag` when calling `add_item_account_code_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_account_code_id' in params:
            path_params['itemAccountCodeId'] = params['item_account_code_id']  # noqa: E501
        if 'item_account_code_tag' in params:
            path_params['itemAccountCodeTag'] = params['item_account_code_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemAccountCode/{itemAccountCodeId}/tag/{itemAccountCodeTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_item_account_code(self, item_account_code_id, **kwargs):  # noqa: E501
        """Delete an itemAccountCode  # noqa: E501

        Deletes the itemAccountCode identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_item_account_code(item_account_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_account_code_id: Id of the itemAccountCode to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_item_account_code_with_http_info(item_account_code_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_item_account_code_with_http_info(item_account_code_id, **kwargs)  # noqa: E501
            return data

    def delete_item_account_code_with_http_info(self, item_account_code_id, **kwargs):  # noqa: E501
        """Delete an itemAccountCode  # noqa: E501

        Deletes the itemAccountCode identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_item_account_code_with_http_info(item_account_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_account_code_id: Id of the itemAccountCode to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_account_code_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_item_account_code" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_account_code_id' is set
        if ('item_account_code_id' not in params or
                params['item_account_code_id'] is None):
            raise ValueError("Missing the required parameter `item_account_code_id` when calling `delete_item_account_code`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_account_code_id' in params:
            path_params['itemAccountCodeId'] = params['item_account_code_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemAccountCode/{itemAccountCodeId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_item_account_code_tag(self, item_account_code_id, item_account_code_tag, **kwargs):  # noqa: E501
        """Delete a tag for an itemAccountCode.  # noqa: E501

        Deletes an existing itemAccountCode tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_item_account_code_tag(item_account_code_id, item_account_code_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_account_code_id: Id of the itemAccountCode to remove tag from (required)
        :param str item_account_code_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_item_account_code_tag_with_http_info(item_account_code_id, item_account_code_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_item_account_code_tag_with_http_info(item_account_code_id, item_account_code_tag, **kwargs)  # noqa: E501
            return data

    def delete_item_account_code_tag_with_http_info(self, item_account_code_id, item_account_code_tag, **kwargs):  # noqa: E501
        """Delete a tag for an itemAccountCode.  # noqa: E501

        Deletes an existing itemAccountCode tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_item_account_code_tag_with_http_info(item_account_code_id, item_account_code_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_account_code_id: Id of the itemAccountCode to remove tag from (required)
        :param str item_account_code_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_account_code_id', 'item_account_code_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_item_account_code_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_account_code_id' is set
        if ('item_account_code_id' not in params or
                params['item_account_code_id'] is None):
            raise ValueError("Missing the required parameter `item_account_code_id` when calling `delete_item_account_code_tag`")  # noqa: E501
        # verify the required parameter 'item_account_code_tag' is set
        if ('item_account_code_tag' not in params or
                params['item_account_code_tag'] is None):
            raise ValueError("Missing the required parameter `item_account_code_tag` when calling `delete_item_account_code_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_account_code_id' in params:
            path_params['itemAccountCodeId'] = params['item_account_code_id']  # noqa: E501
        if 'item_account_code_tag' in params:
            path_params['itemAccountCodeTag'] = params['item_account_code_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemAccountCode/{itemAccountCodeId}/tag/{itemAccountCodeTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_item_account_code_by_id(self, item_account_code_id, **kwargs):  # noqa: E501
        """Get a duplicated an itemAccountCode by id  # noqa: E501

        Returns a duplicated itemAccountCode identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_item_account_code_by_id(item_account_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_account_code_id: Id of the itemAccountCode to be duplicated. (required)
        :return: ItemAccountCode
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_duplicate_item_account_code_by_id_with_http_info(item_account_code_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_item_account_code_by_id_with_http_info(item_account_code_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_item_account_code_by_id_with_http_info(self, item_account_code_id, **kwargs):  # noqa: E501
        """Get a duplicated an itemAccountCode by id  # noqa: E501

        Returns a duplicated itemAccountCode identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_item_account_code_by_id_with_http_info(item_account_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_account_code_id: Id of the itemAccountCode to be duplicated. (required)
        :return: ItemAccountCode
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_account_code_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_item_account_code_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_account_code_id' is set
        if ('item_account_code_id' not in params or
                params['item_account_code_id'] is None):
            raise ValueError("Missing the required parameter `item_account_code_id` when calling `get_duplicate_item_account_code_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_account_code_id' in params:
            path_params['itemAccountCodeId'] = params['item_account_code_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemAccountCode/duplicate/{itemAccountCodeId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ItemAccountCode',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_item_account_code_by_filter(self, **kwargs):  # noqa: E501
        """Search itemAccountCodes by filter  # noqa: E501

        Returns the list of itemAccountCodes that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_account_code_by_filter(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ItemAccountCode]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_item_account_code_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_item_account_code_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_item_account_code_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search itemAccountCodes by filter  # noqa: E501

        Returns the list of itemAccountCodes that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_account_code_by_filter_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ItemAccountCode]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_item_account_code_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemAccountCode/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ItemAccountCode]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_item_account_code_by_id(self, item_account_code_id, **kwargs):  # noqa: E501
        """Get an itemAccountCode by id  # noqa: E501

        Returns the itemAccountCode identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_account_code_by_id(item_account_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_account_code_id: Id of the itemAccountCode to be returned. (required)
        :return: ItemAccountCode
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_item_account_code_by_id_with_http_info(item_account_code_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_item_account_code_by_id_with_http_info(item_account_code_id, **kwargs)  # noqa: E501
            return data

    def get_item_account_code_by_id_with_http_info(self, item_account_code_id, **kwargs):  # noqa: E501
        """Get an itemAccountCode by id  # noqa: E501

        Returns the itemAccountCode identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_account_code_by_id_with_http_info(item_account_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_account_code_id: Id of the itemAccountCode to be returned. (required)
        :return: ItemAccountCode
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_account_code_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_item_account_code_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_account_code_id' is set
        if ('item_account_code_id' not in params or
                params['item_account_code_id'] is None):
            raise ValueError("Missing the required parameter `item_account_code_id` when calling `get_item_account_code_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_account_code_id' in params:
            path_params['itemAccountCodeId'] = params['item_account_code_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemAccountCode/{itemAccountCodeId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ItemAccountCode',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_item_account_code_tags(self, item_account_code_id, **kwargs):  # noqa: E501
        """Get the tags for an itemAccountCode.  # noqa: E501

        Get all existing itemAccountCode tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_account_code_tags(item_account_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_account_code_id: Id of the itemAccountCode to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_item_account_code_tags_with_http_info(item_account_code_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_item_account_code_tags_with_http_info(item_account_code_id, **kwargs)  # noqa: E501
            return data

    def get_item_account_code_tags_with_http_info(self, item_account_code_id, **kwargs):  # noqa: E501
        """Get the tags for an itemAccountCode.  # noqa: E501

        Get all existing itemAccountCode tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_account_code_tags_with_http_info(item_account_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_account_code_id: Id of the itemAccountCode to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_account_code_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_item_account_code_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_account_code_id' is set
        if ('item_account_code_id' not in params or
                params['item_account_code_id'] is None):
            raise ValueError("Missing the required parameter `item_account_code_id` when calling `get_item_account_code_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_account_code_id' in params:
            path_params['itemAccountCodeId'] = params['item_account_code_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemAccountCode/{itemAccountCodeId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_item_account_code(self, body, **kwargs):  # noqa: E501
        """Update an itemAccountCode  # noqa: E501

        Updates an existing itemAccountCode using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_item_account_code(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ItemAccountCode body: ItemAccountCode to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_item_account_code_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_item_account_code_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_item_account_code_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update an itemAccountCode  # noqa: E501

        Updates an existing itemAccountCode using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_item_account_code_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ItemAccountCode body: ItemAccountCode to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_item_account_code" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_item_account_code`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemAccountCode', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
