# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class ItemLowstockCodeApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_item_lowstock_code(self, body, **kwargs):  # noqa: E501
        """Create an itemLowstockCode  # noqa: E501

        Inserts a new itemLowstockCode using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_lowstock_code(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ItemLowstockCode body: ItemLowstockCode to be inserted. (required)
        :return: ItemLowstockCode
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_item_lowstock_code_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_item_lowstock_code_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_item_lowstock_code_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create an itemLowstockCode  # noqa: E501

        Inserts a new itemLowstockCode using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_lowstock_code_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ItemLowstockCode body: ItemLowstockCode to be inserted. (required)
        :return: ItemLowstockCode
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_item_lowstock_code" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_item_lowstock_code`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemLowstockCode', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ItemLowstockCode',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_item_lowstock_code_audit(self, item_lowstock_code_id, item_lowstock_code_audit, **kwargs):  # noqa: E501
        """Add new audit for an itemLowstockCode  # noqa: E501

        Adds an audit to an existing itemLowstockCode.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_lowstock_code_audit(item_lowstock_code_id, item_lowstock_code_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to add an audit to (required)
        :param str item_lowstock_code_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_item_lowstock_code_audit_with_http_info(item_lowstock_code_id, item_lowstock_code_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_item_lowstock_code_audit_with_http_info(item_lowstock_code_id, item_lowstock_code_audit, **kwargs)  # noqa: E501
            return data

    def add_item_lowstock_code_audit_with_http_info(self, item_lowstock_code_id, item_lowstock_code_audit, **kwargs):  # noqa: E501
        """Add new audit for an itemLowstockCode  # noqa: E501

        Adds an audit to an existing itemLowstockCode.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_lowstock_code_audit_with_http_info(item_lowstock_code_id, item_lowstock_code_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to add an audit to (required)
        :param str item_lowstock_code_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_lowstock_code_id', 'item_lowstock_code_audit']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_item_lowstock_code_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_lowstock_code_id' is set
        if ('item_lowstock_code_id' not in params or
                params['item_lowstock_code_id'] is None):
            raise ValueError("Missing the required parameter `item_lowstock_code_id` when calling `add_item_lowstock_code_audit`")  # noqa: E501
        # verify the required parameter 'item_lowstock_code_audit' is set
        if ('item_lowstock_code_audit' not in params or
                params['item_lowstock_code_audit'] is None):
            raise ValueError("Missing the required parameter `item_lowstock_code_audit` when calling `add_item_lowstock_code_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_lowstock_code_id' in params:
            path_params['itemLowstockCodeId'] = params['item_lowstock_code_id']  # noqa: E501
        if 'item_lowstock_code_audit' in params:
            path_params['itemLowstockCodeAudit'] = params['item_lowstock_code_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemLowstockCode/{itemLowstockCodeId}/audit/{itemLowstockCodeAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_item_lowstock_code_file(self, item_lowstock_code_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to an itemLowstockCode  # noqa: E501

        Adds a file to an existing itemLowstockCode.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_lowstock_code_file(item_lowstock_code_id, file_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_item_lowstock_code_file_with_http_info(item_lowstock_code_id, file_name, **kwargs)  # noqa: E501
        else:
            (data) = self.add_item_lowstock_code_file_with_http_info(item_lowstock_code_id, file_name, **kwargs)  # noqa: E501
            return data

    def add_item_lowstock_code_file_with_http_info(self, item_lowstock_code_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to an itemLowstockCode  # noqa: E501

        Adds a file to an existing itemLowstockCode.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_lowstock_code_file_with_http_info(item_lowstock_code_id, file_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_lowstock_code_id', 'file_name']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_item_lowstock_code_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_lowstock_code_id' is set
        if ('item_lowstock_code_id' not in params or
                params['item_lowstock_code_id'] is None):
            raise ValueError("Missing the required parameter `item_lowstock_code_id` when calling `add_item_lowstock_code_file`")  # noqa: E501
        # verify the required parameter 'file_name' is set
        if ('file_name' not in params or
                params['file_name'] is None):
            raise ValueError("Missing the required parameter `file_name` when calling `add_item_lowstock_code_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_lowstock_code_id' in params:
            path_params['itemLowstockCodeId'] = params['item_lowstock_code_id']  # noqa: E501
        if 'file_name' in params:
            path_params['fileName'] = params['file_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemLowstockCode/{itemLowstockCodeId}/file/{fileName}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_item_lowstock_code_file_by_url(self, body, item_lowstock_code_id, **kwargs):  # noqa: E501
        """Attach a file to an itemLowstockCode by URL.  # noqa: E501

        Adds a file to an existing itemLowstockCode by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_lowstock_code_file_by_url(body, item_lowstock_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int item_lowstock_code_id: Id of the itemLowstockCode to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_item_lowstock_code_file_by_url_with_http_info(body, item_lowstock_code_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_item_lowstock_code_file_by_url_with_http_info(body, item_lowstock_code_id, **kwargs)  # noqa: E501
            return data

    def add_item_lowstock_code_file_by_url_with_http_info(self, body, item_lowstock_code_id, **kwargs):  # noqa: E501
        """Attach a file to an itemLowstockCode by URL.  # noqa: E501

        Adds a file to an existing itemLowstockCode by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_lowstock_code_file_by_url_with_http_info(body, item_lowstock_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int item_lowstock_code_id: Id of the itemLowstockCode to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'item_lowstock_code_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_item_lowstock_code_file_by_url" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_item_lowstock_code_file_by_url`")  # noqa: E501
        # verify the required parameter 'item_lowstock_code_id' is set
        if ('item_lowstock_code_id' not in params or
                params['item_lowstock_code_id'] is None):
            raise ValueError("Missing the required parameter `item_lowstock_code_id` when calling `add_item_lowstock_code_file_by_url`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_lowstock_code_id' in params:
            path_params['itemLowstockCodeId'] = params['item_lowstock_code_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemLowstockCode/{itemLowstockCodeId}/file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_item_lowstock_code_tag(self, item_lowstock_code_id, item_lowstock_code_tag, **kwargs):  # noqa: E501
        """Add new tags for an itemLowstockCode.  # noqa: E501

        Adds a tag to an existing itemLowstockCode.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_lowstock_code_tag(item_lowstock_code_id, item_lowstock_code_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to add a tag to (required)
        :param str item_lowstock_code_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_item_lowstock_code_tag_with_http_info(item_lowstock_code_id, item_lowstock_code_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_item_lowstock_code_tag_with_http_info(item_lowstock_code_id, item_lowstock_code_tag, **kwargs)  # noqa: E501
            return data

    def add_item_lowstock_code_tag_with_http_info(self, item_lowstock_code_id, item_lowstock_code_tag, **kwargs):  # noqa: E501
        """Add new tags for an itemLowstockCode.  # noqa: E501

        Adds a tag to an existing itemLowstockCode.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_item_lowstock_code_tag_with_http_info(item_lowstock_code_id, item_lowstock_code_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to add a tag to (required)
        :param str item_lowstock_code_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_lowstock_code_id', 'item_lowstock_code_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_item_lowstock_code_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_lowstock_code_id' is set
        if ('item_lowstock_code_id' not in params or
                params['item_lowstock_code_id'] is None):
            raise ValueError("Missing the required parameter `item_lowstock_code_id` when calling `add_item_lowstock_code_tag`")  # noqa: E501
        # verify the required parameter 'item_lowstock_code_tag' is set
        if ('item_lowstock_code_tag' not in params or
                params['item_lowstock_code_tag'] is None):
            raise ValueError("Missing the required parameter `item_lowstock_code_tag` when calling `add_item_lowstock_code_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_lowstock_code_id' in params:
            path_params['itemLowstockCodeId'] = params['item_lowstock_code_id']  # noqa: E501
        if 'item_lowstock_code_tag' in params:
            path_params['itemLowstockCodeTag'] = params['item_lowstock_code_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemLowstockCode/{itemLowstockCodeId}/tag/{itemLowstockCodeTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_item_lowstock_code(self, item_lowstock_code_id, **kwargs):  # noqa: E501
        """Delete an itemLowstockCode  # noqa: E501

        Deletes the itemLowstockCode identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_item_lowstock_code(item_lowstock_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_item_lowstock_code_with_http_info(item_lowstock_code_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_item_lowstock_code_with_http_info(item_lowstock_code_id, **kwargs)  # noqa: E501
            return data

    def delete_item_lowstock_code_with_http_info(self, item_lowstock_code_id, **kwargs):  # noqa: E501
        """Delete an itemLowstockCode  # noqa: E501

        Deletes the itemLowstockCode identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_item_lowstock_code_with_http_info(item_lowstock_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_lowstock_code_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_item_lowstock_code" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_lowstock_code_id' is set
        if ('item_lowstock_code_id' not in params or
                params['item_lowstock_code_id'] is None):
            raise ValueError("Missing the required parameter `item_lowstock_code_id` when calling `delete_item_lowstock_code`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_lowstock_code_id' in params:
            path_params['itemLowstockCodeId'] = params['item_lowstock_code_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemLowstockCode/{itemLowstockCodeId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_item_lowstock_code_file(self, item_lowstock_code_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for an itemLowstockCode.  # noqa: E501

        Deletes an existing itemLowstockCode file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_item_lowstock_code_file(item_lowstock_code_id, file_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_item_lowstock_code_file_with_http_info(item_lowstock_code_id, file_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_item_lowstock_code_file_with_http_info(item_lowstock_code_id, file_id, **kwargs)  # noqa: E501
            return data

    def delete_item_lowstock_code_file_with_http_info(self, item_lowstock_code_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for an itemLowstockCode.  # noqa: E501

        Deletes an existing itemLowstockCode file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_item_lowstock_code_file_with_http_info(item_lowstock_code_id, file_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_lowstock_code_id', 'file_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_item_lowstock_code_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_lowstock_code_id' is set
        if ('item_lowstock_code_id' not in params or
                params['item_lowstock_code_id'] is None):
            raise ValueError("Missing the required parameter `item_lowstock_code_id` when calling `delete_item_lowstock_code_file`")  # noqa: E501
        # verify the required parameter 'file_id' is set
        if ('file_id' not in params or
                params['file_id'] is None):
            raise ValueError("Missing the required parameter `file_id` when calling `delete_item_lowstock_code_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_lowstock_code_id' in params:
            path_params['itemLowstockCodeId'] = params['item_lowstock_code_id']  # noqa: E501
        if 'file_id' in params:
            path_params['fileId'] = params['file_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemLowstockCode/{itemLowstockCodeId}/file/{fileId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_item_lowstock_code_tag(self, item_lowstock_code_id, item_lowstock_code_tag, **kwargs):  # noqa: E501
        """Delete a tag for an itemLowstockCode.  # noqa: E501

        Deletes an existing itemLowstockCode tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_item_lowstock_code_tag(item_lowstock_code_id, item_lowstock_code_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to remove tag from (required)
        :param str item_lowstock_code_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_item_lowstock_code_tag_with_http_info(item_lowstock_code_id, item_lowstock_code_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_item_lowstock_code_tag_with_http_info(item_lowstock_code_id, item_lowstock_code_tag, **kwargs)  # noqa: E501
            return data

    def delete_item_lowstock_code_tag_with_http_info(self, item_lowstock_code_id, item_lowstock_code_tag, **kwargs):  # noqa: E501
        """Delete a tag for an itemLowstockCode.  # noqa: E501

        Deletes an existing itemLowstockCode tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_item_lowstock_code_tag_with_http_info(item_lowstock_code_id, item_lowstock_code_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to remove tag from (required)
        :param str item_lowstock_code_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_lowstock_code_id', 'item_lowstock_code_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_item_lowstock_code_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_lowstock_code_id' is set
        if ('item_lowstock_code_id' not in params or
                params['item_lowstock_code_id'] is None):
            raise ValueError("Missing the required parameter `item_lowstock_code_id` when calling `delete_item_lowstock_code_tag`")  # noqa: E501
        # verify the required parameter 'item_lowstock_code_tag' is set
        if ('item_lowstock_code_tag' not in params or
                params['item_lowstock_code_tag'] is None):
            raise ValueError("Missing the required parameter `item_lowstock_code_tag` when calling `delete_item_lowstock_code_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_lowstock_code_id' in params:
            path_params['itemLowstockCodeId'] = params['item_lowstock_code_id']  # noqa: E501
        if 'item_lowstock_code_tag' in params:
            path_params['itemLowstockCodeTag'] = params['item_lowstock_code_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemLowstockCode/{itemLowstockCodeId}/tag/{itemLowstockCodeTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_item_lowstock_code_by_id(self, item_lowstock_code_id, **kwargs):  # noqa: E501
        """Get a duplicated an itemLowstockCode by id  # noqa: E501

        Returns a duplicated itemLowstockCode identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_item_lowstock_code_by_id(item_lowstock_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to be duplicated. (required)
        :return: ItemLowstockCode
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_duplicate_item_lowstock_code_by_id_with_http_info(item_lowstock_code_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_item_lowstock_code_by_id_with_http_info(item_lowstock_code_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_item_lowstock_code_by_id_with_http_info(self, item_lowstock_code_id, **kwargs):  # noqa: E501
        """Get a duplicated an itemLowstockCode by id  # noqa: E501

        Returns a duplicated itemLowstockCode identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_item_lowstock_code_by_id_with_http_info(item_lowstock_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to be duplicated. (required)
        :return: ItemLowstockCode
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_lowstock_code_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_item_lowstock_code_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_lowstock_code_id' is set
        if ('item_lowstock_code_id' not in params or
                params['item_lowstock_code_id'] is None):
            raise ValueError("Missing the required parameter `item_lowstock_code_id` when calling `get_duplicate_item_lowstock_code_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_lowstock_code_id' in params:
            path_params['itemLowstockCodeId'] = params['item_lowstock_code_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemLowstockCode/duplicate/{itemLowstockCodeId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ItemLowstockCode',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_item_lowstock_code_by_filter(self, **kwargs):  # noqa: E501
        """Search itemLowstockCodes by filter  # noqa: E501

        Returns the list of itemLowstockCodes that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_lowstock_code_by_filter(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ItemLowstockCode]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_item_lowstock_code_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_item_lowstock_code_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_item_lowstock_code_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search itemLowstockCodes by filter  # noqa: E501

        Returns the list of itemLowstockCodes that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_lowstock_code_by_filter_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ItemLowstockCode]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_item_lowstock_code_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemLowstockCode/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ItemLowstockCode]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_item_lowstock_code_by_id(self, item_lowstock_code_id, **kwargs):  # noqa: E501
        """Get an itemLowstockCode by id  # noqa: E501

        Returns the itemLowstockCode identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_lowstock_code_by_id(item_lowstock_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to be returned. (required)
        :return: ItemLowstockCode
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_item_lowstock_code_by_id_with_http_info(item_lowstock_code_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_item_lowstock_code_by_id_with_http_info(item_lowstock_code_id, **kwargs)  # noqa: E501
            return data

    def get_item_lowstock_code_by_id_with_http_info(self, item_lowstock_code_id, **kwargs):  # noqa: E501
        """Get an itemLowstockCode by id  # noqa: E501

        Returns the itemLowstockCode identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_lowstock_code_by_id_with_http_info(item_lowstock_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to be returned. (required)
        :return: ItemLowstockCode
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_lowstock_code_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_item_lowstock_code_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_lowstock_code_id' is set
        if ('item_lowstock_code_id' not in params or
                params['item_lowstock_code_id'] is None):
            raise ValueError("Missing the required parameter `item_lowstock_code_id` when calling `get_item_lowstock_code_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_lowstock_code_id' in params:
            path_params['itemLowstockCodeId'] = params['item_lowstock_code_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemLowstockCode/{itemLowstockCodeId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ItemLowstockCode',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_item_lowstock_code_files(self, item_lowstock_code_id, **kwargs):  # noqa: E501
        """Get the files for an itemLowstockCode.  # noqa: E501

        Get all existing itemLowstockCode files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_lowstock_code_files(item_lowstock_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_item_lowstock_code_files_with_http_info(item_lowstock_code_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_item_lowstock_code_files_with_http_info(item_lowstock_code_id, **kwargs)  # noqa: E501
            return data

    def get_item_lowstock_code_files_with_http_info(self, item_lowstock_code_id, **kwargs):  # noqa: E501
        """Get the files for an itemLowstockCode.  # noqa: E501

        Get all existing itemLowstockCode files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_lowstock_code_files_with_http_info(item_lowstock_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_lowstock_code_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_item_lowstock_code_files" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_lowstock_code_id' is set
        if ('item_lowstock_code_id' not in params or
                params['item_lowstock_code_id'] is None):
            raise ValueError("Missing the required parameter `item_lowstock_code_id` when calling `get_item_lowstock_code_files`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_lowstock_code_id' in params:
            path_params['itemLowstockCodeId'] = params['item_lowstock_code_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemLowstockCode/{itemLowstockCodeId}/file', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_item_lowstock_code_tags(self, item_lowstock_code_id, **kwargs):  # noqa: E501
        """Get the tags for an itemLowstockCode.  # noqa: E501

        Get all existing itemLowstockCode tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_lowstock_code_tags(item_lowstock_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_item_lowstock_code_tags_with_http_info(item_lowstock_code_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_item_lowstock_code_tags_with_http_info(item_lowstock_code_id, **kwargs)  # noqa: E501
            return data

    def get_item_lowstock_code_tags_with_http_info(self, item_lowstock_code_id, **kwargs):  # noqa: E501
        """Get the tags for an itemLowstockCode.  # noqa: E501

        Get all existing itemLowstockCode tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_item_lowstock_code_tags_with_http_info(item_lowstock_code_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int item_lowstock_code_id: Id of the itemLowstockCode to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_lowstock_code_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_item_lowstock_code_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_lowstock_code_id' is set
        if ('item_lowstock_code_id' not in params or
                params['item_lowstock_code_id'] is None):
            raise ValueError("Missing the required parameter `item_lowstock_code_id` when calling `get_item_lowstock_code_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'item_lowstock_code_id' in params:
            path_params['itemLowstockCodeId'] = params['item_lowstock_code_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemLowstockCode/{itemLowstockCodeId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_item_lowstock_code(self, body, **kwargs):  # noqa: E501
        """Update an itemLowstockCode  # noqa: E501

        Updates an existing itemLowstockCode using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_item_lowstock_code(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ItemLowstockCode body: ItemLowstockCode to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_item_lowstock_code_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_item_lowstock_code_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_item_lowstock_code_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update an itemLowstockCode  # noqa: E501

        Updates an existing itemLowstockCode using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_item_lowstock_code_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ItemLowstockCode body: ItemLowstockCode to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_item_lowstock_code" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_item_lowstock_code`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/itemLowstockCode', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
