# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class LegacyLowstockContactApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_legacy_lowstock_contact(self, body, **kwargs):  # noqa: E501
        """Create a legacyLowstockContact  # noqa: E501

        Inserts a new legacyLowstockContact using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_legacy_lowstock_contact(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param LegacyLowstockContact body: LegacyLowstockContact to be inserted. (required)
        :return: LegacyLowstockContact
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_legacy_lowstock_contact_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_legacy_lowstock_contact_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_legacy_lowstock_contact_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a legacyLowstockContact  # noqa: E501

        Inserts a new legacyLowstockContact using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_legacy_lowstock_contact_with_http_info(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param LegacyLowstockContact body: LegacyLowstockContact to be inserted. (required)
        :return: LegacyLowstockContact
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_legacy_lowstock_contact" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_legacy_lowstock_contact`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/legacyLowstockContact', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LegacyLowstockContact',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_legacy_lowstock_contact_audit(self, legacy_lowstock_contact_id, legacy_lowstock_contact_audit, **kwargs):  # noqa: E501
        """Add new audit for a legacyLowstockContact  # noqa: E501

        Adds an audit to an existing legacyLowstockContact.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_legacy_lowstock_contact_audit(legacy_lowstock_contact_id, legacy_lowstock_contact_audit, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to add an audit to (required)
        :param str legacy_lowstock_contact_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_legacy_lowstock_contact_audit_with_http_info(legacy_lowstock_contact_id, legacy_lowstock_contact_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_legacy_lowstock_contact_audit_with_http_info(legacy_lowstock_contact_id, legacy_lowstock_contact_audit, **kwargs)  # noqa: E501
            return data

    def add_legacy_lowstock_contact_audit_with_http_info(self, legacy_lowstock_contact_id, legacy_lowstock_contact_audit, **kwargs):  # noqa: E501
        """Add new audit for a legacyLowstockContact  # noqa: E501

        Adds an audit to an existing legacyLowstockContact.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_legacy_lowstock_contact_audit_with_http_info(legacy_lowstock_contact_id, legacy_lowstock_contact_audit, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to add an audit to (required)
        :param str legacy_lowstock_contact_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['legacy_lowstock_contact_id', 'legacy_lowstock_contact_audit']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_legacy_lowstock_contact_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'legacy_lowstock_contact_id' is set
        if ('legacy_lowstock_contact_id' not in params or
                params['legacy_lowstock_contact_id'] is None):
            raise ValueError("Missing the required parameter `legacy_lowstock_contact_id` when calling `add_legacy_lowstock_contact_audit`")  # noqa: E501
        # verify the required parameter 'legacy_lowstock_contact_audit' is set
        if ('legacy_lowstock_contact_audit' not in params or
                params['legacy_lowstock_contact_audit'] is None):
            raise ValueError("Missing the required parameter `legacy_lowstock_contact_audit` when calling `add_legacy_lowstock_contact_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'legacy_lowstock_contact_id' in params:
            path_params['legacyLowstockContactId'] = params['legacy_lowstock_contact_id']  # noqa: E501
        if 'legacy_lowstock_contact_audit' in params:
            path_params['legacyLowstockContactAudit'] = params['legacy_lowstock_contact_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/legacyLowstockContact/{legacyLowstockContactId}/audit/{legacyLowstockContactAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_legacy_lowstock_contact_file(self, legacy_lowstock_contact_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a legacyLowstockContact  # noqa: E501

        Adds a file to an existing legacyLowstockContact.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_legacy_lowstock_contact_file(legacy_lowstock_contact_id, file_name, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_legacy_lowstock_contact_file_with_http_info(legacy_lowstock_contact_id, file_name, **kwargs)  # noqa: E501
        else:
            (data) = self.add_legacy_lowstock_contact_file_with_http_info(legacy_lowstock_contact_id, file_name, **kwargs)  # noqa: E501
            return data

    def add_legacy_lowstock_contact_file_with_http_info(self, legacy_lowstock_contact_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a legacyLowstockContact  # noqa: E501

        Adds a file to an existing legacyLowstockContact.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_legacy_lowstock_contact_file_with_http_info(legacy_lowstock_contact_id, file_name, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['legacy_lowstock_contact_id', 'file_name']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_legacy_lowstock_contact_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'legacy_lowstock_contact_id' is set
        if ('legacy_lowstock_contact_id' not in params or
                params['legacy_lowstock_contact_id'] is None):
            raise ValueError("Missing the required parameter `legacy_lowstock_contact_id` when calling `add_legacy_lowstock_contact_file`")  # noqa: E501
        # verify the required parameter 'file_name' is set
        if ('file_name' not in params or
                params['file_name'] is None):
            raise ValueError("Missing the required parameter `file_name` when calling `add_legacy_lowstock_contact_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'legacy_lowstock_contact_id' in params:
            path_params['legacyLowstockContactId'] = params['legacy_lowstock_contact_id']  # noqa: E501
        if 'file_name' in params:
            path_params['fileName'] = params['file_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/legacyLowstockContact/{legacyLowstockContactId}/file/{fileName}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_legacy_lowstock_contact_file_by_url(self, body, legacy_lowstock_contact_id, **kwargs):  # noqa: E501
        """Attach a file to a legacyLowstockContact by URL.  # noqa: E501

        Adds a file to an existing legacyLowstockContact by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_legacy_lowstock_contact_file_by_url(body, legacy_lowstock_contact_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_legacy_lowstock_contact_file_by_url_with_http_info(body, legacy_lowstock_contact_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_legacy_lowstock_contact_file_by_url_with_http_info(body, legacy_lowstock_contact_id, **kwargs)  # noqa: E501
            return data

    def add_legacy_lowstock_contact_file_by_url_with_http_info(self, body, legacy_lowstock_contact_id, **kwargs):  # noqa: E501
        """Attach a file to a legacyLowstockContact by URL.  # noqa: E501

        Adds a file to an existing legacyLowstockContact by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_legacy_lowstock_contact_file_by_url_with_http_info(body, legacy_lowstock_contact_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'legacy_lowstock_contact_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_legacy_lowstock_contact_file_by_url" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_legacy_lowstock_contact_file_by_url`")  # noqa: E501
        # verify the required parameter 'legacy_lowstock_contact_id' is set
        if ('legacy_lowstock_contact_id' not in params or
                params['legacy_lowstock_contact_id'] is None):
            raise ValueError("Missing the required parameter `legacy_lowstock_contact_id` when calling `add_legacy_lowstock_contact_file_by_url`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'legacy_lowstock_contact_id' in params:
            path_params['legacyLowstockContactId'] = params['legacy_lowstock_contact_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/legacyLowstockContact/{legacyLowstockContactId}/file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_legacy_lowstock_contact_tag(self, legacy_lowstock_contact_id, legacy_lowstock_contact_tag, **kwargs):  # noqa: E501
        """Add new tags for a legacyLowstockContact.  # noqa: E501

        Adds a tag to an existing legacyLowstockContact.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_legacy_lowstock_contact_tag(legacy_lowstock_contact_id, legacy_lowstock_contact_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to add a tag to (required)
        :param str legacy_lowstock_contact_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_legacy_lowstock_contact_tag_with_http_info(legacy_lowstock_contact_id, legacy_lowstock_contact_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_legacy_lowstock_contact_tag_with_http_info(legacy_lowstock_contact_id, legacy_lowstock_contact_tag, **kwargs)  # noqa: E501
            return data

    def add_legacy_lowstock_contact_tag_with_http_info(self, legacy_lowstock_contact_id, legacy_lowstock_contact_tag, **kwargs):  # noqa: E501
        """Add new tags for a legacyLowstockContact.  # noqa: E501

        Adds a tag to an existing legacyLowstockContact.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_legacy_lowstock_contact_tag_with_http_info(legacy_lowstock_contact_id, legacy_lowstock_contact_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to add a tag to (required)
        :param str legacy_lowstock_contact_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['legacy_lowstock_contact_id', 'legacy_lowstock_contact_tag']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_legacy_lowstock_contact_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'legacy_lowstock_contact_id' is set
        if ('legacy_lowstock_contact_id' not in params or
                params['legacy_lowstock_contact_id'] is None):
            raise ValueError("Missing the required parameter `legacy_lowstock_contact_id` when calling `add_legacy_lowstock_contact_tag`")  # noqa: E501
        # verify the required parameter 'legacy_lowstock_contact_tag' is set
        if ('legacy_lowstock_contact_tag' not in params or
                params['legacy_lowstock_contact_tag'] is None):
            raise ValueError("Missing the required parameter `legacy_lowstock_contact_tag` when calling `add_legacy_lowstock_contact_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'legacy_lowstock_contact_id' in params:
            path_params['legacyLowstockContactId'] = params['legacy_lowstock_contact_id']  # noqa: E501
        if 'legacy_lowstock_contact_tag' in params:
            path_params['legacyLowstockContactTag'] = params['legacy_lowstock_contact_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/legacyLowstockContact/{legacyLowstockContactId}/tag/{legacyLowstockContactTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_legacy_lowstock_contact(self, legacy_lowstock_contact_id, **kwargs):  # noqa: E501
        """Delete a legacyLowstockContact  # noqa: E501

        Deletes the legacyLowstockContact identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_legacy_lowstock_contact(legacy_lowstock_contact_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.delete_legacy_lowstock_contact_with_http_info(legacy_lowstock_contact_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_legacy_lowstock_contact_with_http_info(legacy_lowstock_contact_id, **kwargs)  # noqa: E501
            return data

    def delete_legacy_lowstock_contact_with_http_info(self, legacy_lowstock_contact_id, **kwargs):  # noqa: E501
        """Delete a legacyLowstockContact  # noqa: E501

        Deletes the legacyLowstockContact identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_legacy_lowstock_contact_with_http_info(legacy_lowstock_contact_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['legacy_lowstock_contact_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_legacy_lowstock_contact" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'legacy_lowstock_contact_id' is set
        if ('legacy_lowstock_contact_id' not in params or
                params['legacy_lowstock_contact_id'] is None):
            raise ValueError("Missing the required parameter `legacy_lowstock_contact_id` when calling `delete_legacy_lowstock_contact`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'legacy_lowstock_contact_id' in params:
            path_params['legacyLowstockContactId'] = params['legacy_lowstock_contact_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/legacyLowstockContact/{legacyLowstockContactId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_legacy_lowstock_contact_file(self, legacy_lowstock_contact_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a legacyLowstockContact.  # noqa: E501

        Deletes an existing legacyLowstockContact file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_legacy_lowstock_contact_file(legacy_lowstock_contact_id, file_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.delete_legacy_lowstock_contact_file_with_http_info(legacy_lowstock_contact_id, file_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_legacy_lowstock_contact_file_with_http_info(legacy_lowstock_contact_id, file_id, **kwargs)  # noqa: E501
            return data

    def delete_legacy_lowstock_contact_file_with_http_info(self, legacy_lowstock_contact_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a legacyLowstockContact.  # noqa: E501

        Deletes an existing legacyLowstockContact file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_legacy_lowstock_contact_file_with_http_info(legacy_lowstock_contact_id, file_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['legacy_lowstock_contact_id', 'file_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_legacy_lowstock_contact_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'legacy_lowstock_contact_id' is set
        if ('legacy_lowstock_contact_id' not in params or
                params['legacy_lowstock_contact_id'] is None):
            raise ValueError("Missing the required parameter `legacy_lowstock_contact_id` when calling `delete_legacy_lowstock_contact_file`")  # noqa: E501
        # verify the required parameter 'file_id' is set
        if ('file_id' not in params or
                params['file_id'] is None):
            raise ValueError("Missing the required parameter `file_id` when calling `delete_legacy_lowstock_contact_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'legacy_lowstock_contact_id' in params:
            path_params['legacyLowstockContactId'] = params['legacy_lowstock_contact_id']  # noqa: E501
        if 'file_id' in params:
            path_params['fileId'] = params['file_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/legacyLowstockContact/{legacyLowstockContactId}/file/{fileId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_legacy_lowstock_contact_tag(self, legacy_lowstock_contact_id, legacy_lowstock_contact_tag, **kwargs):  # noqa: E501
        """Delete a tag for a legacyLowstockContact.  # noqa: E501

        Deletes an existing legacyLowstockContact tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_legacy_lowstock_contact_tag(legacy_lowstock_contact_id, legacy_lowstock_contact_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to remove tag from (required)
        :param str legacy_lowstock_contact_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.delete_legacy_lowstock_contact_tag_with_http_info(legacy_lowstock_contact_id, legacy_lowstock_contact_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_legacy_lowstock_contact_tag_with_http_info(legacy_lowstock_contact_id, legacy_lowstock_contact_tag, **kwargs)  # noqa: E501
            return data

    def delete_legacy_lowstock_contact_tag_with_http_info(self, legacy_lowstock_contact_id, legacy_lowstock_contact_tag, **kwargs):  # noqa: E501
        """Delete a tag for a legacyLowstockContact.  # noqa: E501

        Deletes an existing legacyLowstockContact tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_legacy_lowstock_contact_tag_with_http_info(legacy_lowstock_contact_id, legacy_lowstock_contact_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to remove tag from (required)
        :param str legacy_lowstock_contact_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['legacy_lowstock_contact_id', 'legacy_lowstock_contact_tag']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_legacy_lowstock_contact_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'legacy_lowstock_contact_id' is set
        if ('legacy_lowstock_contact_id' not in params or
                params['legacy_lowstock_contact_id'] is None):
            raise ValueError("Missing the required parameter `legacy_lowstock_contact_id` when calling `delete_legacy_lowstock_contact_tag`")  # noqa: E501
        # verify the required parameter 'legacy_lowstock_contact_tag' is set
        if ('legacy_lowstock_contact_tag' not in params or
                params['legacy_lowstock_contact_tag'] is None):
            raise ValueError("Missing the required parameter `legacy_lowstock_contact_tag` when calling `delete_legacy_lowstock_contact_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'legacy_lowstock_contact_id' in params:
            path_params['legacyLowstockContactId'] = params['legacy_lowstock_contact_id']  # noqa: E501
        if 'legacy_lowstock_contact_tag' in params:
            path_params['legacyLowstockContactTag'] = params['legacy_lowstock_contact_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/legacyLowstockContact/{legacyLowstockContactId}/tag/{legacyLowstockContactTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_legacy_lowstock_contact_by_id(self, legacy_lowstock_contact_id, **kwargs):  # noqa: E501
        """Get a duplicated a legacyLowstockContact by id  # noqa: E501

        Returns a duplicated legacyLowstockContact identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_duplicate_legacy_lowstock_contact_by_id(legacy_lowstock_contact_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to be duplicated. (required)
        :return: LegacyLowstockContact
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_duplicate_legacy_lowstock_contact_by_id_with_http_info(legacy_lowstock_contact_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_legacy_lowstock_contact_by_id_with_http_info(legacy_lowstock_contact_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_legacy_lowstock_contact_by_id_with_http_info(self, legacy_lowstock_contact_id, **kwargs):  # noqa: E501
        """Get a duplicated a legacyLowstockContact by id  # noqa: E501

        Returns a duplicated legacyLowstockContact identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_duplicate_legacy_lowstock_contact_by_id_with_http_info(legacy_lowstock_contact_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to be duplicated. (required)
        :return: LegacyLowstockContact
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['legacy_lowstock_contact_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_legacy_lowstock_contact_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'legacy_lowstock_contact_id' is set
        if ('legacy_lowstock_contact_id' not in params or
                params['legacy_lowstock_contact_id'] is None):
            raise ValueError("Missing the required parameter `legacy_lowstock_contact_id` when calling `get_duplicate_legacy_lowstock_contact_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'legacy_lowstock_contact_id' in params:
            path_params['legacyLowstockContactId'] = params['legacy_lowstock_contact_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/legacyLowstockContact/duplicate/{legacyLowstockContactId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LegacyLowstockContact',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_legacy_lowstock_contact_by_filter(self, **kwargs):  # noqa: E501
        """Search legacyLowstockContacts by filter  # noqa: E501

        Returns the list of legacyLowstockContacts that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_legacy_lowstock_contact_by_filter(_async=True)
        >>> result = thread.get()

        :param _async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[LegacyLowstockContact]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_legacy_lowstock_contact_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_legacy_lowstock_contact_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_legacy_lowstock_contact_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search legacyLowstockContacts by filter  # noqa: E501

        Returns the list of legacyLowstockContacts that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_legacy_lowstock_contact_by_filter_with_http_info(_async=True)
        >>> result = thread.get()

        :param _async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[LegacyLowstockContact]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_legacy_lowstock_contact_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/legacyLowstockContact/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[LegacyLowstockContact]',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_legacy_lowstock_contact_by_id(self, legacy_lowstock_contact_id, **kwargs):  # noqa: E501
        """Get a legacyLowstockContact by id  # noqa: E501

        Returns the legacyLowstockContact identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_legacy_lowstock_contact_by_id(legacy_lowstock_contact_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to be returned. (required)
        :return: LegacyLowstockContact
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_legacy_lowstock_contact_by_id_with_http_info(legacy_lowstock_contact_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_legacy_lowstock_contact_by_id_with_http_info(legacy_lowstock_contact_id, **kwargs)  # noqa: E501
            return data

    def get_legacy_lowstock_contact_by_id_with_http_info(self, legacy_lowstock_contact_id, **kwargs):  # noqa: E501
        """Get a legacyLowstockContact by id  # noqa: E501

        Returns the legacyLowstockContact identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_legacy_lowstock_contact_by_id_with_http_info(legacy_lowstock_contact_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to be returned. (required)
        :return: LegacyLowstockContact
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['legacy_lowstock_contact_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_legacy_lowstock_contact_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'legacy_lowstock_contact_id' is set
        if ('legacy_lowstock_contact_id' not in params or
                params['legacy_lowstock_contact_id'] is None):
            raise ValueError("Missing the required parameter `legacy_lowstock_contact_id` when calling `get_legacy_lowstock_contact_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'legacy_lowstock_contact_id' in params:
            path_params['legacyLowstockContactId'] = params['legacy_lowstock_contact_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/legacyLowstockContact/{legacyLowstockContactId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LegacyLowstockContact',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_legacy_lowstock_contact_files(self, legacy_lowstock_contact_id, **kwargs):  # noqa: E501
        """Get the files for a legacyLowstockContact.  # noqa: E501

        Get all existing legacyLowstockContact files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_legacy_lowstock_contact_files(legacy_lowstock_contact_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_legacy_lowstock_contact_files_with_http_info(legacy_lowstock_contact_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_legacy_lowstock_contact_files_with_http_info(legacy_lowstock_contact_id, **kwargs)  # noqa: E501
            return data

    def get_legacy_lowstock_contact_files_with_http_info(self, legacy_lowstock_contact_id, **kwargs):  # noqa: E501
        """Get the files for a legacyLowstockContact.  # noqa: E501

        Get all existing legacyLowstockContact files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_legacy_lowstock_contact_files_with_http_info(legacy_lowstock_contact_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['legacy_lowstock_contact_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_legacy_lowstock_contact_files" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'legacy_lowstock_contact_id' is set
        if ('legacy_lowstock_contact_id' not in params or
                params['legacy_lowstock_contact_id'] is None):
            raise ValueError("Missing the required parameter `legacy_lowstock_contact_id` when calling `get_legacy_lowstock_contact_files`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'legacy_lowstock_contact_id' in params:
            path_params['legacyLowstockContactId'] = params['legacy_lowstock_contact_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/legacyLowstockContact/{legacyLowstockContactId}/file', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_legacy_lowstock_contact_tags(self, legacy_lowstock_contact_id, **kwargs):  # noqa: E501
        """Get the tags for a legacyLowstockContact.  # noqa: E501

        Get all existing legacyLowstockContact tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_legacy_lowstock_contact_tags(legacy_lowstock_contact_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_legacy_lowstock_contact_tags_with_http_info(legacy_lowstock_contact_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_legacy_lowstock_contact_tags_with_http_info(legacy_lowstock_contact_id, **kwargs)  # noqa: E501
            return data

    def get_legacy_lowstock_contact_tags_with_http_info(self, legacy_lowstock_contact_id, **kwargs):  # noqa: E501
        """Get the tags for a legacyLowstockContact.  # noqa: E501

        Get all existing legacyLowstockContact tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_legacy_lowstock_contact_tags_with_http_info(legacy_lowstock_contact_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int legacy_lowstock_contact_id: Id of the legacyLowstockContact to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['legacy_lowstock_contact_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_legacy_lowstock_contact_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'legacy_lowstock_contact_id' is set
        if ('legacy_lowstock_contact_id' not in params or
                params['legacy_lowstock_contact_id'] is None):
            raise ValueError("Missing the required parameter `legacy_lowstock_contact_id` when calling `get_legacy_lowstock_contact_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'legacy_lowstock_contact_id' in params:
            path_params['legacyLowstockContactId'] = params['legacy_lowstock_contact_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/legacyLowstockContact/{legacyLowstockContactId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_legacy_lowstock_contact(self, body, **kwargs):  # noqa: E501
        """Update a legacyLowstockContact  # noqa: E501

        Updates an existing legacyLowstockContact using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.update_legacy_lowstock_contact(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param LegacyLowstockContact body: LegacyLowstockContact to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.update_legacy_lowstock_contact_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_legacy_lowstock_contact_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_legacy_lowstock_contact_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a legacyLowstockContact  # noqa: E501

        Updates an existing legacyLowstockContact using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.update_legacy_lowstock_contact_with_http_info(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param LegacyLowstockContact body: LegacyLowstockContact to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_legacy_lowstock_contact" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_legacy_lowstock_contact`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/legacyLowstockContact', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
