# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class LocationAddressSchemeApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_location_address_scheme(self, body, **kwargs):  # noqa: E501
        """Create a locationAddressScheme  # noqa: E501

        Inserts a new locationAddressScheme using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_location_address_scheme(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param LocationAddressScheme body: LocationAddressScheme to be inserted. (required)
        :return: LocationAddressScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_location_address_scheme_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_location_address_scheme_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_location_address_scheme_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a locationAddressScheme  # noqa: E501

        Inserts a new locationAddressScheme using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_location_address_scheme_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param LocationAddressScheme body: LocationAddressScheme to be inserted. (required)
        :return: LocationAddressScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_location_address_scheme" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_location_address_scheme`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/locationAddressScheme', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LocationAddressScheme',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_location_address_scheme_audit(self, location_address_scheme_id, location_address_scheme_audit, **kwargs):  # noqa: E501
        """Add new audit for a locationAddressScheme  # noqa: E501

        Adds an audit to an existing locationAddressScheme.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_location_address_scheme_audit(location_address_scheme_id, location_address_scheme_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to add an audit to (required)
        :param str location_address_scheme_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_location_address_scheme_audit_with_http_info(location_address_scheme_id, location_address_scheme_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_location_address_scheme_audit_with_http_info(location_address_scheme_id, location_address_scheme_audit, **kwargs)  # noqa: E501
            return data

    def add_location_address_scheme_audit_with_http_info(self, location_address_scheme_id, location_address_scheme_audit, **kwargs):  # noqa: E501
        """Add new audit for a locationAddressScheme  # noqa: E501

        Adds an audit to an existing locationAddressScheme.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_location_address_scheme_audit_with_http_info(location_address_scheme_id, location_address_scheme_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to add an audit to (required)
        :param str location_address_scheme_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id', 'location_address_scheme_audit']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_location_address_scheme_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params or
                params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `add_location_address_scheme_audit`")  # noqa: E501
        # verify the required parameter 'location_address_scheme_audit' is set
        if ('location_address_scheme_audit' not in params or
                params['location_address_scheme_audit'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_audit` when calling `add_location_address_scheme_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']  # noqa: E501
        if 'location_address_scheme_audit' in params:
            path_params['locationAddressSchemeAudit'] = params['location_address_scheme_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/locationAddressScheme/{locationAddressSchemeId}/audit/{locationAddressSchemeAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_location_address_scheme_file(self, location_address_scheme_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a locationAddressScheme  # noqa: E501

        Adds a file to an existing locationAddressScheme.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_location_address_scheme_file(location_address_scheme_id, file_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_location_address_scheme_file_with_http_info(location_address_scheme_id, file_name, **kwargs)  # noqa: E501
        else:
            (data) = self.add_location_address_scheme_file_with_http_info(location_address_scheme_id, file_name, **kwargs)  # noqa: E501
            return data

    def add_location_address_scheme_file_with_http_info(self, location_address_scheme_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a locationAddressScheme  # noqa: E501

        Adds a file to an existing locationAddressScheme.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_location_address_scheme_file_with_http_info(location_address_scheme_id, file_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id', 'file_name']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_location_address_scheme_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params or
                params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `add_location_address_scheme_file`")  # noqa: E501
        # verify the required parameter 'file_name' is set
        if ('file_name' not in params or
                params['file_name'] is None):
            raise ValueError("Missing the required parameter `file_name` when calling `add_location_address_scheme_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']  # noqa: E501
        if 'file_name' in params:
            path_params['fileName'] = params['file_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/locationAddressScheme/{locationAddressSchemeId}/file/{fileName}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_location_address_scheme_file_by_url(self, body, location_address_scheme_id, **kwargs):  # noqa: E501
        """Attach a file to a locationAddressScheme by URL.  # noqa: E501

        Adds a file to an existing locationAddressScheme by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_location_address_scheme_file_by_url(body, location_address_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int location_address_scheme_id: Id of the locationAddressScheme to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_location_address_scheme_file_by_url_with_http_info(body, location_address_scheme_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_location_address_scheme_file_by_url_with_http_info(body, location_address_scheme_id, **kwargs)  # noqa: E501
            return data

    def add_location_address_scheme_file_by_url_with_http_info(self, body, location_address_scheme_id, **kwargs):  # noqa: E501
        """Attach a file to a locationAddressScheme by URL.  # noqa: E501

        Adds a file to an existing locationAddressScheme by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_location_address_scheme_file_by_url_with_http_info(body, location_address_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int location_address_scheme_id: Id of the locationAddressScheme to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'location_address_scheme_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_location_address_scheme_file_by_url" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_location_address_scheme_file_by_url`")  # noqa: E501
        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params or
                params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `add_location_address_scheme_file_by_url`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/locationAddressScheme/{locationAddressSchemeId}/file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_location_address_scheme_tag(self, location_address_scheme_id, location_address_scheme_tag, **kwargs):  # noqa: E501
        """Add new tags for a locationAddressScheme.  # noqa: E501

        Adds a tag to an existing locationAddressScheme.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_location_address_scheme_tag(location_address_scheme_id, location_address_scheme_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to add a tag to (required)
        :param str location_address_scheme_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_location_address_scheme_tag_with_http_info(location_address_scheme_id, location_address_scheme_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_location_address_scheme_tag_with_http_info(location_address_scheme_id, location_address_scheme_tag, **kwargs)  # noqa: E501
            return data

    def add_location_address_scheme_tag_with_http_info(self, location_address_scheme_id, location_address_scheme_tag, **kwargs):  # noqa: E501
        """Add new tags for a locationAddressScheme.  # noqa: E501

        Adds a tag to an existing locationAddressScheme.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_location_address_scheme_tag_with_http_info(location_address_scheme_id, location_address_scheme_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to add a tag to (required)
        :param str location_address_scheme_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id', 'location_address_scheme_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_location_address_scheme_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params or
                params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `add_location_address_scheme_tag`")  # noqa: E501
        # verify the required parameter 'location_address_scheme_tag' is set
        if ('location_address_scheme_tag' not in params or
                params['location_address_scheme_tag'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_tag` when calling `add_location_address_scheme_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']  # noqa: E501
        if 'location_address_scheme_tag' in params:
            path_params['locationAddressSchemeTag'] = params['location_address_scheme_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/locationAddressScheme/{locationAddressSchemeId}/tag/{locationAddressSchemeTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_location_address_scheme(self, location_address_scheme_id, **kwargs):  # noqa: E501
        """Delete a locationAddressScheme  # noqa: E501

        Deletes the locationAddressScheme identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_location_address_scheme(location_address_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_location_address_scheme_with_http_info(location_address_scheme_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_location_address_scheme_with_http_info(location_address_scheme_id, **kwargs)  # noqa: E501
            return data

    def delete_location_address_scheme_with_http_info(self, location_address_scheme_id, **kwargs):  # noqa: E501
        """Delete a locationAddressScheme  # noqa: E501

        Deletes the locationAddressScheme identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_location_address_scheme_with_http_info(location_address_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_location_address_scheme" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params or
                params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `delete_location_address_scheme`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/locationAddressScheme/{locationAddressSchemeId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_location_address_scheme_file(self, location_address_scheme_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a locationAddressScheme.  # noqa: E501

        Deletes an existing locationAddressScheme file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_location_address_scheme_file(location_address_scheme_id, file_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_location_address_scheme_file_with_http_info(location_address_scheme_id, file_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_location_address_scheme_file_with_http_info(location_address_scheme_id, file_id, **kwargs)  # noqa: E501
            return data

    def delete_location_address_scheme_file_with_http_info(self, location_address_scheme_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a locationAddressScheme.  # noqa: E501

        Deletes an existing locationAddressScheme file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_location_address_scheme_file_with_http_info(location_address_scheme_id, file_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id', 'file_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_location_address_scheme_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params or
                params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `delete_location_address_scheme_file`")  # noqa: E501
        # verify the required parameter 'file_id' is set
        if ('file_id' not in params or
                params['file_id'] is None):
            raise ValueError("Missing the required parameter `file_id` when calling `delete_location_address_scheme_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']  # noqa: E501
        if 'file_id' in params:
            path_params['fileId'] = params['file_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/locationAddressScheme/{locationAddressSchemeId}/file/{fileId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_location_address_scheme_tag(self, location_address_scheme_id, location_address_scheme_tag, **kwargs):  # noqa: E501
        """Delete a tag for a locationAddressScheme.  # noqa: E501

        Deletes an existing locationAddressScheme tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_location_address_scheme_tag(location_address_scheme_id, location_address_scheme_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to remove tag from (required)
        :param str location_address_scheme_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_location_address_scheme_tag_with_http_info(location_address_scheme_id, location_address_scheme_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_location_address_scheme_tag_with_http_info(location_address_scheme_id, location_address_scheme_tag, **kwargs)  # noqa: E501
            return data

    def delete_location_address_scheme_tag_with_http_info(self, location_address_scheme_id, location_address_scheme_tag, **kwargs):  # noqa: E501
        """Delete a tag for a locationAddressScheme.  # noqa: E501

        Deletes an existing locationAddressScheme tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_location_address_scheme_tag_with_http_info(location_address_scheme_id, location_address_scheme_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to remove tag from (required)
        :param str location_address_scheme_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id', 'location_address_scheme_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_location_address_scheme_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params or
                params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `delete_location_address_scheme_tag`")  # noqa: E501
        # verify the required parameter 'location_address_scheme_tag' is set
        if ('location_address_scheme_tag' not in params or
                params['location_address_scheme_tag'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_tag` when calling `delete_location_address_scheme_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']  # noqa: E501
        if 'location_address_scheme_tag' in params:
            path_params['locationAddressSchemeTag'] = params['location_address_scheme_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/locationAddressScheme/{locationAddressSchemeId}/tag/{locationAddressSchemeTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_location_address_scheme_by_id(self, location_address_scheme_id, **kwargs):  # noqa: E501
        """Get a duplicated a locationAddressScheme by id  # noqa: E501

        Returns a duplicated locationAddressScheme identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_location_address_scheme_by_id(location_address_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to be duplicated. (required)
        :return: LocationAddressScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_duplicate_location_address_scheme_by_id_with_http_info(location_address_scheme_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_location_address_scheme_by_id_with_http_info(location_address_scheme_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_location_address_scheme_by_id_with_http_info(self, location_address_scheme_id, **kwargs):  # noqa: E501
        """Get a duplicated a locationAddressScheme by id  # noqa: E501

        Returns a duplicated locationAddressScheme identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_location_address_scheme_by_id_with_http_info(location_address_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to be duplicated. (required)
        :return: LocationAddressScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_location_address_scheme_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params or
                params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `get_duplicate_location_address_scheme_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/locationAddressScheme/duplicate/{locationAddressSchemeId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LocationAddressScheme',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_location_address_scheme_by_filter(self, **kwargs):  # noqa: E501
        """Search locationAddressSchemes by filter  # noqa: E501

        Returns the list of locationAddressSchemes that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_location_address_scheme_by_filter(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[LocationAddressScheme]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_location_address_scheme_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_location_address_scheme_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_location_address_scheme_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search locationAddressSchemes by filter  # noqa: E501

        Returns the list of locationAddressSchemes that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_location_address_scheme_by_filter_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[LocationAddressScheme]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_location_address_scheme_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/locationAddressScheme/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[LocationAddressScheme]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_location_address_scheme_by_id(self, location_address_scheme_id, **kwargs):  # noqa: E501
        """Get a locationAddressScheme by id  # noqa: E501

        Returns the locationAddressScheme identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_location_address_scheme_by_id(location_address_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to be returned. (required)
        :return: LocationAddressScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_location_address_scheme_by_id_with_http_info(location_address_scheme_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_location_address_scheme_by_id_with_http_info(location_address_scheme_id, **kwargs)  # noqa: E501
            return data

    def get_location_address_scheme_by_id_with_http_info(self, location_address_scheme_id, **kwargs):  # noqa: E501
        """Get a locationAddressScheme by id  # noqa: E501

        Returns the locationAddressScheme identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_location_address_scheme_by_id_with_http_info(location_address_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to be returned. (required)
        :return: LocationAddressScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_location_address_scheme_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params or
                params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `get_location_address_scheme_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/locationAddressScheme/{locationAddressSchemeId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LocationAddressScheme',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_location_address_scheme_files(self, location_address_scheme_id, **kwargs):  # noqa: E501
        """Get the files for a locationAddressScheme.  # noqa: E501

        Get all existing locationAddressScheme files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_location_address_scheme_files(location_address_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_location_address_scheme_files_with_http_info(location_address_scheme_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_location_address_scheme_files_with_http_info(location_address_scheme_id, **kwargs)  # noqa: E501
            return data

    def get_location_address_scheme_files_with_http_info(self, location_address_scheme_id, **kwargs):  # noqa: E501
        """Get the files for a locationAddressScheme.  # noqa: E501

        Get all existing locationAddressScheme files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_location_address_scheme_files_with_http_info(location_address_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_location_address_scheme_files" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params or
                params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `get_location_address_scheme_files`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/locationAddressScheme/{locationAddressSchemeId}/file', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_location_address_scheme_tags(self, location_address_scheme_id, **kwargs):  # noqa: E501
        """Get the tags for a locationAddressScheme.  # noqa: E501

        Get all existing locationAddressScheme tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_location_address_scheme_tags(location_address_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_location_address_scheme_tags_with_http_info(location_address_scheme_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_location_address_scheme_tags_with_http_info(location_address_scheme_id, **kwargs)  # noqa: E501
            return data

    def get_location_address_scheme_tags_with_http_info(self, location_address_scheme_id, **kwargs):  # noqa: E501
        """Get the tags for a locationAddressScheme.  # noqa: E501

        Get all existing locationAddressScheme tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_location_address_scheme_tags_with_http_info(location_address_scheme_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int location_address_scheme_id: Id of the locationAddressScheme to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_location_address_scheme_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params or
                params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `get_location_address_scheme_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/locationAddressScheme/{locationAddressSchemeId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_location_address_scheme(self, body, **kwargs):  # noqa: E501
        """Update a locationAddressScheme  # noqa: E501

        Updates an existing locationAddressScheme using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_location_address_scheme(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param LocationAddressScheme body: LocationAddressScheme to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_location_address_scheme_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_location_address_scheme_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_location_address_scheme_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a locationAddressScheme  # noqa: E501

        Updates an existing locationAddressScheme using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_location_address_scheme_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param LocationAddressScheme body: LocationAddressScheme to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_location_address_scheme" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_location_address_scheme`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/locationAddressScheme', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_location_address_scheme_custom_fields(self, body, **kwargs):  # noqa: E501
        """Update a locationAddressScheme custom fields  # noqa: E501

        Updates an existing locationAddressScheme custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_location_address_scheme_custom_fields(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param LocationAddressScheme body: LocationAddressScheme to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_location_address_scheme_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_location_address_scheme_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_location_address_scheme_custom_fields_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a locationAddressScheme custom fields  # noqa: E501

        Updates an existing locationAddressScheme custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_location_address_scheme_custom_fields_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param LocationAddressScheme body: LocationAddressScheme to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_location_address_scheme_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_location_address_scheme_custom_fields`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/locationAddressScheme/customFields', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
