# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class LowStockApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_low_stock_audit(self, low_stock_id, low_stock_audit, **kwargs):  # noqa: E501
        """Add new audit for a lowStock  # noqa: E501

        Adds an audit to an existing lowStock.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_low_stock_audit(low_stock_id, low_stock_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int low_stock_id: Id of the lowStock to add an audit to (required)
        :param str low_stock_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_low_stock_audit_with_http_info(low_stock_id, low_stock_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_low_stock_audit_with_http_info(low_stock_id, low_stock_audit, **kwargs)  # noqa: E501
            return data

    def add_low_stock_audit_with_http_info(self, low_stock_id, low_stock_audit, **kwargs):  # noqa: E501
        """Add new audit for a lowStock  # noqa: E501

        Adds an audit to an existing lowStock.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_low_stock_audit_with_http_info(low_stock_id, low_stock_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int low_stock_id: Id of the lowStock to add an audit to (required)
        :param str low_stock_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['low_stock_id', 'low_stock_audit']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_low_stock_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'low_stock_id' is set
        if ('low_stock_id' not in params or
                params['low_stock_id'] is None):
            raise ValueError("Missing the required parameter `low_stock_id` when calling `add_low_stock_audit`")  # noqa: E501
        # verify the required parameter 'low_stock_audit' is set
        if ('low_stock_audit' not in params or
                params['low_stock_audit'] is None):
            raise ValueError("Missing the required parameter `low_stock_audit` when calling `add_low_stock_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'low_stock_id' in params:
            path_params['lowStockId'] = params['low_stock_id']  # noqa: E501
        if 'low_stock_audit' in params:
            path_params['lowStockAudit'] = params['low_stock_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/lowStock/{lowStockId}/audit/{lowStockAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_low_stock_tag(self, low_stock_id, low_stock_tag, **kwargs):  # noqa: E501
        """Add new tags for a lowStock.  # noqa: E501

        Adds a tag to an existing lowStock.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_low_stock_tag(low_stock_id, low_stock_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int low_stock_id: Id of the lowStock to add a tag to (required)
        :param str low_stock_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_low_stock_tag_with_http_info(low_stock_id, low_stock_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_low_stock_tag_with_http_info(low_stock_id, low_stock_tag, **kwargs)  # noqa: E501
            return data

    def add_low_stock_tag_with_http_info(self, low_stock_id, low_stock_tag, **kwargs):  # noqa: E501
        """Add new tags for a lowStock.  # noqa: E501

        Adds a tag to an existing lowStock.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_low_stock_tag_with_http_info(low_stock_id, low_stock_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int low_stock_id: Id of the lowStock to add a tag to (required)
        :param str low_stock_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['low_stock_id', 'low_stock_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_low_stock_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'low_stock_id' is set
        if ('low_stock_id' not in params or
                params['low_stock_id'] is None):
            raise ValueError("Missing the required parameter `low_stock_id` when calling `add_low_stock_tag`")  # noqa: E501
        # verify the required parameter 'low_stock_tag' is set
        if ('low_stock_tag' not in params or
                params['low_stock_tag'] is None):
            raise ValueError("Missing the required parameter `low_stock_tag` when calling `add_low_stock_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'low_stock_id' in params:
            path_params['lowStockId'] = params['low_stock_id']  # noqa: E501
        if 'low_stock_tag' in params:
            path_params['lowStockTag'] = params['low_stock_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/lowStock/{lowStockId}/tag/{lowStockTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_low_stock_tag(self, low_stock_id, low_stock_tag, **kwargs):  # noqa: E501
        """Delete a tag for a lowStock.  # noqa: E501

        Deletes an existing lowStock tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_low_stock_tag(low_stock_id, low_stock_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int low_stock_id: Id of the lowStock to remove tag from (required)
        :param str low_stock_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_low_stock_tag_with_http_info(low_stock_id, low_stock_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_low_stock_tag_with_http_info(low_stock_id, low_stock_tag, **kwargs)  # noqa: E501
            return data

    def delete_low_stock_tag_with_http_info(self, low_stock_id, low_stock_tag, **kwargs):  # noqa: E501
        """Delete a tag for a lowStock.  # noqa: E501

        Deletes an existing lowStock tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_low_stock_tag_with_http_info(low_stock_id, low_stock_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int low_stock_id: Id of the lowStock to remove tag from (required)
        :param str low_stock_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['low_stock_id', 'low_stock_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_low_stock_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'low_stock_id' is set
        if ('low_stock_id' not in params or
                params['low_stock_id'] is None):
            raise ValueError("Missing the required parameter `low_stock_id` when calling `delete_low_stock_tag`")  # noqa: E501
        # verify the required parameter 'low_stock_tag' is set
        if ('low_stock_tag' not in params or
                params['low_stock_tag'] is None):
            raise ValueError("Missing the required parameter `low_stock_tag` when calling `delete_low_stock_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'low_stock_id' in params:
            path_params['lowStockId'] = params['low_stock_id']  # noqa: E501
        if 'low_stock_tag' in params:
            path_params['lowStockTag'] = params['low_stock_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/lowStock/{lowStockId}/tag/{lowStockTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_low_stock_by_id(self, low_stock_id, **kwargs):  # noqa: E501
        """Get a duplicated a lowStock by id  # noqa: E501

        Returns a duplicated lowStock identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_low_stock_by_id(low_stock_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int low_stock_id: Id of the lowStock to be duplicated. (required)
        :return: LowStock
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_duplicate_low_stock_by_id_with_http_info(low_stock_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_low_stock_by_id_with_http_info(low_stock_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_low_stock_by_id_with_http_info(self, low_stock_id, **kwargs):  # noqa: E501
        """Get a duplicated a lowStock by id  # noqa: E501

        Returns a duplicated lowStock identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_low_stock_by_id_with_http_info(low_stock_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int low_stock_id: Id of the lowStock to be duplicated. (required)
        :return: LowStock
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['low_stock_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_low_stock_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'low_stock_id' is set
        if ('low_stock_id' not in params or
                params['low_stock_id'] is None):
            raise ValueError("Missing the required parameter `low_stock_id` when calling `get_duplicate_low_stock_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'low_stock_id' in params:
            path_params['lowStockId'] = params['low_stock_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/lowStock/duplicate/{lowStockId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LowStock',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_low_stock_by_filter(self, **kwargs):  # noqa: E501
        """Search lowStocks by filter  # noqa: E501

        Returns the list of lowStocks that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_low_stock_by_filter(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[LowStock]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_low_stock_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_low_stock_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_low_stock_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search lowStocks by filter  # noqa: E501

        Returns the list of lowStocks that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_low_stock_by_filter_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[LowStock]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_low_stock_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/lowStock/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[LowStock]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_low_stock_by_id(self, low_stock_id, **kwargs):  # noqa: E501
        """Get a lowStock by id  # noqa: E501

        Returns the lowStock identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_low_stock_by_id(low_stock_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int low_stock_id: Id of the lowStock to be returned. (required)
        :return: LowStock
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_low_stock_by_id_with_http_info(low_stock_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_low_stock_by_id_with_http_info(low_stock_id, **kwargs)  # noqa: E501
            return data

    def get_low_stock_by_id_with_http_info(self, low_stock_id, **kwargs):  # noqa: E501
        """Get a lowStock by id  # noqa: E501

        Returns the lowStock identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_low_stock_by_id_with_http_info(low_stock_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int low_stock_id: Id of the lowStock to be returned. (required)
        :return: LowStock
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['low_stock_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_low_stock_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'low_stock_id' is set
        if ('low_stock_id' not in params or
                params['low_stock_id'] is None):
            raise ValueError("Missing the required parameter `low_stock_id` when calling `get_low_stock_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'low_stock_id' in params:
            path_params['lowStockId'] = params['low_stock_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/lowStock/{lowStockId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LowStock',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_low_stock_tags(self, low_stock_id, **kwargs):  # noqa: E501
        """Get the tags for a lowStock.  # noqa: E501

        Get all existing lowStock tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_low_stock_tags(low_stock_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int low_stock_id: Id of the lowStock to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_low_stock_tags_with_http_info(low_stock_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_low_stock_tags_with_http_info(low_stock_id, **kwargs)  # noqa: E501
            return data

    def get_low_stock_tags_with_http_info(self, low_stock_id, **kwargs):  # noqa: E501
        """Get the tags for a lowStock.  # noqa: E501

        Get all existing lowStock tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_low_stock_tags_with_http_info(low_stock_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int low_stock_id: Id of the lowStock to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['low_stock_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_low_stock_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'low_stock_id' is set
        if ('low_stock_id' not in params or
                params['low_stock_id'] is None):
            raise ValueError("Missing the required parameter `low_stock_id` when calling `get_low_stock_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'low_stock_id' in params:
            path_params['lowStockId'] = params['low_stock_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/lowStock/{lowStockId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
