# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class OrderSourceItemSetupApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_order_source_item_setup(self, body, **kwargs):  # noqa: E501
        """Create an orderSourceItemSetup  # noqa: E501

        Inserts a new orderSourceItemSetup using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_order_source_item_setup(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param OrderSourceItemSetup body: OrderSourceItemSetup to be inserted. (required)
        :return: OrderSourceItemSetup
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_order_source_item_setup_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_order_source_item_setup_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_order_source_item_setup_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create an orderSourceItemSetup  # noqa: E501

        Inserts a new orderSourceItemSetup using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_order_source_item_setup_with_http_info(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param OrderSourceItemSetup body: OrderSourceItemSetup to be inserted. (required)
        :return: OrderSourceItemSetup
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_order_source_item_setup" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_order_source_item_setup`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/orderSourceItemSetup', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OrderSourceItemSetup',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_order_source_item_setup_audit(self, order_source_item_setup_id, order_source_item_setup_audit, **kwargs):  # noqa: E501
        """Add new audit for an orderSourceItemSetup  # noqa: E501

        Adds an audit to an existing orderSourceItemSetup.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_order_source_item_setup_audit(order_source_item_setup_id, order_source_item_setup_audit, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to add an audit to (required)
        :param str order_source_item_setup_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_order_source_item_setup_audit_with_http_info(order_source_item_setup_id, order_source_item_setup_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_order_source_item_setup_audit_with_http_info(order_source_item_setup_id, order_source_item_setup_audit, **kwargs)  # noqa: E501
            return data

    def add_order_source_item_setup_audit_with_http_info(self, order_source_item_setup_id, order_source_item_setup_audit, **kwargs):  # noqa: E501
        """Add new audit for an orderSourceItemSetup  # noqa: E501

        Adds an audit to an existing orderSourceItemSetup.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_order_source_item_setup_audit_with_http_info(order_source_item_setup_id, order_source_item_setup_audit, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to add an audit to (required)
        :param str order_source_item_setup_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_item_setup_id', 'order_source_item_setup_audit']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_order_source_item_setup_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'order_source_item_setup_id' is set
        if ('order_source_item_setup_id' not in params or
                params['order_source_item_setup_id'] is None):
            raise ValueError("Missing the required parameter `order_source_item_setup_id` when calling `add_order_source_item_setup_audit`")  # noqa: E501
        # verify the required parameter 'order_source_item_setup_audit' is set
        if ('order_source_item_setup_audit' not in params or
                params['order_source_item_setup_audit'] is None):
            raise ValueError("Missing the required parameter `order_source_item_setup_audit` when calling `add_order_source_item_setup_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'order_source_item_setup_id' in params:
            path_params['orderSourceItemSetupId'] = params['order_source_item_setup_id']  # noqa: E501
        if 'order_source_item_setup_audit' in params:
            path_params['orderSourceItemSetupAudit'] = params['order_source_item_setup_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/orderSourceItemSetup/{orderSourceItemSetupId}/audit/{orderSourceItemSetupAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_order_source_item_setup_file(self, order_source_item_setup_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to an orderSourceItemSetup  # noqa: E501

        Adds a file to an existing orderSourceItemSetup.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_order_source_item_setup_file(order_source_item_setup_id, file_name, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_order_source_item_setup_file_with_http_info(order_source_item_setup_id, file_name, **kwargs)  # noqa: E501
        else:
            (data) = self.add_order_source_item_setup_file_with_http_info(order_source_item_setup_id, file_name, **kwargs)  # noqa: E501
            return data

    def add_order_source_item_setup_file_with_http_info(self, order_source_item_setup_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to an orderSourceItemSetup  # noqa: E501

        Adds a file to an existing orderSourceItemSetup.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_order_source_item_setup_file_with_http_info(order_source_item_setup_id, file_name, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_item_setup_id', 'file_name']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_order_source_item_setup_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'order_source_item_setup_id' is set
        if ('order_source_item_setup_id' not in params or
                params['order_source_item_setup_id'] is None):
            raise ValueError("Missing the required parameter `order_source_item_setup_id` when calling `add_order_source_item_setup_file`")  # noqa: E501
        # verify the required parameter 'file_name' is set
        if ('file_name' not in params or
                params['file_name'] is None):
            raise ValueError("Missing the required parameter `file_name` when calling `add_order_source_item_setup_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'order_source_item_setup_id' in params:
            path_params['orderSourceItemSetupId'] = params['order_source_item_setup_id']  # noqa: E501
        if 'file_name' in params:
            path_params['fileName'] = params['file_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/orderSourceItemSetup/{orderSourceItemSetupId}/file/{fileName}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_order_source_item_setup_file_by_url(self, body, order_source_item_setup_id, **kwargs):  # noqa: E501
        """Attach a file to an orderSourceItemSetup by URL.  # noqa: E501

        Adds a file to an existing orderSourceItemSetup by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_order_source_item_setup_file_by_url(body, order_source_item_setup_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_order_source_item_setup_file_by_url_with_http_info(body, order_source_item_setup_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_order_source_item_setup_file_by_url_with_http_info(body, order_source_item_setup_id, **kwargs)  # noqa: E501
            return data

    def add_order_source_item_setup_file_by_url_with_http_info(self, body, order_source_item_setup_id, **kwargs):  # noqa: E501
        """Attach a file to an orderSourceItemSetup by URL.  # noqa: E501

        Adds a file to an existing orderSourceItemSetup by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_order_source_item_setup_file_by_url_with_http_info(body, order_source_item_setup_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'order_source_item_setup_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_order_source_item_setup_file_by_url" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_order_source_item_setup_file_by_url`")  # noqa: E501
        # verify the required parameter 'order_source_item_setup_id' is set
        if ('order_source_item_setup_id' not in params or
                params['order_source_item_setup_id'] is None):
            raise ValueError("Missing the required parameter `order_source_item_setup_id` when calling `add_order_source_item_setup_file_by_url`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'order_source_item_setup_id' in params:
            path_params['orderSourceItemSetupId'] = params['order_source_item_setup_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/orderSourceItemSetup/{orderSourceItemSetupId}/file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_order_source_item_setup_tag(self, order_source_item_setup_id, order_source_item_setup_tag, **kwargs):  # noqa: E501
        """Add new tags for an orderSourceItemSetup.  # noqa: E501

        Adds a tag to an existing orderSourceItemSetup.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_order_source_item_setup_tag(order_source_item_setup_id, order_source_item_setup_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to add a tag to (required)
        :param str order_source_item_setup_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_order_source_item_setup_tag_with_http_info(order_source_item_setup_id, order_source_item_setup_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_order_source_item_setup_tag_with_http_info(order_source_item_setup_id, order_source_item_setup_tag, **kwargs)  # noqa: E501
            return data

    def add_order_source_item_setup_tag_with_http_info(self, order_source_item_setup_id, order_source_item_setup_tag, **kwargs):  # noqa: E501
        """Add new tags for an orderSourceItemSetup.  # noqa: E501

        Adds a tag to an existing orderSourceItemSetup.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_order_source_item_setup_tag_with_http_info(order_source_item_setup_id, order_source_item_setup_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to add a tag to (required)
        :param str order_source_item_setup_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_item_setup_id', 'order_source_item_setup_tag']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_order_source_item_setup_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'order_source_item_setup_id' is set
        if ('order_source_item_setup_id' not in params or
                params['order_source_item_setup_id'] is None):
            raise ValueError("Missing the required parameter `order_source_item_setup_id` when calling `add_order_source_item_setup_tag`")  # noqa: E501
        # verify the required parameter 'order_source_item_setup_tag' is set
        if ('order_source_item_setup_tag' not in params or
                params['order_source_item_setup_tag'] is None):
            raise ValueError("Missing the required parameter `order_source_item_setup_tag` when calling `add_order_source_item_setup_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'order_source_item_setup_id' in params:
            path_params['orderSourceItemSetupId'] = params['order_source_item_setup_id']  # noqa: E501
        if 'order_source_item_setup_tag' in params:
            path_params['orderSourceItemSetupTag'] = params['order_source_item_setup_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/orderSourceItemSetup/{orderSourceItemSetupId}/tag/{orderSourceItemSetupTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_order_source_item_setup(self, order_source_item_setup_id, **kwargs):  # noqa: E501
        """Delete an orderSourceItemSetup  # noqa: E501

        Deletes the orderSourceItemSetup identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_order_source_item_setup(order_source_item_setup_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.delete_order_source_item_setup_with_http_info(order_source_item_setup_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_order_source_item_setup_with_http_info(order_source_item_setup_id, **kwargs)  # noqa: E501
            return data

    def delete_order_source_item_setup_with_http_info(self, order_source_item_setup_id, **kwargs):  # noqa: E501
        """Delete an orderSourceItemSetup  # noqa: E501

        Deletes the orderSourceItemSetup identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_order_source_item_setup_with_http_info(order_source_item_setup_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_item_setup_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_order_source_item_setup" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'order_source_item_setup_id' is set
        if ('order_source_item_setup_id' not in params or
                params['order_source_item_setup_id'] is None):
            raise ValueError("Missing the required parameter `order_source_item_setup_id` when calling `delete_order_source_item_setup`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'order_source_item_setup_id' in params:
            path_params['orderSourceItemSetupId'] = params['order_source_item_setup_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/orderSourceItemSetup/{orderSourceItemSetupId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_order_source_item_setup_file(self, order_source_item_setup_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for an orderSourceItemSetup.  # noqa: E501

        Deletes an existing orderSourceItemSetup file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_order_source_item_setup_file(order_source_item_setup_id, file_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.delete_order_source_item_setup_file_with_http_info(order_source_item_setup_id, file_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_order_source_item_setup_file_with_http_info(order_source_item_setup_id, file_id, **kwargs)  # noqa: E501
            return data

    def delete_order_source_item_setup_file_with_http_info(self, order_source_item_setup_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for an orderSourceItemSetup.  # noqa: E501

        Deletes an existing orderSourceItemSetup file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_order_source_item_setup_file_with_http_info(order_source_item_setup_id, file_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_item_setup_id', 'file_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_order_source_item_setup_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'order_source_item_setup_id' is set
        if ('order_source_item_setup_id' not in params or
                params['order_source_item_setup_id'] is None):
            raise ValueError("Missing the required parameter `order_source_item_setup_id` when calling `delete_order_source_item_setup_file`")  # noqa: E501
        # verify the required parameter 'file_id' is set
        if ('file_id' not in params or
                params['file_id'] is None):
            raise ValueError("Missing the required parameter `file_id` when calling `delete_order_source_item_setup_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'order_source_item_setup_id' in params:
            path_params['orderSourceItemSetupId'] = params['order_source_item_setup_id']  # noqa: E501
        if 'file_id' in params:
            path_params['fileId'] = params['file_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/orderSourceItemSetup/{orderSourceItemSetupId}/file/{fileId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_order_source_item_setup_tag(self, order_source_item_setup_id, order_source_item_setup_tag, **kwargs):  # noqa: E501
        """Delete a tag for an orderSourceItemSetup.  # noqa: E501

        Deletes an existing orderSourceItemSetup tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_order_source_item_setup_tag(order_source_item_setup_id, order_source_item_setup_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to remove tag from (required)
        :param str order_source_item_setup_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.delete_order_source_item_setup_tag_with_http_info(order_source_item_setup_id, order_source_item_setup_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_order_source_item_setup_tag_with_http_info(order_source_item_setup_id, order_source_item_setup_tag, **kwargs)  # noqa: E501
            return data

    def delete_order_source_item_setup_tag_with_http_info(self, order_source_item_setup_id, order_source_item_setup_tag, **kwargs):  # noqa: E501
        """Delete a tag for an orderSourceItemSetup.  # noqa: E501

        Deletes an existing orderSourceItemSetup tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_order_source_item_setup_tag_with_http_info(order_source_item_setup_id, order_source_item_setup_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to remove tag from (required)
        :param str order_source_item_setup_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_item_setup_id', 'order_source_item_setup_tag']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_order_source_item_setup_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'order_source_item_setup_id' is set
        if ('order_source_item_setup_id' not in params or
                params['order_source_item_setup_id'] is None):
            raise ValueError("Missing the required parameter `order_source_item_setup_id` when calling `delete_order_source_item_setup_tag`")  # noqa: E501
        # verify the required parameter 'order_source_item_setup_tag' is set
        if ('order_source_item_setup_tag' not in params or
                params['order_source_item_setup_tag'] is None):
            raise ValueError("Missing the required parameter `order_source_item_setup_tag` when calling `delete_order_source_item_setup_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'order_source_item_setup_id' in params:
            path_params['orderSourceItemSetupId'] = params['order_source_item_setup_id']  # noqa: E501
        if 'order_source_item_setup_tag' in params:
            path_params['orderSourceItemSetupTag'] = params['order_source_item_setup_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/orderSourceItemSetup/{orderSourceItemSetupId}/tag/{orderSourceItemSetupTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_order_source_item_setup_by_id(self, order_source_item_setup_id, **kwargs):  # noqa: E501
        """Get a duplicated an orderSourceItemSetup by id  # noqa: E501

        Returns a duplicated orderSourceItemSetup identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_duplicate_order_source_item_setup_by_id(order_source_item_setup_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to be duplicated. (required)
        :return: OrderSourceItemSetup
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_duplicate_order_source_item_setup_by_id_with_http_info(order_source_item_setup_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_order_source_item_setup_by_id_with_http_info(order_source_item_setup_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_order_source_item_setup_by_id_with_http_info(self, order_source_item_setup_id, **kwargs):  # noqa: E501
        """Get a duplicated an orderSourceItemSetup by id  # noqa: E501

        Returns a duplicated orderSourceItemSetup identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_duplicate_order_source_item_setup_by_id_with_http_info(order_source_item_setup_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to be duplicated. (required)
        :return: OrderSourceItemSetup
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_item_setup_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_order_source_item_setup_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'order_source_item_setup_id' is set
        if ('order_source_item_setup_id' not in params or
                params['order_source_item_setup_id'] is None):
            raise ValueError("Missing the required parameter `order_source_item_setup_id` when calling `get_duplicate_order_source_item_setup_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'order_source_item_setup_id' in params:
            path_params['orderSourceItemSetupId'] = params['order_source_item_setup_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/orderSourceItemSetup/duplicate/{orderSourceItemSetupId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OrderSourceItemSetup',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_order_source_item_setup_by_filter(self, **kwargs):  # noqa: E501
        """Search orderSourceItemSetups by filter  # noqa: E501

        Returns the list of orderSourceItemSetups that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_order_source_item_setup_by_filter(_async=True)
        >>> result = thread.get()

        :param _async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[OrderSourceItemSetup]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_order_source_item_setup_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_order_source_item_setup_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_order_source_item_setup_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search orderSourceItemSetups by filter  # noqa: E501

        Returns the list of orderSourceItemSetups that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_order_source_item_setup_by_filter_with_http_info(_async=True)
        >>> result = thread.get()

        :param _async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[OrderSourceItemSetup]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_order_source_item_setup_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/orderSourceItemSetup/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[OrderSourceItemSetup]',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_order_source_item_setup_by_id(self, order_source_item_setup_id, **kwargs):  # noqa: E501
        """Get an orderSourceItemSetup by id  # noqa: E501

        Returns the orderSourceItemSetup identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_order_source_item_setup_by_id(order_source_item_setup_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to be returned. (required)
        :return: OrderSourceItemSetup
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_order_source_item_setup_by_id_with_http_info(order_source_item_setup_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_order_source_item_setup_by_id_with_http_info(order_source_item_setup_id, **kwargs)  # noqa: E501
            return data

    def get_order_source_item_setup_by_id_with_http_info(self, order_source_item_setup_id, **kwargs):  # noqa: E501
        """Get an orderSourceItemSetup by id  # noqa: E501

        Returns the orderSourceItemSetup identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_order_source_item_setup_by_id_with_http_info(order_source_item_setup_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to be returned. (required)
        :return: OrderSourceItemSetup
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_item_setup_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_order_source_item_setup_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'order_source_item_setup_id' is set
        if ('order_source_item_setup_id' not in params or
                params['order_source_item_setup_id'] is None):
            raise ValueError("Missing the required parameter `order_source_item_setup_id` when calling `get_order_source_item_setup_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'order_source_item_setup_id' in params:
            path_params['orderSourceItemSetupId'] = params['order_source_item_setup_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/orderSourceItemSetup/{orderSourceItemSetupId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OrderSourceItemSetup',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_order_source_item_setup_files(self, order_source_item_setup_id, **kwargs):  # noqa: E501
        """Get the files for an orderSourceItemSetup.  # noqa: E501

        Get all existing orderSourceItemSetup files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_order_source_item_setup_files(order_source_item_setup_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_order_source_item_setup_files_with_http_info(order_source_item_setup_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_order_source_item_setup_files_with_http_info(order_source_item_setup_id, **kwargs)  # noqa: E501
            return data

    def get_order_source_item_setup_files_with_http_info(self, order_source_item_setup_id, **kwargs):  # noqa: E501
        """Get the files for an orderSourceItemSetup.  # noqa: E501

        Get all existing orderSourceItemSetup files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_order_source_item_setup_files_with_http_info(order_source_item_setup_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_item_setup_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_order_source_item_setup_files" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'order_source_item_setup_id' is set
        if ('order_source_item_setup_id' not in params or
                params['order_source_item_setup_id'] is None):
            raise ValueError("Missing the required parameter `order_source_item_setup_id` when calling `get_order_source_item_setup_files`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'order_source_item_setup_id' in params:
            path_params['orderSourceItemSetupId'] = params['order_source_item_setup_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/orderSourceItemSetup/{orderSourceItemSetupId}/file', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_order_source_item_setup_tags(self, order_source_item_setup_id, **kwargs):  # noqa: E501
        """Get the tags for an orderSourceItemSetup.  # noqa: E501

        Get all existing orderSourceItemSetup tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_order_source_item_setup_tags(order_source_item_setup_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_order_source_item_setup_tags_with_http_info(order_source_item_setup_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_order_source_item_setup_tags_with_http_info(order_source_item_setup_id, **kwargs)  # noqa: E501
            return data

    def get_order_source_item_setup_tags_with_http_info(self, order_source_item_setup_id, **kwargs):  # noqa: E501
        """Get the tags for an orderSourceItemSetup.  # noqa: E501

        Get all existing orderSourceItemSetup tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_order_source_item_setup_tags_with_http_info(order_source_item_setup_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int order_source_item_setup_id: Id of the orderSourceItemSetup to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_item_setup_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_order_source_item_setup_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'order_source_item_setup_id' is set
        if ('order_source_item_setup_id' not in params or
                params['order_source_item_setup_id'] is None):
            raise ValueError("Missing the required parameter `order_source_item_setup_id` when calling `get_order_source_item_setup_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'order_source_item_setup_id' in params:
            path_params['orderSourceItemSetupId'] = params['order_source_item_setup_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/orderSourceItemSetup/{orderSourceItemSetupId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_order_source_item_setup(self, body, **kwargs):  # noqa: E501
        """Update an orderSourceItemSetup  # noqa: E501

        Updates an existing orderSourceItemSetup using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.update_order_source_item_setup(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param OrderSourceItemSetup body: OrderSourceItemSetup to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.update_order_source_item_setup_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_order_source_item_setup_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_order_source_item_setup_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update an orderSourceItemSetup  # noqa: E501

        Updates an existing orderSourceItemSetup using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.update_order_source_item_setup_with_http_info(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param OrderSourceItemSetup body: OrderSourceItemSetup to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_order_source_item_setup" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_order_source_item_setup`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/orderSourceItemSetup', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_order_source_item_setup_custom_fields(self, body, **kwargs):  # noqa: E501
        """Update an orderSourceItemSetup custom fields  # noqa: E501

        Updates an existing orderSourceItemSetup custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.update_order_source_item_setup_custom_fields(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param OrderSourceItemSetup body: OrderSourceItemSetup to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.update_order_source_item_setup_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_order_source_item_setup_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_order_source_item_setup_custom_fields_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update an orderSourceItemSetup custom fields  # noqa: E501

        Updates an existing orderSourceItemSetup custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.update_order_source_item_setup_custom_fields_with_http_info(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param OrderSourceItemSetup body: OrderSourceItemSetup to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_order_source_item_setup_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_order_source_item_setup_custom_fields`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/orderSourceItemSetup/customFields', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
