# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class OverrideReturnAddressApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_override_return_address(self, body, **kwargs):  # noqa: E501
        """Create an overrideReturnAddress  # noqa: E501

        Inserts a new overrideReturnAddress using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_override_return_address(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param OverrideReturnAddress body: OverrideReturnAddress to be inserted. (required)
        :return: OverrideReturnAddress
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_override_return_address_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_override_return_address_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_override_return_address_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create an overrideReturnAddress  # noqa: E501

        Inserts a new overrideReturnAddress using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_override_return_address_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param OverrideReturnAddress body: OverrideReturnAddress to be inserted. (required)
        :return: OverrideReturnAddress
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_override_return_address" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_override_return_address`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/overrideReturnAddress', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OverrideReturnAddress',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_override_return_address_audit(self, override_return_address_id, override_return_address_audit, **kwargs):  # noqa: E501
        """Add new audit for an overrideReturnAddress  # noqa: E501

        Adds an audit to an existing overrideReturnAddress.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_override_return_address_audit(override_return_address_id, override_return_address_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to add an audit to (required)
        :param str override_return_address_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_override_return_address_audit_with_http_info(override_return_address_id, override_return_address_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_override_return_address_audit_with_http_info(override_return_address_id, override_return_address_audit, **kwargs)  # noqa: E501
            return data

    def add_override_return_address_audit_with_http_info(self, override_return_address_id, override_return_address_audit, **kwargs):  # noqa: E501
        """Add new audit for an overrideReturnAddress  # noqa: E501

        Adds an audit to an existing overrideReturnAddress.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_override_return_address_audit_with_http_info(override_return_address_id, override_return_address_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to add an audit to (required)
        :param str override_return_address_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['override_return_address_id', 'override_return_address_audit']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_override_return_address_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'override_return_address_id' is set
        if ('override_return_address_id' not in params or
                params['override_return_address_id'] is None):
            raise ValueError("Missing the required parameter `override_return_address_id` when calling `add_override_return_address_audit`")  # noqa: E501
        # verify the required parameter 'override_return_address_audit' is set
        if ('override_return_address_audit' not in params or
                params['override_return_address_audit'] is None):
            raise ValueError("Missing the required parameter `override_return_address_audit` when calling `add_override_return_address_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'override_return_address_id' in params:
            path_params['overrideReturnAddressId'] = params['override_return_address_id']  # noqa: E501
        if 'override_return_address_audit' in params:
            path_params['overrideReturnAddressAudit'] = params['override_return_address_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/overrideReturnAddress/{overrideReturnAddressId}/audit/{overrideReturnAddressAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_override_return_address_file(self, override_return_address_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to an overrideReturnAddress  # noqa: E501

        Adds a file to an existing overrideReturnAddress.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_override_return_address_file(override_return_address_id, file_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_override_return_address_file_with_http_info(override_return_address_id, file_name, **kwargs)  # noqa: E501
        else:
            (data) = self.add_override_return_address_file_with_http_info(override_return_address_id, file_name, **kwargs)  # noqa: E501
            return data

    def add_override_return_address_file_with_http_info(self, override_return_address_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to an overrideReturnAddress  # noqa: E501

        Adds a file to an existing overrideReturnAddress.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_override_return_address_file_with_http_info(override_return_address_id, file_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['override_return_address_id', 'file_name']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_override_return_address_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'override_return_address_id' is set
        if ('override_return_address_id' not in params or
                params['override_return_address_id'] is None):
            raise ValueError("Missing the required parameter `override_return_address_id` when calling `add_override_return_address_file`")  # noqa: E501
        # verify the required parameter 'file_name' is set
        if ('file_name' not in params or
                params['file_name'] is None):
            raise ValueError("Missing the required parameter `file_name` when calling `add_override_return_address_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'override_return_address_id' in params:
            path_params['overrideReturnAddressId'] = params['override_return_address_id']  # noqa: E501
        if 'file_name' in params:
            path_params['fileName'] = params['file_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/overrideReturnAddress/{overrideReturnAddressId}/file/{fileName}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_override_return_address_file_by_url(self, body, override_return_address_id, **kwargs):  # noqa: E501
        """Attach a file to an overrideReturnAddress by URL.  # noqa: E501

        Adds a file to an existing overrideReturnAddress by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_override_return_address_file_by_url(body, override_return_address_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int override_return_address_id: Id of the overrideReturnAddress to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_override_return_address_file_by_url_with_http_info(body, override_return_address_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_override_return_address_file_by_url_with_http_info(body, override_return_address_id, **kwargs)  # noqa: E501
            return data

    def add_override_return_address_file_by_url_with_http_info(self, body, override_return_address_id, **kwargs):  # noqa: E501
        """Attach a file to an overrideReturnAddress by URL.  # noqa: E501

        Adds a file to an existing overrideReturnAddress by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_override_return_address_file_by_url_with_http_info(body, override_return_address_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int override_return_address_id: Id of the overrideReturnAddress to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'override_return_address_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_override_return_address_file_by_url" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_override_return_address_file_by_url`")  # noqa: E501
        # verify the required parameter 'override_return_address_id' is set
        if ('override_return_address_id' not in params or
                params['override_return_address_id'] is None):
            raise ValueError("Missing the required parameter `override_return_address_id` when calling `add_override_return_address_file_by_url`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'override_return_address_id' in params:
            path_params['overrideReturnAddressId'] = params['override_return_address_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/overrideReturnAddress/{overrideReturnAddressId}/file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_override_return_address_tag(self, override_return_address_id, override_return_address_tag, **kwargs):  # noqa: E501
        """Add new tags for an overrideReturnAddress.  # noqa: E501

        Adds a tag to an existing overrideReturnAddress.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_override_return_address_tag(override_return_address_id, override_return_address_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to add a tag to (required)
        :param str override_return_address_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_override_return_address_tag_with_http_info(override_return_address_id, override_return_address_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_override_return_address_tag_with_http_info(override_return_address_id, override_return_address_tag, **kwargs)  # noqa: E501
            return data

    def add_override_return_address_tag_with_http_info(self, override_return_address_id, override_return_address_tag, **kwargs):  # noqa: E501
        """Add new tags for an overrideReturnAddress.  # noqa: E501

        Adds a tag to an existing overrideReturnAddress.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_override_return_address_tag_with_http_info(override_return_address_id, override_return_address_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to add a tag to (required)
        :param str override_return_address_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['override_return_address_id', 'override_return_address_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_override_return_address_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'override_return_address_id' is set
        if ('override_return_address_id' not in params or
                params['override_return_address_id'] is None):
            raise ValueError("Missing the required parameter `override_return_address_id` when calling `add_override_return_address_tag`")  # noqa: E501
        # verify the required parameter 'override_return_address_tag' is set
        if ('override_return_address_tag' not in params or
                params['override_return_address_tag'] is None):
            raise ValueError("Missing the required parameter `override_return_address_tag` when calling `add_override_return_address_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'override_return_address_id' in params:
            path_params['overrideReturnAddressId'] = params['override_return_address_id']  # noqa: E501
        if 'override_return_address_tag' in params:
            path_params['overrideReturnAddressTag'] = params['override_return_address_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/overrideReturnAddress/{overrideReturnAddressId}/tag/{overrideReturnAddressTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_override_return_address(self, override_return_address_id, **kwargs):  # noqa: E501
        """Delete an overrideReturnAddress  # noqa: E501

        Deletes the overrideReturnAddress identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_override_return_address(override_return_address_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_override_return_address_with_http_info(override_return_address_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_override_return_address_with_http_info(override_return_address_id, **kwargs)  # noqa: E501
            return data

    def delete_override_return_address_with_http_info(self, override_return_address_id, **kwargs):  # noqa: E501
        """Delete an overrideReturnAddress  # noqa: E501

        Deletes the overrideReturnAddress identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_override_return_address_with_http_info(override_return_address_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['override_return_address_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_override_return_address" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'override_return_address_id' is set
        if ('override_return_address_id' not in params or
                params['override_return_address_id'] is None):
            raise ValueError("Missing the required parameter `override_return_address_id` when calling `delete_override_return_address`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'override_return_address_id' in params:
            path_params['overrideReturnAddressId'] = params['override_return_address_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/overrideReturnAddress/{overrideReturnAddressId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_override_return_address_file(self, override_return_address_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for an overrideReturnAddress.  # noqa: E501

        Deletes an existing overrideReturnAddress file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_override_return_address_file(override_return_address_id, file_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_override_return_address_file_with_http_info(override_return_address_id, file_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_override_return_address_file_with_http_info(override_return_address_id, file_id, **kwargs)  # noqa: E501
            return data

    def delete_override_return_address_file_with_http_info(self, override_return_address_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for an overrideReturnAddress.  # noqa: E501

        Deletes an existing overrideReturnAddress file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_override_return_address_file_with_http_info(override_return_address_id, file_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['override_return_address_id', 'file_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_override_return_address_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'override_return_address_id' is set
        if ('override_return_address_id' not in params or
                params['override_return_address_id'] is None):
            raise ValueError("Missing the required parameter `override_return_address_id` when calling `delete_override_return_address_file`")  # noqa: E501
        # verify the required parameter 'file_id' is set
        if ('file_id' not in params or
                params['file_id'] is None):
            raise ValueError("Missing the required parameter `file_id` when calling `delete_override_return_address_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'override_return_address_id' in params:
            path_params['overrideReturnAddressId'] = params['override_return_address_id']  # noqa: E501
        if 'file_id' in params:
            path_params['fileId'] = params['file_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/overrideReturnAddress/{overrideReturnAddressId}/file/{fileId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_override_return_address_tag(self, override_return_address_id, override_return_address_tag, **kwargs):  # noqa: E501
        """Delete a tag for an overrideReturnAddress.  # noqa: E501

        Deletes an existing overrideReturnAddress tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_override_return_address_tag(override_return_address_id, override_return_address_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to remove tag from (required)
        :param str override_return_address_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_override_return_address_tag_with_http_info(override_return_address_id, override_return_address_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_override_return_address_tag_with_http_info(override_return_address_id, override_return_address_tag, **kwargs)  # noqa: E501
            return data

    def delete_override_return_address_tag_with_http_info(self, override_return_address_id, override_return_address_tag, **kwargs):  # noqa: E501
        """Delete a tag for an overrideReturnAddress.  # noqa: E501

        Deletes an existing overrideReturnAddress tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_override_return_address_tag_with_http_info(override_return_address_id, override_return_address_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to remove tag from (required)
        :param str override_return_address_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['override_return_address_id', 'override_return_address_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_override_return_address_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'override_return_address_id' is set
        if ('override_return_address_id' not in params or
                params['override_return_address_id'] is None):
            raise ValueError("Missing the required parameter `override_return_address_id` when calling `delete_override_return_address_tag`")  # noqa: E501
        # verify the required parameter 'override_return_address_tag' is set
        if ('override_return_address_tag' not in params or
                params['override_return_address_tag'] is None):
            raise ValueError("Missing the required parameter `override_return_address_tag` when calling `delete_override_return_address_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'override_return_address_id' in params:
            path_params['overrideReturnAddressId'] = params['override_return_address_id']  # noqa: E501
        if 'override_return_address_tag' in params:
            path_params['overrideReturnAddressTag'] = params['override_return_address_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/overrideReturnAddress/{overrideReturnAddressId}/tag/{overrideReturnAddressTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_override_return_address_by_id(self, override_return_address_id, **kwargs):  # noqa: E501
        """Get a duplicated an overrideReturnAddress by id  # noqa: E501

        Returns a duplicated overrideReturnAddress identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_override_return_address_by_id(override_return_address_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to be duplicated. (required)
        :return: OverrideReturnAddress
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_duplicate_override_return_address_by_id_with_http_info(override_return_address_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_override_return_address_by_id_with_http_info(override_return_address_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_override_return_address_by_id_with_http_info(self, override_return_address_id, **kwargs):  # noqa: E501
        """Get a duplicated an overrideReturnAddress by id  # noqa: E501

        Returns a duplicated overrideReturnAddress identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_override_return_address_by_id_with_http_info(override_return_address_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to be duplicated. (required)
        :return: OverrideReturnAddress
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['override_return_address_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_override_return_address_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'override_return_address_id' is set
        if ('override_return_address_id' not in params or
                params['override_return_address_id'] is None):
            raise ValueError("Missing the required parameter `override_return_address_id` when calling `get_duplicate_override_return_address_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'override_return_address_id' in params:
            path_params['overrideReturnAddressId'] = params['override_return_address_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/overrideReturnAddress/duplicate/{overrideReturnAddressId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OverrideReturnAddress',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_override_return_address_by_filter(self, **kwargs):  # noqa: E501
        """Search overrideReturnAddresses by filter  # noqa: E501

        Returns the list of overrideReturnAddresses that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_override_return_address_by_filter(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[OverrideReturnAddress]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_override_return_address_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_override_return_address_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_override_return_address_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search overrideReturnAddresses by filter  # noqa: E501

        Returns the list of overrideReturnAddresses that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_override_return_address_by_filter_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[OverrideReturnAddress]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_override_return_address_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/overrideReturnAddress/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[OverrideReturnAddress]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_override_return_address_by_id(self, override_return_address_id, **kwargs):  # noqa: E501
        """Get an overrideReturnAddress by id  # noqa: E501

        Returns the overrideReturnAddress identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_override_return_address_by_id(override_return_address_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to be returned. (required)
        :return: OverrideReturnAddress
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_override_return_address_by_id_with_http_info(override_return_address_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_override_return_address_by_id_with_http_info(override_return_address_id, **kwargs)  # noqa: E501
            return data

    def get_override_return_address_by_id_with_http_info(self, override_return_address_id, **kwargs):  # noqa: E501
        """Get an overrideReturnAddress by id  # noqa: E501

        Returns the overrideReturnAddress identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_override_return_address_by_id_with_http_info(override_return_address_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to be returned. (required)
        :return: OverrideReturnAddress
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['override_return_address_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_override_return_address_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'override_return_address_id' is set
        if ('override_return_address_id' not in params or
                params['override_return_address_id'] is None):
            raise ValueError("Missing the required parameter `override_return_address_id` when calling `get_override_return_address_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'override_return_address_id' in params:
            path_params['overrideReturnAddressId'] = params['override_return_address_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/overrideReturnAddress/{overrideReturnAddressId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OverrideReturnAddress',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_override_return_address_files(self, override_return_address_id, **kwargs):  # noqa: E501
        """Get the files for an overrideReturnAddress.  # noqa: E501

        Get all existing overrideReturnAddress files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_override_return_address_files(override_return_address_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_override_return_address_files_with_http_info(override_return_address_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_override_return_address_files_with_http_info(override_return_address_id, **kwargs)  # noqa: E501
            return data

    def get_override_return_address_files_with_http_info(self, override_return_address_id, **kwargs):  # noqa: E501
        """Get the files for an overrideReturnAddress.  # noqa: E501

        Get all existing overrideReturnAddress files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_override_return_address_files_with_http_info(override_return_address_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['override_return_address_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_override_return_address_files" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'override_return_address_id' is set
        if ('override_return_address_id' not in params or
                params['override_return_address_id'] is None):
            raise ValueError("Missing the required parameter `override_return_address_id` when calling `get_override_return_address_files`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'override_return_address_id' in params:
            path_params['overrideReturnAddressId'] = params['override_return_address_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/overrideReturnAddress/{overrideReturnAddressId}/file', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_override_return_address_tags(self, override_return_address_id, **kwargs):  # noqa: E501
        """Get the tags for an overrideReturnAddress.  # noqa: E501

        Get all existing overrideReturnAddress tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_override_return_address_tags(override_return_address_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_override_return_address_tags_with_http_info(override_return_address_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_override_return_address_tags_with_http_info(override_return_address_id, **kwargs)  # noqa: E501
            return data

    def get_override_return_address_tags_with_http_info(self, override_return_address_id, **kwargs):  # noqa: E501
        """Get the tags for an overrideReturnAddress.  # noqa: E501

        Get all existing overrideReturnAddress tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_override_return_address_tags_with_http_info(override_return_address_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int override_return_address_id: Id of the overrideReturnAddress to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['override_return_address_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_override_return_address_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'override_return_address_id' is set
        if ('override_return_address_id' not in params or
                params['override_return_address_id'] is None):
            raise ValueError("Missing the required parameter `override_return_address_id` when calling `get_override_return_address_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'override_return_address_id' in params:
            path_params['overrideReturnAddressId'] = params['override_return_address_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/overrideReturnAddress/{overrideReturnAddressId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_override_return_address(self, body, **kwargs):  # noqa: E501
        """Update an overrideReturnAddress  # noqa: E501

        Updates an existing overrideReturnAddress using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_override_return_address(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param OverrideReturnAddress body: OverrideReturnAddress to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_override_return_address_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_override_return_address_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_override_return_address_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update an overrideReturnAddress  # noqa: E501

        Updates an existing overrideReturnAddress using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_override_return_address_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param OverrideReturnAddress body: OverrideReturnAddress to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_override_return_address" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_override_return_address`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/overrideReturnAddress', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_override_return_address_custom_fields(self, body, **kwargs):  # noqa: E501
        """Update an overrideReturnAddress custom fields  # noqa: E501

        Updates an existing overrideReturnAddress custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_override_return_address_custom_fields(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param OverrideReturnAddress body: OverrideReturnAddress to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_override_return_address_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_override_return_address_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_override_return_address_custom_fields_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update an overrideReturnAddress custom fields  # noqa: E501

        Updates an existing overrideReturnAddress custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_override_return_address_custom_fields_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param OverrideReturnAddress body: OverrideReturnAddress to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_override_return_address_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_override_return_address_custom_fields`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/overrideReturnAddress/customFields', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
