# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class PackingPlanDetailApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_packing_plan_detail_audit(self, packing_plan_detail_id, packing_plan_detail_audit, **kwargs):  # noqa: E501
        """Add new audit for a packingPlanDetail  # noqa: E501

        Adds an audit to an existing packingPlanDetail.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_packing_plan_detail_audit(packing_plan_detail_id, packing_plan_detail_audit, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to add an audit to (required)
        :param str packing_plan_detail_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_packing_plan_detail_audit_with_http_info(packing_plan_detail_id, packing_plan_detail_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_packing_plan_detail_audit_with_http_info(packing_plan_detail_id, packing_plan_detail_audit, **kwargs)  # noqa: E501
            return data

    def add_packing_plan_detail_audit_with_http_info(self, packing_plan_detail_id, packing_plan_detail_audit, **kwargs):  # noqa: E501
        """Add new audit for a packingPlanDetail  # noqa: E501

        Adds an audit to an existing packingPlanDetail.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_packing_plan_detail_audit_with_http_info(packing_plan_detail_id, packing_plan_detail_audit, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to add an audit to (required)
        :param str packing_plan_detail_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['packing_plan_detail_id', 'packing_plan_detail_audit']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_packing_plan_detail_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'packing_plan_detail_id' is set
        if ('packing_plan_detail_id' not in params or
                params['packing_plan_detail_id'] is None):
            raise ValueError("Missing the required parameter `packing_plan_detail_id` when calling `add_packing_plan_detail_audit`")  # noqa: E501
        # verify the required parameter 'packing_plan_detail_audit' is set
        if ('packing_plan_detail_audit' not in params or
                params['packing_plan_detail_audit'] is None):
            raise ValueError("Missing the required parameter `packing_plan_detail_audit` when calling `add_packing_plan_detail_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'packing_plan_detail_id' in params:
            path_params['packingPlanDetailId'] = params['packing_plan_detail_id']  # noqa: E501
        if 'packing_plan_detail_audit' in params:
            path_params['packingPlanDetailAudit'] = params['packing_plan_detail_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/packingPlanDetail/{packingPlanDetailId}/audit/{packingPlanDetailAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_packing_plan_detail_file(self, packing_plan_detail_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a packingPlanDetail  # noqa: E501

        Adds a file to an existing packingPlanDetail.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_packing_plan_detail_file(packing_plan_detail_id, file_name, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_packing_plan_detail_file_with_http_info(packing_plan_detail_id, file_name, **kwargs)  # noqa: E501
        else:
            (data) = self.add_packing_plan_detail_file_with_http_info(packing_plan_detail_id, file_name, **kwargs)  # noqa: E501
            return data

    def add_packing_plan_detail_file_with_http_info(self, packing_plan_detail_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a packingPlanDetail  # noqa: E501

        Adds a file to an existing packingPlanDetail.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_packing_plan_detail_file_with_http_info(packing_plan_detail_id, file_name, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['packing_plan_detail_id', 'file_name']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_packing_plan_detail_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'packing_plan_detail_id' is set
        if ('packing_plan_detail_id' not in params or
                params['packing_plan_detail_id'] is None):
            raise ValueError("Missing the required parameter `packing_plan_detail_id` when calling `add_packing_plan_detail_file`")  # noqa: E501
        # verify the required parameter 'file_name' is set
        if ('file_name' not in params or
                params['file_name'] is None):
            raise ValueError("Missing the required parameter `file_name` when calling `add_packing_plan_detail_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'packing_plan_detail_id' in params:
            path_params['packingPlanDetailId'] = params['packing_plan_detail_id']  # noqa: E501
        if 'file_name' in params:
            path_params['fileName'] = params['file_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/packingPlanDetail/{packingPlanDetailId}/file/{fileName}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_packing_plan_detail_file_by_url(self, body, packing_plan_detail_id, **kwargs):  # noqa: E501
        """Attach a file to a packingPlanDetail by URL.  # noqa: E501

        Adds a file to an existing packingPlanDetail by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_packing_plan_detail_file_by_url(body, packing_plan_detail_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int packing_plan_detail_id: Id of the packingPlanDetail to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_packing_plan_detail_file_by_url_with_http_info(body, packing_plan_detail_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_packing_plan_detail_file_by_url_with_http_info(body, packing_plan_detail_id, **kwargs)  # noqa: E501
            return data

    def add_packing_plan_detail_file_by_url_with_http_info(self, body, packing_plan_detail_id, **kwargs):  # noqa: E501
        """Attach a file to a packingPlanDetail by URL.  # noqa: E501

        Adds a file to an existing packingPlanDetail by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_packing_plan_detail_file_by_url_with_http_info(body, packing_plan_detail_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int packing_plan_detail_id: Id of the packingPlanDetail to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'packing_plan_detail_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_packing_plan_detail_file_by_url" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_packing_plan_detail_file_by_url`")  # noqa: E501
        # verify the required parameter 'packing_plan_detail_id' is set
        if ('packing_plan_detail_id' not in params or
                params['packing_plan_detail_id'] is None):
            raise ValueError("Missing the required parameter `packing_plan_detail_id` when calling `add_packing_plan_detail_file_by_url`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'packing_plan_detail_id' in params:
            path_params['packingPlanDetailId'] = params['packing_plan_detail_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/packingPlanDetail/{packingPlanDetailId}/file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_packing_plan_detail_tag(self, packing_plan_detail_id, packing_plan_detail_tag, **kwargs):  # noqa: E501
        """Add new tags for a packingPlanDetail.  # noqa: E501

        Adds a tag to an existing packingPlanDetail.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_packing_plan_detail_tag(packing_plan_detail_id, packing_plan_detail_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to add a tag to (required)
        :param str packing_plan_detail_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_packing_plan_detail_tag_with_http_info(packing_plan_detail_id, packing_plan_detail_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_packing_plan_detail_tag_with_http_info(packing_plan_detail_id, packing_plan_detail_tag, **kwargs)  # noqa: E501
            return data

    def add_packing_plan_detail_tag_with_http_info(self, packing_plan_detail_id, packing_plan_detail_tag, **kwargs):  # noqa: E501
        """Add new tags for a packingPlanDetail.  # noqa: E501

        Adds a tag to an existing packingPlanDetail.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_packing_plan_detail_tag_with_http_info(packing_plan_detail_id, packing_plan_detail_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to add a tag to (required)
        :param str packing_plan_detail_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['packing_plan_detail_id', 'packing_plan_detail_tag']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_packing_plan_detail_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'packing_plan_detail_id' is set
        if ('packing_plan_detail_id' not in params or
                params['packing_plan_detail_id'] is None):
            raise ValueError("Missing the required parameter `packing_plan_detail_id` when calling `add_packing_plan_detail_tag`")  # noqa: E501
        # verify the required parameter 'packing_plan_detail_tag' is set
        if ('packing_plan_detail_tag' not in params or
                params['packing_plan_detail_tag'] is None):
            raise ValueError("Missing the required parameter `packing_plan_detail_tag` when calling `add_packing_plan_detail_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'packing_plan_detail_id' in params:
            path_params['packingPlanDetailId'] = params['packing_plan_detail_id']  # noqa: E501
        if 'packing_plan_detail_tag' in params:
            path_params['packingPlanDetailTag'] = params['packing_plan_detail_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/packingPlanDetail/{packingPlanDetailId}/tag/{packingPlanDetailTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_packing_plan_detail_file(self, packing_plan_detail_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a packingPlanDetail.  # noqa: E501

        Deletes an existing packingPlanDetail file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_packing_plan_detail_file(packing_plan_detail_id, file_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.delete_packing_plan_detail_file_with_http_info(packing_plan_detail_id, file_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_packing_plan_detail_file_with_http_info(packing_plan_detail_id, file_id, **kwargs)  # noqa: E501
            return data

    def delete_packing_plan_detail_file_with_http_info(self, packing_plan_detail_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a packingPlanDetail.  # noqa: E501

        Deletes an existing packingPlanDetail file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_packing_plan_detail_file_with_http_info(packing_plan_detail_id, file_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['packing_plan_detail_id', 'file_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_packing_plan_detail_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'packing_plan_detail_id' is set
        if ('packing_plan_detail_id' not in params or
                params['packing_plan_detail_id'] is None):
            raise ValueError("Missing the required parameter `packing_plan_detail_id` when calling `delete_packing_plan_detail_file`")  # noqa: E501
        # verify the required parameter 'file_id' is set
        if ('file_id' not in params or
                params['file_id'] is None):
            raise ValueError("Missing the required parameter `file_id` when calling `delete_packing_plan_detail_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'packing_plan_detail_id' in params:
            path_params['packingPlanDetailId'] = params['packing_plan_detail_id']  # noqa: E501
        if 'file_id' in params:
            path_params['fileId'] = params['file_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/packingPlanDetail/{packingPlanDetailId}/file/{fileId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_packing_plan_detail_tag(self, packing_plan_detail_id, packing_plan_detail_tag, **kwargs):  # noqa: E501
        """Delete a tag for a packingPlanDetail.  # noqa: E501

        Deletes an existing packingPlanDetail tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_packing_plan_detail_tag(packing_plan_detail_id, packing_plan_detail_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to remove tag from (required)
        :param str packing_plan_detail_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.delete_packing_plan_detail_tag_with_http_info(packing_plan_detail_id, packing_plan_detail_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_packing_plan_detail_tag_with_http_info(packing_plan_detail_id, packing_plan_detail_tag, **kwargs)  # noqa: E501
            return data

    def delete_packing_plan_detail_tag_with_http_info(self, packing_plan_detail_id, packing_plan_detail_tag, **kwargs):  # noqa: E501
        """Delete a tag for a packingPlanDetail.  # noqa: E501

        Deletes an existing packingPlanDetail tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_packing_plan_detail_tag_with_http_info(packing_plan_detail_id, packing_plan_detail_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to remove tag from (required)
        :param str packing_plan_detail_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['packing_plan_detail_id', 'packing_plan_detail_tag']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_packing_plan_detail_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'packing_plan_detail_id' is set
        if ('packing_plan_detail_id' not in params or
                params['packing_plan_detail_id'] is None):
            raise ValueError("Missing the required parameter `packing_plan_detail_id` when calling `delete_packing_plan_detail_tag`")  # noqa: E501
        # verify the required parameter 'packing_plan_detail_tag' is set
        if ('packing_plan_detail_tag' not in params or
                params['packing_plan_detail_tag'] is None):
            raise ValueError("Missing the required parameter `packing_plan_detail_tag` when calling `delete_packing_plan_detail_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'packing_plan_detail_id' in params:
            path_params['packingPlanDetailId'] = params['packing_plan_detail_id']  # noqa: E501
        if 'packing_plan_detail_tag' in params:
            path_params['packingPlanDetailTag'] = params['packing_plan_detail_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/packingPlanDetail/{packingPlanDetailId}/tag/{packingPlanDetailTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_packing_plan_detail_by_id(self, packing_plan_detail_id, **kwargs):  # noqa: E501
        """Get a duplicated a packingPlanDetail by id  # noqa: E501

        Returns a duplicated packingPlanDetail identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_duplicate_packing_plan_detail_by_id(packing_plan_detail_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to be duplicated. (required)
        :return: PackingPlanDetail
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_duplicate_packing_plan_detail_by_id_with_http_info(packing_plan_detail_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_packing_plan_detail_by_id_with_http_info(packing_plan_detail_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_packing_plan_detail_by_id_with_http_info(self, packing_plan_detail_id, **kwargs):  # noqa: E501
        """Get a duplicated a packingPlanDetail by id  # noqa: E501

        Returns a duplicated packingPlanDetail identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_duplicate_packing_plan_detail_by_id_with_http_info(packing_plan_detail_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to be duplicated. (required)
        :return: PackingPlanDetail
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['packing_plan_detail_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_packing_plan_detail_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'packing_plan_detail_id' is set
        if ('packing_plan_detail_id' not in params or
                params['packing_plan_detail_id'] is None):
            raise ValueError("Missing the required parameter `packing_plan_detail_id` when calling `get_duplicate_packing_plan_detail_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'packing_plan_detail_id' in params:
            path_params['packingPlanDetailId'] = params['packing_plan_detail_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/packingPlanDetail/duplicate/{packingPlanDetailId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PackingPlanDetail',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_packing_plan_detail_by_filter(self, **kwargs):  # noqa: E501
        """Search packingPlanDetails by filter  # noqa: E501

        Returns the list of packingPlanDetails that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_packing_plan_detail_by_filter(_async=True)
        >>> result = thread.get()

        :param _async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[PackingPlanDetail]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_packing_plan_detail_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_packing_plan_detail_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_packing_plan_detail_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search packingPlanDetails by filter  # noqa: E501

        Returns the list of packingPlanDetails that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_packing_plan_detail_by_filter_with_http_info(_async=True)
        >>> result = thread.get()

        :param _async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[PackingPlanDetail]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_packing_plan_detail_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/packingPlanDetail/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[PackingPlanDetail]',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_packing_plan_detail_by_id(self, packing_plan_detail_id, **kwargs):  # noqa: E501
        """Get a packingPlanDetail by id  # noqa: E501

        Returns the packingPlanDetail identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_packing_plan_detail_by_id(packing_plan_detail_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to be returned. (required)
        :return: PackingPlanDetail
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_packing_plan_detail_by_id_with_http_info(packing_plan_detail_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_packing_plan_detail_by_id_with_http_info(packing_plan_detail_id, **kwargs)  # noqa: E501
            return data

    def get_packing_plan_detail_by_id_with_http_info(self, packing_plan_detail_id, **kwargs):  # noqa: E501
        """Get a packingPlanDetail by id  # noqa: E501

        Returns the packingPlanDetail identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_packing_plan_detail_by_id_with_http_info(packing_plan_detail_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to be returned. (required)
        :return: PackingPlanDetail
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['packing_plan_detail_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_packing_plan_detail_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'packing_plan_detail_id' is set
        if ('packing_plan_detail_id' not in params or
                params['packing_plan_detail_id'] is None):
            raise ValueError("Missing the required parameter `packing_plan_detail_id` when calling `get_packing_plan_detail_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'packing_plan_detail_id' in params:
            path_params['packingPlanDetailId'] = params['packing_plan_detail_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/packingPlanDetail/{packingPlanDetailId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PackingPlanDetail',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_packing_plan_detail_files(self, packing_plan_detail_id, **kwargs):  # noqa: E501
        """Get the files for a packingPlanDetail.  # noqa: E501

        Get all existing packingPlanDetail files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_packing_plan_detail_files(packing_plan_detail_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_packing_plan_detail_files_with_http_info(packing_plan_detail_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_packing_plan_detail_files_with_http_info(packing_plan_detail_id, **kwargs)  # noqa: E501
            return data

    def get_packing_plan_detail_files_with_http_info(self, packing_plan_detail_id, **kwargs):  # noqa: E501
        """Get the files for a packingPlanDetail.  # noqa: E501

        Get all existing packingPlanDetail files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_packing_plan_detail_files_with_http_info(packing_plan_detail_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['packing_plan_detail_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_packing_plan_detail_files" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'packing_plan_detail_id' is set
        if ('packing_plan_detail_id' not in params or
                params['packing_plan_detail_id'] is None):
            raise ValueError("Missing the required parameter `packing_plan_detail_id` when calling `get_packing_plan_detail_files`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'packing_plan_detail_id' in params:
            path_params['packingPlanDetailId'] = params['packing_plan_detail_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/packingPlanDetail/{packingPlanDetailId}/file', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_packing_plan_detail_tags(self, packing_plan_detail_id, **kwargs):  # noqa: E501
        """Get the tags for a packingPlanDetail.  # noqa: E501

        Get all existing packingPlanDetail tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_packing_plan_detail_tags(packing_plan_detail_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_packing_plan_detail_tags_with_http_info(packing_plan_detail_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_packing_plan_detail_tags_with_http_info(packing_plan_detail_id, **kwargs)  # noqa: E501
            return data

    def get_packing_plan_detail_tags_with_http_info(self, packing_plan_detail_id, **kwargs):  # noqa: E501
        """Get the tags for a packingPlanDetail.  # noqa: E501

        Get all existing packingPlanDetail tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_packing_plan_detail_tags_with_http_info(packing_plan_detail_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int packing_plan_detail_id: Id of the packingPlanDetail to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['packing_plan_detail_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_packing_plan_detail_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'packing_plan_detail_id' is set
        if ('packing_plan_detail_id' not in params or
                params['packing_plan_detail_id'] is None):
            raise ValueError("Missing the required parameter `packing_plan_detail_id` when calling `get_packing_plan_detail_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'packing_plan_detail_id' in params:
            path_params['packingPlanDetailId'] = params['packing_plan_detail_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/packingPlanDetail/{packingPlanDetailId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_packing_plan_detail_custom_fields(self, body, **kwargs):  # noqa: E501
        """Update a packingPlanDetail custom fields  # noqa: E501

        Updates an existing packingPlanDetail custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.update_packing_plan_detail_custom_fields(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param PackingPlanDetail body: PackingPlanDetail to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.update_packing_plan_detail_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_packing_plan_detail_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_packing_plan_detail_custom_fields_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a packingPlanDetail custom fields  # noqa: E501

        Updates an existing packingPlanDetail custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.update_packing_plan_detail_custom_fields_with_http_info(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param PackingPlanDetail body: PackingPlanDetail to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_packing_plan_detail_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_packing_plan_detail_custom_fields`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/packingPlanDetail/customFields', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
