# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class ParcelInvoiceLineApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_parcel_invoice_line_audit(self, parcel_invoice_line_id, parcel_invoice_line_audit, **kwargs):  # noqa: E501
        """Add new audit for a parcelInvoiceLine  # noqa: E501

        Adds an audit to an existing parcelInvoiceLine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_parcel_invoice_line_audit(parcel_invoice_line_id, parcel_invoice_line_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to add an audit to (required)
        :param str parcel_invoice_line_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_parcel_invoice_line_audit_with_http_info(parcel_invoice_line_id, parcel_invoice_line_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_parcel_invoice_line_audit_with_http_info(parcel_invoice_line_id, parcel_invoice_line_audit, **kwargs)  # noqa: E501
            return data

    def add_parcel_invoice_line_audit_with_http_info(self, parcel_invoice_line_id, parcel_invoice_line_audit, **kwargs):  # noqa: E501
        """Add new audit for a parcelInvoiceLine  # noqa: E501

        Adds an audit to an existing parcelInvoiceLine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_parcel_invoice_line_audit_with_http_info(parcel_invoice_line_id, parcel_invoice_line_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to add an audit to (required)
        :param str parcel_invoice_line_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_invoice_line_id', 'parcel_invoice_line_audit']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_parcel_invoice_line_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parcel_invoice_line_id' is set
        if ('parcel_invoice_line_id' not in params or
                params['parcel_invoice_line_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_line_id` when calling `add_parcel_invoice_line_audit`")  # noqa: E501
        # verify the required parameter 'parcel_invoice_line_audit' is set
        if ('parcel_invoice_line_audit' not in params or
                params['parcel_invoice_line_audit'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_line_audit` when calling `add_parcel_invoice_line_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'parcel_invoice_line_id' in params:
            path_params['parcelInvoiceLineId'] = params['parcel_invoice_line_id']  # noqa: E501
        if 'parcel_invoice_line_audit' in params:
            path_params['parcelInvoiceLineAudit'] = params['parcel_invoice_line_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/parcelInvoiceLine/{parcelInvoiceLineId}/audit/{parcelInvoiceLineAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_parcel_invoice_line_file(self, parcel_invoice_line_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a parcelInvoiceLine  # noqa: E501

        Adds a file to an existing parcelInvoiceLine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_parcel_invoice_line_file(parcel_invoice_line_id, file_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_parcel_invoice_line_file_with_http_info(parcel_invoice_line_id, file_name, **kwargs)  # noqa: E501
        else:
            (data) = self.add_parcel_invoice_line_file_with_http_info(parcel_invoice_line_id, file_name, **kwargs)  # noqa: E501
            return data

    def add_parcel_invoice_line_file_with_http_info(self, parcel_invoice_line_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a parcelInvoiceLine  # noqa: E501

        Adds a file to an existing parcelInvoiceLine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_parcel_invoice_line_file_with_http_info(parcel_invoice_line_id, file_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_invoice_line_id', 'file_name']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_parcel_invoice_line_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parcel_invoice_line_id' is set
        if ('parcel_invoice_line_id' not in params or
                params['parcel_invoice_line_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_line_id` when calling `add_parcel_invoice_line_file`")  # noqa: E501
        # verify the required parameter 'file_name' is set
        if ('file_name' not in params or
                params['file_name'] is None):
            raise ValueError("Missing the required parameter `file_name` when calling `add_parcel_invoice_line_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'parcel_invoice_line_id' in params:
            path_params['parcelInvoiceLineId'] = params['parcel_invoice_line_id']  # noqa: E501
        if 'file_name' in params:
            path_params['fileName'] = params['file_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/parcelInvoiceLine/{parcelInvoiceLineId}/file/{fileName}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_parcel_invoice_line_file_by_url(self, body, parcel_invoice_line_id, **kwargs):  # noqa: E501
        """Attach a file to a parcelInvoiceLine by URL.  # noqa: E501

        Adds a file to an existing parcelInvoiceLine by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_parcel_invoice_line_file_by_url(body, parcel_invoice_line_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_parcel_invoice_line_file_by_url_with_http_info(body, parcel_invoice_line_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_parcel_invoice_line_file_by_url_with_http_info(body, parcel_invoice_line_id, **kwargs)  # noqa: E501
            return data

    def add_parcel_invoice_line_file_by_url_with_http_info(self, body, parcel_invoice_line_id, **kwargs):  # noqa: E501
        """Attach a file to a parcelInvoiceLine by URL.  # noqa: E501

        Adds a file to an existing parcelInvoiceLine by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_parcel_invoice_line_file_by_url_with_http_info(body, parcel_invoice_line_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'parcel_invoice_line_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_parcel_invoice_line_file_by_url" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_parcel_invoice_line_file_by_url`")  # noqa: E501
        # verify the required parameter 'parcel_invoice_line_id' is set
        if ('parcel_invoice_line_id' not in params or
                params['parcel_invoice_line_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_line_id` when calling `add_parcel_invoice_line_file_by_url`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'parcel_invoice_line_id' in params:
            path_params['parcelInvoiceLineId'] = params['parcel_invoice_line_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/parcelInvoiceLine/{parcelInvoiceLineId}/file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_parcel_invoice_line_tag(self, parcel_invoice_line_id, parcel_invoice_line_tag, **kwargs):  # noqa: E501
        """Add new tags for a parcelInvoiceLine.  # noqa: E501

        Adds a tag to an existing parcelInvoiceLine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_parcel_invoice_line_tag(parcel_invoice_line_id, parcel_invoice_line_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to add a tag to (required)
        :param str parcel_invoice_line_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_parcel_invoice_line_tag_with_http_info(parcel_invoice_line_id, parcel_invoice_line_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_parcel_invoice_line_tag_with_http_info(parcel_invoice_line_id, parcel_invoice_line_tag, **kwargs)  # noqa: E501
            return data

    def add_parcel_invoice_line_tag_with_http_info(self, parcel_invoice_line_id, parcel_invoice_line_tag, **kwargs):  # noqa: E501
        """Add new tags for a parcelInvoiceLine.  # noqa: E501

        Adds a tag to an existing parcelInvoiceLine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_parcel_invoice_line_tag_with_http_info(parcel_invoice_line_id, parcel_invoice_line_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to add a tag to (required)
        :param str parcel_invoice_line_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_invoice_line_id', 'parcel_invoice_line_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_parcel_invoice_line_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parcel_invoice_line_id' is set
        if ('parcel_invoice_line_id' not in params or
                params['parcel_invoice_line_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_line_id` when calling `add_parcel_invoice_line_tag`")  # noqa: E501
        # verify the required parameter 'parcel_invoice_line_tag' is set
        if ('parcel_invoice_line_tag' not in params or
                params['parcel_invoice_line_tag'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_line_tag` when calling `add_parcel_invoice_line_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'parcel_invoice_line_id' in params:
            path_params['parcelInvoiceLineId'] = params['parcel_invoice_line_id']  # noqa: E501
        if 'parcel_invoice_line_tag' in params:
            path_params['parcelInvoiceLineTag'] = params['parcel_invoice_line_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/parcelInvoiceLine/{parcelInvoiceLineId}/tag/{parcelInvoiceLineTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_parcel_invoice_line_file(self, parcel_invoice_line_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a parcelInvoiceLine.  # noqa: E501

        Deletes an existing parcelInvoiceLine file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_parcel_invoice_line_file(parcel_invoice_line_id, file_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_parcel_invoice_line_file_with_http_info(parcel_invoice_line_id, file_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_parcel_invoice_line_file_with_http_info(parcel_invoice_line_id, file_id, **kwargs)  # noqa: E501
            return data

    def delete_parcel_invoice_line_file_with_http_info(self, parcel_invoice_line_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a parcelInvoiceLine.  # noqa: E501

        Deletes an existing parcelInvoiceLine file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_parcel_invoice_line_file_with_http_info(parcel_invoice_line_id, file_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_invoice_line_id', 'file_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_parcel_invoice_line_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parcel_invoice_line_id' is set
        if ('parcel_invoice_line_id' not in params or
                params['parcel_invoice_line_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_line_id` when calling `delete_parcel_invoice_line_file`")  # noqa: E501
        # verify the required parameter 'file_id' is set
        if ('file_id' not in params or
                params['file_id'] is None):
            raise ValueError("Missing the required parameter `file_id` when calling `delete_parcel_invoice_line_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'parcel_invoice_line_id' in params:
            path_params['parcelInvoiceLineId'] = params['parcel_invoice_line_id']  # noqa: E501
        if 'file_id' in params:
            path_params['fileId'] = params['file_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/parcelInvoiceLine/{parcelInvoiceLineId}/file/{fileId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_parcel_invoice_line_tag(self, parcel_invoice_line_id, parcel_invoice_line_tag, **kwargs):  # noqa: E501
        """Delete a tag for a parcelInvoiceLine.  # noqa: E501

        Deletes an existing parcelInvoiceLine tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_parcel_invoice_line_tag(parcel_invoice_line_id, parcel_invoice_line_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to remove tag from (required)
        :param str parcel_invoice_line_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_parcel_invoice_line_tag_with_http_info(parcel_invoice_line_id, parcel_invoice_line_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_parcel_invoice_line_tag_with_http_info(parcel_invoice_line_id, parcel_invoice_line_tag, **kwargs)  # noqa: E501
            return data

    def delete_parcel_invoice_line_tag_with_http_info(self, parcel_invoice_line_id, parcel_invoice_line_tag, **kwargs):  # noqa: E501
        """Delete a tag for a parcelInvoiceLine.  # noqa: E501

        Deletes an existing parcelInvoiceLine tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_parcel_invoice_line_tag_with_http_info(parcel_invoice_line_id, parcel_invoice_line_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to remove tag from (required)
        :param str parcel_invoice_line_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_invoice_line_id', 'parcel_invoice_line_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_parcel_invoice_line_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parcel_invoice_line_id' is set
        if ('parcel_invoice_line_id' not in params or
                params['parcel_invoice_line_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_line_id` when calling `delete_parcel_invoice_line_tag`")  # noqa: E501
        # verify the required parameter 'parcel_invoice_line_tag' is set
        if ('parcel_invoice_line_tag' not in params or
                params['parcel_invoice_line_tag'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_line_tag` when calling `delete_parcel_invoice_line_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'parcel_invoice_line_id' in params:
            path_params['parcelInvoiceLineId'] = params['parcel_invoice_line_id']  # noqa: E501
        if 'parcel_invoice_line_tag' in params:
            path_params['parcelInvoiceLineTag'] = params['parcel_invoice_line_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/parcelInvoiceLine/{parcelInvoiceLineId}/tag/{parcelInvoiceLineTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_parcel_invoice_line_by_id(self, parcel_invoice_line_id, **kwargs):  # noqa: E501
        """Get a duplicated a parcelInvoiceLine by id  # noqa: E501

        Returns a duplicated parcelInvoiceLine identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_parcel_invoice_line_by_id(parcel_invoice_line_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to be duplicated. (required)
        :return: ParcelInvoiceLine
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_duplicate_parcel_invoice_line_by_id_with_http_info(parcel_invoice_line_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_parcel_invoice_line_by_id_with_http_info(parcel_invoice_line_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_parcel_invoice_line_by_id_with_http_info(self, parcel_invoice_line_id, **kwargs):  # noqa: E501
        """Get a duplicated a parcelInvoiceLine by id  # noqa: E501

        Returns a duplicated parcelInvoiceLine identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_parcel_invoice_line_by_id_with_http_info(parcel_invoice_line_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to be duplicated. (required)
        :return: ParcelInvoiceLine
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_invoice_line_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_parcel_invoice_line_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parcel_invoice_line_id' is set
        if ('parcel_invoice_line_id' not in params or
                params['parcel_invoice_line_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_line_id` when calling `get_duplicate_parcel_invoice_line_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'parcel_invoice_line_id' in params:
            path_params['parcelInvoiceLineId'] = params['parcel_invoice_line_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/parcelInvoiceLine/duplicate/{parcelInvoiceLineId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ParcelInvoiceLine',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_parcel_invoice_line_by_filter(self, **kwargs):  # noqa: E501
        """Search parcelInvoiceLines by filter  # noqa: E501

        Returns the list of parcelInvoiceLines that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parcel_invoice_line_by_filter(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ParcelInvoiceLine]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_parcel_invoice_line_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_parcel_invoice_line_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_parcel_invoice_line_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search parcelInvoiceLines by filter  # noqa: E501

        Returns the list of parcelInvoiceLines that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parcel_invoice_line_by_filter_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ParcelInvoiceLine]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parcel_invoice_line_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/parcelInvoiceLine/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ParcelInvoiceLine]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_parcel_invoice_line_by_id(self, parcel_invoice_line_id, **kwargs):  # noqa: E501
        """Get a parcelInvoiceLine by id  # noqa: E501

        Returns the parcelInvoiceLine identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parcel_invoice_line_by_id(parcel_invoice_line_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to be returned. (required)
        :return: ParcelInvoiceLine
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_parcel_invoice_line_by_id_with_http_info(parcel_invoice_line_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_parcel_invoice_line_by_id_with_http_info(parcel_invoice_line_id, **kwargs)  # noqa: E501
            return data

    def get_parcel_invoice_line_by_id_with_http_info(self, parcel_invoice_line_id, **kwargs):  # noqa: E501
        """Get a parcelInvoiceLine by id  # noqa: E501

        Returns the parcelInvoiceLine identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parcel_invoice_line_by_id_with_http_info(parcel_invoice_line_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to be returned. (required)
        :return: ParcelInvoiceLine
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_invoice_line_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parcel_invoice_line_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parcel_invoice_line_id' is set
        if ('parcel_invoice_line_id' not in params or
                params['parcel_invoice_line_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_line_id` when calling `get_parcel_invoice_line_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'parcel_invoice_line_id' in params:
            path_params['parcelInvoiceLineId'] = params['parcel_invoice_line_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/parcelInvoiceLine/{parcelInvoiceLineId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ParcelInvoiceLine',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_parcel_invoice_line_files(self, parcel_invoice_line_id, **kwargs):  # noqa: E501
        """Get the files for a parcelInvoiceLine.  # noqa: E501

        Get all existing parcelInvoiceLine files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parcel_invoice_line_files(parcel_invoice_line_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_parcel_invoice_line_files_with_http_info(parcel_invoice_line_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_parcel_invoice_line_files_with_http_info(parcel_invoice_line_id, **kwargs)  # noqa: E501
            return data

    def get_parcel_invoice_line_files_with_http_info(self, parcel_invoice_line_id, **kwargs):  # noqa: E501
        """Get the files for a parcelInvoiceLine.  # noqa: E501

        Get all existing parcelInvoiceLine files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parcel_invoice_line_files_with_http_info(parcel_invoice_line_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_invoice_line_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parcel_invoice_line_files" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parcel_invoice_line_id' is set
        if ('parcel_invoice_line_id' not in params or
                params['parcel_invoice_line_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_line_id` when calling `get_parcel_invoice_line_files`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'parcel_invoice_line_id' in params:
            path_params['parcelInvoiceLineId'] = params['parcel_invoice_line_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/parcelInvoiceLine/{parcelInvoiceLineId}/file', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_parcel_invoice_line_tags(self, parcel_invoice_line_id, **kwargs):  # noqa: E501
        """Get the tags for a parcelInvoiceLine.  # noqa: E501

        Get all existing parcelInvoiceLine tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parcel_invoice_line_tags(parcel_invoice_line_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_parcel_invoice_line_tags_with_http_info(parcel_invoice_line_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_parcel_invoice_line_tags_with_http_info(parcel_invoice_line_id, **kwargs)  # noqa: E501
            return data

    def get_parcel_invoice_line_tags_with_http_info(self, parcel_invoice_line_id, **kwargs):  # noqa: E501
        """Get the tags for a parcelInvoiceLine.  # noqa: E501

        Get all existing parcelInvoiceLine tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parcel_invoice_line_tags_with_http_info(parcel_invoice_line_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int parcel_invoice_line_id: Id of the parcelInvoiceLine to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_invoice_line_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parcel_invoice_line_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parcel_invoice_line_id' is set
        if ('parcel_invoice_line_id' not in params or
                params['parcel_invoice_line_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_line_id` when calling `get_parcel_invoice_line_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'parcel_invoice_line_id' in params:
            path_params['parcelInvoiceLineId'] = params['parcel_invoice_line_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/parcelInvoiceLine/{parcelInvoiceLineId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_parcel_invoice_line(self, body, **kwargs):  # noqa: E501
        """Update a parcelInvoiceLine  # noqa: E501

        Updates an existing parcelInvoiceLine using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_parcel_invoice_line(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ParcelInvoiceLine body: ParcelInvoiceLine to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_parcel_invoice_line_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_parcel_invoice_line_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_parcel_invoice_line_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a parcelInvoiceLine  # noqa: E501

        Updates an existing parcelInvoiceLine using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_parcel_invoice_line_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ParcelInvoiceLine body: ParcelInvoiceLine to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_parcel_invoice_line" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_parcel_invoice_line`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/parcelInvoiceLine', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
