# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class ReplenishmentApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_replenishment_audit(self, replenishment_id, replenishment_audit, **kwargs):  # noqa: E501
        """Add new audit for a replenishment  # noqa: E501

        Adds an audit to an existing replenishment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_replenishment_audit(replenishment_id, replenishment_audit, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to add an audit to (required)
        :param str replenishment_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_replenishment_audit_with_http_info(replenishment_id, replenishment_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_replenishment_audit_with_http_info(replenishment_id, replenishment_audit, **kwargs)  # noqa: E501
            return data

    def add_replenishment_audit_with_http_info(self, replenishment_id, replenishment_audit, **kwargs):  # noqa: E501
        """Add new audit for a replenishment  # noqa: E501

        Adds an audit to an existing replenishment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_replenishment_audit_with_http_info(replenishment_id, replenishment_audit, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to add an audit to (required)
        :param str replenishment_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['replenishment_id', 'replenishment_audit']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_replenishment_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'replenishment_id' is set
        if ('replenishment_id' not in params or
                params['replenishment_id'] is None):
            raise ValueError("Missing the required parameter `replenishment_id` when calling `add_replenishment_audit`")  # noqa: E501
        # verify the required parameter 'replenishment_audit' is set
        if ('replenishment_audit' not in params or
                params['replenishment_audit'] is None):
            raise ValueError("Missing the required parameter `replenishment_audit` when calling `add_replenishment_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'replenishment_id' in params:
            path_params['replenishmentId'] = params['replenishment_id']  # noqa: E501
        if 'replenishment_audit' in params:
            path_params['replenishmentAudit'] = params['replenishment_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/replenishment/{replenishmentId}/audit/{replenishmentAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_replenishment_file(self, replenishment_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a replenishment  # noqa: E501

        Adds a file to an existing replenishment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_replenishment_file(replenishment_id, file_name, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_replenishment_file_with_http_info(replenishment_id, file_name, **kwargs)  # noqa: E501
        else:
            (data) = self.add_replenishment_file_with_http_info(replenishment_id, file_name, **kwargs)  # noqa: E501
            return data

    def add_replenishment_file_with_http_info(self, replenishment_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a replenishment  # noqa: E501

        Adds a file to an existing replenishment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_replenishment_file_with_http_info(replenishment_id, file_name, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['replenishment_id', 'file_name']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_replenishment_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'replenishment_id' is set
        if ('replenishment_id' not in params or
                params['replenishment_id'] is None):
            raise ValueError("Missing the required parameter `replenishment_id` when calling `add_replenishment_file`")  # noqa: E501
        # verify the required parameter 'file_name' is set
        if ('file_name' not in params or
                params['file_name'] is None):
            raise ValueError("Missing the required parameter `file_name` when calling `add_replenishment_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'replenishment_id' in params:
            path_params['replenishmentId'] = params['replenishment_id']  # noqa: E501
        if 'file_name' in params:
            path_params['fileName'] = params['file_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/replenishment/{replenishmentId}/file/{fileName}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_replenishment_file_by_url(self, body, replenishment_id, **kwargs):  # noqa: E501
        """Attach a file to a replenishment by URL.  # noqa: E501

        Adds a file to an existing replenishment by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_replenishment_file_by_url(body, replenishment_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int replenishment_id: Id of the replenishment to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_replenishment_file_by_url_with_http_info(body, replenishment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_replenishment_file_by_url_with_http_info(body, replenishment_id, **kwargs)  # noqa: E501
            return data

    def add_replenishment_file_by_url_with_http_info(self, body, replenishment_id, **kwargs):  # noqa: E501
        """Attach a file to a replenishment by URL.  # noqa: E501

        Adds a file to an existing replenishment by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_replenishment_file_by_url_with_http_info(body, replenishment_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int replenishment_id: Id of the replenishment to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'replenishment_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_replenishment_file_by_url" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_replenishment_file_by_url`")  # noqa: E501
        # verify the required parameter 'replenishment_id' is set
        if ('replenishment_id' not in params or
                params['replenishment_id'] is None):
            raise ValueError("Missing the required parameter `replenishment_id` when calling `add_replenishment_file_by_url`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'replenishment_id' in params:
            path_params['replenishmentId'] = params['replenishment_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/replenishment/{replenishmentId}/file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_replenishment_tag(self, replenishment_id, replenishment_tag, **kwargs):  # noqa: E501
        """Add new tags for a replenishment.  # noqa: E501

        Adds a tag to an existing replenishment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_replenishment_tag(replenishment_id, replenishment_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to add a tag to (required)
        :param str replenishment_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.add_replenishment_tag_with_http_info(replenishment_id, replenishment_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_replenishment_tag_with_http_info(replenishment_id, replenishment_tag, **kwargs)  # noqa: E501
            return data

    def add_replenishment_tag_with_http_info(self, replenishment_id, replenishment_tag, **kwargs):  # noqa: E501
        """Add new tags for a replenishment.  # noqa: E501

        Adds a tag to an existing replenishment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.add_replenishment_tag_with_http_info(replenishment_id, replenishment_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to add a tag to (required)
        :param str replenishment_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['replenishment_id', 'replenishment_tag']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_replenishment_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'replenishment_id' is set
        if ('replenishment_id' not in params or
                params['replenishment_id'] is None):
            raise ValueError("Missing the required parameter `replenishment_id` when calling `add_replenishment_tag`")  # noqa: E501
        # verify the required parameter 'replenishment_tag' is set
        if ('replenishment_tag' not in params or
                params['replenishment_tag'] is None):
            raise ValueError("Missing the required parameter `replenishment_tag` when calling `add_replenishment_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'replenishment_id' in params:
            path_params['replenishmentId'] = params['replenishment_id']  # noqa: E501
        if 'replenishment_tag' in params:
            path_params['replenishmentTag'] = params['replenishment_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/replenishment/{replenishmentId}/tag/{replenishmentTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_replenishment_file(self, replenishment_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a replenishment.  # noqa: E501

        Deletes an existing replenishment file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_replenishment_file(replenishment_id, file_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.delete_replenishment_file_with_http_info(replenishment_id, file_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_replenishment_file_with_http_info(replenishment_id, file_id, **kwargs)  # noqa: E501
            return data

    def delete_replenishment_file_with_http_info(self, replenishment_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a replenishment.  # noqa: E501

        Deletes an existing replenishment file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_replenishment_file_with_http_info(replenishment_id, file_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['replenishment_id', 'file_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_replenishment_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'replenishment_id' is set
        if ('replenishment_id' not in params or
                params['replenishment_id'] is None):
            raise ValueError("Missing the required parameter `replenishment_id` when calling `delete_replenishment_file`")  # noqa: E501
        # verify the required parameter 'file_id' is set
        if ('file_id' not in params or
                params['file_id'] is None):
            raise ValueError("Missing the required parameter `file_id` when calling `delete_replenishment_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'replenishment_id' in params:
            path_params['replenishmentId'] = params['replenishment_id']  # noqa: E501
        if 'file_id' in params:
            path_params['fileId'] = params['file_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/replenishment/{replenishmentId}/file/{fileId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_replenishment_tag(self, replenishment_id, replenishment_tag, **kwargs):  # noqa: E501
        """Delete a tag for a replenishment.  # noqa: E501

        Deletes an existing replenishment tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_replenishment_tag(replenishment_id, replenishment_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to remove tag from (required)
        :param str replenishment_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.delete_replenishment_tag_with_http_info(replenishment_id, replenishment_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_replenishment_tag_with_http_info(replenishment_id, replenishment_tag, **kwargs)  # noqa: E501
            return data

    def delete_replenishment_tag_with_http_info(self, replenishment_id, replenishment_tag, **kwargs):  # noqa: E501
        """Delete a tag for a replenishment.  # noqa: E501

        Deletes an existing replenishment tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.delete_replenishment_tag_with_http_info(replenishment_id, replenishment_tag, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to remove tag from (required)
        :param str replenishment_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['replenishment_id', 'replenishment_tag']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_replenishment_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'replenishment_id' is set
        if ('replenishment_id' not in params or
                params['replenishment_id'] is None):
            raise ValueError("Missing the required parameter `replenishment_id` when calling `delete_replenishment_tag`")  # noqa: E501
        # verify the required parameter 'replenishment_tag' is set
        if ('replenishment_tag' not in params or
                params['replenishment_tag'] is None):
            raise ValueError("Missing the required parameter `replenishment_tag` when calling `delete_replenishment_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'replenishment_id' in params:
            path_params['replenishmentId'] = params['replenishment_id']  # noqa: E501
        if 'replenishment_tag' in params:
            path_params['replenishmentTag'] = params['replenishment_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/replenishment/{replenishmentId}/tag/{replenishmentTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_replenishment_by_id(self, replenishment_id, **kwargs):  # noqa: E501
        """Get a duplicated a replenishment by id  # noqa: E501

        Returns a duplicated replenishment identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_duplicate_replenishment_by_id(replenishment_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to be duplicated. (required)
        :return: Replenishment
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_duplicate_replenishment_by_id_with_http_info(replenishment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_replenishment_by_id_with_http_info(replenishment_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_replenishment_by_id_with_http_info(self, replenishment_id, **kwargs):  # noqa: E501
        """Get a duplicated a replenishment by id  # noqa: E501

        Returns a duplicated replenishment identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_duplicate_replenishment_by_id_with_http_info(replenishment_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to be duplicated. (required)
        :return: Replenishment
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['replenishment_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_replenishment_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'replenishment_id' is set
        if ('replenishment_id' not in params or
                params['replenishment_id'] is None):
            raise ValueError("Missing the required parameter `replenishment_id` when calling `get_duplicate_replenishment_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'replenishment_id' in params:
            path_params['replenishmentId'] = params['replenishment_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/replenishment/duplicate/{replenishmentId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Replenishment',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_replenishment_by_filter(self, **kwargs):  # noqa: E501
        """Search replenishments by filter  # noqa: E501

        Returns the list of replenishments that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_replenishment_by_filter(_async=True)
        >>> result = thread.get()

        :param _async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[Replenishment]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_replenishment_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_replenishment_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_replenishment_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search replenishments by filter  # noqa: E501

        Returns the list of replenishments that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_replenishment_by_filter_with_http_info(_async=True)
        >>> result = thread.get()

        :param _async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[Replenishment]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_replenishment_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/replenishment/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Replenishment]',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_replenishment_by_id(self, replenishment_id, **kwargs):  # noqa: E501
        """Get a replenishment by id  # noqa: E501

        Returns the replenishment identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_replenishment_by_id(replenishment_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to be returned. (required)
        :return: Replenishment
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_replenishment_by_id_with_http_info(replenishment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_replenishment_by_id_with_http_info(replenishment_id, **kwargs)  # noqa: E501
            return data

    def get_replenishment_by_id_with_http_info(self, replenishment_id, **kwargs):  # noqa: E501
        """Get a replenishment by id  # noqa: E501

        Returns the replenishment identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_replenishment_by_id_with_http_info(replenishment_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to be returned. (required)
        :return: Replenishment
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['replenishment_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_replenishment_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'replenishment_id' is set
        if ('replenishment_id' not in params or
                params['replenishment_id'] is None):
            raise ValueError("Missing the required parameter `replenishment_id` when calling `get_replenishment_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'replenishment_id' in params:
            path_params['replenishmentId'] = params['replenishment_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/replenishment/{replenishmentId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Replenishment',  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_replenishment_files(self, replenishment_id, **kwargs):  # noqa: E501
        """Get the files for a replenishment.  # noqa: E501

        Get all existing replenishment files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_replenishment_files(replenishment_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_replenishment_files_with_http_info(replenishment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_replenishment_files_with_http_info(replenishment_id, **kwargs)  # noqa: E501
            return data

    def get_replenishment_files_with_http_info(self, replenishment_id, **kwargs):  # noqa: E501
        """Get the files for a replenishment.  # noqa: E501

        Get all existing replenishment files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_replenishment_files_with_http_info(replenishment_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['replenishment_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_replenishment_files" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'replenishment_id' is set
        if ('replenishment_id' not in params or
                params['replenishment_id'] is None):
            raise ValueError("Missing the required parameter `replenishment_id` when calling `get_replenishment_files`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'replenishment_id' in params:
            path_params['replenishmentId'] = params['replenishment_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/replenishment/{replenishmentId}/file', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_replenishment_tags(self, replenishment_id, **kwargs):  # noqa: E501
        """Get the tags for a replenishment.  # noqa: E501

        Get all existing replenishment tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_replenishment_tags(replenishment_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.get_replenishment_tags_with_http_info(replenishment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_replenishment_tags_with_http_info(replenishment_id, **kwargs)  # noqa: E501
            return data

    def get_replenishment_tags_with_http_info(self, replenishment_id, **kwargs):  # noqa: E501
        """Get the tags for a replenishment.  # noqa: E501

        Get all existing replenishment tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.get_replenishment_tags_with_http_info(replenishment_id, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param int replenishment_id: Id of the replenishment to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['replenishment_id']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_replenishment_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'replenishment_id' is set
        if ('replenishment_id' not in params or
                params['replenishment_id'] is None):
            raise ValueError("Missing the required parameter `replenishment_id` when calling `get_replenishment_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'replenishment_id' in params:
            path_params['replenishmentId'] = params['replenishment_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/replenishment/{replenishmentId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_replenishment_custom_fields(self, body, **kwargs):  # noqa: E501
        """Update a replenishment custom fields  # noqa: E501

        Updates an existing replenishment custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.update_replenishment_custom_fields(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param Replenishment body: Replenishment to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('_async'):
            return self.update_replenishment_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_replenishment_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_replenishment_custom_fields_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a replenishment custom fields  # noqa: E501

        Updates an existing replenishment custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass _async=True
        >>> thread = api.update_replenishment_custom_fields_with_http_info(body, _async=True)
        >>> result = thread.get()

        :param _async bool
        :param Replenishment body: Replenishment to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('_async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_replenishment_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_replenishment_custom_fields`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/replenishment/customFields', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            _async=params.get('_async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
