# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class ShoppingCartConnectionApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_shopping_cart_connection(self, body, **kwargs):  # noqa: E501
        """Create a shoppingCartConnection  # noqa: E501

        Inserts a new shoppingCartConnection using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_shopping_cart_connection(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ShoppingCartConnection body: ShoppingCartConnection to be inserted. (required)
        :return: ShoppingCartConnection
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_shopping_cart_connection_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_shopping_cart_connection_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_shopping_cart_connection_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a shoppingCartConnection  # noqa: E501

        Inserts a new shoppingCartConnection using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_shopping_cart_connection_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ShoppingCartConnection body: ShoppingCartConnection to be inserted. (required)
        :return: ShoppingCartConnection
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_shopping_cart_connection" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_shopping_cart_connection`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/shoppingCartConnection', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ShoppingCartConnection',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_shopping_cart_connection_audit(self, shopping_cart_connection_id, shopping_cart_connection_audit, **kwargs):  # noqa: E501
        """Add new audit for a shoppingCartConnection  # noqa: E501

        Adds an audit to an existing shoppingCartConnection.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_shopping_cart_connection_audit(shopping_cart_connection_id, shopping_cart_connection_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to add an audit to (required)
        :param str shopping_cart_connection_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_shopping_cart_connection_audit_with_http_info(shopping_cart_connection_id, shopping_cart_connection_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_shopping_cart_connection_audit_with_http_info(shopping_cart_connection_id, shopping_cart_connection_audit, **kwargs)  # noqa: E501
            return data

    def add_shopping_cart_connection_audit_with_http_info(self, shopping_cart_connection_id, shopping_cart_connection_audit, **kwargs):  # noqa: E501
        """Add new audit for a shoppingCartConnection  # noqa: E501

        Adds an audit to an existing shoppingCartConnection.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_shopping_cart_connection_audit_with_http_info(shopping_cart_connection_id, shopping_cart_connection_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to add an audit to (required)
        :param str shopping_cart_connection_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['shopping_cart_connection_id', 'shopping_cart_connection_audit']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_shopping_cart_connection_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'shopping_cart_connection_id' is set
        if ('shopping_cart_connection_id' not in params or
                params['shopping_cart_connection_id'] is None):
            raise ValueError("Missing the required parameter `shopping_cart_connection_id` when calling `add_shopping_cart_connection_audit`")  # noqa: E501
        # verify the required parameter 'shopping_cart_connection_audit' is set
        if ('shopping_cart_connection_audit' not in params or
                params['shopping_cart_connection_audit'] is None):
            raise ValueError("Missing the required parameter `shopping_cart_connection_audit` when calling `add_shopping_cart_connection_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'shopping_cart_connection_id' in params:
            path_params['shoppingCartConnectionId'] = params['shopping_cart_connection_id']  # noqa: E501
        if 'shopping_cart_connection_audit' in params:
            path_params['shoppingCartConnectionAudit'] = params['shopping_cart_connection_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/shoppingCartConnection/{shoppingCartConnectionId}/audit/{shoppingCartConnectionAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_shopping_cart_connection_file(self, shopping_cart_connection_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a shoppingCartConnection  # noqa: E501

        Adds a file to an existing shoppingCartConnection.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_shopping_cart_connection_file(shopping_cart_connection_id, file_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_shopping_cart_connection_file_with_http_info(shopping_cart_connection_id, file_name, **kwargs)  # noqa: E501
        else:
            (data) = self.add_shopping_cart_connection_file_with_http_info(shopping_cart_connection_id, file_name, **kwargs)  # noqa: E501
            return data

    def add_shopping_cart_connection_file_with_http_info(self, shopping_cart_connection_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a shoppingCartConnection  # noqa: E501

        Adds a file to an existing shoppingCartConnection.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_shopping_cart_connection_file_with_http_info(shopping_cart_connection_id, file_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['shopping_cart_connection_id', 'file_name']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_shopping_cart_connection_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'shopping_cart_connection_id' is set
        if ('shopping_cart_connection_id' not in params or
                params['shopping_cart_connection_id'] is None):
            raise ValueError("Missing the required parameter `shopping_cart_connection_id` when calling `add_shopping_cart_connection_file`")  # noqa: E501
        # verify the required parameter 'file_name' is set
        if ('file_name' not in params or
                params['file_name'] is None):
            raise ValueError("Missing the required parameter `file_name` when calling `add_shopping_cart_connection_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'shopping_cart_connection_id' in params:
            path_params['shoppingCartConnectionId'] = params['shopping_cart_connection_id']  # noqa: E501
        if 'file_name' in params:
            path_params['fileName'] = params['file_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/shoppingCartConnection/{shoppingCartConnectionId}/file/{fileName}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_shopping_cart_connection_file_by_url(self, body, shopping_cart_connection_id, **kwargs):  # noqa: E501
        """Attach a file to a shoppingCartConnection by URL.  # noqa: E501

        Adds a file to an existing shoppingCartConnection by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_shopping_cart_connection_file_by_url(body, shopping_cart_connection_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_shopping_cart_connection_file_by_url_with_http_info(body, shopping_cart_connection_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_shopping_cart_connection_file_by_url_with_http_info(body, shopping_cart_connection_id, **kwargs)  # noqa: E501
            return data

    def add_shopping_cart_connection_file_by_url_with_http_info(self, body, shopping_cart_connection_id, **kwargs):  # noqa: E501
        """Attach a file to a shoppingCartConnection by URL.  # noqa: E501

        Adds a file to an existing shoppingCartConnection by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_shopping_cart_connection_file_by_url_with_http_info(body, shopping_cart_connection_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'shopping_cart_connection_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_shopping_cart_connection_file_by_url" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_shopping_cart_connection_file_by_url`")  # noqa: E501
        # verify the required parameter 'shopping_cart_connection_id' is set
        if ('shopping_cart_connection_id' not in params or
                params['shopping_cart_connection_id'] is None):
            raise ValueError("Missing the required parameter `shopping_cart_connection_id` when calling `add_shopping_cart_connection_file_by_url`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'shopping_cart_connection_id' in params:
            path_params['shoppingCartConnectionId'] = params['shopping_cart_connection_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/shoppingCartConnection/{shoppingCartConnectionId}/file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_shopping_cart_connection_tag(self, shopping_cart_connection_id, shopping_cart_connection_tag, **kwargs):  # noqa: E501
        """Add new tags for a shoppingCartConnection.  # noqa: E501

        Adds a tag to an existing shoppingCartConnection.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_shopping_cart_connection_tag(shopping_cart_connection_id, shopping_cart_connection_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to add a tag to (required)
        :param str shopping_cart_connection_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_shopping_cart_connection_tag_with_http_info(shopping_cart_connection_id, shopping_cart_connection_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_shopping_cart_connection_tag_with_http_info(shopping_cart_connection_id, shopping_cart_connection_tag, **kwargs)  # noqa: E501
            return data

    def add_shopping_cart_connection_tag_with_http_info(self, shopping_cart_connection_id, shopping_cart_connection_tag, **kwargs):  # noqa: E501
        """Add new tags for a shoppingCartConnection.  # noqa: E501

        Adds a tag to an existing shoppingCartConnection.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_shopping_cart_connection_tag_with_http_info(shopping_cart_connection_id, shopping_cart_connection_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to add a tag to (required)
        :param str shopping_cart_connection_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['shopping_cart_connection_id', 'shopping_cart_connection_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_shopping_cart_connection_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'shopping_cart_connection_id' is set
        if ('shopping_cart_connection_id' not in params or
                params['shopping_cart_connection_id'] is None):
            raise ValueError("Missing the required parameter `shopping_cart_connection_id` when calling `add_shopping_cart_connection_tag`")  # noqa: E501
        # verify the required parameter 'shopping_cart_connection_tag' is set
        if ('shopping_cart_connection_tag' not in params or
                params['shopping_cart_connection_tag'] is None):
            raise ValueError("Missing the required parameter `shopping_cart_connection_tag` when calling `add_shopping_cart_connection_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'shopping_cart_connection_id' in params:
            path_params['shoppingCartConnectionId'] = params['shopping_cart_connection_id']  # noqa: E501
        if 'shopping_cart_connection_tag' in params:
            path_params['shoppingCartConnectionTag'] = params['shopping_cart_connection_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/shoppingCartConnection/{shoppingCartConnectionId}/tag/{shoppingCartConnectionTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_shopping_cart_connection(self, shopping_cart_connection_id, **kwargs):  # noqa: E501
        """Delete a shoppingCartConnection  # noqa: E501

        Deletes the shoppingCartConnection identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_shopping_cart_connection(shopping_cart_connection_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_shopping_cart_connection_with_http_info(shopping_cart_connection_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_shopping_cart_connection_with_http_info(shopping_cart_connection_id, **kwargs)  # noqa: E501
            return data

    def delete_shopping_cart_connection_with_http_info(self, shopping_cart_connection_id, **kwargs):  # noqa: E501
        """Delete a shoppingCartConnection  # noqa: E501

        Deletes the shoppingCartConnection identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_shopping_cart_connection_with_http_info(shopping_cart_connection_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['shopping_cart_connection_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_shopping_cart_connection" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'shopping_cart_connection_id' is set
        if ('shopping_cart_connection_id' not in params or
                params['shopping_cart_connection_id'] is None):
            raise ValueError("Missing the required parameter `shopping_cart_connection_id` when calling `delete_shopping_cart_connection`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'shopping_cart_connection_id' in params:
            path_params['shoppingCartConnectionId'] = params['shopping_cart_connection_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/shoppingCartConnection/{shoppingCartConnectionId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_shopping_cart_connection_file(self, shopping_cart_connection_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a shoppingCartConnection.  # noqa: E501

        Deletes an existing shoppingCartConnection file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_shopping_cart_connection_file(shopping_cart_connection_id, file_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_shopping_cart_connection_file_with_http_info(shopping_cart_connection_id, file_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_shopping_cart_connection_file_with_http_info(shopping_cart_connection_id, file_id, **kwargs)  # noqa: E501
            return data

    def delete_shopping_cart_connection_file_with_http_info(self, shopping_cart_connection_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a shoppingCartConnection.  # noqa: E501

        Deletes an existing shoppingCartConnection file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_shopping_cart_connection_file_with_http_info(shopping_cart_connection_id, file_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['shopping_cart_connection_id', 'file_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_shopping_cart_connection_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'shopping_cart_connection_id' is set
        if ('shopping_cart_connection_id' not in params or
                params['shopping_cart_connection_id'] is None):
            raise ValueError("Missing the required parameter `shopping_cart_connection_id` when calling `delete_shopping_cart_connection_file`")  # noqa: E501
        # verify the required parameter 'file_id' is set
        if ('file_id' not in params or
                params['file_id'] is None):
            raise ValueError("Missing the required parameter `file_id` when calling `delete_shopping_cart_connection_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'shopping_cart_connection_id' in params:
            path_params['shoppingCartConnectionId'] = params['shopping_cart_connection_id']  # noqa: E501
        if 'file_id' in params:
            path_params['fileId'] = params['file_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/shoppingCartConnection/{shoppingCartConnectionId}/file/{fileId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_shopping_cart_connection_tag(self, shopping_cart_connection_id, shopping_cart_connection_tag, **kwargs):  # noqa: E501
        """Delete a tag for a shoppingCartConnection.  # noqa: E501

        Deletes an existing shoppingCartConnection tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_shopping_cart_connection_tag(shopping_cart_connection_id, shopping_cart_connection_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to remove tag from (required)
        :param str shopping_cart_connection_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_shopping_cart_connection_tag_with_http_info(shopping_cart_connection_id, shopping_cart_connection_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_shopping_cart_connection_tag_with_http_info(shopping_cart_connection_id, shopping_cart_connection_tag, **kwargs)  # noqa: E501
            return data

    def delete_shopping_cart_connection_tag_with_http_info(self, shopping_cart_connection_id, shopping_cart_connection_tag, **kwargs):  # noqa: E501
        """Delete a tag for a shoppingCartConnection.  # noqa: E501

        Deletes an existing shoppingCartConnection tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_shopping_cart_connection_tag_with_http_info(shopping_cart_connection_id, shopping_cart_connection_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to remove tag from (required)
        :param str shopping_cart_connection_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['shopping_cart_connection_id', 'shopping_cart_connection_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_shopping_cart_connection_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'shopping_cart_connection_id' is set
        if ('shopping_cart_connection_id' not in params or
                params['shopping_cart_connection_id'] is None):
            raise ValueError("Missing the required parameter `shopping_cart_connection_id` when calling `delete_shopping_cart_connection_tag`")  # noqa: E501
        # verify the required parameter 'shopping_cart_connection_tag' is set
        if ('shopping_cart_connection_tag' not in params or
                params['shopping_cart_connection_tag'] is None):
            raise ValueError("Missing the required parameter `shopping_cart_connection_tag` when calling `delete_shopping_cart_connection_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'shopping_cart_connection_id' in params:
            path_params['shoppingCartConnectionId'] = params['shopping_cart_connection_id']  # noqa: E501
        if 'shopping_cart_connection_tag' in params:
            path_params['shoppingCartConnectionTag'] = params['shopping_cart_connection_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/shoppingCartConnection/{shoppingCartConnectionId}/tag/{shoppingCartConnectionTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_shopping_cart_connection_by_id(self, shopping_cart_connection_id, **kwargs):  # noqa: E501
        """Get a duplicated a shoppingCartConnection by id  # noqa: E501

        Returns a duplicated shoppingCartConnection identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_shopping_cart_connection_by_id(shopping_cart_connection_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to be duplicated. (required)
        :return: ShoppingCartConnection
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_duplicate_shopping_cart_connection_by_id_with_http_info(shopping_cart_connection_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_shopping_cart_connection_by_id_with_http_info(shopping_cart_connection_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_shopping_cart_connection_by_id_with_http_info(self, shopping_cart_connection_id, **kwargs):  # noqa: E501
        """Get a duplicated a shoppingCartConnection by id  # noqa: E501

        Returns a duplicated shoppingCartConnection identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_shopping_cart_connection_by_id_with_http_info(shopping_cart_connection_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to be duplicated. (required)
        :return: ShoppingCartConnection
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['shopping_cart_connection_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_shopping_cart_connection_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'shopping_cart_connection_id' is set
        if ('shopping_cart_connection_id' not in params or
                params['shopping_cart_connection_id'] is None):
            raise ValueError("Missing the required parameter `shopping_cart_connection_id` when calling `get_duplicate_shopping_cart_connection_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'shopping_cart_connection_id' in params:
            path_params['shoppingCartConnectionId'] = params['shopping_cart_connection_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/shoppingCartConnection/duplicate/{shoppingCartConnectionId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ShoppingCartConnection',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_shopping_cart_connection_by_filter(self, **kwargs):  # noqa: E501
        """Search shoppingCartConnections by filter  # noqa: E501

        Returns the list of shoppingCartConnections that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_shopping_cart_connection_by_filter(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ShoppingCartConnection]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_shopping_cart_connection_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_shopping_cart_connection_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_shopping_cart_connection_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search shoppingCartConnections by filter  # noqa: E501

        Returns the list of shoppingCartConnections that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_shopping_cart_connection_by_filter_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ShoppingCartConnection]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_shopping_cart_connection_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/shoppingCartConnection/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ShoppingCartConnection]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_shopping_cart_connection_by_id(self, shopping_cart_connection_id, **kwargs):  # noqa: E501
        """Get a shoppingCartConnection by id  # noqa: E501

        Returns the shoppingCartConnection identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_shopping_cart_connection_by_id(shopping_cart_connection_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to be returned. (required)
        :return: ShoppingCartConnection
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_shopping_cart_connection_by_id_with_http_info(shopping_cart_connection_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_shopping_cart_connection_by_id_with_http_info(shopping_cart_connection_id, **kwargs)  # noqa: E501
            return data

    def get_shopping_cart_connection_by_id_with_http_info(self, shopping_cart_connection_id, **kwargs):  # noqa: E501
        """Get a shoppingCartConnection by id  # noqa: E501

        Returns the shoppingCartConnection identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_shopping_cart_connection_by_id_with_http_info(shopping_cart_connection_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to be returned. (required)
        :return: ShoppingCartConnection
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['shopping_cart_connection_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_shopping_cart_connection_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'shopping_cart_connection_id' is set
        if ('shopping_cart_connection_id' not in params or
                params['shopping_cart_connection_id'] is None):
            raise ValueError("Missing the required parameter `shopping_cart_connection_id` when calling `get_shopping_cart_connection_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'shopping_cart_connection_id' in params:
            path_params['shoppingCartConnectionId'] = params['shopping_cart_connection_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/shoppingCartConnection/{shoppingCartConnectionId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ShoppingCartConnection',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_shopping_cart_connection_files(self, shopping_cart_connection_id, **kwargs):  # noqa: E501
        """Get the files for a shoppingCartConnection.  # noqa: E501

        Get all existing shoppingCartConnection files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_shopping_cart_connection_files(shopping_cart_connection_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_shopping_cart_connection_files_with_http_info(shopping_cart_connection_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_shopping_cart_connection_files_with_http_info(shopping_cart_connection_id, **kwargs)  # noqa: E501
            return data

    def get_shopping_cart_connection_files_with_http_info(self, shopping_cart_connection_id, **kwargs):  # noqa: E501
        """Get the files for a shoppingCartConnection.  # noqa: E501

        Get all existing shoppingCartConnection files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_shopping_cart_connection_files_with_http_info(shopping_cart_connection_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['shopping_cart_connection_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_shopping_cart_connection_files" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'shopping_cart_connection_id' is set
        if ('shopping_cart_connection_id' not in params or
                params['shopping_cart_connection_id'] is None):
            raise ValueError("Missing the required parameter `shopping_cart_connection_id` when calling `get_shopping_cart_connection_files`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'shopping_cart_connection_id' in params:
            path_params['shoppingCartConnectionId'] = params['shopping_cart_connection_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/shoppingCartConnection/{shoppingCartConnectionId}/file', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_shopping_cart_connection_tags(self, shopping_cart_connection_id, **kwargs):  # noqa: E501
        """Get the tags for a shoppingCartConnection.  # noqa: E501

        Get all existing shoppingCartConnection tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_shopping_cart_connection_tags(shopping_cart_connection_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_shopping_cart_connection_tags_with_http_info(shopping_cart_connection_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_shopping_cart_connection_tags_with_http_info(shopping_cart_connection_id, **kwargs)  # noqa: E501
            return data

    def get_shopping_cart_connection_tags_with_http_info(self, shopping_cart_connection_id, **kwargs):  # noqa: E501
        """Get the tags for a shoppingCartConnection.  # noqa: E501

        Get all existing shoppingCartConnection tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_shopping_cart_connection_tags_with_http_info(shopping_cart_connection_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int shopping_cart_connection_id: Id of the shoppingCartConnection to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['shopping_cart_connection_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_shopping_cart_connection_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'shopping_cart_connection_id' is set
        if ('shopping_cart_connection_id' not in params or
                params['shopping_cart_connection_id'] is None):
            raise ValueError("Missing the required parameter `shopping_cart_connection_id` when calling `get_shopping_cart_connection_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'shopping_cart_connection_id' in params:
            path_params['shoppingCartConnectionId'] = params['shopping_cart_connection_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/shoppingCartConnection/{shoppingCartConnectionId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_shopping_cart_connection(self, body, **kwargs):  # noqa: E501
        """Update a shoppingCartConnection  # noqa: E501

        Updates an existing shoppingCartConnection using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_shopping_cart_connection(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ShoppingCartConnection body: ShoppingCartConnection to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_shopping_cart_connection_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_shopping_cart_connection_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_shopping_cart_connection_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a shoppingCartConnection  # noqa: E501

        Updates an existing shoppingCartConnection using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_shopping_cart_connection_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ShoppingCartConnection body: ShoppingCartConnection to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_shopping_cart_connection" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_shopping_cart_connection`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/shoppingCartConnection', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_shopping_cart_connection_custom_fields(self, body, **kwargs):  # noqa: E501
        """Update a shoppingCartConnection custom fields  # noqa: E501

        Updates an existing shoppingCartConnection custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_shopping_cart_connection_custom_fields(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ShoppingCartConnection body: ShoppingCartConnection to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_shopping_cart_connection_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_shopping_cart_connection_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_shopping_cart_connection_custom_fields_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a shoppingCartConnection custom fields  # noqa: E501

        Updates an existing shoppingCartConnection custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_shopping_cart_connection_custom_fields_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ShoppingCartConnection body: ShoppingCartConnection to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_shopping_cart_connection_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_shopping_cart_connection_custom_fields`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/shoppingCartConnection/customFields', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
