# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class ThirdPartyParcelAccountApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_third_party_parcel_account(self, body, **kwargs):  # noqa: E501
        """Create a thirdPartyParcelAccount  # noqa: E501

        Inserts a new thirdPartyParcelAccount using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_third_party_parcel_account(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ThirdPartyParcelAccount body: ThirdPartyParcelAccount to be inserted. (required)
        :return: ThirdPartyParcelAccount
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_third_party_parcel_account_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_third_party_parcel_account_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_third_party_parcel_account_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a thirdPartyParcelAccount  # noqa: E501

        Inserts a new thirdPartyParcelAccount using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_third_party_parcel_account_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ThirdPartyParcelAccount body: ThirdPartyParcelAccount to be inserted. (required)
        :return: ThirdPartyParcelAccount
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_third_party_parcel_account" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_third_party_parcel_account`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/thirdPartyParcelAccount', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ThirdPartyParcelAccount',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_third_party_parcel_account_audit(self, third_party_parcel_account_id, third_party_parcel_account_audit, **kwargs):  # noqa: E501
        """Add new audit for a thirdPartyParcelAccount  # noqa: E501

        Adds an audit to an existing thirdPartyParcelAccount.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_third_party_parcel_account_audit(third_party_parcel_account_id, third_party_parcel_account_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int third_party_parcel_account_id: Id of the thirdPartyParcelAccount to add an audit to (required)
        :param str third_party_parcel_account_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_third_party_parcel_account_audit_with_http_info(third_party_parcel_account_id, third_party_parcel_account_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_third_party_parcel_account_audit_with_http_info(third_party_parcel_account_id, third_party_parcel_account_audit, **kwargs)  # noqa: E501
            return data

    def add_third_party_parcel_account_audit_with_http_info(self, third_party_parcel_account_id, third_party_parcel_account_audit, **kwargs):  # noqa: E501
        """Add new audit for a thirdPartyParcelAccount  # noqa: E501

        Adds an audit to an existing thirdPartyParcelAccount.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_third_party_parcel_account_audit_with_http_info(third_party_parcel_account_id, third_party_parcel_account_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int third_party_parcel_account_id: Id of the thirdPartyParcelAccount to add an audit to (required)
        :param str third_party_parcel_account_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['third_party_parcel_account_id', 'third_party_parcel_account_audit']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_third_party_parcel_account_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'third_party_parcel_account_id' is set
        if ('third_party_parcel_account_id' not in params or
                params['third_party_parcel_account_id'] is None):
            raise ValueError("Missing the required parameter `third_party_parcel_account_id` when calling `add_third_party_parcel_account_audit`")  # noqa: E501
        # verify the required parameter 'third_party_parcel_account_audit' is set
        if ('third_party_parcel_account_audit' not in params or
                params['third_party_parcel_account_audit'] is None):
            raise ValueError("Missing the required parameter `third_party_parcel_account_audit` when calling `add_third_party_parcel_account_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'third_party_parcel_account_id' in params:
            path_params['thirdPartyParcelAccountId'] = params['third_party_parcel_account_id']  # noqa: E501
        if 'third_party_parcel_account_audit' in params:
            path_params['thirdPartyParcelAccountAudit'] = params['third_party_parcel_account_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/thirdPartyParcelAccount/{thirdPartyParcelAccountId}/audit/{thirdPartyParcelAccountAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_third_party_parcel_account_tag(self, third_party_parcel_account_id, third_party_parcel_account_tag, **kwargs):  # noqa: E501
        """Add new tags for a thirdPartyParcelAccount.  # noqa: E501

        Adds a tag to an existing thirdPartyParcelAccount.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_third_party_parcel_account_tag(third_party_parcel_account_id, third_party_parcel_account_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int third_party_parcel_account_id: Id of the thirdPartyParcelAccount to add a tag to (required)
        :param str third_party_parcel_account_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_third_party_parcel_account_tag_with_http_info(third_party_parcel_account_id, third_party_parcel_account_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_third_party_parcel_account_tag_with_http_info(third_party_parcel_account_id, third_party_parcel_account_tag, **kwargs)  # noqa: E501
            return data

    def add_third_party_parcel_account_tag_with_http_info(self, third_party_parcel_account_id, third_party_parcel_account_tag, **kwargs):  # noqa: E501
        """Add new tags for a thirdPartyParcelAccount.  # noqa: E501

        Adds a tag to an existing thirdPartyParcelAccount.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_third_party_parcel_account_tag_with_http_info(third_party_parcel_account_id, third_party_parcel_account_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int third_party_parcel_account_id: Id of the thirdPartyParcelAccount to add a tag to (required)
        :param str third_party_parcel_account_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['third_party_parcel_account_id', 'third_party_parcel_account_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_third_party_parcel_account_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'third_party_parcel_account_id' is set
        if ('third_party_parcel_account_id' not in params or
                params['third_party_parcel_account_id'] is None):
            raise ValueError("Missing the required parameter `third_party_parcel_account_id` when calling `add_third_party_parcel_account_tag`")  # noqa: E501
        # verify the required parameter 'third_party_parcel_account_tag' is set
        if ('third_party_parcel_account_tag' not in params or
                params['third_party_parcel_account_tag'] is None):
            raise ValueError("Missing the required parameter `third_party_parcel_account_tag` when calling `add_third_party_parcel_account_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'third_party_parcel_account_id' in params:
            path_params['thirdPartyParcelAccountId'] = params['third_party_parcel_account_id']  # noqa: E501
        if 'third_party_parcel_account_tag' in params:
            path_params['thirdPartyParcelAccountTag'] = params['third_party_parcel_account_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/thirdPartyParcelAccount/{thirdPartyParcelAccountId}/tag/{thirdPartyParcelAccountTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_third_party_parcel_account(self, third_party_parcel_account_id, **kwargs):  # noqa: E501
        """Delete a thirdPartyParcelAccount  # noqa: E501

        Deletes the thirdPartyParcelAccount identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_third_party_parcel_account(third_party_parcel_account_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int third_party_parcel_account_id: Id of the thirdPartyParcelAccount to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_third_party_parcel_account_with_http_info(third_party_parcel_account_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_third_party_parcel_account_with_http_info(third_party_parcel_account_id, **kwargs)  # noqa: E501
            return data

    def delete_third_party_parcel_account_with_http_info(self, third_party_parcel_account_id, **kwargs):  # noqa: E501
        """Delete a thirdPartyParcelAccount  # noqa: E501

        Deletes the thirdPartyParcelAccount identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_third_party_parcel_account_with_http_info(third_party_parcel_account_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int third_party_parcel_account_id: Id of the thirdPartyParcelAccount to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['third_party_parcel_account_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_third_party_parcel_account" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'third_party_parcel_account_id' is set
        if ('third_party_parcel_account_id' not in params or
                params['third_party_parcel_account_id'] is None):
            raise ValueError("Missing the required parameter `third_party_parcel_account_id` when calling `delete_third_party_parcel_account`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'third_party_parcel_account_id' in params:
            path_params['thirdPartyParcelAccountId'] = params['third_party_parcel_account_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/thirdPartyParcelAccount/{thirdPartyParcelAccountId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_third_party_parcel_account_tag(self, third_party_parcel_account_id, third_party_parcel_account_tag, **kwargs):  # noqa: E501
        """Delete a tag for a thirdPartyParcelAccount.  # noqa: E501

        Deletes an existing thirdPartyParcelAccount tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_third_party_parcel_account_tag(third_party_parcel_account_id, third_party_parcel_account_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int third_party_parcel_account_id: Id of the thirdPartyParcelAccount to remove tag from (required)
        :param str third_party_parcel_account_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_third_party_parcel_account_tag_with_http_info(third_party_parcel_account_id, third_party_parcel_account_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_third_party_parcel_account_tag_with_http_info(third_party_parcel_account_id, third_party_parcel_account_tag, **kwargs)  # noqa: E501
            return data

    def delete_third_party_parcel_account_tag_with_http_info(self, third_party_parcel_account_id, third_party_parcel_account_tag, **kwargs):  # noqa: E501
        """Delete a tag for a thirdPartyParcelAccount.  # noqa: E501

        Deletes an existing thirdPartyParcelAccount tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_third_party_parcel_account_tag_with_http_info(third_party_parcel_account_id, third_party_parcel_account_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int third_party_parcel_account_id: Id of the thirdPartyParcelAccount to remove tag from (required)
        :param str third_party_parcel_account_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['third_party_parcel_account_id', 'third_party_parcel_account_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_third_party_parcel_account_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'third_party_parcel_account_id' is set
        if ('third_party_parcel_account_id' not in params or
                params['third_party_parcel_account_id'] is None):
            raise ValueError("Missing the required parameter `third_party_parcel_account_id` when calling `delete_third_party_parcel_account_tag`")  # noqa: E501
        # verify the required parameter 'third_party_parcel_account_tag' is set
        if ('third_party_parcel_account_tag' not in params or
                params['third_party_parcel_account_tag'] is None):
            raise ValueError("Missing the required parameter `third_party_parcel_account_tag` when calling `delete_third_party_parcel_account_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'third_party_parcel_account_id' in params:
            path_params['thirdPartyParcelAccountId'] = params['third_party_parcel_account_id']  # noqa: E501
        if 'third_party_parcel_account_tag' in params:
            path_params['thirdPartyParcelAccountTag'] = params['third_party_parcel_account_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/thirdPartyParcelAccount/{thirdPartyParcelAccountId}/tag/{thirdPartyParcelAccountTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_third_party_parcel_account_by_id(self, third_party_parcel_account_id, **kwargs):  # noqa: E501
        """Get a duplicated a thirdPartyParcelAccount by id  # noqa: E501

        Returns a duplicated thirdPartyParcelAccount identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_third_party_parcel_account_by_id(third_party_parcel_account_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int third_party_parcel_account_id: Id of the thirdPartyParcelAccount to be duplicated. (required)
        :return: ThirdPartyParcelAccount
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_duplicate_third_party_parcel_account_by_id_with_http_info(third_party_parcel_account_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_third_party_parcel_account_by_id_with_http_info(third_party_parcel_account_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_third_party_parcel_account_by_id_with_http_info(self, third_party_parcel_account_id, **kwargs):  # noqa: E501
        """Get a duplicated a thirdPartyParcelAccount by id  # noqa: E501

        Returns a duplicated thirdPartyParcelAccount identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_third_party_parcel_account_by_id_with_http_info(third_party_parcel_account_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int third_party_parcel_account_id: Id of the thirdPartyParcelAccount to be duplicated. (required)
        :return: ThirdPartyParcelAccount
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['third_party_parcel_account_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_third_party_parcel_account_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'third_party_parcel_account_id' is set
        if ('third_party_parcel_account_id' not in params or
                params['third_party_parcel_account_id'] is None):
            raise ValueError("Missing the required parameter `third_party_parcel_account_id` when calling `get_duplicate_third_party_parcel_account_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'third_party_parcel_account_id' in params:
            path_params['thirdPartyParcelAccountId'] = params['third_party_parcel_account_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/thirdPartyParcelAccount/duplicate/{thirdPartyParcelAccountId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ThirdPartyParcelAccount',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_third_party_parcel_account_by_filter(self, **kwargs):  # noqa: E501
        """Search thirdPartyParcelAccounts by filter  # noqa: E501

        Returns the list of thirdPartyParcelAccounts that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_third_party_parcel_account_by_filter(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ThirdPartyParcelAccount]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_third_party_parcel_account_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_third_party_parcel_account_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_third_party_parcel_account_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search thirdPartyParcelAccounts by filter  # noqa: E501

        Returns the list of thirdPartyParcelAccounts that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_third_party_parcel_account_by_filter_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ThirdPartyParcelAccount]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_third_party_parcel_account_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/thirdPartyParcelAccount/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ThirdPartyParcelAccount]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_third_party_parcel_account_by_id(self, third_party_parcel_account_id, **kwargs):  # noqa: E501
        """Get a thirdPartyParcelAccount by id  # noqa: E501

        Returns the thirdPartyParcelAccount identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_third_party_parcel_account_by_id(third_party_parcel_account_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int third_party_parcel_account_id: Id of the thirdPartyParcelAccount to be returned. (required)
        :return: ThirdPartyParcelAccount
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_third_party_parcel_account_by_id_with_http_info(third_party_parcel_account_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_third_party_parcel_account_by_id_with_http_info(third_party_parcel_account_id, **kwargs)  # noqa: E501
            return data

    def get_third_party_parcel_account_by_id_with_http_info(self, third_party_parcel_account_id, **kwargs):  # noqa: E501
        """Get a thirdPartyParcelAccount by id  # noqa: E501

        Returns the thirdPartyParcelAccount identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_third_party_parcel_account_by_id_with_http_info(third_party_parcel_account_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int third_party_parcel_account_id: Id of the thirdPartyParcelAccount to be returned. (required)
        :return: ThirdPartyParcelAccount
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['third_party_parcel_account_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_third_party_parcel_account_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'third_party_parcel_account_id' is set
        if ('third_party_parcel_account_id' not in params or
                params['third_party_parcel_account_id'] is None):
            raise ValueError("Missing the required parameter `third_party_parcel_account_id` when calling `get_third_party_parcel_account_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'third_party_parcel_account_id' in params:
            path_params['thirdPartyParcelAccountId'] = params['third_party_parcel_account_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/thirdPartyParcelAccount/{thirdPartyParcelAccountId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ThirdPartyParcelAccount',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_third_party_parcel_account_tags(self, third_party_parcel_account_id, **kwargs):  # noqa: E501
        """Get the tags for a thirdPartyParcelAccount.  # noqa: E501

        Get all existing thirdPartyParcelAccount tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_third_party_parcel_account_tags(third_party_parcel_account_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int third_party_parcel_account_id: Id of the thirdPartyParcelAccount to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_third_party_parcel_account_tags_with_http_info(third_party_parcel_account_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_third_party_parcel_account_tags_with_http_info(third_party_parcel_account_id, **kwargs)  # noqa: E501
            return data

    def get_third_party_parcel_account_tags_with_http_info(self, third_party_parcel_account_id, **kwargs):  # noqa: E501
        """Get the tags for a thirdPartyParcelAccount.  # noqa: E501

        Get all existing thirdPartyParcelAccount tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_third_party_parcel_account_tags_with_http_info(third_party_parcel_account_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int third_party_parcel_account_id: Id of the thirdPartyParcelAccount to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['third_party_parcel_account_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_third_party_parcel_account_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'third_party_parcel_account_id' is set
        if ('third_party_parcel_account_id' not in params or
                params['third_party_parcel_account_id'] is None):
            raise ValueError("Missing the required parameter `third_party_parcel_account_id` when calling `get_third_party_parcel_account_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'third_party_parcel_account_id' in params:
            path_params['thirdPartyParcelAccountId'] = params['third_party_parcel_account_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/thirdPartyParcelAccount/{thirdPartyParcelAccountId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_third_party_parcel_account(self, body, **kwargs):  # noqa: E501
        """Update a thirdPartyParcelAccount  # noqa: E501

        Updates an existing thirdPartyParcelAccount using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_third_party_parcel_account(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ThirdPartyParcelAccount body: ThirdPartyParcelAccount to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_third_party_parcel_account_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_third_party_parcel_account_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_third_party_parcel_account_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a thirdPartyParcelAccount  # noqa: E501

        Updates an existing thirdPartyParcelAccount using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_third_party_parcel_account_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ThirdPartyParcelAccount body: ThirdPartyParcelAccount to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_third_party_parcel_account" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_third_party_parcel_account`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/thirdPartyParcelAccount', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_third_party_parcel_account_custom_fields(self, body, **kwargs):  # noqa: E501
        """Update a thirdPartyParcelAccount custom fields  # noqa: E501

        Updates an existing thirdPartyParcelAccount custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_third_party_parcel_account_custom_fields(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ThirdPartyParcelAccount body: ThirdPartyParcelAccount to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_third_party_parcel_account_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_third_party_parcel_account_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_third_party_parcel_account_custom_fields_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a thirdPartyParcelAccount custom fields  # noqa: E501

        Updates an existing thirdPartyParcelAccount custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_third_party_parcel_account_custom_fields_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ThirdPartyParcelAccount body: ThirdPartyParcelAccount to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_third_party_parcel_account_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_third_party_parcel_account_custom_fields`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/thirdPartyParcelAccount/customFields', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
