# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: beta
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class VendorComplianceSurveyApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_vendor_compliance_survey(self, body, **kwargs):  # noqa: E501
        """Create a vendorComplianceSurvey  # noqa: E501

        Inserts a new vendorComplianceSurvey using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_vendor_compliance_survey(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param VendorComplianceSurvey body: VendorComplianceSurvey to be inserted. (required)
        :return: VendorComplianceSurvey
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_vendor_compliance_survey_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_vendor_compliance_survey_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_vendor_compliance_survey_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a vendorComplianceSurvey  # noqa: E501

        Inserts a new vendorComplianceSurvey using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_vendor_compliance_survey_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param VendorComplianceSurvey body: VendorComplianceSurvey to be inserted. (required)
        :return: VendorComplianceSurvey
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_vendor_compliance_survey" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_vendor_compliance_survey`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/vendorComplianceSurvey', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='VendorComplianceSurvey',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_vendor_compliance_survey_audit(self, vendor_compliance_survey_id, vendor_compliance_survey_audit, **kwargs):  # noqa: E501
        """Add new audit for a vendorComplianceSurvey  # noqa: E501

        Adds an audit to an existing vendorComplianceSurvey.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_vendor_compliance_survey_audit(vendor_compliance_survey_id, vendor_compliance_survey_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to add an audit to (required)
        :param str vendor_compliance_survey_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_vendor_compliance_survey_audit_with_http_info(vendor_compliance_survey_id, vendor_compliance_survey_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_vendor_compliance_survey_audit_with_http_info(vendor_compliance_survey_id, vendor_compliance_survey_audit, **kwargs)  # noqa: E501
            return data

    def add_vendor_compliance_survey_audit_with_http_info(self, vendor_compliance_survey_id, vendor_compliance_survey_audit, **kwargs):  # noqa: E501
        """Add new audit for a vendorComplianceSurvey  # noqa: E501

        Adds an audit to an existing vendorComplianceSurvey.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_vendor_compliance_survey_audit_with_http_info(vendor_compliance_survey_id, vendor_compliance_survey_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to add an audit to (required)
        :param str vendor_compliance_survey_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['vendor_compliance_survey_id', 'vendor_compliance_survey_audit']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_vendor_compliance_survey_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'vendor_compliance_survey_id' is set
        if ('vendor_compliance_survey_id' not in params or
                params['vendor_compliance_survey_id'] is None):
            raise ValueError("Missing the required parameter `vendor_compliance_survey_id` when calling `add_vendor_compliance_survey_audit`")  # noqa: E501
        # verify the required parameter 'vendor_compliance_survey_audit' is set
        if ('vendor_compliance_survey_audit' not in params or
                params['vendor_compliance_survey_audit'] is None):
            raise ValueError("Missing the required parameter `vendor_compliance_survey_audit` when calling `add_vendor_compliance_survey_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'vendor_compliance_survey_id' in params:
            path_params['vendorComplianceSurveyId'] = params['vendor_compliance_survey_id']  # noqa: E501
        if 'vendor_compliance_survey_audit' in params:
            path_params['vendorComplianceSurveyAudit'] = params['vendor_compliance_survey_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/vendorComplianceSurvey/{vendorComplianceSurveyId}/audit/{vendorComplianceSurveyAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_vendor_compliance_survey_file(self, vendor_compliance_survey_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a vendorComplianceSurvey  # noqa: E501

        Adds a file to an existing vendorComplianceSurvey.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_vendor_compliance_survey_file(vendor_compliance_survey_id, file_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_vendor_compliance_survey_file_with_http_info(vendor_compliance_survey_id, file_name, **kwargs)  # noqa: E501
        else:
            (data) = self.add_vendor_compliance_survey_file_with_http_info(vendor_compliance_survey_id, file_name, **kwargs)  # noqa: E501
            return data

    def add_vendor_compliance_survey_file_with_http_info(self, vendor_compliance_survey_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a vendorComplianceSurvey  # noqa: E501

        Adds a file to an existing vendorComplianceSurvey.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_vendor_compliance_survey_file_with_http_info(vendor_compliance_survey_id, file_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['vendor_compliance_survey_id', 'file_name']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_vendor_compliance_survey_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'vendor_compliance_survey_id' is set
        if ('vendor_compliance_survey_id' not in params or
                params['vendor_compliance_survey_id'] is None):
            raise ValueError("Missing the required parameter `vendor_compliance_survey_id` when calling `add_vendor_compliance_survey_file`")  # noqa: E501
        # verify the required parameter 'file_name' is set
        if ('file_name' not in params or
                params['file_name'] is None):
            raise ValueError("Missing the required parameter `file_name` when calling `add_vendor_compliance_survey_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'vendor_compliance_survey_id' in params:
            path_params['vendorComplianceSurveyId'] = params['vendor_compliance_survey_id']  # noqa: E501
        if 'file_name' in params:
            path_params['fileName'] = params['file_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/vendorComplianceSurvey/{vendorComplianceSurveyId}/file/{fileName}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_vendor_compliance_survey_file_by_url(self, body, vendor_compliance_survey_id, **kwargs):  # noqa: E501
        """Attach a file to a vendorComplianceSurvey by URL.  # noqa: E501

        Adds a file to an existing vendorComplianceSurvey by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_vendor_compliance_survey_file_by_url(body, vendor_compliance_survey_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_vendor_compliance_survey_file_by_url_with_http_info(body, vendor_compliance_survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_vendor_compliance_survey_file_by_url_with_http_info(body, vendor_compliance_survey_id, **kwargs)  # noqa: E501
            return data

    def add_vendor_compliance_survey_file_by_url_with_http_info(self, body, vendor_compliance_survey_id, **kwargs):  # noqa: E501
        """Attach a file to a vendorComplianceSurvey by URL.  # noqa: E501

        Adds a file to an existing vendorComplianceSurvey by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_vendor_compliance_survey_file_by_url_with_http_info(body, vendor_compliance_survey_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'vendor_compliance_survey_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_vendor_compliance_survey_file_by_url" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_vendor_compliance_survey_file_by_url`")  # noqa: E501
        # verify the required parameter 'vendor_compliance_survey_id' is set
        if ('vendor_compliance_survey_id' not in params or
                params['vendor_compliance_survey_id'] is None):
            raise ValueError("Missing the required parameter `vendor_compliance_survey_id` when calling `add_vendor_compliance_survey_file_by_url`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'vendor_compliance_survey_id' in params:
            path_params['vendorComplianceSurveyId'] = params['vendor_compliance_survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/vendorComplianceSurvey/{vendorComplianceSurveyId}/file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_vendor_compliance_survey_tag(self, vendor_compliance_survey_id, vendor_compliance_survey_tag, **kwargs):  # noqa: E501
        """Add new tags for a vendorComplianceSurvey.  # noqa: E501

        Adds a tag to an existing vendorComplianceSurvey.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_vendor_compliance_survey_tag(vendor_compliance_survey_id, vendor_compliance_survey_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to add a tag to (required)
        :param str vendor_compliance_survey_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_vendor_compliance_survey_tag_with_http_info(vendor_compliance_survey_id, vendor_compliance_survey_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_vendor_compliance_survey_tag_with_http_info(vendor_compliance_survey_id, vendor_compliance_survey_tag, **kwargs)  # noqa: E501
            return data

    def add_vendor_compliance_survey_tag_with_http_info(self, vendor_compliance_survey_id, vendor_compliance_survey_tag, **kwargs):  # noqa: E501
        """Add new tags for a vendorComplianceSurvey.  # noqa: E501

        Adds a tag to an existing vendorComplianceSurvey.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_vendor_compliance_survey_tag_with_http_info(vendor_compliance_survey_id, vendor_compliance_survey_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to add a tag to (required)
        :param str vendor_compliance_survey_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['vendor_compliance_survey_id', 'vendor_compliance_survey_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_vendor_compliance_survey_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'vendor_compliance_survey_id' is set
        if ('vendor_compliance_survey_id' not in params or
                params['vendor_compliance_survey_id'] is None):
            raise ValueError("Missing the required parameter `vendor_compliance_survey_id` when calling `add_vendor_compliance_survey_tag`")  # noqa: E501
        # verify the required parameter 'vendor_compliance_survey_tag' is set
        if ('vendor_compliance_survey_tag' not in params or
                params['vendor_compliance_survey_tag'] is None):
            raise ValueError("Missing the required parameter `vendor_compliance_survey_tag` when calling `add_vendor_compliance_survey_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'vendor_compliance_survey_id' in params:
            path_params['vendorComplianceSurveyId'] = params['vendor_compliance_survey_id']  # noqa: E501
        if 'vendor_compliance_survey_tag' in params:
            path_params['vendorComplianceSurveyTag'] = params['vendor_compliance_survey_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/vendorComplianceSurvey/{vendorComplianceSurveyId}/tag/{vendorComplianceSurveyTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_vendor_compliance_survey(self, vendor_compliance_survey_id, **kwargs):  # noqa: E501
        """Delete a vendorComplianceSurvey  # noqa: E501

        Deletes the vendorComplianceSurvey identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_vendor_compliance_survey(vendor_compliance_survey_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_vendor_compliance_survey_with_http_info(vendor_compliance_survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_vendor_compliance_survey_with_http_info(vendor_compliance_survey_id, **kwargs)  # noqa: E501
            return data

    def delete_vendor_compliance_survey_with_http_info(self, vendor_compliance_survey_id, **kwargs):  # noqa: E501
        """Delete a vendorComplianceSurvey  # noqa: E501

        Deletes the vendorComplianceSurvey identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_vendor_compliance_survey_with_http_info(vendor_compliance_survey_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['vendor_compliance_survey_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_vendor_compliance_survey" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'vendor_compliance_survey_id' is set
        if ('vendor_compliance_survey_id' not in params or
                params['vendor_compliance_survey_id'] is None):
            raise ValueError("Missing the required parameter `vendor_compliance_survey_id` when calling `delete_vendor_compliance_survey`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'vendor_compliance_survey_id' in params:
            path_params['vendorComplianceSurveyId'] = params['vendor_compliance_survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/vendorComplianceSurvey/{vendorComplianceSurveyId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_vendor_compliance_survey_file(self, vendor_compliance_survey_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a vendorComplianceSurvey.  # noqa: E501

        Deletes an existing vendorComplianceSurvey file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_vendor_compliance_survey_file(vendor_compliance_survey_id, file_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_vendor_compliance_survey_file_with_http_info(vendor_compliance_survey_id, file_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_vendor_compliance_survey_file_with_http_info(vendor_compliance_survey_id, file_id, **kwargs)  # noqa: E501
            return data

    def delete_vendor_compliance_survey_file_with_http_info(self, vendor_compliance_survey_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a vendorComplianceSurvey.  # noqa: E501

        Deletes an existing vendorComplianceSurvey file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_vendor_compliance_survey_file_with_http_info(vendor_compliance_survey_id, file_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['vendor_compliance_survey_id', 'file_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_vendor_compliance_survey_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'vendor_compliance_survey_id' is set
        if ('vendor_compliance_survey_id' not in params or
                params['vendor_compliance_survey_id'] is None):
            raise ValueError("Missing the required parameter `vendor_compliance_survey_id` when calling `delete_vendor_compliance_survey_file`")  # noqa: E501
        # verify the required parameter 'file_id' is set
        if ('file_id' not in params or
                params['file_id'] is None):
            raise ValueError("Missing the required parameter `file_id` when calling `delete_vendor_compliance_survey_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'vendor_compliance_survey_id' in params:
            path_params['vendorComplianceSurveyId'] = params['vendor_compliance_survey_id']  # noqa: E501
        if 'file_id' in params:
            path_params['fileId'] = params['file_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/vendorComplianceSurvey/{vendorComplianceSurveyId}/file/{fileId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_vendor_compliance_survey_tag(self, vendor_compliance_survey_id, vendor_compliance_survey_tag, **kwargs):  # noqa: E501
        """Delete a tag for a vendorComplianceSurvey.  # noqa: E501

        Deletes an existing vendorComplianceSurvey tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_vendor_compliance_survey_tag(vendor_compliance_survey_id, vendor_compliance_survey_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to remove tag from (required)
        :param str vendor_compliance_survey_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_vendor_compliance_survey_tag_with_http_info(vendor_compliance_survey_id, vendor_compliance_survey_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_vendor_compliance_survey_tag_with_http_info(vendor_compliance_survey_id, vendor_compliance_survey_tag, **kwargs)  # noqa: E501
            return data

    def delete_vendor_compliance_survey_tag_with_http_info(self, vendor_compliance_survey_id, vendor_compliance_survey_tag, **kwargs):  # noqa: E501
        """Delete a tag for a vendorComplianceSurvey.  # noqa: E501

        Deletes an existing vendorComplianceSurvey tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_vendor_compliance_survey_tag_with_http_info(vendor_compliance_survey_id, vendor_compliance_survey_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to remove tag from (required)
        :param str vendor_compliance_survey_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['vendor_compliance_survey_id', 'vendor_compliance_survey_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_vendor_compliance_survey_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'vendor_compliance_survey_id' is set
        if ('vendor_compliance_survey_id' not in params or
                params['vendor_compliance_survey_id'] is None):
            raise ValueError("Missing the required parameter `vendor_compliance_survey_id` when calling `delete_vendor_compliance_survey_tag`")  # noqa: E501
        # verify the required parameter 'vendor_compliance_survey_tag' is set
        if ('vendor_compliance_survey_tag' not in params or
                params['vendor_compliance_survey_tag'] is None):
            raise ValueError("Missing the required parameter `vendor_compliance_survey_tag` when calling `delete_vendor_compliance_survey_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'vendor_compliance_survey_id' in params:
            path_params['vendorComplianceSurveyId'] = params['vendor_compliance_survey_id']  # noqa: E501
        if 'vendor_compliance_survey_tag' in params:
            path_params['vendorComplianceSurveyTag'] = params['vendor_compliance_survey_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/vendorComplianceSurvey/{vendorComplianceSurveyId}/tag/{vendorComplianceSurveyTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_vendor_compliance_survey_by_id(self, vendor_compliance_survey_id, **kwargs):  # noqa: E501
        """Get a duplicated a vendorComplianceSurvey by id  # noqa: E501

        Returns a duplicated vendorComplianceSurvey identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_vendor_compliance_survey_by_id(vendor_compliance_survey_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to be duplicated. (required)
        :return: VendorComplianceSurvey
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_duplicate_vendor_compliance_survey_by_id_with_http_info(vendor_compliance_survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_vendor_compliance_survey_by_id_with_http_info(vendor_compliance_survey_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_vendor_compliance_survey_by_id_with_http_info(self, vendor_compliance_survey_id, **kwargs):  # noqa: E501
        """Get a duplicated a vendorComplianceSurvey by id  # noqa: E501

        Returns a duplicated vendorComplianceSurvey identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_vendor_compliance_survey_by_id_with_http_info(vendor_compliance_survey_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to be duplicated. (required)
        :return: VendorComplianceSurvey
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['vendor_compliance_survey_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_vendor_compliance_survey_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'vendor_compliance_survey_id' is set
        if ('vendor_compliance_survey_id' not in params or
                params['vendor_compliance_survey_id'] is None):
            raise ValueError("Missing the required parameter `vendor_compliance_survey_id` when calling `get_duplicate_vendor_compliance_survey_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'vendor_compliance_survey_id' in params:
            path_params['vendorComplianceSurveyId'] = params['vendor_compliance_survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/vendorComplianceSurvey/duplicate/{vendorComplianceSurveyId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='VendorComplianceSurvey',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_vendor_compliance_survey_by_filter(self, **kwargs):  # noqa: E501
        """Search vendorComplianceSurveys by filter  # noqa: E501

        Returns the list of vendorComplianceSurveys that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_vendor_compliance_survey_by_filter(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[VendorComplianceSurvey]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_vendor_compliance_survey_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_vendor_compliance_survey_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_vendor_compliance_survey_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search vendorComplianceSurveys by filter  # noqa: E501

        Returns the list of vendorComplianceSurveys that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_vendor_compliance_survey_by_filter_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[VendorComplianceSurvey]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_vendor_compliance_survey_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/vendorComplianceSurvey/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[VendorComplianceSurvey]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_vendor_compliance_survey_by_id(self, vendor_compliance_survey_id, **kwargs):  # noqa: E501
        """Get a vendorComplianceSurvey by id  # noqa: E501

        Returns the vendorComplianceSurvey identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_vendor_compliance_survey_by_id(vendor_compliance_survey_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to be returned. (required)
        :return: VendorComplianceSurvey
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_vendor_compliance_survey_by_id_with_http_info(vendor_compliance_survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_vendor_compliance_survey_by_id_with_http_info(vendor_compliance_survey_id, **kwargs)  # noqa: E501
            return data

    def get_vendor_compliance_survey_by_id_with_http_info(self, vendor_compliance_survey_id, **kwargs):  # noqa: E501
        """Get a vendorComplianceSurvey by id  # noqa: E501

        Returns the vendorComplianceSurvey identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_vendor_compliance_survey_by_id_with_http_info(vendor_compliance_survey_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to be returned. (required)
        :return: VendorComplianceSurvey
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['vendor_compliance_survey_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_vendor_compliance_survey_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'vendor_compliance_survey_id' is set
        if ('vendor_compliance_survey_id' not in params or
                params['vendor_compliance_survey_id'] is None):
            raise ValueError("Missing the required parameter `vendor_compliance_survey_id` when calling `get_vendor_compliance_survey_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'vendor_compliance_survey_id' in params:
            path_params['vendorComplianceSurveyId'] = params['vendor_compliance_survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/vendorComplianceSurvey/{vendorComplianceSurveyId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='VendorComplianceSurvey',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_vendor_compliance_survey_files(self, vendor_compliance_survey_id, **kwargs):  # noqa: E501
        """Get the files for a vendorComplianceSurvey.  # noqa: E501

        Get all existing vendorComplianceSurvey files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_vendor_compliance_survey_files(vendor_compliance_survey_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_vendor_compliance_survey_files_with_http_info(vendor_compliance_survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_vendor_compliance_survey_files_with_http_info(vendor_compliance_survey_id, **kwargs)  # noqa: E501
            return data

    def get_vendor_compliance_survey_files_with_http_info(self, vendor_compliance_survey_id, **kwargs):  # noqa: E501
        """Get the files for a vendorComplianceSurvey.  # noqa: E501

        Get all existing vendorComplianceSurvey files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_vendor_compliance_survey_files_with_http_info(vendor_compliance_survey_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['vendor_compliance_survey_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_vendor_compliance_survey_files" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'vendor_compliance_survey_id' is set
        if ('vendor_compliance_survey_id' not in params or
                params['vendor_compliance_survey_id'] is None):
            raise ValueError("Missing the required parameter `vendor_compliance_survey_id` when calling `get_vendor_compliance_survey_files`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'vendor_compliance_survey_id' in params:
            path_params['vendorComplianceSurveyId'] = params['vendor_compliance_survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/vendorComplianceSurvey/{vendorComplianceSurveyId}/file', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_vendor_compliance_survey_tags(self, vendor_compliance_survey_id, **kwargs):  # noqa: E501
        """Get the tags for a vendorComplianceSurvey.  # noqa: E501

        Get all existing vendorComplianceSurvey tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_vendor_compliance_survey_tags(vendor_compliance_survey_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_vendor_compliance_survey_tags_with_http_info(vendor_compliance_survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_vendor_compliance_survey_tags_with_http_info(vendor_compliance_survey_id, **kwargs)  # noqa: E501
            return data

    def get_vendor_compliance_survey_tags_with_http_info(self, vendor_compliance_survey_id, **kwargs):  # noqa: E501
        """Get the tags for a vendorComplianceSurvey.  # noqa: E501

        Get all existing vendorComplianceSurvey tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_vendor_compliance_survey_tags_with_http_info(vendor_compliance_survey_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int vendor_compliance_survey_id: Id of the vendorComplianceSurvey to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['vendor_compliance_survey_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_vendor_compliance_survey_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'vendor_compliance_survey_id' is set
        if ('vendor_compliance_survey_id' not in params or
                params['vendor_compliance_survey_id'] is None):
            raise ValueError("Missing the required parameter `vendor_compliance_survey_id` when calling `get_vendor_compliance_survey_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'vendor_compliance_survey_id' in params:
            path_params['vendorComplianceSurveyId'] = params['vendor_compliance_survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/vendorComplianceSurvey/{vendorComplianceSurveyId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_vendor_compliance_survey(self, body, **kwargs):  # noqa: E501
        """Update a vendorComplianceSurvey  # noqa: E501

        Updates an existing vendorComplianceSurvey using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_vendor_compliance_survey(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param VendorComplianceSurvey body: VendorComplianceSurvey to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_vendor_compliance_survey_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_vendor_compliance_survey_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_vendor_compliance_survey_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a vendorComplianceSurvey  # noqa: E501

        Updates an existing vendorComplianceSurvey using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_vendor_compliance_survey_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param VendorComplianceSurvey body: VendorComplianceSurvey to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_vendor_compliance_survey" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_vendor_compliance_survey`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/vendorComplianceSurvey', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_vendor_compliance_survey_custom_fields(self, body, **kwargs):  # noqa: E501
        """Update a vendorComplianceSurvey custom fields  # noqa: E501

        Updates an existing vendorComplianceSurvey custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_vendor_compliance_survey_custom_fields(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param VendorComplianceSurvey body: VendorComplianceSurvey to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_vendor_compliance_survey_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_vendor_compliance_survey_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_vendor_compliance_survey_custom_fields_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a vendorComplianceSurvey custom fields  # noqa: E501

        Updates an existing vendorComplianceSurvey custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_vendor_compliance_survey_custom_fields_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param VendorComplianceSurvey body: VendorComplianceSurvey to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_vendor_compliance_survey_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_vendor_compliance_survey_custom_fields`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/beta/vendorComplianceSurvey/customFields', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
