# coding: utf-8

"""
    Infoplus API

    Infoplus API.  # noqa: E501

    OpenAPI spec version: v3.0
    Contact: api@infopluscommerce.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from Infoplus.api_client import ApiClient


class WarehouseServiceTypeApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_warehouse_service_type(self, body, **kwargs):  # noqa: E501
        """Create a warehouseServiceType  # noqa: E501

        Inserts a new warehouseServiceType using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_warehouse_service_type(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param WarehouseServiceType body: WarehouseServiceType to be inserted. (required)
        :return: WarehouseServiceType
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_warehouse_service_type_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_warehouse_service_type_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_warehouse_service_type_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a warehouseServiceType  # noqa: E501

        Inserts a new warehouseServiceType using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_warehouse_service_type_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param WarehouseServiceType body: WarehouseServiceType to be inserted. (required)
        :return: WarehouseServiceType
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_warehouse_service_type" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_warehouse_service_type`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/v3.0/warehouseServiceType', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WarehouseServiceType',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_warehouse_service_type_audit(self, warehouse_service_type_id, warehouse_service_type_audit, **kwargs):  # noqa: E501
        """Add new audit for a warehouseServiceType  # noqa: E501

        Adds an audit to an existing warehouseServiceType.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_warehouse_service_type_audit(warehouse_service_type_id, warehouse_service_type_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to add an audit to (required)
        :param str warehouse_service_type_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_warehouse_service_type_audit_with_http_info(warehouse_service_type_id, warehouse_service_type_audit, **kwargs)  # noqa: E501
        else:
            (data) = self.add_warehouse_service_type_audit_with_http_info(warehouse_service_type_id, warehouse_service_type_audit, **kwargs)  # noqa: E501
            return data

    def add_warehouse_service_type_audit_with_http_info(self, warehouse_service_type_id, warehouse_service_type_audit, **kwargs):  # noqa: E501
        """Add new audit for a warehouseServiceType  # noqa: E501

        Adds an audit to an existing warehouseServiceType.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_warehouse_service_type_audit_with_http_info(warehouse_service_type_id, warehouse_service_type_audit, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to add an audit to (required)
        :param str warehouse_service_type_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['warehouse_service_type_id', 'warehouse_service_type_audit']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_warehouse_service_type_audit" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'warehouse_service_type_id' is set
        if ('warehouse_service_type_id' not in params or
                params['warehouse_service_type_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_service_type_id` when calling `add_warehouse_service_type_audit`")  # noqa: E501
        # verify the required parameter 'warehouse_service_type_audit' is set
        if ('warehouse_service_type_audit' not in params or
                params['warehouse_service_type_audit'] is None):
            raise ValueError("Missing the required parameter `warehouse_service_type_audit` when calling `add_warehouse_service_type_audit`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'warehouse_service_type_id' in params:
            path_params['warehouseServiceTypeId'] = params['warehouse_service_type_id']  # noqa: E501
        if 'warehouse_service_type_audit' in params:
            path_params['warehouseServiceTypeAudit'] = params['warehouse_service_type_audit']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/v3.0/warehouseServiceType/{warehouseServiceTypeId}/audit/{warehouseServiceTypeAudit}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_warehouse_service_type_file(self, warehouse_service_type_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a warehouseServiceType  # noqa: E501

        Adds a file to an existing warehouseServiceType.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_warehouse_service_type_file(warehouse_service_type_id, file_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_warehouse_service_type_file_with_http_info(warehouse_service_type_id, file_name, **kwargs)  # noqa: E501
        else:
            (data) = self.add_warehouse_service_type_file_with_http_info(warehouse_service_type_id, file_name, **kwargs)  # noqa: E501
            return data

    def add_warehouse_service_type_file_with_http_info(self, warehouse_service_type_id, file_name, **kwargs):  # noqa: E501
        """Attach a file to a warehouseServiceType  # noqa: E501

        Adds a file to an existing warehouseServiceType.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_warehouse_service_type_file_with_http_info(warehouse_service_type_id, file_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to add a file to (required)
        :param str file_name: Name of file (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['warehouse_service_type_id', 'file_name']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_warehouse_service_type_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'warehouse_service_type_id' is set
        if ('warehouse_service_type_id' not in params or
                params['warehouse_service_type_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_service_type_id` when calling `add_warehouse_service_type_file`")  # noqa: E501
        # verify the required parameter 'file_name' is set
        if ('file_name' not in params or
                params['file_name'] is None):
            raise ValueError("Missing the required parameter `file_name` when calling `add_warehouse_service_type_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'warehouse_service_type_id' in params:
            path_params['warehouseServiceTypeId'] = params['warehouse_service_type_id']  # noqa: E501
        if 'file_name' in params:
            path_params['fileName'] = params['file_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/v3.0/warehouseServiceType/{warehouseServiceTypeId}/file/{fileName}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_warehouse_service_type_file_by_url(self, body, warehouse_service_type_id, **kwargs):  # noqa: E501
        """Attach a file to a warehouseServiceType by URL.  # noqa: E501

        Adds a file to an existing warehouseServiceType by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_warehouse_service_type_file_by_url(body, warehouse_service_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int warehouse_service_type_id: Id of the warehouseServiceType to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_warehouse_service_type_file_by_url_with_http_info(body, warehouse_service_type_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_warehouse_service_type_file_by_url_with_http_info(body, warehouse_service_type_id, **kwargs)  # noqa: E501
            return data

    def add_warehouse_service_type_file_by_url_with_http_info(self, body, warehouse_service_type_id, **kwargs):  # noqa: E501
        """Attach a file to a warehouseServiceType by URL.  # noqa: E501

        Adds a file to an existing warehouseServiceType by URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_warehouse_service_type_file_by_url_with_http_info(body, warehouse_service_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param RecordFile body: The url and optionly fileName to be used. (required)
        :param int warehouse_service_type_id: Id of the warehouseServiceType to add an file to (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'warehouse_service_type_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_warehouse_service_type_file_by_url" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_warehouse_service_type_file_by_url`")  # noqa: E501
        # verify the required parameter 'warehouse_service_type_id' is set
        if ('warehouse_service_type_id' not in params or
                params['warehouse_service_type_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_service_type_id` when calling `add_warehouse_service_type_file_by_url`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'warehouse_service_type_id' in params:
            path_params['warehouseServiceTypeId'] = params['warehouse_service_type_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/v3.0/warehouseServiceType/{warehouseServiceTypeId}/file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_warehouse_service_type_tag(self, warehouse_service_type_id, warehouse_service_type_tag, **kwargs):  # noqa: E501
        """Add new tags for a warehouseServiceType.  # noqa: E501

        Adds a tag to an existing warehouseServiceType.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_warehouse_service_type_tag(warehouse_service_type_id, warehouse_service_type_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to add a tag to (required)
        :param str warehouse_service_type_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_warehouse_service_type_tag_with_http_info(warehouse_service_type_id, warehouse_service_type_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.add_warehouse_service_type_tag_with_http_info(warehouse_service_type_id, warehouse_service_type_tag, **kwargs)  # noqa: E501
            return data

    def add_warehouse_service_type_tag_with_http_info(self, warehouse_service_type_id, warehouse_service_type_tag, **kwargs):  # noqa: E501
        """Add new tags for a warehouseServiceType.  # noqa: E501

        Adds a tag to an existing warehouseServiceType.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_warehouse_service_type_tag_with_http_info(warehouse_service_type_id, warehouse_service_type_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to add a tag to (required)
        :param str warehouse_service_type_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['warehouse_service_type_id', 'warehouse_service_type_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_warehouse_service_type_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'warehouse_service_type_id' is set
        if ('warehouse_service_type_id' not in params or
                params['warehouse_service_type_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_service_type_id` when calling `add_warehouse_service_type_tag`")  # noqa: E501
        # verify the required parameter 'warehouse_service_type_tag' is set
        if ('warehouse_service_type_tag' not in params or
                params['warehouse_service_type_tag'] is None):
            raise ValueError("Missing the required parameter `warehouse_service_type_tag` when calling `add_warehouse_service_type_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'warehouse_service_type_id' in params:
            path_params['warehouseServiceTypeId'] = params['warehouse_service_type_id']  # noqa: E501
        if 'warehouse_service_type_tag' in params:
            path_params['warehouseServiceTypeTag'] = params['warehouse_service_type_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/v3.0/warehouseServiceType/{warehouseServiceTypeId}/tag/{warehouseServiceTypeTag}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_warehouse_service_type(self, warehouse_service_type_id, **kwargs):  # noqa: E501
        """Delete a warehouseServiceType  # noqa: E501

        Deletes the warehouseServiceType identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_warehouse_service_type(warehouse_service_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_warehouse_service_type_with_http_info(warehouse_service_type_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_warehouse_service_type_with_http_info(warehouse_service_type_id, **kwargs)  # noqa: E501
            return data

    def delete_warehouse_service_type_with_http_info(self, warehouse_service_type_id, **kwargs):  # noqa: E501
        """Delete a warehouseServiceType  # noqa: E501

        Deletes the warehouseServiceType identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_warehouse_service_type_with_http_info(warehouse_service_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['warehouse_service_type_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_warehouse_service_type" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'warehouse_service_type_id' is set
        if ('warehouse_service_type_id' not in params or
                params['warehouse_service_type_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_service_type_id` when calling `delete_warehouse_service_type`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'warehouse_service_type_id' in params:
            path_params['warehouseServiceTypeId'] = params['warehouse_service_type_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/v3.0/warehouseServiceType/{warehouseServiceTypeId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_warehouse_service_type_file(self, warehouse_service_type_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a warehouseServiceType.  # noqa: E501

        Deletes an existing warehouseServiceType file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_warehouse_service_type_file(warehouse_service_type_id, file_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_warehouse_service_type_file_with_http_info(warehouse_service_type_id, file_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_warehouse_service_type_file_with_http_info(warehouse_service_type_id, file_id, **kwargs)  # noqa: E501
            return data

    def delete_warehouse_service_type_file_with_http_info(self, warehouse_service_type_id, file_id, **kwargs):  # noqa: E501
        """Delete a file for a warehouseServiceType.  # noqa: E501

        Deletes an existing warehouseServiceType file using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_warehouse_service_type_file_with_http_info(warehouse_service_type_id, file_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to remove file from (required)
        :param int file_id: Id of the file to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['warehouse_service_type_id', 'file_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_warehouse_service_type_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'warehouse_service_type_id' is set
        if ('warehouse_service_type_id' not in params or
                params['warehouse_service_type_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_service_type_id` when calling `delete_warehouse_service_type_file`")  # noqa: E501
        # verify the required parameter 'file_id' is set
        if ('file_id' not in params or
                params['file_id'] is None):
            raise ValueError("Missing the required parameter `file_id` when calling `delete_warehouse_service_type_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'warehouse_service_type_id' in params:
            path_params['warehouseServiceTypeId'] = params['warehouse_service_type_id']  # noqa: E501
        if 'file_id' in params:
            path_params['fileId'] = params['file_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/v3.0/warehouseServiceType/{warehouseServiceTypeId}/file/{fileId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_warehouse_service_type_tag(self, warehouse_service_type_id, warehouse_service_type_tag, **kwargs):  # noqa: E501
        """Delete a tag for a warehouseServiceType.  # noqa: E501

        Deletes an existing warehouseServiceType tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_warehouse_service_type_tag(warehouse_service_type_id, warehouse_service_type_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to remove tag from (required)
        :param str warehouse_service_type_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_warehouse_service_type_tag_with_http_info(warehouse_service_type_id, warehouse_service_type_tag, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_warehouse_service_type_tag_with_http_info(warehouse_service_type_id, warehouse_service_type_tag, **kwargs)  # noqa: E501
            return data

    def delete_warehouse_service_type_tag_with_http_info(self, warehouse_service_type_id, warehouse_service_type_tag, **kwargs):  # noqa: E501
        """Delete a tag for a warehouseServiceType.  # noqa: E501

        Deletes an existing warehouseServiceType tag using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_warehouse_service_type_tag_with_http_info(warehouse_service_type_id, warehouse_service_type_tag, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to remove tag from (required)
        :param str warehouse_service_type_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['warehouse_service_type_id', 'warehouse_service_type_tag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_warehouse_service_type_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'warehouse_service_type_id' is set
        if ('warehouse_service_type_id' not in params or
                params['warehouse_service_type_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_service_type_id` when calling `delete_warehouse_service_type_tag`")  # noqa: E501
        # verify the required parameter 'warehouse_service_type_tag' is set
        if ('warehouse_service_type_tag' not in params or
                params['warehouse_service_type_tag'] is None):
            raise ValueError("Missing the required parameter `warehouse_service_type_tag` when calling `delete_warehouse_service_type_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'warehouse_service_type_id' in params:
            path_params['warehouseServiceTypeId'] = params['warehouse_service_type_id']  # noqa: E501
        if 'warehouse_service_type_tag' in params:
            path_params['warehouseServiceTypeTag'] = params['warehouse_service_type_tag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/v3.0/warehouseServiceType/{warehouseServiceTypeId}/tag/{warehouseServiceTypeTag}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_duplicate_warehouse_service_type_by_id(self, warehouse_service_type_id, **kwargs):  # noqa: E501
        """Get a duplicated a warehouseServiceType by id  # noqa: E501

        Returns a duplicated warehouseServiceType identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_warehouse_service_type_by_id(warehouse_service_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to be duplicated. (required)
        :return: WarehouseServiceType
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_duplicate_warehouse_service_type_by_id_with_http_info(warehouse_service_type_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_duplicate_warehouse_service_type_by_id_with_http_info(warehouse_service_type_id, **kwargs)  # noqa: E501
            return data

    def get_duplicate_warehouse_service_type_by_id_with_http_info(self, warehouse_service_type_id, **kwargs):  # noqa: E501
        """Get a duplicated a warehouseServiceType by id  # noqa: E501

        Returns a duplicated warehouseServiceType identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_duplicate_warehouse_service_type_by_id_with_http_info(warehouse_service_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to be duplicated. (required)
        :return: WarehouseServiceType
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['warehouse_service_type_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_warehouse_service_type_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'warehouse_service_type_id' is set
        if ('warehouse_service_type_id' not in params or
                params['warehouse_service_type_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_service_type_id` when calling `get_duplicate_warehouse_service_type_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'warehouse_service_type_id' in params:
            path_params['warehouseServiceTypeId'] = params['warehouse_service_type_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/v3.0/warehouseServiceType/duplicate/{warehouseServiceTypeId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WarehouseServiceType',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_warehouse_service_type_by_filter(self, **kwargs):  # noqa: E501
        """Search warehouseServiceTypes by filter  # noqa: E501

        Returns the list of warehouseServiceTypes that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_warehouse_service_type_by_filter(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[WarehouseServiceType]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_warehouse_service_type_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_warehouse_service_type_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_warehouse_service_type_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """Search warehouseServiceTypes by filter  # noqa: E501

        Returns the list of warehouseServiceTypes that match the given filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_warehouse_service_type_by_filter_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[WarehouseServiceType]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_warehouse_service_type_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/v3.0/warehouseServiceType/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[WarehouseServiceType]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_warehouse_service_type_by_id(self, warehouse_service_type_id, **kwargs):  # noqa: E501
        """Get a warehouseServiceType by id  # noqa: E501

        Returns the warehouseServiceType identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_warehouse_service_type_by_id(warehouse_service_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to be returned. (required)
        :return: WarehouseServiceType
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_warehouse_service_type_by_id_with_http_info(warehouse_service_type_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_warehouse_service_type_by_id_with_http_info(warehouse_service_type_id, **kwargs)  # noqa: E501
            return data

    def get_warehouse_service_type_by_id_with_http_info(self, warehouse_service_type_id, **kwargs):  # noqa: E501
        """Get a warehouseServiceType by id  # noqa: E501

        Returns the warehouseServiceType identified by the specified id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_warehouse_service_type_by_id_with_http_info(warehouse_service_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to be returned. (required)
        :return: WarehouseServiceType
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['warehouse_service_type_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_warehouse_service_type_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'warehouse_service_type_id' is set
        if ('warehouse_service_type_id' not in params or
                params['warehouse_service_type_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_service_type_id` when calling `get_warehouse_service_type_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'warehouse_service_type_id' in params:
            path_params['warehouseServiceTypeId'] = params['warehouse_service_type_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/v3.0/warehouseServiceType/{warehouseServiceTypeId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WarehouseServiceType',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_warehouse_service_type_files(self, warehouse_service_type_id, **kwargs):  # noqa: E501
        """Get the files for a warehouseServiceType.  # noqa: E501

        Get all existing warehouseServiceType files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_warehouse_service_type_files(warehouse_service_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_warehouse_service_type_files_with_http_info(warehouse_service_type_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_warehouse_service_type_files_with_http_info(warehouse_service_type_id, **kwargs)  # noqa: E501
            return data

    def get_warehouse_service_type_files_with_http_info(self, warehouse_service_type_id, **kwargs):  # noqa: E501
        """Get the files for a warehouseServiceType.  # noqa: E501

        Get all existing warehouseServiceType files.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_warehouse_service_type_files_with_http_info(warehouse_service_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to get files for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['warehouse_service_type_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_warehouse_service_type_files" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'warehouse_service_type_id' is set
        if ('warehouse_service_type_id' not in params or
                params['warehouse_service_type_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_service_type_id` when calling `get_warehouse_service_type_files`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'warehouse_service_type_id' in params:
            path_params['warehouseServiceTypeId'] = params['warehouse_service_type_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/v3.0/warehouseServiceType/{warehouseServiceTypeId}/file', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_warehouse_service_type_tags(self, warehouse_service_type_id, **kwargs):  # noqa: E501
        """Get the tags for a warehouseServiceType.  # noqa: E501

        Get all existing warehouseServiceType tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_warehouse_service_type_tags(warehouse_service_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_warehouse_service_type_tags_with_http_info(warehouse_service_type_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_warehouse_service_type_tags_with_http_info(warehouse_service_type_id, **kwargs)  # noqa: E501
            return data

    def get_warehouse_service_type_tags_with_http_info(self, warehouse_service_type_id, **kwargs):  # noqa: E501
        """Get the tags for a warehouseServiceType.  # noqa: E501

        Get all existing warehouseServiceType tags.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_warehouse_service_type_tags_with_http_info(warehouse_service_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int warehouse_service_type_id: Id of the warehouseServiceType to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['warehouse_service_type_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_warehouse_service_type_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'warehouse_service_type_id' is set
        if ('warehouse_service_type_id' not in params or
                params['warehouse_service_type_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_service_type_id` when calling `get_warehouse_service_type_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'warehouse_service_type_id' in params:
            path_params['warehouseServiceTypeId'] = params['warehouse_service_type_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/v3.0/warehouseServiceType/{warehouseServiceTypeId}/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_warehouse_service_type(self, body, **kwargs):  # noqa: E501
        """Update a warehouseServiceType  # noqa: E501

        Updates an existing warehouseServiceType using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_warehouse_service_type(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param WarehouseServiceType body: WarehouseServiceType to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_warehouse_service_type_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_warehouse_service_type_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_warehouse_service_type_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a warehouseServiceType  # noqa: E501

        Updates an existing warehouseServiceType using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_warehouse_service_type_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param WarehouseServiceType body: WarehouseServiceType to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_warehouse_service_type" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_warehouse_service_type`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/v3.0/warehouseServiceType', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_warehouse_service_type_custom_fields(self, body, **kwargs):  # noqa: E501
        """Update a warehouseServiceType custom fields  # noqa: E501

        Updates an existing warehouseServiceType custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_warehouse_service_type_custom_fields(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param WarehouseServiceType body: WarehouseServiceType to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_warehouse_service_type_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_warehouse_service_type_custom_fields_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_warehouse_service_type_custom_fields_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update a warehouseServiceType custom fields  # noqa: E501

        Updates an existing warehouseServiceType custom fields using the specified data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_warehouse_service_type_custom_fields_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param WarehouseServiceType body: WarehouseServiceType to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_warehouse_service_type_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_warehouse_service_type_custom_fields`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/v3.0/warehouseServiceType/customFields', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
