# coding: utf-8

"""
ExternalShippingSystemApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class ExternalShippingSystemApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def add_external_shipping_system(self, body, **kwargs):
        """
        Create an externalShippingSystem
        Inserts a new externalShippingSystem using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_external_shipping_system(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ExternalShippingSystem body: ExternalShippingSystem to be inserted. (required)
        :return: ExternalShippingSystem
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_external_shipping_system" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_external_shipping_system`")

        resource_path = '/beta/externalShippingSystem'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ExternalShippingSystem',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_external_shipping_system_audit(self, external_shipping_system_id, external_shipping_system_audit, **kwargs):
        """
        Add new audit for an externalShippingSystem
        Adds an audit to an existing externalShippingSystem.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_external_shipping_system_audit(external_shipping_system_id, external_shipping_system_audit, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int external_shipping_system_id: Id of the externalShippingSystem to add an audit to (required)
        :param str external_shipping_system_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['external_shipping_system_id', 'external_shipping_system_audit']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_external_shipping_system_audit" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'external_shipping_system_id' is set
        if ('external_shipping_system_id' not in params) or (params['external_shipping_system_id'] is None):
            raise ValueError("Missing the required parameter `external_shipping_system_id` when calling `add_external_shipping_system_audit`")
        # verify the required parameter 'external_shipping_system_audit' is set
        if ('external_shipping_system_audit' not in params) or (params['external_shipping_system_audit'] is None):
            raise ValueError("Missing the required parameter `external_shipping_system_audit` when calling `add_external_shipping_system_audit`")

        resource_path = '/beta/externalShippingSystem/{externalShippingSystemId}/audit/{externalShippingSystemAudit}'.replace('{format}', 'json')
        path_params = {}
        if 'external_shipping_system_id' in params:
            path_params['externalShippingSystemId'] = params['external_shipping_system_id']
        if 'external_shipping_system_audit' in params:
            path_params['externalShippingSystemAudit'] = params['external_shipping_system_audit']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_external_shipping_system_tag(self, external_shipping_system_id, external_shipping_system_tag, **kwargs):
        """
        Add new tags for an externalShippingSystem.
        Adds a tag to an existing externalShippingSystem.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_external_shipping_system_tag(external_shipping_system_id, external_shipping_system_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int external_shipping_system_id: Id of the externalShippingSystem to add a tag to (required)
        :param str external_shipping_system_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['external_shipping_system_id', 'external_shipping_system_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_external_shipping_system_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'external_shipping_system_id' is set
        if ('external_shipping_system_id' not in params) or (params['external_shipping_system_id'] is None):
            raise ValueError("Missing the required parameter `external_shipping_system_id` when calling `add_external_shipping_system_tag`")
        # verify the required parameter 'external_shipping_system_tag' is set
        if ('external_shipping_system_tag' not in params) or (params['external_shipping_system_tag'] is None):
            raise ValueError("Missing the required parameter `external_shipping_system_tag` when calling `add_external_shipping_system_tag`")

        resource_path = '/beta/externalShippingSystem/{externalShippingSystemId}/tag/{externalShippingSystemTag}'.replace('{format}', 'json')
        path_params = {}
        if 'external_shipping_system_id' in params:
            path_params['externalShippingSystemId'] = params['external_shipping_system_id']
        if 'external_shipping_system_tag' in params:
            path_params['externalShippingSystemTag'] = params['external_shipping_system_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_external_shipping_system(self, external_shipping_system_id, **kwargs):
        """
        Delete an externalShippingSystem
        Deletes the externalShippingSystem identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_external_shipping_system(external_shipping_system_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int external_shipping_system_id: Id of the externalShippingSystem to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['external_shipping_system_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_external_shipping_system" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'external_shipping_system_id' is set
        if ('external_shipping_system_id' not in params) or (params['external_shipping_system_id'] is None):
            raise ValueError("Missing the required parameter `external_shipping_system_id` when calling `delete_external_shipping_system`")

        resource_path = '/beta/externalShippingSystem/{externalShippingSystemId}'.replace('{format}', 'json')
        path_params = {}
        if 'external_shipping_system_id' in params:
            path_params['externalShippingSystemId'] = params['external_shipping_system_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_external_shipping_system_tag(self, external_shipping_system_id, external_shipping_system_tag, **kwargs):
        """
        Delete a tag for an externalShippingSystem.
        Deletes an existing externalShippingSystem tag using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_external_shipping_system_tag(external_shipping_system_id, external_shipping_system_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int external_shipping_system_id: Id of the externalShippingSystem to remove tag from (required)
        :param str external_shipping_system_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['external_shipping_system_id', 'external_shipping_system_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_external_shipping_system_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'external_shipping_system_id' is set
        if ('external_shipping_system_id' not in params) or (params['external_shipping_system_id'] is None):
            raise ValueError("Missing the required parameter `external_shipping_system_id` when calling `delete_external_shipping_system_tag`")
        # verify the required parameter 'external_shipping_system_tag' is set
        if ('external_shipping_system_tag' not in params) or (params['external_shipping_system_tag'] is None):
            raise ValueError("Missing the required parameter `external_shipping_system_tag` when calling `delete_external_shipping_system_tag`")

        resource_path = '/beta/externalShippingSystem/{externalShippingSystemId}/tag/{externalShippingSystemTag}'.replace('{format}', 'json')
        path_params = {}
        if 'external_shipping_system_id' in params:
            path_params['externalShippingSystemId'] = params['external_shipping_system_id']
        if 'external_shipping_system_tag' in params:
            path_params['externalShippingSystemTag'] = params['external_shipping_system_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_duplicate_external_shipping_system_by_id(self, external_shipping_system_id, **kwargs):
        """
        Get a duplicated an externalShippingSystem by id
        Returns a duplicated externalShippingSystem identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_duplicate_external_shipping_system_by_id(external_shipping_system_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int external_shipping_system_id: Id of the externalShippingSystem to be duplicated. (required)
        :return: ExternalShippingSystem
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['external_shipping_system_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_external_shipping_system_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'external_shipping_system_id' is set
        if ('external_shipping_system_id' not in params) or (params['external_shipping_system_id'] is None):
            raise ValueError("Missing the required parameter `external_shipping_system_id` when calling `get_duplicate_external_shipping_system_by_id`")

        resource_path = '/beta/externalShippingSystem/duplicate/{externalShippingSystemId}'.replace('{format}', 'json')
        path_params = {}
        if 'external_shipping_system_id' in params:
            path_params['externalShippingSystemId'] = params['external_shipping_system_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ExternalShippingSystem',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_external_shipping_system_by_filter(self, **kwargs):
        """
        Search externalShippingSystems by filter
        Returns the list of externalShippingSystems that match the given filter.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_external_shipping_system_by_filter(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ExternalShippingSystem]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_external_shipping_system_by_filter" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/beta/externalShippingSystem/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'filter' in params:
            query_params['filter'] = params['filter']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'sort' in params:
            query_params['sort'] = params['sort']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[ExternalShippingSystem]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_external_shipping_system_by_id(self, external_shipping_system_id, **kwargs):
        """
        Get an externalShippingSystem by id
        Returns the externalShippingSystem identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_external_shipping_system_by_id(external_shipping_system_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int external_shipping_system_id: Id of the externalShippingSystem to be returned. (required)
        :return: ExternalShippingSystem
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['external_shipping_system_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_external_shipping_system_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'external_shipping_system_id' is set
        if ('external_shipping_system_id' not in params) or (params['external_shipping_system_id'] is None):
            raise ValueError("Missing the required parameter `external_shipping_system_id` when calling `get_external_shipping_system_by_id`")

        resource_path = '/beta/externalShippingSystem/{externalShippingSystemId}'.replace('{format}', 'json')
        path_params = {}
        if 'external_shipping_system_id' in params:
            path_params['externalShippingSystemId'] = params['external_shipping_system_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ExternalShippingSystem',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_external_shipping_system_tags(self, external_shipping_system_id, **kwargs):
        """
        Get the tags for an externalShippingSystem.
        Get all existing externalShippingSystem tags.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_external_shipping_system_tags(external_shipping_system_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int external_shipping_system_id: Id of the externalShippingSystem to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['external_shipping_system_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_external_shipping_system_tags" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'external_shipping_system_id' is set
        if ('external_shipping_system_id' not in params) or (params['external_shipping_system_id'] is None):
            raise ValueError("Missing the required parameter `external_shipping_system_id` when calling `get_external_shipping_system_tags`")

        resource_path = '/beta/externalShippingSystem/{externalShippingSystemId}/tag'.replace('{format}', 'json')
        path_params = {}
        if 'external_shipping_system_id' in params:
            path_params['externalShippingSystemId'] = params['external_shipping_system_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_external_shipping_system(self, body, **kwargs):
        """
        Update an externalShippingSystem
        Updates an existing externalShippingSystem using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_external_shipping_system(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ExternalShippingSystem body: ExternalShippingSystem to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_external_shipping_system" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_external_shipping_system`")

        resource_path = '/beta/externalShippingSystem'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_external_shipping_system_custom_fields(self, body, **kwargs):
        """
        Update an externalShippingSystem custom fields
        Updates an existing externalShippingSystem custom fields using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_external_shipping_system_custom_fields(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ExternalShippingSystem body: ExternalShippingSystem to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_external_shipping_system_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_external_shipping_system_custom_fields`")

        resource_path = '/beta/externalShippingSystem/customFields'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
