# coding: utf-8

"""
InventorySnapshotApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class InventorySnapshotApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def add_inventory_snapshot_audit(self, inventory_snapshot_id, inventory_snapshot_audit, **kwargs):
        """
        Add new audit for an inventorySnapshot
        Adds an audit to an existing inventorySnapshot.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_inventory_snapshot_audit(inventory_snapshot_id, inventory_snapshot_audit, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int inventory_snapshot_id: Id of the inventorySnapshot to add an audit to (required)
        :param str inventory_snapshot_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inventory_snapshot_id', 'inventory_snapshot_audit']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_inventory_snapshot_audit" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'inventory_snapshot_id' is set
        if ('inventory_snapshot_id' not in params) or (params['inventory_snapshot_id'] is None):
            raise ValueError("Missing the required parameter `inventory_snapshot_id` when calling `add_inventory_snapshot_audit`")
        # verify the required parameter 'inventory_snapshot_audit' is set
        if ('inventory_snapshot_audit' not in params) or (params['inventory_snapshot_audit'] is None):
            raise ValueError("Missing the required parameter `inventory_snapshot_audit` when calling `add_inventory_snapshot_audit`")

        resource_path = '/beta/inventorySnapshot/{inventorySnapshotId}/audit/{inventorySnapshotAudit}'.replace('{format}', 'json')
        path_params = {}
        if 'inventory_snapshot_id' in params:
            path_params['inventorySnapshotId'] = params['inventory_snapshot_id']
        if 'inventory_snapshot_audit' in params:
            path_params['inventorySnapshotAudit'] = params['inventory_snapshot_audit']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_inventory_snapshot_tag(self, inventory_snapshot_id, inventory_snapshot_tag, **kwargs):
        """
        Add new tags for an inventorySnapshot.
        Adds a tag to an existing inventorySnapshot.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_inventory_snapshot_tag(inventory_snapshot_id, inventory_snapshot_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int inventory_snapshot_id: Id of the inventorySnapshot to add a tag to (required)
        :param str inventory_snapshot_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inventory_snapshot_id', 'inventory_snapshot_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_inventory_snapshot_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'inventory_snapshot_id' is set
        if ('inventory_snapshot_id' not in params) or (params['inventory_snapshot_id'] is None):
            raise ValueError("Missing the required parameter `inventory_snapshot_id` when calling `add_inventory_snapshot_tag`")
        # verify the required parameter 'inventory_snapshot_tag' is set
        if ('inventory_snapshot_tag' not in params) or (params['inventory_snapshot_tag'] is None):
            raise ValueError("Missing the required parameter `inventory_snapshot_tag` when calling `add_inventory_snapshot_tag`")

        resource_path = '/beta/inventorySnapshot/{inventorySnapshotId}/tag/{inventorySnapshotTag}'.replace('{format}', 'json')
        path_params = {}
        if 'inventory_snapshot_id' in params:
            path_params['inventorySnapshotId'] = params['inventory_snapshot_id']
        if 'inventory_snapshot_tag' in params:
            path_params['inventorySnapshotTag'] = params['inventory_snapshot_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_inventory_snapshot_tag(self, inventory_snapshot_id, inventory_snapshot_tag, **kwargs):
        """
        Delete a tag for an inventorySnapshot.
        Deletes an existing inventorySnapshot tag using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_inventory_snapshot_tag(inventory_snapshot_id, inventory_snapshot_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int inventory_snapshot_id: Id of the inventorySnapshot to remove tag from (required)
        :param str inventory_snapshot_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inventory_snapshot_id', 'inventory_snapshot_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_inventory_snapshot_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'inventory_snapshot_id' is set
        if ('inventory_snapshot_id' not in params) or (params['inventory_snapshot_id'] is None):
            raise ValueError("Missing the required parameter `inventory_snapshot_id` when calling `delete_inventory_snapshot_tag`")
        # verify the required parameter 'inventory_snapshot_tag' is set
        if ('inventory_snapshot_tag' not in params) or (params['inventory_snapshot_tag'] is None):
            raise ValueError("Missing the required parameter `inventory_snapshot_tag` when calling `delete_inventory_snapshot_tag`")

        resource_path = '/beta/inventorySnapshot/{inventorySnapshotId}/tag/{inventorySnapshotTag}'.replace('{format}', 'json')
        path_params = {}
        if 'inventory_snapshot_id' in params:
            path_params['inventorySnapshotId'] = params['inventory_snapshot_id']
        if 'inventory_snapshot_tag' in params:
            path_params['inventorySnapshotTag'] = params['inventory_snapshot_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_duplicate_inventory_snapshot_by_id(self, inventory_snapshot_id, **kwargs):
        """
        Get a duplicated an inventorySnapshot by id
        Returns a duplicated inventorySnapshot identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_duplicate_inventory_snapshot_by_id(inventory_snapshot_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int inventory_snapshot_id: Id of the inventorySnapshot to be duplicated. (required)
        :return: InventorySnapshot
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inventory_snapshot_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_inventory_snapshot_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'inventory_snapshot_id' is set
        if ('inventory_snapshot_id' not in params) or (params['inventory_snapshot_id'] is None):
            raise ValueError("Missing the required parameter `inventory_snapshot_id` when calling `get_duplicate_inventory_snapshot_by_id`")

        resource_path = '/beta/inventorySnapshot/duplicate/{inventorySnapshotId}'.replace('{format}', 'json')
        path_params = {}
        if 'inventory_snapshot_id' in params:
            path_params['inventorySnapshotId'] = params['inventory_snapshot_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='InventorySnapshot',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_inventory_snapshot_by_filter(self, **kwargs):
        """
        Search inventorySnapshots by filter
        Returns the list of inventorySnapshots that match the given filter.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_inventory_snapshot_by_filter(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[InventorySnapshot]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_inventory_snapshot_by_filter" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/beta/inventorySnapshot/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'filter' in params:
            query_params['filter'] = params['filter']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'sort' in params:
            query_params['sort'] = params['sort']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[InventorySnapshot]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_inventory_snapshot_by_id(self, inventory_snapshot_id, **kwargs):
        """
        Get an inventorySnapshot by id
        Returns the inventorySnapshot identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_inventory_snapshot_by_id(inventory_snapshot_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int inventory_snapshot_id: Id of the inventorySnapshot to be returned. (required)
        :return: InventorySnapshot
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inventory_snapshot_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_inventory_snapshot_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'inventory_snapshot_id' is set
        if ('inventory_snapshot_id' not in params) or (params['inventory_snapshot_id'] is None):
            raise ValueError("Missing the required parameter `inventory_snapshot_id` when calling `get_inventory_snapshot_by_id`")

        resource_path = '/beta/inventorySnapshot/{inventorySnapshotId}'.replace('{format}', 'json')
        path_params = {}
        if 'inventory_snapshot_id' in params:
            path_params['inventorySnapshotId'] = params['inventory_snapshot_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='InventorySnapshot',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_inventory_snapshot_tags(self, inventory_snapshot_id, **kwargs):
        """
        Get the tags for an inventorySnapshot.
        Get all existing inventorySnapshot tags.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_inventory_snapshot_tags(inventory_snapshot_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int inventory_snapshot_id: Id of the inventorySnapshot to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inventory_snapshot_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_inventory_snapshot_tags" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'inventory_snapshot_id' is set
        if ('inventory_snapshot_id' not in params) or (params['inventory_snapshot_id'] is None):
            raise ValueError("Missing the required parameter `inventory_snapshot_id` when calling `get_inventory_snapshot_tags`")

        resource_path = '/beta/inventorySnapshot/{inventorySnapshotId}/tag'.replace('{format}', 'json')
        path_params = {}
        if 'inventory_snapshot_id' in params:
            path_params['inventorySnapshotId'] = params['inventory_snapshot_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
