# coding: utf-8

"""
InventoryAdjustmentApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class InventoryAdjustmentApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def get_duplicate_inventory_adjustment_by_id(self, inventory_adjustment_id, **kwargs):
        """
        Get a duplicated an inventoryAdjustment by id
        Returns a duplicated inventoryAdjustment identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_duplicate_inventory_adjustment_by_id(inventory_adjustment_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int inventory_adjustment_id: Id of the inventoryAdjustment to be duplicated. (required)
        :return: InventoryAdjustment
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inventory_adjustment_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_inventory_adjustment_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'inventory_adjustment_id' is set
        if ('inventory_adjustment_id' not in params) or (params['inventory_adjustment_id'] is None):
            raise ValueError("Missing the required parameter `inventory_adjustment_id` when calling `get_duplicate_inventory_adjustment_by_id`")

        resource_path = '/v2.0/inventoryAdjustment/duplicate/{inventoryAdjustmentId}'.replace('{format}', 'json')
        path_params = {}
        if 'inventory_adjustment_id' in params:
            path_params['inventoryAdjustmentId'] = params['inventory_adjustment_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='InventoryAdjustment',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_inventory_adjustment_by_filter(self, **kwargs):
        """
        Search inventoryAdjustments by filter
        Returns the list of inventoryAdjustments that match the given filter.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_inventory_adjustment_by_filter(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[InventoryAdjustment]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_inventory_adjustment_by_filter" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/v2.0/inventoryAdjustment/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'filter' in params:
            query_params['filter'] = params['filter']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'sort' in params:
            query_params['sort'] = params['sort']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[InventoryAdjustment]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_inventory_adjustment_by_id(self, inventory_adjustment_id, **kwargs):
        """
        Get an inventoryAdjustment by id
        Returns the inventoryAdjustment identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_inventory_adjustment_by_id(inventory_adjustment_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int inventory_adjustment_id: Id of the inventoryAdjustment to be returned. (required)
        :return: InventoryAdjustment
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inventory_adjustment_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_inventory_adjustment_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'inventory_adjustment_id' is set
        if ('inventory_adjustment_id' not in params) or (params['inventory_adjustment_id'] is None):
            raise ValueError("Missing the required parameter `inventory_adjustment_id` when calling `get_inventory_adjustment_by_id`")

        resource_path = '/v2.0/inventoryAdjustment/{inventoryAdjustmentId}'.replace('{format}', 'json')
        path_params = {}
        if 'inventory_adjustment_id' in params:
            path_params['inventoryAdjustmentId'] = params['inventory_adjustment_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='InventoryAdjustment',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_inventory_adjustment_custom_fields(self, body, **kwargs):
        """
        Update an inventoryAdjustment custom fields
        Updates an existing inventoryAdjustment custom fields using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_inventory_adjustment_custom_fields(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param InventoryAdjustment body: InventoryAdjustment to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_inventory_adjustment_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_inventory_adjustment_custom_fields`")

        resource_path = '/v2.0/inventoryAdjustment/customFields'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
