# coding: utf-8

"""
InvoiceWorksheetLineApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class InvoiceWorksheetLineApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def add_invoice_worksheet_line(self, body, **kwargs):
        """
        Create an invoiceWorksheetLine
        Inserts a new invoiceWorksheetLine using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_invoice_worksheet_line(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param InvoiceWorksheetLine body: InvoiceWorksheetLine to be inserted. (required)
        :return: InvoiceWorksheetLine
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_invoice_worksheet_line" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_invoice_worksheet_line`")

        resource_path = '/beta/invoiceWorksheetLine'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='InvoiceWorksheetLine',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_invoice_worksheet_line_audit(self, invoice_worksheet_line_id, invoice_worksheet_line_audit, **kwargs):
        """
        Add new audit for an invoiceWorksheetLine
        Adds an audit to an existing invoiceWorksheetLine.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_invoice_worksheet_line_audit(invoice_worksheet_line_id, invoice_worksheet_line_audit, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to add an audit to (required)
        :param str invoice_worksheet_line_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id', 'invoice_worksheet_line_audit']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_invoice_worksheet_line_audit" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params) or (params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `add_invoice_worksheet_line_audit`")
        # verify the required parameter 'invoice_worksheet_line_audit' is set
        if ('invoice_worksheet_line_audit' not in params) or (params['invoice_worksheet_line_audit'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_audit` when calling `add_invoice_worksheet_line_audit`")

        resource_path = '/beta/invoiceWorksheetLine/{invoiceWorksheetLineId}/audit/{invoiceWorksheetLineAudit}'.replace('{format}', 'json')
        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']
        if 'invoice_worksheet_line_audit' in params:
            path_params['invoiceWorksheetLineAudit'] = params['invoice_worksheet_line_audit']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_invoice_worksheet_line_tag(self, invoice_worksheet_line_id, invoice_worksheet_line_tag, **kwargs):
        """
        Add new tags for an invoiceWorksheetLine.
        Adds a tag to an existing invoiceWorksheetLine.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_invoice_worksheet_line_tag(invoice_worksheet_line_id, invoice_worksheet_line_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to add a tag to (required)
        :param str invoice_worksheet_line_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id', 'invoice_worksheet_line_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_invoice_worksheet_line_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params) or (params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `add_invoice_worksheet_line_tag`")
        # verify the required parameter 'invoice_worksheet_line_tag' is set
        if ('invoice_worksheet_line_tag' not in params) or (params['invoice_worksheet_line_tag'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_tag` when calling `add_invoice_worksheet_line_tag`")

        resource_path = '/beta/invoiceWorksheetLine/{invoiceWorksheetLineId}/tag/{invoiceWorksheetLineTag}'.replace('{format}', 'json')
        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']
        if 'invoice_worksheet_line_tag' in params:
            path_params['invoiceWorksheetLineTag'] = params['invoice_worksheet_line_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_invoice_worksheet_line(self, invoice_worksheet_line_id, **kwargs):
        """
        Delete an invoiceWorksheetLine
        Deletes the invoiceWorksheetLine identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_invoice_worksheet_line(invoice_worksheet_line_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_invoice_worksheet_line" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params) or (params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `delete_invoice_worksheet_line`")

        resource_path = '/beta/invoiceWorksheetLine/{invoiceWorksheetLineId}'.replace('{format}', 'json')
        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_invoice_worksheet_line_tag(self, invoice_worksheet_line_id, invoice_worksheet_line_tag, **kwargs):
        """
        Delete a tag for an invoiceWorksheetLine.
        Deletes an existing invoiceWorksheetLine tag using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_invoice_worksheet_line_tag(invoice_worksheet_line_id, invoice_worksheet_line_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to remove tag from (required)
        :param str invoice_worksheet_line_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id', 'invoice_worksheet_line_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_invoice_worksheet_line_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params) or (params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `delete_invoice_worksheet_line_tag`")
        # verify the required parameter 'invoice_worksheet_line_tag' is set
        if ('invoice_worksheet_line_tag' not in params) or (params['invoice_worksheet_line_tag'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_tag` when calling `delete_invoice_worksheet_line_tag`")

        resource_path = '/beta/invoiceWorksheetLine/{invoiceWorksheetLineId}/tag/{invoiceWorksheetLineTag}'.replace('{format}', 'json')
        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']
        if 'invoice_worksheet_line_tag' in params:
            path_params['invoiceWorksheetLineTag'] = params['invoice_worksheet_line_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_duplicate_invoice_worksheet_line_by_id(self, invoice_worksheet_line_id, **kwargs):
        """
        Get a duplicated an invoiceWorksheetLine by id
        Returns a duplicated invoiceWorksheetLine identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_duplicate_invoice_worksheet_line_by_id(invoice_worksheet_line_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to be duplicated. (required)
        :return: InvoiceWorksheetLine
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_invoice_worksheet_line_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params) or (params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `get_duplicate_invoice_worksheet_line_by_id`")

        resource_path = '/beta/invoiceWorksheetLine/duplicate/{invoiceWorksheetLineId}'.replace('{format}', 'json')
        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='InvoiceWorksheetLine',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_invoice_worksheet_line_by_filter(self, **kwargs):
        """
        Search invoiceWorksheetLines by filter
        Returns the list of invoiceWorksheetLines that match the given filter.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_invoice_worksheet_line_by_filter(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[InvoiceWorksheetLine]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_invoice_worksheet_line_by_filter" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/beta/invoiceWorksheetLine/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'filter' in params:
            query_params['filter'] = params['filter']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'sort' in params:
            query_params['sort'] = params['sort']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[InvoiceWorksheetLine]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_invoice_worksheet_line_by_id(self, invoice_worksheet_line_id, **kwargs):
        """
        Get an invoiceWorksheetLine by id
        Returns the invoiceWorksheetLine identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_invoice_worksheet_line_by_id(invoice_worksheet_line_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to be returned. (required)
        :return: InvoiceWorksheetLine
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_invoice_worksheet_line_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params) or (params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `get_invoice_worksheet_line_by_id`")

        resource_path = '/beta/invoiceWorksheetLine/{invoiceWorksheetLineId}'.replace('{format}', 'json')
        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='InvoiceWorksheetLine',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_invoice_worksheet_line_tags(self, invoice_worksheet_line_id, **kwargs):
        """
        Get the tags for an invoiceWorksheetLine.
        Get all existing invoiceWorksheetLine tags.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_invoice_worksheet_line_tags(invoice_worksheet_line_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int invoice_worksheet_line_id: Id of the invoiceWorksheetLine to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['invoice_worksheet_line_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_invoice_worksheet_line_tags" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'invoice_worksheet_line_id' is set
        if ('invoice_worksheet_line_id' not in params) or (params['invoice_worksheet_line_id'] is None):
            raise ValueError("Missing the required parameter `invoice_worksheet_line_id` when calling `get_invoice_worksheet_line_tags`")

        resource_path = '/beta/invoiceWorksheetLine/{invoiceWorksheetLineId}/tag'.replace('{format}', 'json')
        path_params = {}
        if 'invoice_worksheet_line_id' in params:
            path_params['invoiceWorksheetLineId'] = params['invoice_worksheet_line_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_invoice_worksheet_line(self, body, **kwargs):
        """
        Update an invoiceWorksheetLine
        Updates an existing invoiceWorksheetLine using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_invoice_worksheet_line(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param InvoiceWorksheetLine body: InvoiceWorksheetLine to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_invoice_worksheet_line" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_invoice_worksheet_line`")

        resource_path = '/beta/invoiceWorksheetLine'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
