# coding: utf-8

"""
ItemReceiptActivityApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class ItemReceiptActivityApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def add_item_receipt_activity(self, body, **kwargs):
        """
        Create an itemReceiptActivity
        Inserts a new itemReceiptActivity using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_item_receipt_activity(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ItemReceiptActivity body: ItemReceiptActivity to be inserted. (required)
        :return: ItemReceiptActivity
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_item_receipt_activity" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_item_receipt_activity`")

        resource_path = '/beta/itemReceiptActivity'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ItemReceiptActivity',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_item_receipt_activity_audit(self, item_receipt_activity_id, item_receipt_activity_audit, **kwargs):
        """
        Add new audit for an itemReceiptActivity
        Adds an audit to an existing itemReceiptActivity.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_item_receipt_activity_audit(item_receipt_activity_id, item_receipt_activity_audit, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int item_receipt_activity_id: Id of the itemReceiptActivity to add an audit to (required)
        :param str item_receipt_activity_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_receipt_activity_id', 'item_receipt_activity_audit']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_item_receipt_activity_audit" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'item_receipt_activity_id' is set
        if ('item_receipt_activity_id' not in params) or (params['item_receipt_activity_id'] is None):
            raise ValueError("Missing the required parameter `item_receipt_activity_id` when calling `add_item_receipt_activity_audit`")
        # verify the required parameter 'item_receipt_activity_audit' is set
        if ('item_receipt_activity_audit' not in params) or (params['item_receipt_activity_audit'] is None):
            raise ValueError("Missing the required parameter `item_receipt_activity_audit` when calling `add_item_receipt_activity_audit`")

        resource_path = '/beta/itemReceiptActivity/{itemReceiptActivityId}/audit/{itemReceiptActivityAudit}'.replace('{format}', 'json')
        path_params = {}
        if 'item_receipt_activity_id' in params:
            path_params['itemReceiptActivityId'] = params['item_receipt_activity_id']
        if 'item_receipt_activity_audit' in params:
            path_params['itemReceiptActivityAudit'] = params['item_receipt_activity_audit']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_item_receipt_activity_tag(self, item_receipt_activity_id, item_receipt_activity_tag, **kwargs):
        """
        Add new tags for an itemReceiptActivity.
        Adds a tag to an existing itemReceiptActivity.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_item_receipt_activity_tag(item_receipt_activity_id, item_receipt_activity_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int item_receipt_activity_id: Id of the itemReceiptActivity to add a tag to (required)
        :param str item_receipt_activity_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_receipt_activity_id', 'item_receipt_activity_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_item_receipt_activity_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'item_receipt_activity_id' is set
        if ('item_receipt_activity_id' not in params) or (params['item_receipt_activity_id'] is None):
            raise ValueError("Missing the required parameter `item_receipt_activity_id` when calling `add_item_receipt_activity_tag`")
        # verify the required parameter 'item_receipt_activity_tag' is set
        if ('item_receipt_activity_tag' not in params) or (params['item_receipt_activity_tag'] is None):
            raise ValueError("Missing the required parameter `item_receipt_activity_tag` when calling `add_item_receipt_activity_tag`")

        resource_path = '/beta/itemReceiptActivity/{itemReceiptActivityId}/tag/{itemReceiptActivityTag}'.replace('{format}', 'json')
        path_params = {}
        if 'item_receipt_activity_id' in params:
            path_params['itemReceiptActivityId'] = params['item_receipt_activity_id']
        if 'item_receipt_activity_tag' in params:
            path_params['itemReceiptActivityTag'] = params['item_receipt_activity_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_item_receipt_activity(self, item_receipt_activity_id, **kwargs):
        """
        Delete an itemReceiptActivity
        Deletes the itemReceiptActivity identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_item_receipt_activity(item_receipt_activity_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int item_receipt_activity_id: Id of the itemReceiptActivity to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_receipt_activity_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_item_receipt_activity" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'item_receipt_activity_id' is set
        if ('item_receipt_activity_id' not in params) or (params['item_receipt_activity_id'] is None):
            raise ValueError("Missing the required parameter `item_receipt_activity_id` when calling `delete_item_receipt_activity`")

        resource_path = '/beta/itemReceiptActivity/{itemReceiptActivityId}'.replace('{format}', 'json')
        path_params = {}
        if 'item_receipt_activity_id' in params:
            path_params['itemReceiptActivityId'] = params['item_receipt_activity_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_item_receipt_activity_tag(self, item_receipt_activity_id, item_receipt_activity_tag, **kwargs):
        """
        Delete a tag for an itemReceiptActivity.
        Deletes an existing itemReceiptActivity tag using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_item_receipt_activity_tag(item_receipt_activity_id, item_receipt_activity_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int item_receipt_activity_id: Id of the itemReceiptActivity to remove tag from (required)
        :param str item_receipt_activity_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_receipt_activity_id', 'item_receipt_activity_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_item_receipt_activity_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'item_receipt_activity_id' is set
        if ('item_receipt_activity_id' not in params) or (params['item_receipt_activity_id'] is None):
            raise ValueError("Missing the required parameter `item_receipt_activity_id` when calling `delete_item_receipt_activity_tag`")
        # verify the required parameter 'item_receipt_activity_tag' is set
        if ('item_receipt_activity_tag' not in params) or (params['item_receipt_activity_tag'] is None):
            raise ValueError("Missing the required parameter `item_receipt_activity_tag` when calling `delete_item_receipt_activity_tag`")

        resource_path = '/beta/itemReceiptActivity/{itemReceiptActivityId}/tag/{itemReceiptActivityTag}'.replace('{format}', 'json')
        path_params = {}
        if 'item_receipt_activity_id' in params:
            path_params['itemReceiptActivityId'] = params['item_receipt_activity_id']
        if 'item_receipt_activity_tag' in params:
            path_params['itemReceiptActivityTag'] = params['item_receipt_activity_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_duplicate_item_receipt_activity_by_id(self, item_receipt_activity_id, **kwargs):
        """
        Get a duplicated an itemReceiptActivity by id
        Returns a duplicated itemReceiptActivity identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_duplicate_item_receipt_activity_by_id(item_receipt_activity_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int item_receipt_activity_id: Id of the itemReceiptActivity to be duplicated. (required)
        :return: ItemReceiptActivity
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_receipt_activity_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_item_receipt_activity_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'item_receipt_activity_id' is set
        if ('item_receipt_activity_id' not in params) or (params['item_receipt_activity_id'] is None):
            raise ValueError("Missing the required parameter `item_receipt_activity_id` when calling `get_duplicate_item_receipt_activity_by_id`")

        resource_path = '/beta/itemReceiptActivity/duplicate/{itemReceiptActivityId}'.replace('{format}', 'json')
        path_params = {}
        if 'item_receipt_activity_id' in params:
            path_params['itemReceiptActivityId'] = params['item_receipt_activity_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ItemReceiptActivity',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_item_receipt_activity_by_filter(self, **kwargs):
        """
        Search itemReceiptActivitys by filter
        Returns the list of itemReceiptActivitys that match the given filter.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_item_receipt_activity_by_filter(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ItemReceiptActivity]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_item_receipt_activity_by_filter" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/beta/itemReceiptActivity/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'filter' in params:
            query_params['filter'] = params['filter']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'sort' in params:
            query_params['sort'] = params['sort']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[ItemReceiptActivity]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_item_receipt_activity_by_id(self, item_receipt_activity_id, **kwargs):
        """
        Get an itemReceiptActivity by id
        Returns the itemReceiptActivity identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_item_receipt_activity_by_id(item_receipt_activity_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int item_receipt_activity_id: Id of the itemReceiptActivity to be returned. (required)
        :return: ItemReceiptActivity
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_receipt_activity_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_item_receipt_activity_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'item_receipt_activity_id' is set
        if ('item_receipt_activity_id' not in params) or (params['item_receipt_activity_id'] is None):
            raise ValueError("Missing the required parameter `item_receipt_activity_id` when calling `get_item_receipt_activity_by_id`")

        resource_path = '/beta/itemReceiptActivity/{itemReceiptActivityId}'.replace('{format}', 'json')
        path_params = {}
        if 'item_receipt_activity_id' in params:
            path_params['itemReceiptActivityId'] = params['item_receipt_activity_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ItemReceiptActivity',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_item_receipt_activity_tags(self, item_receipt_activity_id, **kwargs):
        """
        Get the tags for an itemReceiptActivity.
        Get all existing itemReceiptActivity tags.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_item_receipt_activity_tags(item_receipt_activity_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int item_receipt_activity_id: Id of the itemReceiptActivity to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_receipt_activity_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_item_receipt_activity_tags" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'item_receipt_activity_id' is set
        if ('item_receipt_activity_id' not in params) or (params['item_receipt_activity_id'] is None):
            raise ValueError("Missing the required parameter `item_receipt_activity_id` when calling `get_item_receipt_activity_tags`")

        resource_path = '/beta/itemReceiptActivity/{itemReceiptActivityId}/tag'.replace('{format}', 'json')
        path_params = {}
        if 'item_receipt_activity_id' in params:
            path_params['itemReceiptActivityId'] = params['item_receipt_activity_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_item_receipt_activity(self, body, **kwargs):
        """
        Update an itemReceiptActivity
        Updates an existing itemReceiptActivity using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_item_receipt_activity(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ItemReceiptActivity body: ItemReceiptActivity to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_item_receipt_activity" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_item_receipt_activity`")

        resource_path = '/beta/itemReceiptActivity'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
