# coding: utf-8

"""
LocationAddressSchemeApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class LocationAddressSchemeApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def add_location_address_scheme(self, body, **kwargs):
        """
        Create a locationAddressScheme
        Inserts a new locationAddressScheme using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_location_address_scheme(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param LocationAddressScheme body: LocationAddressScheme to be inserted. (required)
        :return: LocationAddressScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_location_address_scheme" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_location_address_scheme`")

        resource_path = '/beta/locationAddressScheme'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='LocationAddressScheme',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_location_address_scheme_audit(self, location_address_scheme_id, location_address_scheme_audit, **kwargs):
        """
        Add new audit for a locationAddressScheme
        Adds an audit to an existing locationAddressScheme.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_location_address_scheme_audit(location_address_scheme_id, location_address_scheme_audit, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int location_address_scheme_id: Id of the locationAddressScheme to add an audit to (required)
        :param str location_address_scheme_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id', 'location_address_scheme_audit']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_location_address_scheme_audit" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params) or (params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `add_location_address_scheme_audit`")
        # verify the required parameter 'location_address_scheme_audit' is set
        if ('location_address_scheme_audit' not in params) or (params['location_address_scheme_audit'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_audit` when calling `add_location_address_scheme_audit`")

        resource_path = '/beta/locationAddressScheme/{locationAddressSchemeId}/audit/{locationAddressSchemeAudit}'.replace('{format}', 'json')
        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']
        if 'location_address_scheme_audit' in params:
            path_params['locationAddressSchemeAudit'] = params['location_address_scheme_audit']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_location_address_scheme_tag(self, location_address_scheme_id, location_address_scheme_tag, **kwargs):
        """
        Add new tags for a locationAddressScheme.
        Adds a tag to an existing locationAddressScheme.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_location_address_scheme_tag(location_address_scheme_id, location_address_scheme_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int location_address_scheme_id: Id of the locationAddressScheme to add a tag to (required)
        :param str location_address_scheme_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id', 'location_address_scheme_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_location_address_scheme_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params) or (params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `add_location_address_scheme_tag`")
        # verify the required parameter 'location_address_scheme_tag' is set
        if ('location_address_scheme_tag' not in params) or (params['location_address_scheme_tag'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_tag` when calling `add_location_address_scheme_tag`")

        resource_path = '/beta/locationAddressScheme/{locationAddressSchemeId}/tag/{locationAddressSchemeTag}'.replace('{format}', 'json')
        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']
        if 'location_address_scheme_tag' in params:
            path_params['locationAddressSchemeTag'] = params['location_address_scheme_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_location_address_scheme(self, location_address_scheme_id, **kwargs):
        """
        Delete a locationAddressScheme
        Deletes the locationAddressScheme identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_location_address_scheme(location_address_scheme_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int location_address_scheme_id: Id of the locationAddressScheme to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_location_address_scheme" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params) or (params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `delete_location_address_scheme`")

        resource_path = '/beta/locationAddressScheme/{locationAddressSchemeId}'.replace('{format}', 'json')
        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_location_address_scheme_tag(self, location_address_scheme_id, location_address_scheme_tag, **kwargs):
        """
        Delete a tag for a locationAddressScheme.
        Deletes an existing locationAddressScheme tag using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_location_address_scheme_tag(location_address_scheme_id, location_address_scheme_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int location_address_scheme_id: Id of the locationAddressScheme to remove tag from (required)
        :param str location_address_scheme_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id', 'location_address_scheme_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_location_address_scheme_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params) or (params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `delete_location_address_scheme_tag`")
        # verify the required parameter 'location_address_scheme_tag' is set
        if ('location_address_scheme_tag' not in params) or (params['location_address_scheme_tag'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_tag` when calling `delete_location_address_scheme_tag`")

        resource_path = '/beta/locationAddressScheme/{locationAddressSchemeId}/tag/{locationAddressSchemeTag}'.replace('{format}', 'json')
        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']
        if 'location_address_scheme_tag' in params:
            path_params['locationAddressSchemeTag'] = params['location_address_scheme_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_duplicate_location_address_scheme_by_id(self, location_address_scheme_id, **kwargs):
        """
        Get a duplicated a locationAddressScheme by id
        Returns a duplicated locationAddressScheme identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_duplicate_location_address_scheme_by_id(location_address_scheme_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int location_address_scheme_id: Id of the locationAddressScheme to be duplicated. (required)
        :return: LocationAddressScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_location_address_scheme_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params) or (params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `get_duplicate_location_address_scheme_by_id`")

        resource_path = '/beta/locationAddressScheme/duplicate/{locationAddressSchemeId}'.replace('{format}', 'json')
        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='LocationAddressScheme',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_location_address_scheme_by_filter(self, **kwargs):
        """
        Search locationAddressSchemes by filter
        Returns the list of locationAddressSchemes that match the given filter.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_location_address_scheme_by_filter(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[LocationAddressScheme]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_location_address_scheme_by_filter" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/beta/locationAddressScheme/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'filter' in params:
            query_params['filter'] = params['filter']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'sort' in params:
            query_params['sort'] = params['sort']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[LocationAddressScheme]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_location_address_scheme_by_id(self, location_address_scheme_id, **kwargs):
        """
        Get a locationAddressScheme by id
        Returns the locationAddressScheme identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_location_address_scheme_by_id(location_address_scheme_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int location_address_scheme_id: Id of the locationAddressScheme to be returned. (required)
        :return: LocationAddressScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_location_address_scheme_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params) or (params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `get_location_address_scheme_by_id`")

        resource_path = '/beta/locationAddressScheme/{locationAddressSchemeId}'.replace('{format}', 'json')
        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='LocationAddressScheme',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_location_address_scheme_tags(self, location_address_scheme_id, **kwargs):
        """
        Get the tags for a locationAddressScheme.
        Get all existing locationAddressScheme tags.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_location_address_scheme_tags(location_address_scheme_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int location_address_scheme_id: Id of the locationAddressScheme to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_address_scheme_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_location_address_scheme_tags" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'location_address_scheme_id' is set
        if ('location_address_scheme_id' not in params) or (params['location_address_scheme_id'] is None):
            raise ValueError("Missing the required parameter `location_address_scheme_id` when calling `get_location_address_scheme_tags`")

        resource_path = '/beta/locationAddressScheme/{locationAddressSchemeId}/tag'.replace('{format}', 'json')
        path_params = {}
        if 'location_address_scheme_id' in params:
            path_params['locationAddressSchemeId'] = params['location_address_scheme_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_location_address_scheme(self, body, **kwargs):
        """
        Update a locationAddressScheme
        Updates an existing locationAddressScheme using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_location_address_scheme(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param LocationAddressScheme body: LocationAddressScheme to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_location_address_scheme" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_location_address_scheme`")

        resource_path = '/beta/locationAddressScheme'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_location_address_scheme_custom_fields(self, body, **kwargs):
        """
        Update a locationAddressScheme custom fields
        Updates an existing locationAddressScheme custom fields using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_location_address_scheme_custom_fields(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param LocationAddressScheme body: LocationAddressScheme to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_location_address_scheme_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_location_address_scheme_custom_fields`")

        resource_path = '/beta/locationAddressScheme/customFields'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
