# coding: utf-8

"""
OrderSourceReservationApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class OrderSourceReservationApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def add_order_source_reservation(self, body, **kwargs):
        """
        Create an orderSourceReservation
        Inserts a new orderSourceReservation using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_order_source_reservation(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param OrderSourceReservation body: OrderSourceReservation to be inserted. (required)
        :return: OrderSourceReservation
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_order_source_reservation" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_order_source_reservation`")

        resource_path = '/beta/orderSourceReservation'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='OrderSourceReservation',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_order_source_reservation_audit(self, order_source_reservation_id, order_source_reservation_audit, **kwargs):
        """
        Add new audit for an orderSourceReservation
        Adds an audit to an existing orderSourceReservation.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_order_source_reservation_audit(order_source_reservation_id, order_source_reservation_audit, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int order_source_reservation_id: Id of the orderSourceReservation to add an audit to (required)
        :param str order_source_reservation_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_reservation_id', 'order_source_reservation_audit']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_order_source_reservation_audit" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'order_source_reservation_id' is set
        if ('order_source_reservation_id' not in params) or (params['order_source_reservation_id'] is None):
            raise ValueError("Missing the required parameter `order_source_reservation_id` when calling `add_order_source_reservation_audit`")
        # verify the required parameter 'order_source_reservation_audit' is set
        if ('order_source_reservation_audit' not in params) or (params['order_source_reservation_audit'] is None):
            raise ValueError("Missing the required parameter `order_source_reservation_audit` when calling `add_order_source_reservation_audit`")

        resource_path = '/beta/orderSourceReservation/{orderSourceReservationId}/audit/{orderSourceReservationAudit}'.replace('{format}', 'json')
        path_params = {}
        if 'order_source_reservation_id' in params:
            path_params['orderSourceReservationId'] = params['order_source_reservation_id']
        if 'order_source_reservation_audit' in params:
            path_params['orderSourceReservationAudit'] = params['order_source_reservation_audit']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_order_source_reservation_tag(self, order_source_reservation_id, order_source_reservation_tag, **kwargs):
        """
        Add new tags for an orderSourceReservation.
        Adds a tag to an existing orderSourceReservation.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_order_source_reservation_tag(order_source_reservation_id, order_source_reservation_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int order_source_reservation_id: Id of the orderSourceReservation to add a tag to (required)
        :param str order_source_reservation_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_reservation_id', 'order_source_reservation_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_order_source_reservation_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'order_source_reservation_id' is set
        if ('order_source_reservation_id' not in params) or (params['order_source_reservation_id'] is None):
            raise ValueError("Missing the required parameter `order_source_reservation_id` when calling `add_order_source_reservation_tag`")
        # verify the required parameter 'order_source_reservation_tag' is set
        if ('order_source_reservation_tag' not in params) or (params['order_source_reservation_tag'] is None):
            raise ValueError("Missing the required parameter `order_source_reservation_tag` when calling `add_order_source_reservation_tag`")

        resource_path = '/beta/orderSourceReservation/{orderSourceReservationId}/tag/{orderSourceReservationTag}'.replace('{format}', 'json')
        path_params = {}
        if 'order_source_reservation_id' in params:
            path_params['orderSourceReservationId'] = params['order_source_reservation_id']
        if 'order_source_reservation_tag' in params:
            path_params['orderSourceReservationTag'] = params['order_source_reservation_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_order_source_reservation(self, order_source_reservation_id, **kwargs):
        """
        Delete an orderSourceReservation
        Deletes the orderSourceReservation identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_order_source_reservation(order_source_reservation_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int order_source_reservation_id: Id of the orderSourceReservation to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_reservation_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_order_source_reservation" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'order_source_reservation_id' is set
        if ('order_source_reservation_id' not in params) or (params['order_source_reservation_id'] is None):
            raise ValueError("Missing the required parameter `order_source_reservation_id` when calling `delete_order_source_reservation`")

        resource_path = '/beta/orderSourceReservation/{orderSourceReservationId}'.replace('{format}', 'json')
        path_params = {}
        if 'order_source_reservation_id' in params:
            path_params['orderSourceReservationId'] = params['order_source_reservation_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_order_source_reservation_tag(self, order_source_reservation_id, order_source_reservation_tag, **kwargs):
        """
        Delete a tag for an orderSourceReservation.
        Deletes an existing orderSourceReservation tag using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_order_source_reservation_tag(order_source_reservation_id, order_source_reservation_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int order_source_reservation_id: Id of the orderSourceReservation to remove tag from (required)
        :param str order_source_reservation_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_reservation_id', 'order_source_reservation_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_order_source_reservation_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'order_source_reservation_id' is set
        if ('order_source_reservation_id' not in params) or (params['order_source_reservation_id'] is None):
            raise ValueError("Missing the required parameter `order_source_reservation_id` when calling `delete_order_source_reservation_tag`")
        # verify the required parameter 'order_source_reservation_tag' is set
        if ('order_source_reservation_tag' not in params) or (params['order_source_reservation_tag'] is None):
            raise ValueError("Missing the required parameter `order_source_reservation_tag` when calling `delete_order_source_reservation_tag`")

        resource_path = '/beta/orderSourceReservation/{orderSourceReservationId}/tag/{orderSourceReservationTag}'.replace('{format}', 'json')
        path_params = {}
        if 'order_source_reservation_id' in params:
            path_params['orderSourceReservationId'] = params['order_source_reservation_id']
        if 'order_source_reservation_tag' in params:
            path_params['orderSourceReservationTag'] = params['order_source_reservation_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_duplicate_order_source_reservation_by_id(self, order_source_reservation_id, **kwargs):
        """
        Get a duplicated an orderSourceReservation by id
        Returns a duplicated orderSourceReservation identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_duplicate_order_source_reservation_by_id(order_source_reservation_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int order_source_reservation_id: Id of the orderSourceReservation to be duplicated. (required)
        :return: OrderSourceReservation
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_reservation_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_order_source_reservation_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'order_source_reservation_id' is set
        if ('order_source_reservation_id' not in params) or (params['order_source_reservation_id'] is None):
            raise ValueError("Missing the required parameter `order_source_reservation_id` when calling `get_duplicate_order_source_reservation_by_id`")

        resource_path = '/beta/orderSourceReservation/duplicate/{orderSourceReservationId}'.replace('{format}', 'json')
        path_params = {}
        if 'order_source_reservation_id' in params:
            path_params['orderSourceReservationId'] = params['order_source_reservation_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='OrderSourceReservation',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_order_source_reservation_by_filter(self, **kwargs):
        """
        Search orderSourceReservations by filter
        Returns the list of orderSourceReservations that match the given filter.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_order_source_reservation_by_filter(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[OrderSourceReservation]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_order_source_reservation_by_filter" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/beta/orderSourceReservation/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'filter' in params:
            query_params['filter'] = params['filter']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'sort' in params:
            query_params['sort'] = params['sort']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[OrderSourceReservation]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_order_source_reservation_by_id(self, order_source_reservation_id, **kwargs):
        """
        Get an orderSourceReservation by id
        Returns the orderSourceReservation identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_order_source_reservation_by_id(order_source_reservation_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int order_source_reservation_id: Id of the orderSourceReservation to be returned. (required)
        :return: OrderSourceReservation
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_reservation_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_order_source_reservation_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'order_source_reservation_id' is set
        if ('order_source_reservation_id' not in params) or (params['order_source_reservation_id'] is None):
            raise ValueError("Missing the required parameter `order_source_reservation_id` when calling `get_order_source_reservation_by_id`")

        resource_path = '/beta/orderSourceReservation/{orderSourceReservationId}'.replace('{format}', 'json')
        path_params = {}
        if 'order_source_reservation_id' in params:
            path_params['orderSourceReservationId'] = params['order_source_reservation_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='OrderSourceReservation',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_order_source_reservation_tags(self, order_source_reservation_id, **kwargs):
        """
        Get the tags for an orderSourceReservation.
        Get all existing orderSourceReservation tags.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_order_source_reservation_tags(order_source_reservation_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int order_source_reservation_id: Id of the orderSourceReservation to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_source_reservation_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_order_source_reservation_tags" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'order_source_reservation_id' is set
        if ('order_source_reservation_id' not in params) or (params['order_source_reservation_id'] is None):
            raise ValueError("Missing the required parameter `order_source_reservation_id` when calling `get_order_source_reservation_tags`")

        resource_path = '/beta/orderSourceReservation/{orderSourceReservationId}/tag'.replace('{format}', 'json')
        path_params = {}
        if 'order_source_reservation_id' in params:
            path_params['orderSourceReservationId'] = params['order_source_reservation_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_order_source_reservation(self, body, **kwargs):
        """
        Update an orderSourceReservation
        Updates an existing orderSourceReservation using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_order_source_reservation(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param OrderSourceReservation body: OrderSourceReservation to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_order_source_reservation" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_order_source_reservation`")

        resource_path = '/beta/orderSourceReservation'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_order_source_reservation_custom_fields(self, body, **kwargs):
        """
        Update an orderSourceReservation custom fields
        Updates an existing orderSourceReservation custom fields using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_order_source_reservation_custom_fields(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param OrderSourceReservation body: OrderSourceReservation to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_order_source_reservation_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_order_source_reservation_custom_fields`")

        resource_path = '/beta/orderSourceReservation/customFields'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
