# coding: utf-8

"""
OrderLineApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class OrderLineApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def add_order_line_audit(self, order_line_id, order_line_audit, **kwargs):
        """
        Add new audit for an orderLine
        Adds an audit to an existing orderLine.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_order_line_audit(order_line_id, order_line_audit, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int order_line_id: Id of the orderLine to add an audit to (required)
        :param str order_line_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_line_id', 'order_line_audit']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_order_line_audit" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'order_line_id' is set
        if ('order_line_id' not in params) or (params['order_line_id'] is None):
            raise ValueError("Missing the required parameter `order_line_id` when calling `add_order_line_audit`")
        # verify the required parameter 'order_line_audit' is set
        if ('order_line_audit' not in params) or (params['order_line_audit'] is None):
            raise ValueError("Missing the required parameter `order_line_audit` when calling `add_order_line_audit`")

        resource_path = '/beta/orderLine/{orderLineId}/audit/{orderLineAudit}'.replace('{format}', 'json')
        path_params = {}
        if 'order_line_id' in params:
            path_params['orderLineId'] = params['order_line_id']
        if 'order_line_audit' in params:
            path_params['orderLineAudit'] = params['order_line_audit']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_order_line_tag(self, order_line_id, order_line_tag, **kwargs):
        """
        Add new tags for an orderLine.
        Adds a tag to an existing orderLine.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_order_line_tag(order_line_id, order_line_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int order_line_id: Id of the orderLine to add a tag to (required)
        :param str order_line_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_line_id', 'order_line_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_order_line_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'order_line_id' is set
        if ('order_line_id' not in params) or (params['order_line_id'] is None):
            raise ValueError("Missing the required parameter `order_line_id` when calling `add_order_line_tag`")
        # verify the required parameter 'order_line_tag' is set
        if ('order_line_tag' not in params) or (params['order_line_tag'] is None):
            raise ValueError("Missing the required parameter `order_line_tag` when calling `add_order_line_tag`")

        resource_path = '/beta/orderLine/{orderLineId}/tag/{orderLineTag}'.replace('{format}', 'json')
        path_params = {}
        if 'order_line_id' in params:
            path_params['orderLineId'] = params['order_line_id']
        if 'order_line_tag' in params:
            path_params['orderLineTag'] = params['order_line_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_order_line_tag(self, order_line_id, order_line_tag, **kwargs):
        """
        Delete a tag for an orderLine.
        Deletes an existing orderLine tag using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_order_line_tag(order_line_id, order_line_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int order_line_id: Id of the orderLine to remove tag from (required)
        :param str order_line_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_line_id', 'order_line_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_order_line_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'order_line_id' is set
        if ('order_line_id' not in params) or (params['order_line_id'] is None):
            raise ValueError("Missing the required parameter `order_line_id` when calling `delete_order_line_tag`")
        # verify the required parameter 'order_line_tag' is set
        if ('order_line_tag' not in params) or (params['order_line_tag'] is None):
            raise ValueError("Missing the required parameter `order_line_tag` when calling `delete_order_line_tag`")

        resource_path = '/beta/orderLine/{orderLineId}/tag/{orderLineTag}'.replace('{format}', 'json')
        path_params = {}
        if 'order_line_id' in params:
            path_params['orderLineId'] = params['order_line_id']
        if 'order_line_tag' in params:
            path_params['orderLineTag'] = params['order_line_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_duplicate_order_line_by_id(self, order_line_id, **kwargs):
        """
        Get a duplicated an orderLine by id
        Returns a duplicated orderLine identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_duplicate_order_line_by_id(order_line_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int order_line_id: Id of the orderLine to be duplicated. (required)
        :return: OrderLine
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_line_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_order_line_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'order_line_id' is set
        if ('order_line_id' not in params) or (params['order_line_id'] is None):
            raise ValueError("Missing the required parameter `order_line_id` when calling `get_duplicate_order_line_by_id`")

        resource_path = '/beta/orderLine/duplicate/{orderLineId}'.replace('{format}', 'json')
        path_params = {}
        if 'order_line_id' in params:
            path_params['orderLineId'] = params['order_line_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='OrderLine',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_order_line_by_filter(self, **kwargs):
        """
        Search orderLines by filter
        Returns the list of orderLines that match the given filter.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_order_line_by_filter(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[OrderLine]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_order_line_by_filter" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/beta/orderLine/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'filter' in params:
            query_params['filter'] = params['filter']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'sort' in params:
            query_params['sort'] = params['sort']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[OrderLine]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_order_line_by_id(self, order_line_id, **kwargs):
        """
        Get an orderLine by id
        Returns the orderLine identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_order_line_by_id(order_line_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int order_line_id: Id of the orderLine to be returned. (required)
        :return: OrderLine
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_line_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_order_line_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'order_line_id' is set
        if ('order_line_id' not in params) or (params['order_line_id'] is None):
            raise ValueError("Missing the required parameter `order_line_id` when calling `get_order_line_by_id`")

        resource_path = '/beta/orderLine/{orderLineId}'.replace('{format}', 'json')
        path_params = {}
        if 'order_line_id' in params:
            path_params['orderLineId'] = params['order_line_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='OrderLine',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_order_line_tags(self, order_line_id, **kwargs):
        """
        Get the tags for an orderLine.
        Get all existing orderLine tags.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_order_line_tags(order_line_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int order_line_id: Id of the orderLine to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_line_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_order_line_tags" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'order_line_id' is set
        if ('order_line_id' not in params) or (params['order_line_id'] is None):
            raise ValueError("Missing the required parameter `order_line_id` when calling `get_order_line_tags`")

        resource_path = '/beta/orderLine/{orderLineId}/tag'.replace('{format}', 'json')
        path_params = {}
        if 'order_line_id' in params:
            path_params['orderLineId'] = params['order_line_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_order_line_custom_fields(self, body, **kwargs):
        """
        Update an orderLine custom fields
        Updates an existing orderLine custom fields using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_order_line_custom_fields(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param OrderLine body: OrderLine to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_order_line_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_order_line_custom_fields`")

        resource_path = '/beta/orderLine/customFields'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
