# coding: utf-8

"""
ParcelInvoiceApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class ParcelInvoiceApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def add_parcel_invoice_audit(self, parcel_invoice_id, parcel_invoice_audit, **kwargs):
        """
        Add new audit for a parcelInvoice
        Adds an audit to an existing parcelInvoice.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_parcel_invoice_audit(parcel_invoice_id, parcel_invoice_audit, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int parcel_invoice_id: Id of the parcelInvoice to add an audit to (required)
        :param str parcel_invoice_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_invoice_id', 'parcel_invoice_audit']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_parcel_invoice_audit" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'parcel_invoice_id' is set
        if ('parcel_invoice_id' not in params) or (params['parcel_invoice_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_id` when calling `add_parcel_invoice_audit`")
        # verify the required parameter 'parcel_invoice_audit' is set
        if ('parcel_invoice_audit' not in params) or (params['parcel_invoice_audit'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_audit` when calling `add_parcel_invoice_audit`")

        resource_path = '/beta/parcelInvoice/{parcelInvoiceId}/audit/{parcelInvoiceAudit}'.replace('{format}', 'json')
        path_params = {}
        if 'parcel_invoice_id' in params:
            path_params['parcelInvoiceId'] = params['parcel_invoice_id']
        if 'parcel_invoice_audit' in params:
            path_params['parcelInvoiceAudit'] = params['parcel_invoice_audit']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_parcel_invoice_tag(self, parcel_invoice_id, parcel_invoice_tag, **kwargs):
        """
        Add new tags for a parcelInvoice.
        Adds a tag to an existing parcelInvoice.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_parcel_invoice_tag(parcel_invoice_id, parcel_invoice_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int parcel_invoice_id: Id of the parcelInvoice to add a tag to (required)
        :param str parcel_invoice_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_invoice_id', 'parcel_invoice_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_parcel_invoice_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'parcel_invoice_id' is set
        if ('parcel_invoice_id' not in params) or (params['parcel_invoice_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_id` when calling `add_parcel_invoice_tag`")
        # verify the required parameter 'parcel_invoice_tag' is set
        if ('parcel_invoice_tag' not in params) or (params['parcel_invoice_tag'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_tag` when calling `add_parcel_invoice_tag`")

        resource_path = '/beta/parcelInvoice/{parcelInvoiceId}/tag/{parcelInvoiceTag}'.replace('{format}', 'json')
        path_params = {}
        if 'parcel_invoice_id' in params:
            path_params['parcelInvoiceId'] = params['parcel_invoice_id']
        if 'parcel_invoice_tag' in params:
            path_params['parcelInvoiceTag'] = params['parcel_invoice_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_parcel_invoice(self, parcel_invoice_id, **kwargs):
        """
        Delete a parcelInvoice
        Deletes the parcelInvoice identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_parcel_invoice(parcel_invoice_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int parcel_invoice_id: Id of the parcelInvoice to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_invoice_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_parcel_invoice" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'parcel_invoice_id' is set
        if ('parcel_invoice_id' not in params) or (params['parcel_invoice_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_id` when calling `delete_parcel_invoice`")

        resource_path = '/beta/parcelInvoice/{parcelInvoiceId}'.replace('{format}', 'json')
        path_params = {}
        if 'parcel_invoice_id' in params:
            path_params['parcelInvoiceId'] = params['parcel_invoice_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_parcel_invoice_tag(self, parcel_invoice_id, parcel_invoice_tag, **kwargs):
        """
        Delete a tag for a parcelInvoice.
        Deletes an existing parcelInvoice tag using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_parcel_invoice_tag(parcel_invoice_id, parcel_invoice_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int parcel_invoice_id: Id of the parcelInvoice to remove tag from (required)
        :param str parcel_invoice_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_invoice_id', 'parcel_invoice_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_parcel_invoice_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'parcel_invoice_id' is set
        if ('parcel_invoice_id' not in params) or (params['parcel_invoice_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_id` when calling `delete_parcel_invoice_tag`")
        # verify the required parameter 'parcel_invoice_tag' is set
        if ('parcel_invoice_tag' not in params) or (params['parcel_invoice_tag'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_tag` when calling `delete_parcel_invoice_tag`")

        resource_path = '/beta/parcelInvoice/{parcelInvoiceId}/tag/{parcelInvoiceTag}'.replace('{format}', 'json')
        path_params = {}
        if 'parcel_invoice_id' in params:
            path_params['parcelInvoiceId'] = params['parcel_invoice_id']
        if 'parcel_invoice_tag' in params:
            path_params['parcelInvoiceTag'] = params['parcel_invoice_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_duplicate_parcel_invoice_by_id(self, parcel_invoice_id, **kwargs):
        """
        Get a duplicated a parcelInvoice by id
        Returns a duplicated parcelInvoice identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_duplicate_parcel_invoice_by_id(parcel_invoice_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int parcel_invoice_id: Id of the parcelInvoice to be duplicated. (required)
        :return: ParcelInvoice
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_invoice_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_parcel_invoice_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'parcel_invoice_id' is set
        if ('parcel_invoice_id' not in params) or (params['parcel_invoice_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_id` when calling `get_duplicate_parcel_invoice_by_id`")

        resource_path = '/beta/parcelInvoice/duplicate/{parcelInvoiceId}'.replace('{format}', 'json')
        path_params = {}
        if 'parcel_invoice_id' in params:
            path_params['parcelInvoiceId'] = params['parcel_invoice_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ParcelInvoice',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_parcel_invoice_by_filter(self, **kwargs):
        """
        Search parcelInvoices by filter
        Returns the list of parcelInvoices that match the given filter.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_parcel_invoice_by_filter(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ParcelInvoice]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parcel_invoice_by_filter" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/beta/parcelInvoice/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'filter' in params:
            query_params['filter'] = params['filter']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'sort' in params:
            query_params['sort'] = params['sort']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[ParcelInvoice]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_parcel_invoice_by_id(self, parcel_invoice_id, **kwargs):
        """
        Get a parcelInvoice by id
        Returns the parcelInvoice identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_parcel_invoice_by_id(parcel_invoice_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int parcel_invoice_id: Id of the parcelInvoice to be returned. (required)
        :return: ParcelInvoice
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_invoice_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parcel_invoice_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'parcel_invoice_id' is set
        if ('parcel_invoice_id' not in params) or (params['parcel_invoice_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_id` when calling `get_parcel_invoice_by_id`")

        resource_path = '/beta/parcelInvoice/{parcelInvoiceId}'.replace('{format}', 'json')
        path_params = {}
        if 'parcel_invoice_id' in params:
            path_params['parcelInvoiceId'] = params['parcel_invoice_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ParcelInvoice',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_parcel_invoice_tags(self, parcel_invoice_id, **kwargs):
        """
        Get the tags for a parcelInvoice.
        Get all existing parcelInvoice tags.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_parcel_invoice_tags(parcel_invoice_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int parcel_invoice_id: Id of the parcelInvoice to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_invoice_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parcel_invoice_tags" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'parcel_invoice_id' is set
        if ('parcel_invoice_id' not in params) or (params['parcel_invoice_id'] is None):
            raise ValueError("Missing the required parameter `parcel_invoice_id` when calling `get_parcel_invoice_tags`")

        resource_path = '/beta/parcelInvoice/{parcelInvoiceId}/tag'.replace('{format}', 'json')
        path_params = {}
        if 'parcel_invoice_id' in params:
            path_params['parcelInvoiceId'] = params['parcel_invoice_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
