# coding: utf-8

"""
ParcelAccountApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class ParcelAccountApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def add_parcel_account_audit(self, parcel_account_id, parcel_account_audit, **kwargs):
        """
        Add new audit for a parcelAccount
        Adds an audit to an existing parcelAccount.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_parcel_account_audit(parcel_account_id, parcel_account_audit, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int parcel_account_id: Id of the parcelAccount to add an audit to (required)
        :param str parcel_account_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_account_id', 'parcel_account_audit']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_parcel_account_audit" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'parcel_account_id' is set
        if ('parcel_account_id' not in params) or (params['parcel_account_id'] is None):
            raise ValueError("Missing the required parameter `parcel_account_id` when calling `add_parcel_account_audit`")
        # verify the required parameter 'parcel_account_audit' is set
        if ('parcel_account_audit' not in params) or (params['parcel_account_audit'] is None):
            raise ValueError("Missing the required parameter `parcel_account_audit` when calling `add_parcel_account_audit`")

        resource_path = '/beta/parcelAccount/{parcelAccountId}/audit/{parcelAccountAudit}'.replace('{format}', 'json')
        path_params = {}
        if 'parcel_account_id' in params:
            path_params['parcelAccountId'] = params['parcel_account_id']
        if 'parcel_account_audit' in params:
            path_params['parcelAccountAudit'] = params['parcel_account_audit']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_parcel_account_tag(self, parcel_account_id, parcel_account_tag, **kwargs):
        """
        Add new tags for a parcelAccount.
        Adds a tag to an existing parcelAccount.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_parcel_account_tag(parcel_account_id, parcel_account_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int parcel_account_id: Id of the parcelAccount to add a tag to (required)
        :param str parcel_account_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_account_id', 'parcel_account_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_parcel_account_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'parcel_account_id' is set
        if ('parcel_account_id' not in params) or (params['parcel_account_id'] is None):
            raise ValueError("Missing the required parameter `parcel_account_id` when calling `add_parcel_account_tag`")
        # verify the required parameter 'parcel_account_tag' is set
        if ('parcel_account_tag' not in params) or (params['parcel_account_tag'] is None):
            raise ValueError("Missing the required parameter `parcel_account_tag` when calling `add_parcel_account_tag`")

        resource_path = '/beta/parcelAccount/{parcelAccountId}/tag/{parcelAccountTag}'.replace('{format}', 'json')
        path_params = {}
        if 'parcel_account_id' in params:
            path_params['parcelAccountId'] = params['parcel_account_id']
        if 'parcel_account_tag' in params:
            path_params['parcelAccountTag'] = params['parcel_account_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_parcel_account_tag(self, parcel_account_id, parcel_account_tag, **kwargs):
        """
        Delete a tag for a parcelAccount.
        Deletes an existing parcelAccount tag using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_parcel_account_tag(parcel_account_id, parcel_account_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int parcel_account_id: Id of the parcelAccount to remove tag from (required)
        :param str parcel_account_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_account_id', 'parcel_account_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_parcel_account_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'parcel_account_id' is set
        if ('parcel_account_id' not in params) or (params['parcel_account_id'] is None):
            raise ValueError("Missing the required parameter `parcel_account_id` when calling `delete_parcel_account_tag`")
        # verify the required parameter 'parcel_account_tag' is set
        if ('parcel_account_tag' not in params) or (params['parcel_account_tag'] is None):
            raise ValueError("Missing the required parameter `parcel_account_tag` when calling `delete_parcel_account_tag`")

        resource_path = '/beta/parcelAccount/{parcelAccountId}/tag/{parcelAccountTag}'.replace('{format}', 'json')
        path_params = {}
        if 'parcel_account_id' in params:
            path_params['parcelAccountId'] = params['parcel_account_id']
        if 'parcel_account_tag' in params:
            path_params['parcelAccountTag'] = params['parcel_account_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_duplicate_parcel_account_by_id(self, parcel_account_id, **kwargs):
        """
        Get a duplicated a parcelAccount by id
        Returns a duplicated parcelAccount identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_duplicate_parcel_account_by_id(parcel_account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int parcel_account_id: Id of the parcelAccount to be duplicated. (required)
        :return: ParcelAccount
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_account_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_parcel_account_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'parcel_account_id' is set
        if ('parcel_account_id' not in params) or (params['parcel_account_id'] is None):
            raise ValueError("Missing the required parameter `parcel_account_id` when calling `get_duplicate_parcel_account_by_id`")

        resource_path = '/beta/parcelAccount/duplicate/{parcelAccountId}'.replace('{format}', 'json')
        path_params = {}
        if 'parcel_account_id' in params:
            path_params['parcelAccountId'] = params['parcel_account_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ParcelAccount',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_parcel_account_by_filter(self, **kwargs):
        """
        Search parcelAccounts by filter
        Returns the list of parcelAccounts that match the given filter.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_parcel_account_by_filter(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ParcelAccount]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parcel_account_by_filter" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/beta/parcelAccount/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'filter' in params:
            query_params['filter'] = params['filter']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'sort' in params:
            query_params['sort'] = params['sort']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[ParcelAccount]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_parcel_account_by_id(self, parcel_account_id, **kwargs):
        """
        Get a parcelAccount by id
        Returns the parcelAccount identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_parcel_account_by_id(parcel_account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int parcel_account_id: Id of the parcelAccount to be returned. (required)
        :return: ParcelAccount
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_account_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parcel_account_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'parcel_account_id' is set
        if ('parcel_account_id' not in params) or (params['parcel_account_id'] is None):
            raise ValueError("Missing the required parameter `parcel_account_id` when calling `get_parcel_account_by_id`")

        resource_path = '/beta/parcelAccount/{parcelAccountId}'.replace('{format}', 'json')
        path_params = {}
        if 'parcel_account_id' in params:
            path_params['parcelAccountId'] = params['parcel_account_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ParcelAccount',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_parcel_account_tags(self, parcel_account_id, **kwargs):
        """
        Get the tags for a parcelAccount.
        Get all existing parcelAccount tags.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_parcel_account_tags(parcel_account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int parcel_account_id: Id of the parcelAccount to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parcel_account_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parcel_account_tags" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'parcel_account_id' is set
        if ('parcel_account_id' not in params) or (params['parcel_account_id'] is None):
            raise ValueError("Missing the required parameter `parcel_account_id` when calling `get_parcel_account_tags`")

        resource_path = '/beta/parcelAccount/{parcelAccountId}/tag'.replace('{format}', 'json')
        path_params = {}
        if 'parcel_account_id' in params:
            path_params['parcelAccountId'] = params['parcel_account_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_parcel_account_custom_fields(self, body, **kwargs):
        """
        Update a parcelAccount custom fields
        Updates an existing parcelAccount custom fields using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_parcel_account_custom_fields(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ParcelAccount body: ParcelAccount to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_parcel_account_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_parcel_account_custom_fields`")

        resource_path = '/beta/parcelAccount/customFields'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
