# coding: utf-8

"""
PerpetualInventoryLogApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class PerpetualInventoryLogApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def add_perpetual_inventory_log_audit(self, perpetual_inventory_log_id, perpetual_inventory_log_audit, **kwargs):
        """
        Add new audit for a perpetualInventoryLog
        Adds an audit to an existing perpetualInventoryLog.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_perpetual_inventory_log_audit(perpetual_inventory_log_id, perpetual_inventory_log_audit, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int perpetual_inventory_log_id: Id of the perpetualInventoryLog to add an audit to (required)
        :param str perpetual_inventory_log_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['perpetual_inventory_log_id', 'perpetual_inventory_log_audit']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_perpetual_inventory_log_audit" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'perpetual_inventory_log_id' is set
        if ('perpetual_inventory_log_id' not in params) or (params['perpetual_inventory_log_id'] is None):
            raise ValueError("Missing the required parameter `perpetual_inventory_log_id` when calling `add_perpetual_inventory_log_audit`")
        # verify the required parameter 'perpetual_inventory_log_audit' is set
        if ('perpetual_inventory_log_audit' not in params) or (params['perpetual_inventory_log_audit'] is None):
            raise ValueError("Missing the required parameter `perpetual_inventory_log_audit` when calling `add_perpetual_inventory_log_audit`")

        resource_path = '/beta/perpetualInventoryLog/{perpetualInventoryLogId}/audit/{perpetualInventoryLogAudit}'.replace('{format}', 'json')
        path_params = {}
        if 'perpetual_inventory_log_id' in params:
            path_params['perpetualInventoryLogId'] = params['perpetual_inventory_log_id']
        if 'perpetual_inventory_log_audit' in params:
            path_params['perpetualInventoryLogAudit'] = params['perpetual_inventory_log_audit']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_perpetual_inventory_log_tag(self, perpetual_inventory_log_id, perpetual_inventory_log_tag, **kwargs):
        """
        Add new tags for a perpetualInventoryLog.
        Adds a tag to an existing perpetualInventoryLog.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_perpetual_inventory_log_tag(perpetual_inventory_log_id, perpetual_inventory_log_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int perpetual_inventory_log_id: Id of the perpetualInventoryLog to add a tag to (required)
        :param str perpetual_inventory_log_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['perpetual_inventory_log_id', 'perpetual_inventory_log_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_perpetual_inventory_log_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'perpetual_inventory_log_id' is set
        if ('perpetual_inventory_log_id' not in params) or (params['perpetual_inventory_log_id'] is None):
            raise ValueError("Missing the required parameter `perpetual_inventory_log_id` when calling `add_perpetual_inventory_log_tag`")
        # verify the required parameter 'perpetual_inventory_log_tag' is set
        if ('perpetual_inventory_log_tag' not in params) or (params['perpetual_inventory_log_tag'] is None):
            raise ValueError("Missing the required parameter `perpetual_inventory_log_tag` when calling `add_perpetual_inventory_log_tag`")

        resource_path = '/beta/perpetualInventoryLog/{perpetualInventoryLogId}/tag/{perpetualInventoryLogTag}'.replace('{format}', 'json')
        path_params = {}
        if 'perpetual_inventory_log_id' in params:
            path_params['perpetualInventoryLogId'] = params['perpetual_inventory_log_id']
        if 'perpetual_inventory_log_tag' in params:
            path_params['perpetualInventoryLogTag'] = params['perpetual_inventory_log_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_perpetual_inventory_log_tag(self, perpetual_inventory_log_id, perpetual_inventory_log_tag, **kwargs):
        """
        Delete a tag for a perpetualInventoryLog.
        Deletes an existing perpetualInventoryLog tag using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_perpetual_inventory_log_tag(perpetual_inventory_log_id, perpetual_inventory_log_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int perpetual_inventory_log_id: Id of the perpetualInventoryLog to remove tag from (required)
        :param str perpetual_inventory_log_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['perpetual_inventory_log_id', 'perpetual_inventory_log_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_perpetual_inventory_log_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'perpetual_inventory_log_id' is set
        if ('perpetual_inventory_log_id' not in params) or (params['perpetual_inventory_log_id'] is None):
            raise ValueError("Missing the required parameter `perpetual_inventory_log_id` when calling `delete_perpetual_inventory_log_tag`")
        # verify the required parameter 'perpetual_inventory_log_tag' is set
        if ('perpetual_inventory_log_tag' not in params) or (params['perpetual_inventory_log_tag'] is None):
            raise ValueError("Missing the required parameter `perpetual_inventory_log_tag` when calling `delete_perpetual_inventory_log_tag`")

        resource_path = '/beta/perpetualInventoryLog/{perpetualInventoryLogId}/tag/{perpetualInventoryLogTag}'.replace('{format}', 'json')
        path_params = {}
        if 'perpetual_inventory_log_id' in params:
            path_params['perpetualInventoryLogId'] = params['perpetual_inventory_log_id']
        if 'perpetual_inventory_log_tag' in params:
            path_params['perpetualInventoryLogTag'] = params['perpetual_inventory_log_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_duplicate_perpetual_inventory_log_by_id(self, perpetual_inventory_log_id, **kwargs):
        """
        Get a duplicated a perpetualInventoryLog by id
        Returns a duplicated perpetualInventoryLog identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_duplicate_perpetual_inventory_log_by_id(perpetual_inventory_log_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int perpetual_inventory_log_id: Id of the perpetualInventoryLog to be duplicated. (required)
        :return: PerpetualInventoryLog
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['perpetual_inventory_log_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_perpetual_inventory_log_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'perpetual_inventory_log_id' is set
        if ('perpetual_inventory_log_id' not in params) or (params['perpetual_inventory_log_id'] is None):
            raise ValueError("Missing the required parameter `perpetual_inventory_log_id` when calling `get_duplicate_perpetual_inventory_log_by_id`")

        resource_path = '/beta/perpetualInventoryLog/duplicate/{perpetualInventoryLogId}'.replace('{format}', 'json')
        path_params = {}
        if 'perpetual_inventory_log_id' in params:
            path_params['perpetualInventoryLogId'] = params['perpetual_inventory_log_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='PerpetualInventoryLog',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_perpetual_inventory_log_by_filter(self, **kwargs):
        """
        Search perpetualInventoryLogs by filter
        Returns the list of perpetualInventoryLogs that match the given filter.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_perpetual_inventory_log_by_filter(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[PerpetualInventoryLog]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_perpetual_inventory_log_by_filter" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/beta/perpetualInventoryLog/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'filter' in params:
            query_params['filter'] = params['filter']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'sort' in params:
            query_params['sort'] = params['sort']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[PerpetualInventoryLog]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_perpetual_inventory_log_by_id(self, perpetual_inventory_log_id, **kwargs):
        """
        Get a perpetualInventoryLog by id
        Returns the perpetualInventoryLog identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_perpetual_inventory_log_by_id(perpetual_inventory_log_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int perpetual_inventory_log_id: Id of the perpetualInventoryLog to be returned. (required)
        :return: PerpetualInventoryLog
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['perpetual_inventory_log_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_perpetual_inventory_log_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'perpetual_inventory_log_id' is set
        if ('perpetual_inventory_log_id' not in params) or (params['perpetual_inventory_log_id'] is None):
            raise ValueError("Missing the required parameter `perpetual_inventory_log_id` when calling `get_perpetual_inventory_log_by_id`")

        resource_path = '/beta/perpetualInventoryLog/{perpetualInventoryLogId}'.replace('{format}', 'json')
        path_params = {}
        if 'perpetual_inventory_log_id' in params:
            path_params['perpetualInventoryLogId'] = params['perpetual_inventory_log_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='PerpetualInventoryLog',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_perpetual_inventory_log_tags(self, perpetual_inventory_log_id, **kwargs):
        """
        Get the tags for a perpetualInventoryLog.
        Get all existing perpetualInventoryLog tags.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_perpetual_inventory_log_tags(perpetual_inventory_log_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int perpetual_inventory_log_id: Id of the perpetualInventoryLog to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['perpetual_inventory_log_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_perpetual_inventory_log_tags" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'perpetual_inventory_log_id' is set
        if ('perpetual_inventory_log_id' not in params) or (params['perpetual_inventory_log_id'] is None):
            raise ValueError("Missing the required parameter `perpetual_inventory_log_id` when calling `get_perpetual_inventory_log_tags`")

        resource_path = '/beta/perpetualInventoryLog/{perpetualInventoryLogId}/tag'.replace('{format}', 'json')
        path_params = {}
        if 'perpetual_inventory_log_id' in params:
            path_params['perpetualInventoryLogId'] = params['perpetual_inventory_log_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
