# coding: utf-8

"""
PickFaceAssignmentApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class PickFaceAssignmentApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def add_pick_face_assignment(self, body, **kwargs):
        """
        Create a pickFaceAssignment
        Inserts a new pickFaceAssignment using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_pick_face_assignment(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param PickFaceAssignment body: PickFaceAssignment to be inserted. (required)
        :return: PickFaceAssignment
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_pick_face_assignment" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_pick_face_assignment`")

        resource_path = '/beta/pickFaceAssignment'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='PickFaceAssignment',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_pick_face_assignment_audit(self, pick_face_assignment_id, pick_face_assignment_audit, **kwargs):
        """
        Add new audit for a pickFaceAssignment
        Adds an audit to an existing pickFaceAssignment.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_pick_face_assignment_audit(pick_face_assignment_id, pick_face_assignment_audit, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int pick_face_assignment_id: Id of the pickFaceAssignment to add an audit to (required)
        :param str pick_face_assignment_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['pick_face_assignment_id', 'pick_face_assignment_audit']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_pick_face_assignment_audit" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'pick_face_assignment_id' is set
        if ('pick_face_assignment_id' not in params) or (params['pick_face_assignment_id'] is None):
            raise ValueError("Missing the required parameter `pick_face_assignment_id` when calling `add_pick_face_assignment_audit`")
        # verify the required parameter 'pick_face_assignment_audit' is set
        if ('pick_face_assignment_audit' not in params) or (params['pick_face_assignment_audit'] is None):
            raise ValueError("Missing the required parameter `pick_face_assignment_audit` when calling `add_pick_face_assignment_audit`")

        resource_path = '/beta/pickFaceAssignment/{pickFaceAssignmentId}/audit/{pickFaceAssignmentAudit}'.replace('{format}', 'json')
        path_params = {}
        if 'pick_face_assignment_id' in params:
            path_params['pickFaceAssignmentId'] = params['pick_face_assignment_id']
        if 'pick_face_assignment_audit' in params:
            path_params['pickFaceAssignmentAudit'] = params['pick_face_assignment_audit']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_pick_face_assignment_tag(self, pick_face_assignment_id, pick_face_assignment_tag, **kwargs):
        """
        Add new tags for a pickFaceAssignment.
        Adds a tag to an existing pickFaceAssignment.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_pick_face_assignment_tag(pick_face_assignment_id, pick_face_assignment_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int pick_face_assignment_id: Id of the pickFaceAssignment to add a tag to (required)
        :param str pick_face_assignment_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['pick_face_assignment_id', 'pick_face_assignment_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_pick_face_assignment_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'pick_face_assignment_id' is set
        if ('pick_face_assignment_id' not in params) or (params['pick_face_assignment_id'] is None):
            raise ValueError("Missing the required parameter `pick_face_assignment_id` when calling `add_pick_face_assignment_tag`")
        # verify the required parameter 'pick_face_assignment_tag' is set
        if ('pick_face_assignment_tag' not in params) or (params['pick_face_assignment_tag'] is None):
            raise ValueError("Missing the required parameter `pick_face_assignment_tag` when calling `add_pick_face_assignment_tag`")

        resource_path = '/beta/pickFaceAssignment/{pickFaceAssignmentId}/tag/{pickFaceAssignmentTag}'.replace('{format}', 'json')
        path_params = {}
        if 'pick_face_assignment_id' in params:
            path_params['pickFaceAssignmentId'] = params['pick_face_assignment_id']
        if 'pick_face_assignment_tag' in params:
            path_params['pickFaceAssignmentTag'] = params['pick_face_assignment_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_pick_face_assignment(self, pick_face_assignment_id, **kwargs):
        """
        Delete a pickFaceAssignment
        Deletes the pickFaceAssignment identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_pick_face_assignment(pick_face_assignment_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int pick_face_assignment_id: Id of the pickFaceAssignment to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['pick_face_assignment_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_pick_face_assignment" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'pick_face_assignment_id' is set
        if ('pick_face_assignment_id' not in params) or (params['pick_face_assignment_id'] is None):
            raise ValueError("Missing the required parameter `pick_face_assignment_id` when calling `delete_pick_face_assignment`")

        resource_path = '/beta/pickFaceAssignment/{pickFaceAssignmentId}'.replace('{format}', 'json')
        path_params = {}
        if 'pick_face_assignment_id' in params:
            path_params['pickFaceAssignmentId'] = params['pick_face_assignment_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_pick_face_assignment_tag(self, pick_face_assignment_id, pick_face_assignment_tag, **kwargs):
        """
        Delete a tag for a pickFaceAssignment.
        Deletes an existing pickFaceAssignment tag using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_pick_face_assignment_tag(pick_face_assignment_id, pick_face_assignment_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int pick_face_assignment_id: Id of the pickFaceAssignment to remove tag from (required)
        :param str pick_face_assignment_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['pick_face_assignment_id', 'pick_face_assignment_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_pick_face_assignment_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'pick_face_assignment_id' is set
        if ('pick_face_assignment_id' not in params) or (params['pick_face_assignment_id'] is None):
            raise ValueError("Missing the required parameter `pick_face_assignment_id` when calling `delete_pick_face_assignment_tag`")
        # verify the required parameter 'pick_face_assignment_tag' is set
        if ('pick_face_assignment_tag' not in params) or (params['pick_face_assignment_tag'] is None):
            raise ValueError("Missing the required parameter `pick_face_assignment_tag` when calling `delete_pick_face_assignment_tag`")

        resource_path = '/beta/pickFaceAssignment/{pickFaceAssignmentId}/tag/{pickFaceAssignmentTag}'.replace('{format}', 'json')
        path_params = {}
        if 'pick_face_assignment_id' in params:
            path_params['pickFaceAssignmentId'] = params['pick_face_assignment_id']
        if 'pick_face_assignment_tag' in params:
            path_params['pickFaceAssignmentTag'] = params['pick_face_assignment_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_duplicate_pick_face_assignment_by_id(self, pick_face_assignment_id, **kwargs):
        """
        Get a duplicated a pickFaceAssignment by id
        Returns a duplicated pickFaceAssignment identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_duplicate_pick_face_assignment_by_id(pick_face_assignment_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int pick_face_assignment_id: Id of the pickFaceAssignment to be duplicated. (required)
        :return: PickFaceAssignment
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['pick_face_assignment_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_pick_face_assignment_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'pick_face_assignment_id' is set
        if ('pick_face_assignment_id' not in params) or (params['pick_face_assignment_id'] is None):
            raise ValueError("Missing the required parameter `pick_face_assignment_id` when calling `get_duplicate_pick_face_assignment_by_id`")

        resource_path = '/beta/pickFaceAssignment/duplicate/{pickFaceAssignmentId}'.replace('{format}', 'json')
        path_params = {}
        if 'pick_face_assignment_id' in params:
            path_params['pickFaceAssignmentId'] = params['pick_face_assignment_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='PickFaceAssignment',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_pick_face_assignment_by_filter(self, **kwargs):
        """
        Search pickFaceAssignments by filter
        Returns the list of pickFaceAssignments that match the given filter.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_pick_face_assignment_by_filter(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[PickFaceAssignment]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_pick_face_assignment_by_filter" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/beta/pickFaceAssignment/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'filter' in params:
            query_params['filter'] = params['filter']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'sort' in params:
            query_params['sort'] = params['sort']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[PickFaceAssignment]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_pick_face_assignment_by_id(self, pick_face_assignment_id, **kwargs):
        """
        Get a pickFaceAssignment by id
        Returns the pickFaceAssignment identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_pick_face_assignment_by_id(pick_face_assignment_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int pick_face_assignment_id: Id of the pickFaceAssignment to be returned. (required)
        :return: PickFaceAssignment
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['pick_face_assignment_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_pick_face_assignment_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'pick_face_assignment_id' is set
        if ('pick_face_assignment_id' not in params) or (params['pick_face_assignment_id'] is None):
            raise ValueError("Missing the required parameter `pick_face_assignment_id` when calling `get_pick_face_assignment_by_id`")

        resource_path = '/beta/pickFaceAssignment/{pickFaceAssignmentId}'.replace('{format}', 'json')
        path_params = {}
        if 'pick_face_assignment_id' in params:
            path_params['pickFaceAssignmentId'] = params['pick_face_assignment_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='PickFaceAssignment',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_pick_face_assignment_tags(self, pick_face_assignment_id, **kwargs):
        """
        Get the tags for a pickFaceAssignment.
        Get all existing pickFaceAssignment tags.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_pick_face_assignment_tags(pick_face_assignment_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int pick_face_assignment_id: Id of the pickFaceAssignment to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['pick_face_assignment_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_pick_face_assignment_tags" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'pick_face_assignment_id' is set
        if ('pick_face_assignment_id' not in params) or (params['pick_face_assignment_id'] is None):
            raise ValueError("Missing the required parameter `pick_face_assignment_id` when calling `get_pick_face_assignment_tags`")

        resource_path = '/beta/pickFaceAssignment/{pickFaceAssignmentId}/tag'.replace('{format}', 'json')
        path_params = {}
        if 'pick_face_assignment_id' in params:
            path_params['pickFaceAssignmentId'] = params['pick_face_assignment_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_pick_face_assignment(self, body, **kwargs):
        """
        Update a pickFaceAssignment
        Updates an existing pickFaceAssignment using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_pick_face_assignment(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param PickFaceAssignment body: PickFaceAssignment to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_pick_face_assignment" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_pick_face_assignment`")

        resource_path = '/beta/pickFaceAssignment'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_pick_face_assignment_custom_fields(self, body, **kwargs):
        """
        Update a pickFaceAssignment custom fields
        Updates an existing pickFaceAssignment custom fields using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_pick_face_assignment_custom_fields(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param PickFaceAssignment body: PickFaceAssignment to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_pick_face_assignment_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_pick_face_assignment_custom_fields`")

        resource_path = '/beta/pickFaceAssignment/customFields'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
