# coding: utf-8

"""
ProductionLotApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class ProductionLotApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def add_production_lot(self, body, **kwargs):
        """
        Create a productionLot
        Inserts a new productionLot using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_production_lot(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ProductionLot body: ProductionLot to be inserted. (required)
        :return: ProductionLot
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_production_lot" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_production_lot`")

        resource_path = '/beta/productionLot'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ProductionLot',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_production_lot_audit(self, production_lot_id, production_lot_audit, **kwargs):
        """
        Add new audit for a productionLot
        Adds an audit to an existing productionLot.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_production_lot_audit(production_lot_id, production_lot_audit, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int production_lot_id: Id of the productionLot to add an audit to (required)
        :param str production_lot_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['production_lot_id', 'production_lot_audit']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_production_lot_audit" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'production_lot_id' is set
        if ('production_lot_id' not in params) or (params['production_lot_id'] is None):
            raise ValueError("Missing the required parameter `production_lot_id` when calling `add_production_lot_audit`")
        # verify the required parameter 'production_lot_audit' is set
        if ('production_lot_audit' not in params) or (params['production_lot_audit'] is None):
            raise ValueError("Missing the required parameter `production_lot_audit` when calling `add_production_lot_audit`")

        resource_path = '/beta/productionLot/{productionLotId}/audit/{productionLotAudit}'.replace('{format}', 'json')
        path_params = {}
        if 'production_lot_id' in params:
            path_params['productionLotId'] = params['production_lot_id']
        if 'production_lot_audit' in params:
            path_params['productionLotAudit'] = params['production_lot_audit']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_production_lot_tag(self, production_lot_id, production_lot_tag, **kwargs):
        """
        Add new tags for a productionLot.
        Adds a tag to an existing productionLot.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_production_lot_tag(production_lot_id, production_lot_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int production_lot_id: Id of the productionLot to add a tag to (required)
        :param str production_lot_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['production_lot_id', 'production_lot_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_production_lot_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'production_lot_id' is set
        if ('production_lot_id' not in params) or (params['production_lot_id'] is None):
            raise ValueError("Missing the required parameter `production_lot_id` when calling `add_production_lot_tag`")
        # verify the required parameter 'production_lot_tag' is set
        if ('production_lot_tag' not in params) or (params['production_lot_tag'] is None):
            raise ValueError("Missing the required parameter `production_lot_tag` when calling `add_production_lot_tag`")

        resource_path = '/beta/productionLot/{productionLotId}/tag/{productionLotTag}'.replace('{format}', 'json')
        path_params = {}
        if 'production_lot_id' in params:
            path_params['productionLotId'] = params['production_lot_id']
        if 'production_lot_tag' in params:
            path_params['productionLotTag'] = params['production_lot_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_production_lot(self, production_lot_id, **kwargs):
        """
        Delete a productionLot
        Deletes the productionLot identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_production_lot(production_lot_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int production_lot_id: Id of the productionLot to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['production_lot_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_production_lot" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'production_lot_id' is set
        if ('production_lot_id' not in params) or (params['production_lot_id'] is None):
            raise ValueError("Missing the required parameter `production_lot_id` when calling `delete_production_lot`")

        resource_path = '/beta/productionLot/{productionLotId}'.replace('{format}', 'json')
        path_params = {}
        if 'production_lot_id' in params:
            path_params['productionLotId'] = params['production_lot_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_production_lot_tag(self, production_lot_id, production_lot_tag, **kwargs):
        """
        Delete a tag for a productionLot.
        Deletes an existing productionLot tag using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_production_lot_tag(production_lot_id, production_lot_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int production_lot_id: Id of the productionLot to remove tag from (required)
        :param str production_lot_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['production_lot_id', 'production_lot_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_production_lot_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'production_lot_id' is set
        if ('production_lot_id' not in params) or (params['production_lot_id'] is None):
            raise ValueError("Missing the required parameter `production_lot_id` when calling `delete_production_lot_tag`")
        # verify the required parameter 'production_lot_tag' is set
        if ('production_lot_tag' not in params) or (params['production_lot_tag'] is None):
            raise ValueError("Missing the required parameter `production_lot_tag` when calling `delete_production_lot_tag`")

        resource_path = '/beta/productionLot/{productionLotId}/tag/{productionLotTag}'.replace('{format}', 'json')
        path_params = {}
        if 'production_lot_id' in params:
            path_params['productionLotId'] = params['production_lot_id']
        if 'production_lot_tag' in params:
            path_params['productionLotTag'] = params['production_lot_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_duplicate_production_lot_by_id(self, production_lot_id, **kwargs):
        """
        Get a duplicated a productionLot by id
        Returns a duplicated productionLot identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_duplicate_production_lot_by_id(production_lot_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int production_lot_id: Id of the productionLot to be duplicated. (required)
        :return: ProductionLot
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['production_lot_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_production_lot_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'production_lot_id' is set
        if ('production_lot_id' not in params) or (params['production_lot_id'] is None):
            raise ValueError("Missing the required parameter `production_lot_id` when calling `get_duplicate_production_lot_by_id`")

        resource_path = '/beta/productionLot/duplicate/{productionLotId}'.replace('{format}', 'json')
        path_params = {}
        if 'production_lot_id' in params:
            path_params['productionLotId'] = params['production_lot_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ProductionLot',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_production_lot_by_filter(self, **kwargs):
        """
        Search productionLots by filter
        Returns the list of productionLots that match the given filter.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_production_lot_by_filter(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[ProductionLot]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_production_lot_by_filter" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/beta/productionLot/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'filter' in params:
            query_params['filter'] = params['filter']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'sort' in params:
            query_params['sort'] = params['sort']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[ProductionLot]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_production_lot_by_id(self, production_lot_id, **kwargs):
        """
        Get a productionLot by id
        Returns the productionLot identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_production_lot_by_id(production_lot_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int production_lot_id: Id of the productionLot to be returned. (required)
        :return: ProductionLot
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['production_lot_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_production_lot_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'production_lot_id' is set
        if ('production_lot_id' not in params) or (params['production_lot_id'] is None):
            raise ValueError("Missing the required parameter `production_lot_id` when calling `get_production_lot_by_id`")

        resource_path = '/beta/productionLot/{productionLotId}'.replace('{format}', 'json')
        path_params = {}
        if 'production_lot_id' in params:
            path_params['productionLotId'] = params['production_lot_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ProductionLot',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_production_lot_tags(self, production_lot_id, **kwargs):
        """
        Get the tags for a productionLot.
        Get all existing productionLot tags.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_production_lot_tags(production_lot_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int production_lot_id: Id of the productionLot to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['production_lot_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_production_lot_tags" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'production_lot_id' is set
        if ('production_lot_id' not in params) or (params['production_lot_id'] is None):
            raise ValueError("Missing the required parameter `production_lot_id` when calling `get_production_lot_tags`")

        resource_path = '/beta/productionLot/{productionLotId}/tag'.replace('{format}', 'json')
        path_params = {}
        if 'production_lot_id' in params:
            path_params['productionLotId'] = params['production_lot_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_production_lot(self, body, **kwargs):
        """
        Update a productionLot
        Updates an existing productionLot using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_production_lot(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ProductionLot body: ProductionLot to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_production_lot" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_production_lot`")

        resource_path = '/beta/productionLot'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_production_lot_custom_fields(self, body, **kwargs):
        """
        Update a productionLot custom fields
        Updates an existing productionLot custom fields using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_production_lot_custom_fields(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ProductionLot body: ProductionLot to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_production_lot_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_production_lot_custom_fields`")

        resource_path = '/beta/productionLot/customFields'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
