# coding: utf-8

"""
QuickReceiptApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class QuickReceiptApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def add_quick_receipt(self, body, **kwargs):
        """
        Create a quickReceipt
        Inserts a new quickReceipt using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_quick_receipt(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param QuickReceipt body: QuickReceipt to be inserted. (required)
        :return: QuickReceipt
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_quick_receipt" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_quick_receipt`")

        resource_path = '/beta/quickReceipt'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='QuickReceipt',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_quick_receipt_audit(self, quick_receipt_id, quick_receipt_audit, **kwargs):
        """
        Add new audit for a quickReceipt
        Adds an audit to an existing quickReceipt.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_quick_receipt_audit(quick_receipt_id, quick_receipt_audit, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int quick_receipt_id: Id of the quickReceipt to add an audit to (required)
        :param str quick_receipt_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['quick_receipt_id', 'quick_receipt_audit']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_quick_receipt_audit" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'quick_receipt_id' is set
        if ('quick_receipt_id' not in params) or (params['quick_receipt_id'] is None):
            raise ValueError("Missing the required parameter `quick_receipt_id` when calling `add_quick_receipt_audit`")
        # verify the required parameter 'quick_receipt_audit' is set
        if ('quick_receipt_audit' not in params) or (params['quick_receipt_audit'] is None):
            raise ValueError("Missing the required parameter `quick_receipt_audit` when calling `add_quick_receipt_audit`")

        resource_path = '/beta/quickReceipt/{quickReceiptId}/audit/{quickReceiptAudit}'.replace('{format}', 'json')
        path_params = {}
        if 'quick_receipt_id' in params:
            path_params['quickReceiptId'] = params['quick_receipt_id']
        if 'quick_receipt_audit' in params:
            path_params['quickReceiptAudit'] = params['quick_receipt_audit']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_quick_receipt_tag(self, quick_receipt_id, quick_receipt_tag, **kwargs):
        """
        Add new tags for a quickReceipt.
        Adds a tag to an existing quickReceipt.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_quick_receipt_tag(quick_receipt_id, quick_receipt_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int quick_receipt_id: Id of the quickReceipt to add a tag to (required)
        :param str quick_receipt_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['quick_receipt_id', 'quick_receipt_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_quick_receipt_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'quick_receipt_id' is set
        if ('quick_receipt_id' not in params) or (params['quick_receipt_id'] is None):
            raise ValueError("Missing the required parameter `quick_receipt_id` when calling `add_quick_receipt_tag`")
        # verify the required parameter 'quick_receipt_tag' is set
        if ('quick_receipt_tag' not in params) or (params['quick_receipt_tag'] is None):
            raise ValueError("Missing the required parameter `quick_receipt_tag` when calling `add_quick_receipt_tag`")

        resource_path = '/beta/quickReceipt/{quickReceiptId}/tag/{quickReceiptTag}'.replace('{format}', 'json')
        path_params = {}
        if 'quick_receipt_id' in params:
            path_params['quickReceiptId'] = params['quick_receipt_id']
        if 'quick_receipt_tag' in params:
            path_params['quickReceiptTag'] = params['quick_receipt_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_quick_receipt(self, quick_receipt_id, **kwargs):
        """
        Delete a quickReceipt
        Deletes the quickReceipt identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_quick_receipt(quick_receipt_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int quick_receipt_id: Id of the quickReceipt to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['quick_receipt_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_quick_receipt" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'quick_receipt_id' is set
        if ('quick_receipt_id' not in params) or (params['quick_receipt_id'] is None):
            raise ValueError("Missing the required parameter `quick_receipt_id` when calling `delete_quick_receipt`")

        resource_path = '/beta/quickReceipt/{quickReceiptId}'.replace('{format}', 'json')
        path_params = {}
        if 'quick_receipt_id' in params:
            path_params['quickReceiptId'] = params['quick_receipt_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_quick_receipt_tag(self, quick_receipt_id, quick_receipt_tag, **kwargs):
        """
        Delete a tag for a quickReceipt.
        Deletes an existing quickReceipt tag using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_quick_receipt_tag(quick_receipt_id, quick_receipt_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int quick_receipt_id: Id of the quickReceipt to remove tag from (required)
        :param str quick_receipt_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['quick_receipt_id', 'quick_receipt_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_quick_receipt_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'quick_receipt_id' is set
        if ('quick_receipt_id' not in params) or (params['quick_receipt_id'] is None):
            raise ValueError("Missing the required parameter `quick_receipt_id` when calling `delete_quick_receipt_tag`")
        # verify the required parameter 'quick_receipt_tag' is set
        if ('quick_receipt_tag' not in params) or (params['quick_receipt_tag'] is None):
            raise ValueError("Missing the required parameter `quick_receipt_tag` when calling `delete_quick_receipt_tag`")

        resource_path = '/beta/quickReceipt/{quickReceiptId}/tag/{quickReceiptTag}'.replace('{format}', 'json')
        path_params = {}
        if 'quick_receipt_id' in params:
            path_params['quickReceiptId'] = params['quick_receipt_id']
        if 'quick_receipt_tag' in params:
            path_params['quickReceiptTag'] = params['quick_receipt_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_duplicate_quick_receipt_by_id(self, quick_receipt_id, **kwargs):
        """
        Get a duplicated a quickReceipt by id
        Returns a duplicated quickReceipt identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_duplicate_quick_receipt_by_id(quick_receipt_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int quick_receipt_id: Id of the quickReceipt to be duplicated. (required)
        :return: QuickReceipt
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['quick_receipt_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_quick_receipt_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'quick_receipt_id' is set
        if ('quick_receipt_id' not in params) or (params['quick_receipt_id'] is None):
            raise ValueError("Missing the required parameter `quick_receipt_id` when calling `get_duplicate_quick_receipt_by_id`")

        resource_path = '/beta/quickReceipt/duplicate/{quickReceiptId}'.replace('{format}', 'json')
        path_params = {}
        if 'quick_receipt_id' in params:
            path_params['quickReceiptId'] = params['quick_receipt_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='QuickReceipt',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_quick_receipt_by_filter(self, **kwargs):
        """
        Search quickReceipts by filter
        Returns the list of quickReceipts that match the given filter.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_quick_receipt_by_filter(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[QuickReceipt]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_quick_receipt_by_filter" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/beta/quickReceipt/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'filter' in params:
            query_params['filter'] = params['filter']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'sort' in params:
            query_params['sort'] = params['sort']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[QuickReceipt]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_quick_receipt_by_id(self, quick_receipt_id, **kwargs):
        """
        Get a quickReceipt by id
        Returns the quickReceipt identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_quick_receipt_by_id(quick_receipt_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int quick_receipt_id: Id of the quickReceipt to be returned. (required)
        :return: QuickReceipt
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['quick_receipt_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_quick_receipt_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'quick_receipt_id' is set
        if ('quick_receipt_id' not in params) or (params['quick_receipt_id'] is None):
            raise ValueError("Missing the required parameter `quick_receipt_id` when calling `get_quick_receipt_by_id`")

        resource_path = '/beta/quickReceipt/{quickReceiptId}'.replace('{format}', 'json')
        path_params = {}
        if 'quick_receipt_id' in params:
            path_params['quickReceiptId'] = params['quick_receipt_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='QuickReceipt',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_quick_receipt_tags(self, quick_receipt_id, **kwargs):
        """
        Get the tags for a quickReceipt.
        Get all existing quickReceipt tags.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_quick_receipt_tags(quick_receipt_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int quick_receipt_id: Id of the quickReceipt to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['quick_receipt_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_quick_receipt_tags" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'quick_receipt_id' is set
        if ('quick_receipt_id' not in params) or (params['quick_receipt_id'] is None):
            raise ValueError("Missing the required parameter `quick_receipt_id` when calling `get_quick_receipt_tags`")

        resource_path = '/beta/quickReceipt/{quickReceiptId}/tag'.replace('{format}', 'json')
        path_params = {}
        if 'quick_receipt_id' in params:
            path_params['quickReceiptId'] = params['quick_receipt_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_quick_receipt(self, body, **kwargs):
        """
        Update a quickReceipt
        Updates an existing quickReceipt using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_quick_receipt(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param QuickReceipt body: QuickReceipt to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_quick_receipt" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_quick_receipt`")

        resource_path = '/beta/quickReceipt'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_quick_receipt_custom_fields(self, body, **kwargs):
        """
        Update a quickReceipt custom fields
        Updates an existing quickReceipt custom fields using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_quick_receipt_custom_fields(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param QuickReceipt body: QuickReceipt to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_quick_receipt_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_quick_receipt_custom_fields`")

        resource_path = '/beta/quickReceipt/customFields'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
