# coding: utf-8

"""
SupplementApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class SupplementApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def add_supplement(self, body, **kwargs):
        """
        Create a supplement
        Inserts a new supplement using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_supplement(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param Supplement body: Supplement to be inserted. (required)
        :return: Supplement
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_supplement" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_supplement`")

        resource_path = '/beta/supplement'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Supplement',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_supplement_audit(self, supplement_id, supplement_audit, **kwargs):
        """
        Add new audit for a supplement
        Adds an audit to an existing supplement.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_supplement_audit(supplement_id, supplement_audit, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int supplement_id: Id of the supplement to add an audit to (required)
        :param str supplement_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['supplement_id', 'supplement_audit']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_supplement_audit" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'supplement_id' is set
        if ('supplement_id' not in params) or (params['supplement_id'] is None):
            raise ValueError("Missing the required parameter `supplement_id` when calling `add_supplement_audit`")
        # verify the required parameter 'supplement_audit' is set
        if ('supplement_audit' not in params) or (params['supplement_audit'] is None):
            raise ValueError("Missing the required parameter `supplement_audit` when calling `add_supplement_audit`")

        resource_path = '/beta/supplement/{supplementId}/audit/{supplementAudit}'.replace('{format}', 'json')
        path_params = {}
        if 'supplement_id' in params:
            path_params['supplementId'] = params['supplement_id']
        if 'supplement_audit' in params:
            path_params['supplementAudit'] = params['supplement_audit']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_supplement_tag(self, supplement_id, supplement_tag, **kwargs):
        """
        Add new tags for a supplement.
        Adds a tag to an existing supplement.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_supplement_tag(supplement_id, supplement_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int supplement_id: Id of the supplement to add a tag to (required)
        :param str supplement_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['supplement_id', 'supplement_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_supplement_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'supplement_id' is set
        if ('supplement_id' not in params) or (params['supplement_id'] is None):
            raise ValueError("Missing the required parameter `supplement_id` when calling `add_supplement_tag`")
        # verify the required parameter 'supplement_tag' is set
        if ('supplement_tag' not in params) or (params['supplement_tag'] is None):
            raise ValueError("Missing the required parameter `supplement_tag` when calling `add_supplement_tag`")

        resource_path = '/beta/supplement/{supplementId}/tag/{supplementTag}'.replace('{format}', 'json')
        path_params = {}
        if 'supplement_id' in params:
            path_params['supplementId'] = params['supplement_id']
        if 'supplement_tag' in params:
            path_params['supplementTag'] = params['supplement_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_supplement(self, supplement_id, **kwargs):
        """
        Delete a supplement
        Deletes the supplement identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_supplement(supplement_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int supplement_id: Id of the supplement to be deleted. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['supplement_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_supplement" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'supplement_id' is set
        if ('supplement_id' not in params) or (params['supplement_id'] is None):
            raise ValueError("Missing the required parameter `supplement_id` when calling `delete_supplement`")

        resource_path = '/beta/supplement/{supplementId}'.replace('{format}', 'json')
        path_params = {}
        if 'supplement_id' in params:
            path_params['supplementId'] = params['supplement_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_supplement_tag(self, supplement_id, supplement_tag, **kwargs):
        """
        Delete a tag for a supplement.
        Deletes an existing supplement tag using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_supplement_tag(supplement_id, supplement_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int supplement_id: Id of the supplement to remove tag from (required)
        :param str supplement_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['supplement_id', 'supplement_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_supplement_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'supplement_id' is set
        if ('supplement_id' not in params) or (params['supplement_id'] is None):
            raise ValueError("Missing the required parameter `supplement_id` when calling `delete_supplement_tag`")
        # verify the required parameter 'supplement_tag' is set
        if ('supplement_tag' not in params) or (params['supplement_tag'] is None):
            raise ValueError("Missing the required parameter `supplement_tag` when calling `delete_supplement_tag`")

        resource_path = '/beta/supplement/{supplementId}/tag/{supplementTag}'.replace('{format}', 'json')
        path_params = {}
        if 'supplement_id' in params:
            path_params['supplementId'] = params['supplement_id']
        if 'supplement_tag' in params:
            path_params['supplementTag'] = params['supplement_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_duplicate_supplement_by_id(self, supplement_id, **kwargs):
        """
        Get a duplicated a supplement by id
        Returns a duplicated supplement identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_duplicate_supplement_by_id(supplement_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int supplement_id: Id of the supplement to be duplicated. (required)
        :return: Supplement
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['supplement_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_supplement_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'supplement_id' is set
        if ('supplement_id' not in params) or (params['supplement_id'] is None):
            raise ValueError("Missing the required parameter `supplement_id` when calling `get_duplicate_supplement_by_id`")

        resource_path = '/beta/supplement/duplicate/{supplementId}'.replace('{format}', 'json')
        path_params = {}
        if 'supplement_id' in params:
            path_params['supplementId'] = params['supplement_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Supplement',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_supplement_by_filter(self, **kwargs):
        """
        Search supplements by filter
        Returns the list of supplements that match the given filter.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_supplement_by_filter(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[Supplement]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_supplement_by_filter" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/beta/supplement/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'filter' in params:
            query_params['filter'] = params['filter']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'sort' in params:
            query_params['sort'] = params['sort']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[Supplement]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_supplement_by_id(self, supplement_id, **kwargs):
        """
        Get a supplement by id
        Returns the supplement identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_supplement_by_id(supplement_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int supplement_id: Id of the supplement to be returned. (required)
        :return: Supplement
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['supplement_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_supplement_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'supplement_id' is set
        if ('supplement_id' not in params) or (params['supplement_id'] is None):
            raise ValueError("Missing the required parameter `supplement_id` when calling `get_supplement_by_id`")

        resource_path = '/beta/supplement/{supplementId}'.replace('{format}', 'json')
        path_params = {}
        if 'supplement_id' in params:
            path_params['supplementId'] = params['supplement_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Supplement',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_supplement_tags(self, supplement_id, **kwargs):
        """
        Get the tags for a supplement.
        Get all existing supplement tags.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_supplement_tags(supplement_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int supplement_id: Id of the supplement to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['supplement_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_supplement_tags" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'supplement_id' is set
        if ('supplement_id' not in params) or (params['supplement_id'] is None):
            raise ValueError("Missing the required parameter `supplement_id` when calling `get_supplement_tags`")

        resource_path = '/beta/supplement/{supplementId}/tag'.replace('{format}', 'json')
        path_params = {}
        if 'supplement_id' in params:
            path_params['supplementId'] = params['supplement_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_supplement(self, body, **kwargs):
        """
        Update a supplement
        Updates an existing supplement using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_supplement(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param Supplement body: Supplement to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_supplement" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_supplement`")

        resource_path = '/beta/supplement'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_supplement_custom_fields(self, body, **kwargs):
        """
        Update a supplement custom fields
        Updates an existing supplement custom fields using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_supplement_custom_fields(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param Supplement body: Supplement to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_supplement_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_supplement_custom_fields`")

        resource_path = '/beta/supplement/customFields'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
