# coding: utf-8

"""
WarehouseApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class WarehouseApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def add_warehouse_audit(self, warehouse_id, warehouse_audit, **kwargs):
        """
        Add new audit for a warehouse
        Adds an audit to an existing warehouse.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_warehouse_audit(warehouse_id, warehouse_audit, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int warehouse_id: Id of the warehouse to add an audit to (required)
        :param str warehouse_audit: The audit to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['warehouse_id', 'warehouse_audit']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_warehouse_audit" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'warehouse_id' is set
        if ('warehouse_id' not in params) or (params['warehouse_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_id` when calling `add_warehouse_audit`")
        # verify the required parameter 'warehouse_audit' is set
        if ('warehouse_audit' not in params) or (params['warehouse_audit'] is None):
            raise ValueError("Missing the required parameter `warehouse_audit` when calling `add_warehouse_audit`")

        resource_path = '/beta/warehouse/{warehouseId}/audit/{warehouseAudit}'.replace('{format}', 'json')
        path_params = {}
        if 'warehouse_id' in params:
            path_params['warehouseId'] = params['warehouse_id']
        if 'warehouse_audit' in params:
            path_params['warehouseAudit'] = params['warehouse_audit']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def add_warehouse_tag(self, warehouse_id, warehouse_tag, **kwargs):
        """
        Add new tags for a warehouse.
        Adds a tag to an existing warehouse.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_warehouse_tag(warehouse_id, warehouse_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int warehouse_id: Id of the warehouse to add a tag to (required)
        :param str warehouse_tag: The tag to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['warehouse_id', 'warehouse_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_warehouse_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'warehouse_id' is set
        if ('warehouse_id' not in params) or (params['warehouse_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_id` when calling `add_warehouse_tag`")
        # verify the required parameter 'warehouse_tag' is set
        if ('warehouse_tag' not in params) or (params['warehouse_tag'] is None):
            raise ValueError("Missing the required parameter `warehouse_tag` when calling `add_warehouse_tag`")

        resource_path = '/beta/warehouse/{warehouseId}/tag/{warehouseTag}'.replace('{format}', 'json')
        path_params = {}
        if 'warehouse_id' in params:
            path_params['warehouseId'] = params['warehouse_id']
        if 'warehouse_tag' in params:
            path_params['warehouseTag'] = params['warehouse_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def delete_warehouse_tag(self, warehouse_id, warehouse_tag, **kwargs):
        """
        Delete a tag for a warehouse.
        Deletes an existing warehouse tag using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_warehouse_tag(warehouse_id, warehouse_tag, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int warehouse_id: Id of the warehouse to remove tag from (required)
        :param str warehouse_tag: The tag to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['warehouse_id', 'warehouse_tag']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_warehouse_tag" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'warehouse_id' is set
        if ('warehouse_id' not in params) or (params['warehouse_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_id` when calling `delete_warehouse_tag`")
        # verify the required parameter 'warehouse_tag' is set
        if ('warehouse_tag' not in params) or (params['warehouse_tag'] is None):
            raise ValueError("Missing the required parameter `warehouse_tag` when calling `delete_warehouse_tag`")

        resource_path = '/beta/warehouse/{warehouseId}/tag/{warehouseTag}'.replace('{format}', 'json')
        path_params = {}
        if 'warehouse_id' in params:
            path_params['warehouseId'] = params['warehouse_id']
        if 'warehouse_tag' in params:
            path_params['warehouseTag'] = params['warehouse_tag']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_duplicate_warehouse_by_id(self, warehouse_id, **kwargs):
        """
        Get a duplicated a warehouse by id
        Returns a duplicated warehouse identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_duplicate_warehouse_by_id(warehouse_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int warehouse_id: Id of the warehouse to be duplicated. (required)
        :return: Warehouse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['warehouse_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_duplicate_warehouse_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'warehouse_id' is set
        if ('warehouse_id' not in params) or (params['warehouse_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_id` when calling `get_duplicate_warehouse_by_id`")

        resource_path = '/beta/warehouse/duplicate/{warehouseId}'.replace('{format}', 'json')
        path_params = {}
        if 'warehouse_id' in params:
            path_params['warehouseId'] = params['warehouse_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Warehouse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_warehouse_by_filter(self, **kwargs):
        """
        Search warehouses by filter
        Returns the list of warehouses that match the given filter.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_warehouse_by_filter(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter: Query string, used to filter results.
        :param int page: Result page number.  Defaults to 1.
        :param int limit: Maximum results per page.  Defaults to 20.  Max allowed value is 250.
        :param str sort: Sort results by specified field.
        :return: list[Warehouse]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'page', 'limit', 'sort']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_warehouse_by_filter" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/beta/warehouse/search'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'filter' in params:
            query_params['filter'] = params['filter']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'sort' in params:
            query_params['sort'] = params['sort']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[Warehouse]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_warehouse_by_id(self, warehouse_id, **kwargs):
        """
        Get a warehouse by id
        Returns the warehouse identified by the specified id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_warehouse_by_id(warehouse_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int warehouse_id: Id of the warehouse to be returned. (required)
        :return: Warehouse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['warehouse_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_warehouse_by_id" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'warehouse_id' is set
        if ('warehouse_id' not in params) or (params['warehouse_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_id` when calling `get_warehouse_by_id`")

        resource_path = '/beta/warehouse/{warehouseId}'.replace('{format}', 'json')
        path_params = {}
        if 'warehouse_id' in params:
            path_params['warehouseId'] = params['warehouse_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Warehouse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_warehouse_tags(self, warehouse_id, **kwargs):
        """
        Get the tags for a warehouse.
        Get all existing warehouse tags.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_warehouse_tags(warehouse_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int warehouse_id: Id of the warehouse to get tags for (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['warehouse_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_warehouse_tags" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'warehouse_id' is set
        if ('warehouse_id' not in params) or (params['warehouse_id'] is None):
            raise ValueError("Missing the required parameter `warehouse_id` when calling `get_warehouse_tags`")

        resource_path = '/beta/warehouse/{warehouseId}/tag'.replace('{format}', 'json')
        path_params = {}
        if 'warehouse_id' in params:
            path_params['warehouseId'] = params['warehouse_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_warehouse(self, body, **kwargs):
        """
        Update a warehouse
        Updates an existing warehouse using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_warehouse(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param Warehouse body: Warehouse to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_warehouse" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_warehouse`")

        resource_path = '/beta/warehouse'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_warehouse_custom_fields(self, body, **kwargs):
        """
        Update a warehouse custom fields
        Updates an existing warehouse custom fields using the specified data.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_warehouse_custom_fields(body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param Warehouse body: Warehouse to be updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_warehouse_custom_fields" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_warehouse_custom_fields`")

        resource_path = '/beta/warehouse/customFields'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['api_key']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
